<button type="button" class="js-export-csv-modal-trigger c-btn" data-modal-title="<%= t("views.admin.users.download.heading") %>" aria-label="<%= t("views.admin.users.download.aria_label") %>" data-modal-size="small" data-modal-content-selector="#export-csv-modal">
  <%= crayons_icon_tag(:export, class: "c-btn__icon", aria_hidden: true) %>
</button>
