<div id="sidebar-wrapper-right" class="sidebar-wrapper sidebar-wrapper-right crayons-layout__sidebar-right">
  <div class="crayons-card">
    <div class="crayons-card__header">
      <p class="fw-bold fs-l lh-tight">Quick Stat</p>
    </div>
    <div class="crayons-card__body" style="text-align: center;">
      <p class="fw-medium fs-4xl lh-tight">54%</p>
      <p class="fs-s lh-tight" style="color: #4D5760;">Completion Rate</p>
      <progress id="mod-center-progress" value="54" max="100" style="width: 224px; margin: 16px 0px;"></progress>
      <p class="fs-s lh-tight" style="color: #4D5760;">Out of 35 tasks this week, you have completed 23 of them.</p>
      <a
        href="#"
        class="fw-bold crayons-btn crayons-btn--s crayons-btn--secondary crayons-btn--icon-right"
        style="margin: 24px 0px;">
        This week<span class="crayons-icon">*</span>
      </a>
    </div>
  </div>
</div>
