<div id="sidebar-wrapper-right" class="sidebar-wrapper sidebar-wrapper-right crayons-layout__sidebar-right">
  <div id="quick-stat-card" class="crayons-card">
    <div class="crayons-card__header">
      <p class="fw-bold fs-l lh-tight">Quick Stat</p>
    </div>
    <div class="crayons-card__body" style="text-align: center;">
      <p class="fw-medium fs-4xl lh-tight"><span id="done-percent">54</span>%</p>
      <p class="fs-s lh-tight" style="color: #4D5760;">Completion Rate</p>
      <progress id="mod-center-progress" value="54" max="100" style="width: 224px; margin: 16px 0px;"></progress>
      <p class="fs-s lh-tight" style="color: #4D5760;">Out of <span id="total-tasks">35</span> tasks <span id="selected-duration">this week</span>, you have completed <span id="done-tasks">23</span> of them.</p>
      <select id="duration-dropdown" class="crayons-select" style="margin: 24px 0px; width: min-content;">
        <option>This week</option>
        <option>This month</option>
        <option>This year</option>
      </select>
    </div>
  </div>
</div>
