
<%= csrf_meta_tags %>

<header class="flex items-center mb-6">
  <h1 class="crayons-title">Welcome Threads</h1>
  <%= link_to "Create A New Welcome Thread", admin_welcome_index_path, method: :post, class: "crayons-btn ml-auto" %>
</header>

<div class="crayons-card p-6 grid gap-4">
  <% @daily_threads.each do |thread| %>
    <a class="crayons-card crayons-card--secondary p-3" href="<%= thread.path %>"><%= thread.title %></a>
  <% end %>
</div>
