<div id="banish-for-spam">
  <div class="flex flex-col gap-4">
    <% if @banishable_user %>
      <p>This action is irreversible.</p>
      <p>Once banished, we will delete all content created by <%= @user.name %> and change their username to @spam_###.</p>
      <p>Be careful with this action.</p>
      <%= form_for(@user, url: banish_admin_user_path(@user), html: { method: :post, id: nil }) do %>
        <button class="c-btn c-btn--primary c-btn--destructive">Banish <%= @user.name %></button>
      <% end %>
    <% else %>
      <div class="crayons-notice crayons-notice--danger">This is not a new user. Only Super Admins or Support Admins are allowed to banish <%= @user.name %>.</div>
    <% end %>
  </div>
</div>
