<div id="export-data">
  <div class="flex flex-col gap-4">
    <p>
      <%= t("views.admin.users.export.desc1_html", contact: ForemInstance.email, user: @user.name, user_email: mail_to(@user.email, t("views.admin.users.export.user_email"))) %>
    </p>
    <p>
      <%= t("views.admin.users.export.desc2") %>
    </p>
    <div class="flex gap-2">
      <%= button_to t("views.admin.users.export.to_admin"), export_data_admin_user_path(@user.id), data: { confirm: t("views.admin.users.export.confirm", email: ForemInstance.email) }, class: "c-btn c-btn--secondary", params: { send_to_admin: true } %>
      <%= button_to t("views.admin.users.export.to_user"), export_data_admin_user_path(@user.id), data: { confirm: t("views.admin.users.export.confirm", email: @user.email) }, class: "c-btn c-btn--secondary", params: { send_to_admin: false } %>
    </div>
  </div>
</div>
