<div id="merge-accounts">
  <%= form_for(@user, url: merge_admin_user_path(@user),
                      html: { class: "flex flex-col gap-4", method: :post, onsubmit: "return confirm('Are you sure? This is extremely destructive and irreversible. Merging will delete all the other users content and combine it with this user')", id: nil }) do |f| %>
    <p>This action is irreversible.</p>
    <p>Make sure you are currently on the page of the user you want to <strong>keep</strong>. Once merged, the account entered below will be merged and deleted.</p>
    <div class="crayons-field mb-4">
      <%= f.label :merge_user_id, "User ID", class: "crayons-field__label" %>
      <%= f.text_field :merge_user_id, placeholder: "1234", class: "crayons-textfield", type: "number", inputmode: "numeric", aria: { describedby: "merge-user-description" } %>
    </div>
    <div>
      <%= f.button "Merge and delete", class: "c-btn c-btn--destructive c-btn--primary", type: "submit" %>
    </div>
  <% end %>
</div>
