<turbo-frame id="authorization-articles-create-post-button">
  <a href="<%= create_new_post_path %>" class="c-cta c-cta--branded mr-2 whitespace-nowrap"><%= t("views.main.create_post") %></a>
</turbo-frame>
