<h1 class="crayons-title">Comments</h1>

<% if @comment %>
  <%= render partial: "comment", locals: { comment: @comment } %>
<% else %>
  <%= paginate @comments %>

  <div class="flex flex-col gap-2">
    <% @comments.each do |comment| %>
      <%= render partial: "comment", locals: { comment: comment } %>
    <% end %>
  </div>

  <%= paginate @comments %>

  <script>
    window.addEventListener('load', function() {
      document.querySelector("form").addEventListener("submit", function(e) {
        this.classList.toggle("hidden");
        this.classList.toggle("inline");
      });
    });
  </script>
<% end %>
