<% content_for :title, t("views.agent_sessions.not_available_title") %>

<div class="agent-session-show-page">
  <div class="agent-session-not-available">
    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-5h2v2h-2v-2zm0-8h2v6h-2V7z" fill="currentColor" opacity="0.4"/>
    </svg>
    <h1><%= t("views.agent_sessions.not_available_title") %></h1>
    <p><%= t("views.agent_sessions.not_available_description") %></p>
    <% unless user_signed_in? %>
      <p class="agent-session-not-available-hint"><%= t("views.agent_sessions.not_available_sign_in_hint") %></p>
    <% end %>
  </div>
</div>
