<div>
  <p>
    You are being redirected...
  </p>

  <div class="Browser-iOS">
    <p>
      If nothing happens <a href="devto://">click here</a> to open the requested page in the mobile app.
    </p>

    <p>
      Or <a href="">click here</a> to download the app from the App Store.
    </p>
  </div>

  <div class="Browser-Android">
    <p>
      If nothing happens <a href="devto://">click here</a> to open the requested page in the mobile app.
    </p>

    <p>
      Or <a href="">click here</a> to download the app from the Google Play Store.
    </p>
  </div>
</div>
