<%= stylesheet_link_tag "minimal", media: "all" %>
<h1 class="crayons-title mb-6">Edit Display Ad:</h1>
<div class="crayons-card p-6">
  <%= form_for([:admin, @display_ad], url: admin_billboard_path(@display_ad), method: :patch) do %>
    <%= render "form" %>
    <%= submit_tag "Update Display Ad", class: "c-btn c-btn--primary" %>
  <% end %>
</div>
