<h1 class="crayons-title mb-4">Make a new Billboard</h1>
<div class="crayons-card p-6">
  <%= form_for([:admin, @billboard], url: admin_billboards_path, method: :post) do %>
    <%= render "form" %>
    <%= submit_tag "Save Billboard", class: "c-btn c-btn--primary" %>
  <% end %>
</div>
