<div class="align-center p-9 py-10 color-base-80 crayons-card mb-2">
  <h2 class="fw-bold fs-l"><%= t("views.notifications.error.subtitle") %></h2>
  <p class="color-base-60 pt-2"><%= t("views.notifications.error.desc") %></p>
</div>
