function buildArticleHTML(article) {
  if (article && article.class_name == "PodcastEpisode") {
    return '<div class="single-article single-article-small-pic single-article-single-podcast">\
      <div class="small-pic">\
       <a href="/'+article.podcast.slug+'" class="small-pic-link-wrapper">\
         <img src="'+article.podcast.image_url+'" alt="'+article.podcast.title+' image">\
       </a>\
       </div>\
       <a href="'+article.path+'" class="small-pic-link-wrapper index-article-link" id="article-link-'+article.id+'">\
        <div class="content">\
         <h3><span class="tag-identifier">podcast</span>'+article.title+'</h3>\
        </div>\
       </a>\
       <h4><a href="/'+article.podcast.slug+'">'+article.podcast.title+'</a></h4>\
       </div>';
  }
  else if (article) {
    var container = document.getElementById("index-container");
    var tagString = ""
    var tagList = article.tag_list || article.cached_tag_list_array
    if(tagList) {
      tagList.forEach(function(t){
      tagString = tagString + '<a href="/t/'+t+'"><span class="tag">#'+t+'</span></a>\n'
      });
    }
    var commentsCountHTML = ""
    if ((article.comments_count || '0') > 0 && article.class_name != "User") {
      commentsCountHTML = '<a href="'+article.path+'#comments" class="crayons-story__details__item"><svg class="crayons-icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z"/></svg>'+(article.comments_count || '0')+'<span class="hidden s:inline">&nbsp;comments</span></a>'
    }
    var flareTag = ""
    if (container){
      var currentTag = JSON.parse(container.dataset.params).tag
    }
    if (article.flare_tag && currentTag != article.flare_tag.name) {
      flareTag = "<span class='tag-identifier' style='background:"+article.flare_tag.bg_color_hex+";color:"+article.flare_tag.text_color_hex+"'>#"+article.flare_tag.name+"</span>"
    }
    if (article.class_name == "PodcastEpisode"){
      flareTag = "<span class='tag-identifier'>podcast</span>"
    }
    if (article.class_name == "Comment"){
      flareTag = "<span class='tag-identifier'>comment</span>"
    }
    if (article.class_name == "User"){
      flareTag = "<span class='tag-identifier' style='background:#5874d9;color:white;'>person</span>"
    }
    var rc = article.positive_reactions_count
    var reactionsCountHTML = ''
    if ((rc || '0') > 0 && article.class_name != "User") {
      var reactionsCountHTML = '<a href="'+article.path+'" class="crayons-story__details__item"><svg class="crayons-icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z"/></svg>'+(rc || '0')+'<span class="hidden s:inline">&nbsp;comments</span></a>'
    }
    var picUrl;
    var profileUsername;
    var userName;
    if (article.class_name == "PodcastEpisode"){
      picUrl = article.main_image;
      profileUsername = article.slug;
      userName = article.title;
    } else {
      picUrl = article.user.profile_image_90;
      profileUsername = article.user.username;
      userName = article.user.name;
    }
    var orgHeadline = "";
    if (article.organization && !document.getElementById("organization-article-index")) {
      orgHeadline = '<div class="article-organization-headline"><a class="org-headline-filler" href="/'+article.organization.slug+'"><img alt="'+article.organization.name+' logo" src="'+article.organization.profile_image_90+'" loading="lazy">'+article.organization.name+'</a></div>'
    }
    var bodyTextSnippet = "";
    var searchSnippetHTML = "";
    if (article.highlight && article.highlight.body_text.length > 0){
      var firstSnippetChar = article.highlight.body_text[0];
      var startingEllipsis = ""
      if (firstSnippetChar.toLowerCase() != firstSnippetChar.toUpperCase()){
        startingEllipsis = "…"
      }
      bodyTextSnippet = startingEllipsis + article.highlight.body_text.join("...") + "…";
      if (bodyTextSnippet.length > 0){
        searchSnippetHTML = '<div class="search-snippet"><span>' + bodyTextSnippet + '</span></div>'
      }
    }
    var saveButton = '';
    if (article.class_name === "Article") {
      saveButton = '<button type="button" class="crayons-btn crayons-btn--secondary crayons-btn--icon-left fs-s" data-reactable-id="'+article.id+'">\
                      <span class="bm-initial">SAVE</span>\
                      <span class="bm-success">SAVED</span>\
                    </button>'
    } else if (article.class_name === "User") {
      saveButton = '<button type="button" class="crayons-btn crayons-btn--secondary crayons-btn--icon-left fs-s"\
                       data-info=\'{"id":'+article.id+',"className":"User"}\' data-follow-action-button>\
                       &nbsp;\
                    </button>'
    }

    var publishDate = '';
    if (article.readable_publish_date) {
      if (article.published_timestamp) {
        publishDate = '・' + '<time datetime="'+article.published_timestamp+'">'+article.readable_publish_date+'</time>';
      } else {
        publishDate = '・' + '<time>'+article.readable_publish_date+'</time>';
      }
    }

    var readingTimeHTML = '';
    if (article.class_name === "Article") {
      // we have ` ... || null` for the case article.reading_time is undefined
      readingTimeHTML = '<a href="'+article.path+'" class="article-reading-time">'+ ((article.reading_time || null) < 1 ? '1 min' : article.reading_time + ' min') +' read</a>'
    }

    var videoHTML = '';
    if (article.cloudinary_video_url) {
      videoHTML = '<a href="'+article.path+'" class="single-article-video-preview" style="background-image:url('+article.cloudinary_video_url+')"><div class="single-article-video-duration"><img src="<%= asset_path("video-camera.svg") %>" alt="video camera">'+(article.video_duration_string || article.video_duration_in_minutes)+'</div></a>'
    }

    var timeAgoInWords = '';
    if (article.published_at_int) {
      timeAgoInWords = timeAgo({ oldTimeInSeconds: article.published_at_int });
    }

    return '<div class="crayons-story" data-content-user-id="'+article.user_id+'">\
      '+videoHTML+'\
      <div class="crayons-story__body">\
        <div class="crayons-story__top">\
          <!-- Author -->\
          <button class="crayons-btn crayons-btn--ghost crayons-story__overflow" type="button">\
            <svg class="crayons-icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" clipRule="evenodd" d="M7 12a2 2 0 11-4 0 2 2 0 014 0zm7 0a2 2 0 11-4 0 2 2 0 014 0zm5 2a2 2 0 100-4 2 2 0 000 4z"/></svg>\
          </button>\
          <div class="crayons-dropdown">
            <a href="/" class="crayons-link crayons-link--block">Subscribe</a>\
            <a href="/" class="crayons-link crayons-link--block">Share on Twitter</a>\
            <a href="/" class="crayons-link crayons-link--block">Share on Facebook</a>\
            <a href="/" class="crayons-link crayons-link--block">Report abuse</a>\
          </div>
        </div>\
        <div class="crayons-story__indention">\
          <h2 class="crayons-story__title"><a href="'+article.path+'" id="article-link-'+article.id+'">'+flareTag+filterXSS(article.title)+'</a></h2>\
          '+searchSnippetHTML+'\
          <div class="crayons-story__tags">'+tagString+'</div>\
          <div class="crayons-story__bottom">\
            <div class="crayons-story__details">'+commentsCountHTML+reactionsCountHTML+'</div>\
            '+saveButton+'\
          </div>\
        </div>\
      </div>\
      <div class="crayons-story__comments">\
        <p class="crayons-story__comments__headline">Top comments:</p>\
        <div class="crayons-comment pl-2">\
          <div class="crayons-comment__meta">\
            <a href="#" class="crayons-story__secondary fw-medium">\
              <span class="crayons-avatar mr-2"><img src="<%= asset_path("ben.jpg") %>" class="crayons-avatar__image" alt="Ben" /></span> nickityonline71\
            </a>\
            <a href="#" class="crayons-story__tertiary ml-1">5 mins ago</a>\
          </div>\
          <div class="crayons-comment__body">Default font is set to 16px (fs-base). It should be standard in UI. Smaller and bigger font sizes should be <a href="#">used</a> carefully with respect to good visual rythm between elements. Medium should be used to emphasize something but not make it as loud as Bold.</div>\
        </div>\
        <div class="crayons-story__comments__actions">\
          <a href="#" class="crayons-btn crayons-btn--secondary fs-s">See all 7 comments</a>\
          <button class="crayons-btn crayons-btn--secondary fs-s">Subscribe</button>\
        </div>\
      </div>\
    </div>';


    <%# return '<div class="single-article single-article-small-pic" data-content-user-id="'+article.user_id+'">\
      '+videoHTML+'\
      '+orgHeadline+'\
      <div class="small-pic">\
       <a href="/'+profileUsername+'" class="small-pic-link-wrapper">\
         <img src="'+picUrl+'" alt="'+profileUsername+' profile" loading="lazy">\
       </a>\
       </div>\
       <a href="'+article.path+'" class="small-pic-link-wrapper index-article-link" id="article-link-'+article.id+'">\
        <div class="content">\
         <h3>'+flareTag+filterXSS(article.title)+'</h3>\
         '+searchSnippetHTML+'\
        </div>\
       </a>\
       <h4><a href="/'+profileUsername+'">'+filterXSS(userName)+publishDate+timeAgoInWords+'</a></h4>\
       <div class="tags">'+tagString+'</div>\
       '+saveButton+'</div>'; %>
  }
}
