<%= render "style" %>

<div class="blank_space" style="height: 50px;">
</div>
<div class="blank_space">
</div>
<div class="blank_space">
</div>

<%= form_for [:internal, @feedback_message] do |f| %>
  <%= render "feedback_message", f: f, feedback_message: @feedback_message %>
<% end %>
