<main id="main-content">
  <div class="crayons-layout crayons-layout--limited-l" style="min-height:80vh">
  <div class="crayons-card text-padding fs-xl" style="width:700px;max-width:100%;margin: 0 auto;padding-top: 7vh; border:8px solid <%= Settings::UserExperience.primary_brand_color_hex %>">
    <h1 class="py-4">Check your email! 🪄</h1>
      <p class="py-4">If we were able to confirm an account with that email, you will receive a <strong>magic link</strong> for signing in.</p>
      <p class="py-4">The link will remain valid for 20 minutes.</p>
    </div>
  </div>
</main>
  