# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

**/*.md                                             @forem/oss
/app/assets/                                        @forem/frontend
/app/controllers/async_info_controller.rb           @forem/sre
/app/javascript/                                    @forem/frontend
/app/services/search/                               @forem/sre
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/config/locales
/db/                                                @forem/sre @forem/backend
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre @forem/backend
/spec/support/                                      @forem/sre
.buildkite/                                         @forem/systems @forem/sre
.travis.yml                                         @forem/sre
Containerfile                                       @forem/systems
docker-compose.yml                                  @forem/systems
Dockerfile                                          @forem/systems
Gemfile                                             @forem/sre @forem/backend
Gemfile.lock                                        @forem/sre @forem/backend
package.json                                        @forem/frontend
podman-compose.yml                                  @forem/systems
scripts/                                            @forem/systems
yarn.lock                                           @forem/frontend
