{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": "> 1%",
        "uglify": true
      },
      "useBuiltIns": true
    }],
    "preact"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        ["transform-react-jsx", { "pragma":"h" }],
        "transform-class-properties"
      ]
    }
  },
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    ["transform-class-properties",
      {
        "spec": true
      }
    ],
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ]
  ]
}
