# Declare SVG files to have LF endings on checkout
# On Windows, the default git setting for `core.autocrlf`
# means that when checking out code, LF endings get converted
# to CRLF.
# *.svg text eol=lf
*.rb   diff=ruby
*.rake diff=ruby
*.css  diff=css
*.html diff=html
*.erb  diff=html
/CHANGELOG.md merge=union
config/locales/*.yml merge=union
