# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

*.rb   diff=ruby
*.rake diff=ruby
*.css  diff=css
*.html diff=html
*.erb  diff=html
/CHANGELOG.md merge=union
config/locales/*.yml merge=union
