<div id="delete-user">
  <% if current_user.super_admin? %>
    <%= form_for(@user, url: full_delete_admin_user_path(@user), html: { class: "flex flex-col gap-4", method: :post, onsubmit: "return confirm('Are you sure? This is extremely destructive and irreversible.')", id: nil }) do |f| %>
      <p>This will <strong>completely destroy the user</strong> and all of their activity from our database. This action is irreversible.</p>
      <p><strong>Do not do this lightly.</strong></p>
      <div>
        <button class="c-btn c-btn--primary c-btn--destructive">Fully Delete User & All Activity</button>
      </div>
    <% end %>
  <% else %>
    <div class="crayons-notice crayons-notice--danger">Only <strong>Super Admins</strong> are allowed to fully delete users.</div>
  <% end %>
</div>
