<div id="unpublish-all-posts">
  <%= form_for(@user, url: unpublish_all_articles_admin_user_path(@user), html: { class: "flex flex-col gap-4", method: :post, onsubmit: "return confirm('Are you sure? All posts will be unavailable to the community.')", id: nil }) do |f| %>
    <p>This will make any and all of the post links associated with this user unreachable. If the user is not suspended, they will have the ability to republish their posts.</p>
    <div>
      <button class="c-btn c-btn--destructive c-btn--primary">Unpublish all posts</button>
    </div>
  <% end %>
</div>
