<div class="row">
  <div class="col-sm-6">
    <h2>Activity</h2>
    <ul>
      <li><%= @organization.articles.size %> articles</li>
      <li><%= @organization.followers.size %> followers</li>
    </ul>
  </div>
</div>
