<% title "Let's get started with Forem" %>
<div class="crayons-card crayons-card--secondary crayons-notice crayons-notice--success mx-auto mt-8 mb-10 p-4 fs-2xl lh-base align-center" style="width:96%;max-width:1300px;" aria-live="polite">
  <h1 class="m-7 mb-3">Let's start your Forem journey</h1>
  <img class="m-7 mb-2 radius-default" alt="Dancing Baby Groot GIF" src="https://media.giphy.com/media/F9hQLAVhWnL56/giphy.gif" style="height:220px" />
  <p class="mb-4 mt-6">
    Create an account. It will be the first super admin account.
  </p>
  <p class="mb-4">
    Once you sign up below, you can configure your community at <a href="/admin/config">admin/config</a>.
  </p>
  <p class="mb-4">
    There is lots you can do as an admin, but there is a learning curve.
  </p>
  <p class="mb-8">
    Please reach out to the Forem team if you are unsure about anything!
  </p>
  <p class="mb-7 fw-bold">
    For Empowering Community 🌱
  </p>
  <%= render "shared/authentication/email_registration_form" %>
</div>
