<% authentication_enabled_providers.each do |provider| %>
  <a
    href="<%= sign_in_path(provider.provider_name, state: "navbar_basic") %>"
    class="crayons-link crayons-link--block pl-5"
    data-no-instant>
    Via <%= provider.official_name %>
  </a>
<% end %>
