<% authentication_enabled_providers.each do |provider| %>
  <a
    href="<%= provider.sign_in_path(state: "signup-modal") %>"
    class="sign-up-link cta"
    data-no-instant>
    <img
      src="<%= asset_path("#{provider.provider_name}-logo.svg") %>"
      class="icon-img"
      alt="<%= provider.official_name %> logo" /> Sign In With <%= provider.official_name %>
  </a>
<% end %>
