<div class="flex flex-col m:flex-row justify-center">
  <% authentication_enabled_providers.each do |provider| %>
    <a
      href="<%= provider.sign_in_path(state: "navbar_basic") %>"
      class="crayons-btn crayons-btn--xl crayons-btn--brand-<%= provider.provider_name %> crayons-btn--icon-left m-1 whitespace-nowrap"
      data-no-instant>
      <%= inline_svg_tag("#{provider.provider_name}.svg", aria: true, class: "crayons-icon", title: provider.provider_name) %>
      Sign In with <%= provider.official_name %>
    </a>
  <% end %>
</div>

<% if authentication_enabled_providers.any? %>
  <p class="pt-6 pb-8"><em>We require social registration to prevent abuse.</em></p>
<% end %>
