<% Authentication::Providers.enabled.each do |provider_name| %>
  <a
    href="<%= Authentication::Providers.sign_in_url(provider_name, state: "navbar_basic") %>"
    class="crayons-link crayons-link--block pl-5"
    data-no-instant>
    Via <%= provider_name.to_s.titleize %>
  </a>
<% end %>
