<div class="registration__actions-providers">
  <% authentication_enabled_providers.each do |provider| %>
    <a
      href="<%= provider.sign_in_path(state: "navbar_basic") %>"
      class="crayons-btn crayons-btn--l crayons-btn--brand-<%= provider.provider_name %> crayons-btn--icon-left whitespace-nowrap"
      data-no-instant>
      <%= inline_svg_tag("#{provider.provider_name}.svg", aria: true, class: "crayons-icon", title: provider.provider_name) %>
      Continue with <%= provider.official_name %>
    </a>
  <% end %>
</div>
