<% Authentication::Providers.enabled.each do |provider_name| %>
  <% provider = Authentication::Providers.get!(provider_name) %>

  <a
    href="<%= Authentication::Providers.sign_in_path(provider_name, state: "navbar_basic") %>"
    class="cta cta-button login-cta-button"
    data-no-instant>
    Sign In With <%= provider.official_name %>
  </a>
<% end %>
