<div class="border-0 border-b-1 border-solid border-base-20 p-2 grid gap-2">
  <% if any_selfserve_auth? %>
    <%= render partial: "shared/authentication/providers_nav_menu" %>
    <a
      href="<%= sign_up_path %>"
      class="crayons-btn crayons-btn--secondary">
      More Sign In Options
    </a>
  <% else %>
    <a
      href="/enter"
      class="crayons-btn crayons-btn--secondary">
      Sign In
    </a>
  <% end %>
</div>
