<% Authentication::Providers.enabled.each do |provider_name| %>
  <a
    href="<%= Authentication::Providers.sign_in_path(provider_name, state: "signup-modal") %>"
    class="sign-up-link cta"
    data-no-instant>
    <img
      src="<%= asset_path("#{provider_name}-logo.svg") %>"
      class="icon-img"
      alt="<%= provider_name.to_s.titleize %> logo" /> Auth With <%= provider_name.to_s.titleize %>
  </a>
<% end %>
