<% authentication_enabled_providers.each do |provider| %>
  <a
    href="<%= provider.sign_in_path(state: "signup-modal") %>"
    class="crayons-btn crayons-btn--xl crayons-btn--brand-<%= provider.provider_name %> crayons-btn--icon-left m-1"
    data-no-instant>
    <%= inline_svg_tag("#{provider.provider_name}.svg", aria: true, class: "crayons-icon", title: provider.provider_name) %>
    Sign In with <%= provider.official_name %>
  </a>
<% end %>
<a href="/enter"
  class="crayons-btn crayons-btn--secondary crayons-btn--xl m-1"
  data-no-instant>More Sign In Options</a>
