////////////////////////////////////////////////////////////////////////////////////
// Colors. /////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
//
// All --base-* and --accent-* color variables will be used to generate
// utlity-first classes (see config/import.scss & base/colors.scss for
// reference). Other color variables are more functional and define usage
// of particular colors in components and views.

:root {
  ////////////////////////////////////////////////////////////////////////////////////
  // Foundamental color variables. ///////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////

  // Base
  --base-100: #08090a;
  --base-90: #202428;
  --base-80: #363d44;
  --base-70: #4d5760;
  --base-60: #64707d;
  --base-50: #7d8a97;
  --base-40: #99a3ad;
  --base-30: #b5bdc4;
  --base-20: #d2d6db;
  --base-10: #eef0f1;
  --base-0: #f9fafa;
  --base-inverted: #fff;

  // Accent colors
  --accent-brand: #3b49df;
  --accent-brand-darker: #1827ce;
  --accent-brand-lighter: #8d95f2;

  // Success
  --accent-success: #26d9ca;
  --accent-success-darker: #1ab3a6;
  --accent-success-lighter: #79ece2;

  // Warning
  --accent-warning: #ffcf4c;
  --accent-warning-darker: #f5b400;
  --accent-warning-lighter: #ffe499;

  // Danger
  --accent-danger: #dc1818;
  --accent-danger-darker: #c20a0a;
  --accent-danger-lighter: #ec5050;

  ////////////////////////////////////////////////////////////////////////////////////
  // Functional color variables. /////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////

  // Main colors
  --body-bg: #f9fafa; // todo: replace with `var(--base-10);` when ready.
  --body-color: #0a0a0a; // todo: replace with `var(--base-100);` when ready.
  --body-color-inverted: var(--base-inverted);

  // Main content containers
  --container-bg: var(--base-inverted);
  --container-color: var(--base-100);
  --container-color-secondary: var(--base-70);
  --container-color-tertiary: var(--base-50);

  // Secondary content containers
  --widget-bg: var(--base-0);
  --widget-color: var(--base-90);
  --widget-color-secondary: var(--base-70);
  --widget-color-tertiary: var(--base-50);
  --widget-headline: var(--base-100);

  // Header
  --header-bg: var(--base-inverted);
  --header-shadow: rgba(0,0,0,0.1);
  --header-icons-color: var(--base-70);
  --header-icons-color-hover: var(--base-100);

  // Logo
  --logo-bg: var(--base-100);
  --logo-color: var(--base-inverted);

  // Footer
  --footer-bg: var(--base-inverted);
  --footer-copy-color: var(--base-80);
  --footer-copy-secondary-color: var(--base-60);
  --footer-link-color: var(--base-80);
  --footer-link-color-hover: var(--base-100);

  // Links in content
  --link-brand-color: #557de8; // todo: replace with `var(--accent-brand)` when ready.
  --link-brand-color-hover: var(--accent-brand-darker);

  // Greyscale links, for places where we don't want to make them use accent color
  --link-dimmed-color: var(--base-90);
  --link-dimmed-color-secondary: var(--base-80);
  --link-dimmed-bg-hover: var(--base-0);
  --link-dimmed-color-hover: var(--base-100);
  --link-dimmed-bg-current: var(--base-inverted);
  --link-dimmed-color-current: var(--base-100);

  // Primary buttons
  --button-primary-bg: var(--accent-brand);
  --button-primary-color: var(--base-0);
  --button-primary-bg-hover: var(--accent-brand-darker);
  --button-primary-color-hover: var(--base-0);

  // Secondary buttons
  --button-secondary-bg: var(--base-20);
  --button-secondary-color: var(--base-80);
  --button-secondary-bg-hover: var(--base-30);
  --button-secondary-color-hover: var(--base-100);

  // Outlined buttons
  --button-outlined-bg: var(--base-20);
  --button-outlined-color: var(--base-80);
  --button-outlined-bg-hover: var(--base-30);
  --button-outlined-color-hover: var(--base-100);

  // Forms
  --form-bg: var(--base-0);
  --form-bg-focus: var(--base-0);
  --form-border: var(--base-30);
  --form-border-hover: var(--base-40);
  --form-border-focus: var(--accent-brand);
  --form-placeholder-color: var(--base-60);

  // Form lables
  --label-primary: var(--base-90);
  --label-secondary: var(--base-60);

  // Default box
  --box: var(--base-90);
  --box-darker: var(--base-100);
}
