<div class="crayons-card p-6">
  <div class="flex items-center justify-between mb-4">
    <h1 class="crayons-title">Edit Event</h1>
    <% if @event.published? %>
      <%= link_to "View Event", event_path(@event.event_name_slug, @event.event_variation_slug), target: "_blank", class: "c-btn c-btn--secondary" %>
    <% end %>
  </div>
  <%= render "form", event: @event %>
</div>
