<span data-controller="modal" class="mx-1" data-modal-hidden-class="hidden">
  <button data-action="modal#toggleModal" class="crayons-btn">
    Add Field
  </button>

  <div id="add-<%= group_name %>-profile-field-modal" class="hidden" data-modal-target="toggle">
    <div class="crayons-modal crayons-modal--s">
      <div class="crayons-modal__box">
        <header class="crayons-modal__box__header">
          <h2>Add Profile Field</h2>
          <button type="button" data-action="modal#toggleModal" class="crayons-btn crayons-btn--icon crayons-btn--ghost">
            <svg width="24" height="24" viewBox="0 0 24 24" class="crayons-icon" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636l4.95 4.95z" />
            </svg>
          </button>
        </header>
        <div class="crayons-modal__box__body">
          <div class="form-group grid p-6 mb-6 gap-1">
            <%= form_for [:admin, ProfileField.new] do |form| %>
              <%= render "profile_field_form", form: form, group: group, group_name: group_name %>
              <%= form.submit class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="crayons-modal__overlay"></div>
    </div>
  </div>
</span>
