<main id="profileFields">
  <div class="crayons-notice mb-4">
    <p>
      Instructions on how to properly use this feature at this time.
    </p>
  </div>
  <%= render "add_group_modal" %>
  <%= render "grouped_profile_fields" %>
  <%= render "ungrouped_profile_fields" %>
</div>
