<main id="profileFields">
  <h1 class="crayons-title mb-3">Profile Fields</h1>
  <div class="crayons-notice mb-4">
    <p>
      To get started, add a group. Then you can add fields to each group. Groups and fields will show up in this same order on the user's profile page.
    </p>
  </div>
  <%= render "add_group_modal" %>
  <%= render "grouped_profile_fields" %>
  <%= render "ungrouped_profile_fields" %>
</div>
