<button type="button" class="js-export-csv-modal-trigger c-btn w-100 align-left" data-modal-trigger data-modal-title="Download member data" aria-label="Download member data" data-modal-size="small" data-modal-content-selector="#export-csv-modal">
  <%= crayons_icon_tag(:export, class: "c-btn__icon") %>
</button>

<div id="export-csv-modal" class="hidden">
  <div class="flex flex-col gap-4">
    <p>
      Your data will be downloaded as a Comma Separated Values (.csv) file.
    </p>
    <p>
      Values listed are Name, Username, Email address, Status, Joining date, Last activity, and Organizations.
    </p>
    <div class="flex gap-2">
      <%= link_to "Download", "#{export_admin_users_path}.csv", class: "c-cta c-cta--branded self-end" %>
      <button class="js-export-csv-modal-cancel crayons-btn crayons-btn--ghost">
        Dismiss
      </button>
    </div>
  </div>
</div>
