<button type="button" class="c-btn w-100 align-left" data-modal-trigger data-modal-title="Download member data" data-modal-size="small" data-modal-content-selector="#export-csv">
  <%= crayons_icon_tag(:export, class: "c-btn__icon") %>
</button>
