<% if @boosted_article %>
  <%= render "additional_content_boxes/article_box",
             article: @boosted_article,
             classification: "boosted",
             classification_text: "From one of our Community Sponsors",
             follow_cue: @boosted_article.organization&.tag_line || @boosted_article.organization&.tag_line %>
<% end %>

<%# the pattern .present?/.each has the advantage of issuing only a single SQL query to load objects in memory %>
<% if @suggested_articles.present? %>
  <% @suggested_articles.each do |article| %>
    <%= render "additional_content_boxes/article_box",
               article: article,
               classification: "for_user_article",
               classification_text: "Another Post You Might Like",
               follow_cue: article.organization&.tag_line || "Follow <a href='#{article.user.path}'>@#{article.user.username}</a> to see more of their posts in your feed." %>
  <% end %>
<% end %>
