<img src="<%= asset_path 'sustaining-membership.svg' %>" style="height:200px; display: block; margin-left: auto; margin-right: auto;"/>
<p>
Your DEV sustaining membership monthly contribution amount has been updated.  Be sure to check your <a href="https://dev.to/settings/membership">membership settings</a> page to see the most up-to-date information.
</p>
<p>
Thank you so much for the support, and please email members@dev.to with any questions.
</p>
