<p>
Your DEV sustaining membership has been cancelled.  Thank you so much for your support to date.
</p>
<p>
If you have any feedback that can help us improve the membership experience, please feel free to reply to this email.
<p>
</p>
<p>
Thanks again,
<br/>
PBJ
</p>
