<% if decorated_comment.low_quality %>
  <div class="crayons-notice crayons-notice--warning low-quality-comment-marker">
    Comment marked as low quality/non-constructive by the community. <a href="/code-of-conduct"><strong>View Code of Conduct</strong></a>
  </div>
<% end %>

<% if comment.hidden_by_commentable_user %>
  <div class="low-quality-comment-marker comment__quality-marker">
    <%= inline_svg_tag("info.svg", aria: true, class: "crayons-icon mr-2", title: "Info") %>
    Comment hidden by post author - thread only visible in this permalink
  </div>
<% end %>
