<% if comment && comment.user %>
  <% if comment.depth < 3 && !should_be_hidden?(comment, @root_comment) %>
    <details open>
      <summary><span>&nbsp;</span></summary>
      <%= render("comments/comment_proper",
                 comment: comment,
                 commentable: commentable,
                 is_view_root: is_view_root,
                 is_childless: is_childless,
                 subtree_html: subtree_html) %>
    </details>
  <% elsif !should_be_hidden?(comment, @root_comment) %>
    <%= render("comments/comment_proper",
               comment: comment,
               commentable: commentable,
               is_view_root: is_view_root,
               is_childless: is_childless,
               subtree_html: subtree_html) %>
  <% end %>
<% end %>
