<div class="comment-date">
  <a href="<%= decorated_comment.path %>" class="u-url">
    <time datetime="<%= decorated_comment.published_timestamp %>" class="dt-published">
      <%= decorated_comment.readable_publish_date %>
    </time>
  </a>
</div>
