<a href="<%= URL.comment(decorated_comment) %>" class="comment-date crayons-link crayons-link--secondary ml-2 opacity-50 fs-xs">
  <time datetime="<%= decorated_comment.published_timestamp %>">
    <%= decorated_comment.readable_publish_date %>
  </time>
</a>
