<div class="comment-date">
  <a href="<%= decorated_comment.path %>">
    <time datetime="<%= decorated_comment.published_timestamp %>">
      <%= decorated_comment.readable_publish_date %>
    </time>
  </a>
</div>
