<div id="discussion-lock" class="crayons-notice crayons-notice--warning mb-5" aria-live="polite">
  <%= t("views.comments.locked") %>
  <% if @discussion_lock&.reason %>
    <div>
      <em>
        <%= @discussion_lock.reason %>
      </em>
    </div>
  <% end %>
</div>
