<div class="crayons-layout crayons-layout--limited-l gap-0">
    <div
    class="comments-container crayons-card min-w-0 text-padding"
    id="comments-container"
    data-commentable-id="<%= @comment.commentable_id %>"
    data-commentable-type="<%= @comment.commentable_type %>">
    <h1 class="crayons-title mb-6">Editing comment</h1>
    <%= render "form",
               commentable: @commentable,
               commentable_type: @comment.commentable_type %>
  </div>
</div>
