<% unless flash[:alert].blank? %>
  <div class="crayons-notice--danger registration__error-notice">
    <% if flash[:alert].is_a?(Array) %>
      Something went wrong:
      <ul>
        <% flash[:alert].each do |error| %>
          <li>
            <%= error %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <strong>
        <%= flash[:alert] %>
      </strong>
      <br>
    <% end %>
    <% if any_enabled_auth_providers? %>
      If you haven't created an account, we recommend signing up with social authentication below.
    <% end %>
    If you haven't received your confirmation email yet, <a href="<%= confirm_email_path %>">click here</a> to resend it.
    <br>
    Contact <%= email_link %> if you continue having trouble.
  </div>
<% end %>
