<style>
  .error-notice {
    background: rgba(255, 80, 80, 0.7);
    color: white;
    padding: 40px 0px 40px;
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
  }
</style>
<% unless flash[:alert].blank? %>
  <div class="error-notice">
    Something went wrong:
    <% if flash[:alert].is_a?(Array) %>
      <ul>
        <% flash[:alert].each do |error| %>
          <li>
            <%= error %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <%= flash[:alert] %>
      <br>
    <% end %>
    Please try again below, or contact <a href="mailto:<%= SiteConfig.default_site_email %>"><%= SiteConfig.default_site_email %></a> if this persists.
  </div>
<% end %>
