<header class="mb-4">
  <h2 class="crayons-subtitle-2 mb-1 flex items-center">
    <%= crayons_icon_tag("mod-filled", title: "Mod", aria_hidden: true, class: "mr-2") %>
    Tag moderation
  </h2>
  <p class="color-secondary">Assign tags to this member to moderate. <a href="https://admin.forem.com/docs/managing-your-community/tag-moderator-features" rel="noopener noreferer" target="_blank" class="c-link c-link--branded" aria-label="Learn more about tag moderation">Learn more</a></p>
</header>

<form class="flex flex-col gap-2">
  <input name="current_mod_tags" type="hidden" value="<%= @moderated_tags %>">

  <div id="tag-moderation-container">
    <%#
      I'm using the same styling as the multi-autocomplete here to avoid content layout shift (CLS)
      If the styling of the multi-autocomplete changes, this needs to be updated.
    %>
    <input autocomplete="off" class="c-autocomplete--multi__input" aria-hidden="true" type="text" placeholder="Add a tag...">
  </div>
  <button class="c-btn c-btn--secondary whitespace-nowrap self-end">Submit</button>
</form>
