<header class="mb-4">
  <h2 class="crayons-subtitle-2 mb-1 flex items-center">
    <%= crayons_icon_tag("mod-filled", title: "Mod", aria_hidden: true, class: "mr-2") %>
    Tag moderation
  </h2>
  <p class="color-secondary">Assign tags to this member to moderate. <a href="https://admin.forem.com/docs/managing-your-community/tag-moderator-features" rel="noopener noreferer" target="_blank" class="c-link c-link--branded" aria-label="Learn more about tag moderation">Learn more</a></p>
</header>

<form class="flex flex-col gap-2">
  <input name="current_mod_tags" type="hidden" value="<%= @moderated_tags %>" />
  <input id="mod-tags" name="mod_tags" type="hidden" value="<%= @moderated_tags %>" />

  <div id="tag-moderation-container">
    <%#
      The markup for the autocomplete is a copy paste from the rendered Preact component when it's empty.
      This prevents cummulative layout shifting and Preact is able to bootstrap on top of it.
    %>
    <div class="c-autocomplete--multi relative"><div role="combobox" aria-haspopup="listbox" aria-expanded="false" aria-owns="listbox1" class="c-autocomplete--multi__wrapper-border crayons-textfield flex items-center  cursor-text"><ul id="combo-selected" class="list-none flex flex-wrap w-100"><li class="self-center" style="order: 1;"><input autocomplete="off" class="c-autocomplete--multi__input" aria-autocomplete="list" aria-labelledby="multi-select-label selected-items-list" aria-describedby="input-description" aria-disabled="false" type="text" placeholder="Add a tag..."></li></ul></div></div>
  </div>
  <button class="c-btn c-btn--secondary whitespace-nowrap self-end">Submit</button>
</form>
