<div>
  <a class ="btn btn-success" href="/internal/pages/new">New Page</a>
</div>

<% @pages.each do |page| %>
  <div class="wrapper" style="border-bottom: 1px solid grey; padding: 10px;">
    <div class="grid-item"><a href="/page/<%= page.slug%>" target="_blank"><%= page.slug %></a></div>
    <div><%= page.title %></div>
    <div>
      <a class ="btn" href="/internal/pages/<%= page.id%>/edit">Edit</a>
    </div>
  </div>
<% end %>
