@import '../config/import';
@import '../base/boxes';

.crayons-article-form {
  background: var(--base-10); // todo: replace with proper variable (?)

  &__header {
    display: flex;
    padding: $su-2 $su-4;
    align-items: center;
    padding-right: calc( var(--layout-aside-width) + var(--layout-padding) + var(--layout-gap) );
  }

  &__logo {
    display: flex;
    margin-right: var(--layout-gap);

    .logo {
      width: 50px;
      height: 40px;
      padding: 0 7px 0 9px; // TODO: we have to fix SVG for logo a little...
      background: var(--logo-bg);
      fill: var(--logo-color);
      border-radius: $br-default;
    }
  }

  &__close {
    position: absolute;
    right: $su-2;
    top: $su-2;
  }

  &__fields {
    display: flex;
    flex-direction: column;
  }

  &__body {
    flex: 1 auto;
    position: relative;
  }

  &__toolbar {
    padding: $su-4 0;
    position: sticky;
    top: 0;
    background: var(--card-bg);
    transition: opacity $transition-props;

    > :first-child {
      margin-left: -$su-2;
    }
  }
  
  &__cover {
    margin-bottom: $su-6;
    display: flex;
    align-items: center;

    &__image {
      width: 250px;
      height: 105px;
      border-radius: $br-default;
      margin-right: $su-4;
      object-fit: cover;
    }
  }

  &__title {
    margin-bottom: $su-2;
    position: relative;
  }

  &__tagsfield {
    position: relative;
  }

  &__actions {
    position: sticky;
    background: var(--base-10);
    bottom: 0;
    display: flex;
    align-items: center;
    padding: $su-6 0;
    padding-left: calc( var(--layout-narrow-sidebar-width) + var(--layout-gap) );
  }
}

.crayons-article-form {
  &__tagsoptions {
    @extend .crayons-box;
    @extend .crayons-box--level-2;

    position: absolute;
    left: -$su-4;
    right: -$su-4;
    top: calc( 100% + #{$su-4} );
    z-index: 100;
    padding: $su-1;
  }

  &__tagname {
    font-family: $ff-accent;
    color: var(--base-90);
    letter-spacing: -0.05em;
    font-weight: bold;
  }

  &__tagoptionrow {
    cursor: pointer;
    color: var(--link-color);
    padding: $su-3;

    &:hover {
      background: var(--link-bg-hover);
      .crayons-tag {
        color: var(--link-color-hover);
      }
    }

    &--active {
      background: var(--link-bg-hover);
      .crayons-article-form__tagname {
        color: var(--link-color-hover);
      }
    }
  }

  &__tagsoptionrulesbutton {
    display: none;
  }
  &__tagrules,
  &__tagrules--inactive {
    font-size: $fs-s;
    color: var(--base-70);
  }

  &__tagsoptionsbottomrow {
    display: none;
  }

}
