@import '../config/import';

.comment-form {
  --preview-display: none;
  --field-display: flex;

  display: flex;
  margin-bottom: var(--su-4);

  &__field {
    display: var(--field-display);
    flex: 1 auto;
    flex-direction: column;
    margin-bottom: var(--su-3);
    background-color: var(--form-bg);
    border: 1px solid var(--form-border);
    color: var(--body-color);
    border-radius: var(--radius);
    transition: all var(--transition-props);

    &:focus-within {
      background-color: var(--form-bg-focus);
      border-color: var(--form-border-focus);
      box-shadow: 1px 1px 0 var(--form-border-focus);
    }
  }

  &__inner {
    display: flex;
    flex-flow: column;
    flex: 1 auto;
  }

  .comment-textarea {
    resize: vertical;
    padding: 0.5em;
    max-height: 40vh;
  }

  &__toolbar,
  &__buttons {
    display: none;
  }

  &--initiated {
    .comment-textarea {
      height: 128px;
    }
  }

  &--initiated &__toolbar,
  &--initiated &__buttons {
    display: flex;
  }

  &__toolbar {
    padding: var(--su-1);
    border-top: 1px solid var(--base-20);
    background: var(--form-bg);
    border-radius: 0 0 var(--radius) var(--radius);
    font-size: var(--fs-s);
  }

  &__preview {
    border-radius: var(--radius);
    padding: var(--su-4);
    border: 1px solid var(--base-20);
    margin-bottom: var(--su-3);
    background: var(--card-bg);
    display: var(--preview-display);
  }

  &.preview-open {
    --preview-display: block;
    --field-display: none;
  }
}

.comment {
  --dropdown-visibility: hidden;
  --dropdown-opacity: 0;
  --footer-display: flex;

  &__dropdown {
    @media (min-width: $breakpoint-s) {
      visibility: var(--dropdown-visiblity);
      opacity: var(--dropdown-opacity);
    }
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--su-6);

    &:hover,
    &:focus-within {
      --dropdown-visibility: visible;
      --dropdown-opacity: 1;
    }
  }

  &__details {
    padding-left: var(--su-2);
    flex: 1 auto;
    min-width: 0;

    &.replying {
      --footer-display: none;
    }
  }

  &__content {
    padding: var(--su-1);
    border-radius: var(--radius);
  }

  &__header {
    display: flex;
    align-items: center;
    padding: var(--su-2) var(--su-3) 0;
    font-size: var(--fs-s);

    @media (min-width: $breakpoint-m) {
      font-size: var(--fs-base);
    }
  }

  &__body {
    padding: 0 var(--su-3);
    margin: var(--su-2) 0 var(--su-4);
  }

  &__footer {
    // border-top: 1px solid var(--base-10);
    padding-top: var(--su-1);
    display: var(--footer-display);
    align-items: center;
  }

  &__quality-marker {
    border-bottom: 1px solid var(--base-10);
    padding: var(--su-3);
    padding-top: var(--su-2);
    font-weight: var(--fw-medium);
    display: flex;
    align-items: center;
  }
}

.comment-wrapper {
  position: relative;

  > summary {
    position: static;
    display: inline-block;
    align-items: center;
    transform: initial;
    top: 0;
    cursor: pointer;
    font-size: var(--fs-s);
    color: var(--base-60);
    margin-bottom: var(--su-4);
    padding: var(--su-1) 0;
    font-style: italic;
    border-radius: var(--radius);
    background: var(--base-0);
    width: 100%;

    .expanded {
      display: none;
    }

    .collapsed {
      display: block;
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  &[open] > summary {
    position: absolute;
    top: var(--su-8);
    background: transparent;
    width: auto;

    .expanded {
      display: block;
    }

    .collapsed {
      display: none;
    }

    @media (min-width: $breakpoint-s) {
      display: none;
    }
  }

  &:hover {
    > summary {
      display: inline-block;
    }
  }

  &.child {
    &:not(.comment--too-deep) {
      padding-left: var(--su-3);
      @media (min-width: $breakpoint-m) {
        padding-left: var(--su-5);
      }
    }
    &.comment--deep-1 {
      padding-left: var(--su-4);
      @media (min-width: $breakpoint-m) {
        padding-left: var(--su-6);
      }
    }
  }
}

.comments-settings__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-gap: var(--su-2);

  &--subtitle {
    color: var(--base-60);
  }
}
