@import '../config/import';

#page-content.confirmations {
  display: flex;
  flex-direction: column;
}

#page-content.confirmations #page-content-inner {
  flex: 1;
  display: flex;
  background: white;

  @media (max-width: $breakpoint-m) {
    padding: 1em 1em 0;
  }
}
