@import '../config/import';

#footer-container {
  padding: var(--su-1) 0; // To prevent cutting off the foucs style.
  content-visibility: auto;
  contain-intrinsic-size: 300px; // Chromium only. See our discussion here: https://github.com/forem/forem/pull/11560
  @media (min-width: $breakpoint-l) {
    contain-intrinsic-size: 260px;
  }
}

.stories-index + #footer {
  display: none;
}

.crayons-footer {
  --footer-padding: var(--su-5);
  background: var(--footer-bg);
  color: var(--footer-color);
  padding: var(--footer-padding);
  text-align: center;

  @media (min-width: $breakpoint-m) {
    --footer-padding: var(--su-8);
  }

  &__container {
    margin-bottom: env(safe-area-inset-bottom);
    max-width: var(--site-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--su-2);
  }
}

.sidebar-footer {
  color: var(--color-secondary);
}

.dot {
  height: var(--su-1);
  width: var(--su-1);
  background-color: var(--base-70);
  border-radius: 50%;
  display: inline-block;
}

.footer__nav-links {
  list-style-type: none;

  li:last-child .dot {
    display: none;
  }
}
