@import 'variables';
@import 'config/import';

.hide-comments-modal {
  &__box {
    position: relative;
    margin-left: var(--su-1);
    margin-right: var(--su-1);
    height: auto;
    width: auto;
    background: var(--card-bg);
    color: var(--card-color);
    border-radius: var(--radius);

    @media (min-width: $breakpoint-s) {
      margin: inherit;
    }
  }

  &__close-btn {
    position: absolute;
    top: var(--su-3);
    right: var(--su-3);
  }

  &__container {
    display: grid;
    grid-gap: var(--su-2);
  }

  &__content {
    display: grid;
    grid-gap: var(--su-3);
    padding-bottom: var(--su-2);
  }

  &__title {
    color: var(--card-color);
    font-size: var(--fs-2xl);
    line-height: var(--lh-tight);
  }

  &__description {
    color: var(--card-color-secondary);
  }

  &__footer {
    color: var(--card-color-secondary);
    font-size: var(--fs-s);
    text-align: center;
  }
}
