@import '../variables';
@import '../config/import';

.listings-columns {
  margin-bottom: var(--su-6);

  @media (min-width: $breakpoint-m) {
    display: grid;
    grid-gap: var(--su-4);
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}

.single-listing {
  $el: &;
  overflow-wrap: anywhere;
  word-break: break-word;
  overflow: hidden;

  &__dropdown {
    display: none;

    #{$el}:hover & {
      display: block;
    }
  }

  &__tags {
    min-height: var(--su-4);
  }

  &__date {
    font-size: 0.85em;
    min-height: var(--su-4);
    color: var(--card-color-tertiary);
  }
}
