@import '../config/import';

.profile-header {
  --padding: var(--su-3);
  --profile-brand-size: var(--su-5);

  border-top: var(--profile-brand-size) solid var(--profile-brand-color);
  border-radius: 0;

  @media (min-width: $breakpoint-s) {
    --padding: var(--su-4);
  }

  @media (min-width: $breakpoint-m) {
    border-radius: var(--radius);
  }

  @media (min-width: $breakpoint-l) {
    --padding: var(--su-6);
    --profile-brand-size: var(--su-7);
  }

  &__top {
    padding: var(--padding);

    @media (min-width: $breakpoint-m) {
      display: flex;
    }
  }

  .crayons-avatar {
    width: var(--su-9);
    height: var(--su-9);
    border: 2px solid var(--profile-brand-color);

    @media (min-width: $breakpoint-l) {
      border-width: 8px;
      width: var(--su-10);
      height: var(--su-10);
    }
  }

  &__details {
    flex: 1 auto;

    @media (min-width: $breakpoint-m) {
      padding-left: var(--padding);
    }
  }

  &__meta {
    font-size: var(--fs-s);
    color: var(--base-60);

    a {
      color: var(--link-color-secondary);

      &:hover {
        color: var(--link-color-hover);
      }
    }

    &__divider {
      display: inline-block;
      padding: 0 var(--su-3);
      opacity: 0.5;
    }
  }

  &__bottom {
    border-top: 1px solid var(--base-10);
    padding: calc(var(--padding) / 2);
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;

    @media (min-width: $breakpoint-s) {
      flex-flow: row;
    }

    .crayons-definition {
      padding: calc(var(--padding) / 2);
    }
  }
}

.crayons-definition {
  font-size: inherit;

  &__title {
    font-size: 85%;
    font-weight: var(--fw-medium);
    color: var(--base-60);
    display: block;
  }
}

.profile-header {
  &--alt {
    border-top: none;
  }

  &__super-top {
    margin-top: calc(-1 * var(--su-9));
    margin-bottom: var(--su-3);
    position: relative;
  }

  &__actions {
    display: flex;
    position: absolute;
    right: 0;
    top: var(--su-9);
    padding: var(--padding) var(--padding) 0 0;
  }
}

.brand-bg {
  background: linear-gradient(
    180deg,
    var(--profile-brand-color) var(--su-10),
    transparent var(--su-10)
  );
}
