@import '../config/import';

.sponsors {
  display: block;
  margin-bottom: var(--su-6);

  @media (min-width: $breakpoint-m) {
    display: grid;
    grid-template-columns: 33% 1fr;
    grid-gap: var(--su-4);
  }

  @media (min-width: $breakpoint-l) {
    grid-template-columns: 25% 1fr;
    grid-gap: var(--su-6);
  }

  &__label {
    background: var(--base-0);
    padding: var(--su-4);
    border-radius: var(--radius);
    margin-bottom: var(--su-4);

    @media (min-width: $breakpoint-m) {
      margin-bottom: 0;
    }
  }

  &__items {
    display: grid;
    grid-gap: var(--su-6);
  }

  &__logo {
    border-radius: var(--radius);
    background: white;
    padding: var(--su-4);
    margin-bottom: var(--su-4);
    max-width: 250px;
    height: auto;
    display: block;
    border: 1px solid var(--base-20);
  }
}
