@import '../config/import';

.tag-header {
  padding: var(--su-4);
  border-radius: 0;

  @media (min-width: $breakpoint-m) {
    border-radius: var(--radius);
  }

  @media (min-width: $breakpoint-l) {
    padding: var(--su-6);
  }
}
