<div>
  <% if @comments_to_show_count && @presenter.comments_count > @comments_to_show_count %>
    <a class="full-discussion-button"
       href="<%= @presenter.path %>/comments">
      VIEW FULL DISCUSSION (<%= @presenter.comments_count %> COMMENTS)
    </a>
  <% end %>
  <%= render "articles/conduct_and_abuse_actions", page: "articles_show" %>
</div>
