<p class="fs-s">
  <a href="/code-of-conduct" class="crayons-link crayons-link--secondary">Code of Conduct</a>
  <span class="opacity-25 px-2">&bull;</span>
  <a href="/report-abuse" class="crayons-link crayons-link--secondary">Report abuse</a>
</p>
