<a href="/code-of-conduct" style="color:<%=org_text_or_blue(@article.organization) if page == "articles_show" %>">code of conduct</a>
-
<a href="/report-abuse?url=<%= request.url %>" style="color:<%=org_text_or_blue(@article.organization) if page == "articles_show" %>">report abuse</a>
