<nav class="fs-s align-center block" aria-label="Conduct controls">
  <a href="/code-of-conduct" class="crayons-link crayons-link--secondary">Code of Conduct</a>
  <span class="opacity-25 px-2" role="presentation">&bull;</span>
  <a href="/report-abuse" class="crayons-link crayons-link--secondary"><%= t("core.report_abuse") %></a>
</nav>
