<% if article %>
<div class="ltag__link--embedded">
  <%= render partial: "articles/single_story", locals: { story: article.decorate, featured: false, feed_style_preference: "basic" } %>
</div>
<% else %>
<div class="crayons-card my-2 p-4">
  <p class="color-base-60">Post not found or has been removed.</p>
</div>
<% end %>
