<% organization = sponsorship.organization %>
<div class="sidebar-sponsor">
  <a class="partner-link" href="<%= sponsorship.url %>" target="_blank" data-details="<%= organization.slug %>__image" rel="noopener">
    <%= render partial: "pages/sponsor_image", locals: { sponsor: organization } %>
  </a>
  <p class="fs-s"><%= sponsorship.sponsorable_type == "ActsAsTaggableOn::Tag" ? sanitize(sponsorship.blurb_html) : sponsorship.tagline %></p>
</div>
