<a href="<%= plucked_article[0] %>" class="widget-link-list__item">
  <%= plucked_article[1] %>
  <% if show_comment_count %>
    <div class="discuss-list-comment-count">
      <% if plucked_article[2] > 0 %>
        <img src="<%= asset_path("comments-bubble.svg") %>" alt="Comments" /> <%= plucked_article[2] %>
      <% else %>
        <span class="discuss-list-comment-count discuss-list-comment-count-brand-new">fresh</span>
      <% end %>
    </div>
  <% end %>
</a>
