

<a class="crayons-link crayons-link--contentful" href="<%= constructed_full_url(plucked_article[0],plucked_article[4]) %>">
  <%= truncate(plucked_article[1], length: 100) %>
  <% if show_comment_count %>
    <div class="crayons-link__secondary">
      <% if plucked_article[2] > 0 %>
        <%= t("views.comments.count", count: plucked_article[2]) %>
      <% else %>
        <span class="c-indicator c-indicator--warning"><%= t("views.comments.empty") %></span>
      <% end %>
    </div>
  <% end %>
</a>
