<% title "New Article - DEV" %>

<% if user_signed_in? %>
  <%= render 'articles/markdown_form' %>
<% else %>
  <div class="new-article-pitch">
    <h1>Sign In or Create Your Account</h1>
    <div class="links">
      <a href="/users/auth/twitter?state=join-club-page_basic" class="sign-up-link" data-no-instant>
        <%= icon("twitter") %> Auth with Twitter
      </a>
      <a href="/users/auth/github?state=join-club-page_basic" class="sign-up-link" data-no-instant>
        <%= icon("github") %> Auth with Twitter
      </a>
    </div>
    <p>The DEV Community is for amazing humans who code</p>
    <div style="height:200px"/>
  </div>
<% end %>
