<a href="<%= admin_user_path(user.id) %>" class="mr-2">
    <img class="radius-full align-middle" src="<%= user.profile_image_url_for(length: 50) %>" width="40" height="40" alt="<%= user.name %>" />
</a>
