<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.text_field field.attribute, value: field.to_s, placeholder: "comma separated, space is optional. Example: 1,2,3" %>
  <sub>comma separated, space is optional. Example:
    <code style="background: #D2D2D2; padding: 4px; border-radius: 5px; font-weight: bold;">1,2,3</code></sub>
</div>
