$su-1: 0.25rem; // 4px
$su-2: 0.5rem; // 8px
$su-3: 0.75rem; // 12px
$su-4: 1rem; // 16px
$su-5: 1.25rem; // 20px
$su-6: 1.5rem; // 24px
$su-7: 2rem; // 32px
$su-8: 3rem; // 48px
$su-9: 4rem; // 64px
$su-10: 8rem; // 128px

$spacing-units: (
  '1': $su-1,
  '2': $su-2,
  '3': $su-3,
  '4': $su-4,
  '5': $su-5,
  '6': $su-6,
  '7': $su-7,
  '8': $su-8,
  '9': $su-9,
  '10': $su-10,
);

$negative-spacing-units: (
  '1': -$su-1,
  '2': -$su-2,
  '3': -$su-3,
  '4': -$su-4,
  '5': -$su-5,
  '6': -$su-6,
  '7': -$su-7,
  '8': -$su-8,
  '9': -$su-9,
  '10': -$su-10,
);