// Font stacks
$ff-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$ff-accent: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
  monospace;

// Font sizes
$fs-xs: 0.75rem;
$fs-s: 0.875rem;
$fs-base: 1rem;
$fs-l: 1.125rem;
$fs-xl: 1.25rem;
$fs-xxl: 1.5rem;
$fs-xxxl: 1.875rem;
$fs-xxxxl: 2.25rem;
$fs-xxxxxl: 3rem;

// Line heights
$lh-tight: 1.25; // 20px for 16px font-size
$lh-base: 1.5; // 24px for 16px font-size
$lh-relaxed: 1.625; // 26px for 16px font-size

// Font weights
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-heavy: 800;
