<meta name="robots" content="noindex" />
<div class="unsubscribed unsubscribed--red">
  <div class="unsubscribed__title">
    <%= t("views.email_subscriptions.invalid.heading") %>
  </div>
  <br />
  <div class="unsubscribed__message">
    <%= t("views.email_subscriptions.invalid.description_html", signin: tag.a(t("views.email_subscriptions.invalid.signin"), href: app_url(user_settings_path(:notifications)))) %>
  </div>
</div>
