<meta name="robots" content="noindex" />
<div class="unsubscribed">
  <div class="unsubscribed__title">
    <%= t("views.email_subscriptions.unsubscribe.heading", type: @email_type) %>
  </div>
  <br />
  <div class="unsubscribed__message">
    <%= t("views.email_subscriptions.unsubscribe.description_html", link: tag.a(t("views.email_subscriptions.unsubscribe.link"), href: app_url(user_settings_path(:notifications)))) %>
  </div>
</div>
