<div class="search-nav mt-8">
  <a class="query-filter-button crayons-link crayons-link--block" data-filter="class_name:Article">
    Posts
  </a>
  <a class="query-filter-button crayons-link crayons-link--block" data-filter="class_name:PodcastEpisode">
    Podcasts
  </a>
  <a class="query-filter-button crayons-link crayons-link--block" data-filter="class_name:User">
    People
  </a>
  <a class="query-filter-button crayons-link crayons-link--block" data-filter="class_name:Comment">
    Comments
  </a>
  <a class="query-filter-button my-posts-query-button crayons-link crayons-link--block" data-filter="MY_POSTS">
    My posts only
  </a>
</div>
