<div class="crayons-layout__sidebar-left search-nav px-3 m:px-0">
  <a class="query-filter-button crayons-link crayons-link--block" data-filter="class_name:Article" href="javascript:;">
    Posts
  </a>
  <a class="query-filter-button crayons-link crayons-link--block" data-filter="class_name:PodcastEpisode" href="javascript:;">
    Podcasts
  </a>
  <a class="query-filter-button crayons-link crayons-link--block" data-filter="class_name:User" href="javascript:;">
    People
  </a>
  <a class="query-filter-button crayons-link crayons-link--block" data-filter="class_name:Comment" href="javascript:;">
    Comments
  </a>
  <a class="query-filter-button my-posts-query-button crayons-link crayons-link--block" data-filter="MY_POSTS" href="javascript:;">
    My posts only
  </a>
</div>
