<div id="sidebar-wrapper-left" class="sidebar-wrapper sidebar-wrapper-left">
  <div class="sidebar-bg" id="sidebar-bg-left"></div>
  <div class="side-bar">
    <div class="widget fixed-widget">
      <header>
        <h4>search results</h4>
      </header>
      <div class="widget-body" style="margin-bottom:16px;">
        <a class="query-filter-button" data-filter="class_name:Article">POSTS</a>
        <a class="query-filter-button" data-filter="class_name:PodcastEpisode">PODCASTS</a>
        <a class="query-filter-button" data-filter="class_name:User">PEOPLE</a>
        <a class="query-filter-button" data-filter="class_name:Comment">COMMENTS</a>
        <hr>
        <a class="query-filter-button my-posts-query-button" data-filter="class_name:Article&user_id:<%= current_user.id %>">ONLY MY POSTS</a>
      </div>
    </div>
  </div>
</div>
