<%= render "page_styles" %>

<div class="html-variants-page" >
  <h1>
    HTML Variants <a href="/html_variants/new">New</a>
  </h1>
  <h2>Your HTML Variants</h2>
  <% @user_variants.each do |html_variant| %>
    <%= render "single_html_variant", html_variant: html_variant, admin: false %>
  <% end %>
  <h2>All Published</h2>
  <% @all_published_variants.each do |html_variant| %>
    <%= render "single_html_variant", html_variant: html_variant, admin: true %>
  <% end %>
</div>
