<%= render "layouts/styles" %>
<style>
  body{padding-top: 20px !important; }
</style>
<div class="primary-sticky-nav">
  <div class="html-variant-wrapper">
    <%= @html_variant.html.html_safe %>
  </div>
</div>