<style>
  body {
    all: unset;
  }
</style>
<%= render "layouts/styles" %>
<style>
  body {
    padding-top: 20px !important;
  }
</style>
<% if @html_variant.group == "article_show_below_article_cta" %>
  <div class="home">
    <div class="container">
      <%= @html_variant.html.html_safe %>
    </div>
  </div>
<% else %>
  <div style="width: 310px">
    <div class="html-variant-wrapper">
      <%= @html_variant.html.html_safe %>
    </div>
  </div>
<% end %>
