<% module_namespacing do -%>
module DataUpdateScripts
  class <%= class_name %>
    def run
      # Place your data update logic here
      # Make sure your code is idempotent and can be run safely
      # multiple times at any time
    end
  end
end
<% end -%>
