// TODO: This should be coming from our own files, not a copy in the stories.
.container {
  padding: 48px;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
}
.container *,
.container *:before,
.container *:after {
  box-sizing: border-box;
}

.container > pre {
  padding: 24px;
  width: 100%;
}

.container > .body {
  width: 100%;
  font-size: 16px;
  line-height: 150%;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 32px;
}

.container > .body h2 {
  padding: 0;
  margin: 0;
}

.container > .body p {
  margin: 0;
  padding: 0;
}

.container > .body ul,
.container > .body ol {
  margin: 0 0 0 24px;
  padding: 0;
}

.container > .body > * + * {
  margin-top: 16px !important;
}
