<% notification_count = 0 %>
<% @notifications.each do |notification| %>
  <% next if (notification.notified_at < 24.hours.ago && notification.aggregated?) %>
  <% notification_count = notification_count + 1 %>
  <div class="single-article single-article-small-pic <%= "unseen" unless notification.read? %>" data-notification-id="<%= notification.id %>" >
    <%= render "#{notification.notifiable_type.downcase}", notification: notification %>
  </div>
<% rescue => e %>
  <% logger.error("Notifification error - #{e.message} - #{notification.id}") %>
<% end %>
