<% unless @user.authenticated_with_all_providers? %>
  <div class="crayons-card crayons-card--content-rows block">
    <% authentication_enabled_providers.each do |provider| %>
      <!--
        INFO: [@forem/oss] We only support creating new accounts and then
        signing in with them) using Apple Auth. Connecting Forem existing
        accounts to Apple Auth isn't supported and is why we skip it here.
      -->
      <% next if provider.provider_name == :apple %>
      <% unless @user.authenticated_through?(provider.provider_name) %>
        <%= form_with url: provider.sign_in_path(state: "profile"), class: "flex w-100", local: true do |f| %>
          <%= f.button type: :submit, class: "crayons-btn crayons-btn--icon-left crayons-btn--brand-#{provider.provider_name} m-1" do %>
            <%= inline_svg_tag("#{provider.provider_name}.svg", aria: true, class: "crayons-icon", title: provider.provider_name) %>
            Connect <%= provider.official_name %> Account
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
