<% unless @user.authenticated_with_all_providers? %>
  <div class="crayons-card crayons-card--content-rows block">
    <% authentication_enabled_providers.each do |provider| %>
      <!--
        TODO: [@forem/oss] Only until we refactor our cookie configurations
        we'll be able to connect existing accounts with SIWA. This should be
        done when Apple Auth Provider is no longer in 'Beta':
        https://github.com/forem/forem/pull/12114
      -->
      <% next if provider.provider_name == :apple %>
      <% unless @user.authenticated_through?(provider.provider_name) %>
        <%= form_with url: provider.sign_in_path(state: "profile"), class: "flex w-100", local: true do |f| %>
          <%= f.button type: :submit, class: "crayons-btn crayons-btn--icon-left crayons-btn--brand-#{provider.provider_name} m-1" do %>
            <%= inline_svg_tag("#{provider.provider_name}.svg", aria: true, class: "crayons-icon", title: provider.provider_name) %>
            Connect <%= provider.official_name %> Account
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
