<label class="rich-selector crayons-field crayons-field--radio editor-selector--<%= version %>">
  <%= f.radio_button :editor_version, version, checked: @users_setting.editor_version == version, class: "crayons-radio" %>
  <div class="crayons-field__label">
    <% if version == "v1" %>
      <%= t("views.settings.custom.basic") %>
    <% else %>
      <%= t("views.settings.custom.rich") %>
    <% end %>
  </div>
</label>
