<div class="crayons-card crayons-card--secondary crayons-notice crayons-notice--danger" data-testid="account-errors-panel" role="alert">
  <div class="crayons-card__header">
    <h3 class="crayons-card__headline">
      <%= pluralize(errors.size, "error") %> <%= title_suffix %>:
    </h3>
  </div>
  <div class="crayons-card__body">
    <ul>
      <% errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
</div>
