<label>
  <%= f.radio_button :experience_level, exp, checked: @user.experience_level == exp.to_i, class: "rich-selector-radio" %>
  <div class="rich-selector rich-selector--experience align-center my-2 mx-3 fw-medium fs-l">
    <p><%= i + 1 %></p>
    <p class="level_tag"><%= label[i] %></p>
  </div>
</label>
