<label class="rich-selector crayons-field crayons-field--radio font-selector--<%= font.tr("_", "-") %>">
  <%= f.radio_button :config_font, font, checked: @users_setting.resolved_font_name == font, class: "crayons-radio" %>
  <div class="crayons-field__label fw-normal">
    <%= font.tr("_", " ") %>
  </div>
</label>
