<% if show_integration %>
  <div class="crayons-card crayons-card--content-rows">
    <header>
      <h2 class="crayons-subtitle-1">
        GitHub
      </h2>
      <p class="color-base-70">
        Pin your GitHub repositories to your profile
      </p>
    </header>

    <div id="github-repos-container">
      <div class="github-repos loading-repos">
      </div>
    </div>

    <%= javascript_packs_with_chunks_tag "githubRepos", defer: true %>
  </div>
<% end %>
