<h3>Pin a few of your GitHub repos to your profile</h3>
<% if @client %>
  <div id="github-repos-container">
    <div class="github-repos loading-repos">
    </div>
  </div>
  <%= javascript_pack_tag "githubRepos", defer: true %>

<% end %>
