<% if show_integration %>
  <div class="crayons-card crayons-card--content-rows" id="github">
    <header>
      <h2 class="crayons-subtitle-1">
        <%= t("views.settings.extensions.github.heading") %>
      </h2>
      <p class="color-base-70">
        <%= t("views.settings.extensions.github.desc1") %>
      </p>
      <p class="color-base-70">
        <em><%= t("views.settings.extensions.github.desc2") %></em>
      </p>
    </header>

    <div id="github-repos-container">
      <div class="github-repos loading-repos">
      </div>
    </div>

    <%= javascript_packs_with_chunks_tag "githubRepos", defer: true %>
  </div>
<% end %>
