<% @pinned_stories = Article.published.where(user_id: @user.profile_pins.pluck(:profile_id)).
    limited_column_select.
    order("published_at DESC").decorate %>
<% @pinned_stories.each do |story| %>
  <%= render "articles/single_story", story: story %>
<% end %>
<% @stories.each_with_index do |story, i| %>
  <% unless @pinned_stories.pluck(:id).include?(story.id) %>
    <%= render "articles/single_story", story: story %>
  <% end %>
  <% if i == 0 && @comments.any? %>
    <%= render "users/comments_section" %>
  <% end %>
<% end %>
<% if !@stories.any? && @comments.any? %>
  <%= render "users/comments_section" %>
<% end %>
<% if @stories.size > 1 %>
  <div class="placeholder-div"></div>
<% end %>
<div class="single-article-small-pic" id="article-index-hidden-div" style="display:none"></div>
