<% if (header_fields = @profile.ui_attributes_for(area: :header)).present? %>
  <div class="profile-header__bottom fs-base">
    <% header_fields.sort.each do |title, value| %>
      <div class="crayons-definition">
        <strong class="crayons-definition__title">
          <%= sanitized_sidebar title.titleize %>
        </strong>
        <p class="crayons-definition__value">
        <%= sanitized_sidebar value %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
