<div id="sidebar-wrapper-right" class="sidebar-wrapper sidebar-wrapper-right">
  <div class="sidebar-bg" id="sidebar-bg-right">
  </div>

  <div class="side-bar sidebar-additional showing" id="sidebar-additional">
    <%= render "users/organizations_area" %>
    <%= render partial: "users/github_repositories_area", locals: { repositories: repositories } %>
    <%= render "articles/badges_area" %>
  </div>
</div>
