<label class="rich-selector crayons-field crayons-field--radio p-4 theme-selector theme-selector--<%= theme.tr("_", "-") %>" title="<%= theme.titlecase %>">
  <%= f.radio_button :config_theme, theme, checked: @user.config_theme == theme, class: "crayons-radio" %>
  <div class="crayons-field__label">
    <%= theme.titlecase %>

    <div class="theme-preview mt-4">
      <div class="theme-preview__nav">
        <div class="theme-preview__search"></div>
      </div>
      <div class="theme-preview__main">
        <div class="theme-preview__card"></div>
        <div class="theme-preview__middle">
          ~ ~ ~
          <div class="theme-preview__card"></div>
        </div>
        <div class="theme-preview__card"></div>
      </div>
    </div>
  </div>
</label>
