<!-- Start Bottom Shell -->
<% unless internal_navigation? %>
  <% cache("footer-and-signup-modal--#{user_signed_in?}--#{ForemInstance.deployed_at}", expires_in: 24.hours) do %>
    <%= render "layouts/footer" %>
    <%= render "layouts/signup_modal" unless user_signed_in? %>
  <% end %>
  <% if @shell %>
    <script defer>
      if (!document.title) {
        document.title = document.getElementsByTagName("TITLE")[1].textContent
      }
    </script>
  <% end %>
  </body>
  </html>
<% end %>
