body {
  background: unset;
  // This should be Storybook's root element.
  #root {
    padding: 2rem;
  }

  .sbdocs-ul,
  .sbdocs-ol {
    list-style: revert;
    margin: revert;
    padding: revert;
  }

  code {
    all: revert;
  }

  .docblock-source {
    margin: revert;
  }
}
.sb-show-main {
  transition: unset !important;
}
