.container {
  font-size: 1rem !important;
  line-height: 1.5;
  box-sizing: border-box;
  padding: 3em;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container > * + * {
  margin-top: 2em;
}

.container .body {
  font-size: inherit !important;
  width: 100%;
  line-height: 150%;
  padding-bottom: 2em;
}

.container .body h2,
.container .body p {
  padding: 0;
  margin: 0;
}

.container .body ul,
.container .body ol {
  margin: 0 0 0 1.5em;
  padding: 0;
}

.container div > * + * {
  margin-top: 1em;
}
