<div class="ltag_asciinema">
  <iframe frameborder="0"
    scrolling="no"
    id="asciinema_<%= id %>"
    src="https://asciinema.org/a/<%= id %>/iframe"
    loading="lazy"
    style="width:100%;height:50vh;">
  </iframe>
</div>
