<iframe
  style="border: 0; width: 100%; height: <%= height %>;"
  src="<%= player_src %>"
  allowfullscreen
  loading="lazy"
  seamless>
  <a href="<%= original_url %>" target="_blank" rel="noopener noreferrer">View on Bandcamp</a>
</iframe>