<div class="ltag_blogcast">
  <iframe frameborder="0"
    scrolling="no"
    id="blogcast_<%= id %>"
    mozallowfullscreen="true"
    src="https://blogcast.host/embed/<%= id %>"
    style="width:100%;min-height:132px;overflow:hidden;margin:0;"
    webkitallowfullscreen="true"></iframe>
</div>
