<div class="ltag_blogcast">
  <iframe frameborder="0"
    scrolling="no"
    id="blogcast_<%= id %>"
    mozallowfullscreen="true"
    src="https://app.blogcast.host/embed/<%= id %>"
    style="width:100%;min-height:132px;overflow:hidden;margin:0;"
    loading="lazy"
    webkitallowfullscreen="true"></iframe>
</div>
