<div class="ltag__cloud-run">
  <iframe 
    frameborder="0" 
    height="<%= iframe_height %>" 
    src="<%= url %>" 
    loading="lazy"
    style="width: 100%; aspect-ratio: <%= aspect_ratio %>; height: auto; border: 1px solid #e1e5e9; border-radius: 4px;">
  </iframe>
</div>
