<div class="ltag__cloud-run">
  <iframe 
    frameborder="0" 
    height="600px" 
    src="<%= url %>" 
    loading="lazy"
    style="width: 100%; border: 1px solid #e1e5e9; border-radius: 4px;">
  </iframe>
</div>
