<div class="ltag-feature">
  <% if icon.present? %>
    <div class="ltag-feature__icon">
      <% if icon.match?(/\A[a-z0-9-]+\z/) %>
        <%= crayons_icon_tag(icon, width: 32, height: 32) %>
      <% else %>
        <%= icon %>
      <% end %>
    </div>
  <% end %>
  <div class="ltag-feature__content">
    <div class="ltag-feature__title"><%= title %></div>
    <div class="ltag-feature__body"><%= content.html_safe %></div>
  </div>
</div>
