<div class="glitch-embed-wrap" style="height: 450px; width: 100%;margin: 1em auto 1.3em">
  <iframe
    sandbox="allow-same-origin allow-scripts allow-forms allow-top-navigation-by-user-activation allow-popups"
    src="https://glitch.com/embed/#!/embed/<%= id %>?<%= query %>"
    alt="<%= id %> on glitch"
    style="height: 100%; width: 100%; border: 0;margin:0;padding:0"
    loading="lazy"></iframe>
</div>
