<div class="ltag__huggingface">
  <iframe
    src="<%= url %>"
    title="Hugging Face Space"
    width="100%"
    height="600"
    frameborder="0"
    allowfullscreen
    loading="lazy"
    style="border: 1px solid #e1e5e9; border-radius: 4px;">
  </iframe>
</div>
