<div class="instagram-position">
  <iframe
    id="instagram-liquid-tag"
    src="https://www.instagram.com/p/<%= id %>/embed/captioned"
    allowtransparency="true"
    frameborder="0"
    data-instgrm-payload-id="instagram-media-payload-0"
    scrolling="no">
  </iframe>
  <script async defer src="https://platform.instagram.com/en_US/embeds.js"></script>
</div>
