<%
  clean_path = path.to_s.sub('/embed/captioned', '').sub('/embed', '')
  permalink = "https://www.instagram.com/#{clean_path}"
%>
<div class="instagram-position">
  <blockquote
    class="instagram-media"
    data-instgrm-captioned
    data-instgrm-permalink="<%= permalink %>"
    data-instgrm-version="14"
    style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
    <div style="padding:16px;">
      <a href="<%= permalink %>" target="_blank" style="background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;">
        <%= I18n.t("liquid_tags.instagram_tag.view_post") %>
      </a>
    </div>
  </blockquote>
  <script async defer src="https://platform.instagram.com/en_US/embeds.js"></script>
</div>
