<div class="ltag-netlify">
  <iframe
    src="<%= url %>"
    title="Netlify embed"
    style="width:100%; aspect-ratio:4/3; border:0; border-radius: 4px; overflow:hidden;"
    loading="lazy">
  </iframe>
</div>
