<div class="ltag-offer">
  <div class="ltag-offer__body"><%= content.html_safe %></div>
  <% if link.present? %>
    <a href="<%= link %>" class="ltag-offer__button crayons-btn crayons-btn--primary"><%= button_text %></a>
  <% end %>
</div>
