<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 2px 16px;
  }
</style>

<div class="card">
  <img src="<%= page.image %>" alt="Avatar">
  <div class="container">
    <h4><b><%= page.title %></b></h4> 
    <p><%= page.description %></p> 
  </div>
</div>
