<div class="ltag-poll">
  <h3>What is your favorite programming language?</h3>
  <ul class="ltag-pollanswers">
    <li><input type="radio" id="d" name="option" value="d"><label for="d">JavaScript</label></li>
    <li><input type="radio" id="r" name="option" value="r"><label for="r">Ruby</label></li>
    <li><input type="radio" id="o" name="option" value="o"><label for="o">Objective C</label></li>
    <li><input type="radio" id="s" name="option" value="s"><label for="s">Swift</label></li>
    <li><button>Just show me the results</button>
  </ul>
  <button class="cta">Submit</button>
</div>