<div class="ltag-poll">
  <h3><%= poll.prompt_html.html_safe %></h3>
  <ul class="ltag-pollanswers">
    <% poll.poll_options.each do |option| %>
      <li>
        <input type="radio" id="poll_option_<%= option.id %>" name="option" value="poll_option_<%= option.id %>">
        <label for="d"><%= option.processed_html.html_safe %></label>
      </li>
    <% end %>
    <li><button>Just show me the results</button>
  </ul>
  <button class="cta">Submit</button>
</div>