<div class="tiktok-embed">
    <iframe
        src="https://www.tiktok.com/embed/<%= id %>"
        className=""
        style="min-height: 740px"
        allowfullscreen
        scrolling="no"
        allow="encrypted-media;"
    ></iframe>
</div>