<blockquote class="twitter-tweet" style="min-height: 300px;padding-top:280px;">
  <a href="https://twitter.com/tweet/status/<%= id %>">Fetching tweet</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
