<div class="ltag_twitter_timeline-liquid-tag">
  <div class="twitter-timeline-thread">
    <div class="ltag-twitter-timeline-body">
      <a class="twitter-timeline" href="<%= href %>" />
    </div>
    <div class="tt-btn-container"><a class="tt-btn" href="<%= href %>"><%= t("views.liquids.twitter.view") %></a></div>
  </div>
</div>
