<div class="ltag__warp">
  <iframe
    src="<%= embed_url %>"
    title="Warp Terminal Block"
    width="100%"
    height="400"
    frameborder="0"
    allow="clipboard-read; clipboard-write"
    loading="lazy"
    style="border: 0; overflow: hidden; border-radius: 4px;">
  </iframe>
</div>
