<% if shorts %>
  <div style="max-width: 315px; margin: 0 auto;">
    <iframe
      src="https://www.youtube.com/embed/<%= id %>"
      style="width: 100%; aspect-ratio: 9 / 16;"
      allowfullscreen
      loading="lazy">
    </iframe>
  </div>
<% else %>
  <iframe
    src="https://www.youtube.com/embed/<%= id %>"
    style="width: 100%; aspect-ratio: 16 / 9;"
    allowfullscreen
    loading="lazy">
  </iframe>
<% end %>
