---
http_interactions:
- request:
    method: post
    uri: https://lambda.us-east-1.amazonaws.com/2015-03-31/functions/blackbox-production-couponCode/invocations
    body:
      encoding: UTF-8
      string: '{"inputNumber":1,"version":"member_discount"}'
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20180430T153708Z
      X-Amz-Content-Sha256:
      - 4e136bea32bf725f5995996014cfe71dcdefcdeefa92a351e0dd876eab352b02
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 57e751b9-4c8c-11e8-acfe-47fdbb39eee9
      X-Amzn-Remapped-Content-Length:
      - '0'
      X-Amz-Executed-Version:
      - "$LATEST"
    body:
      encoding: UTF-8
      string: '{"statusCode":200,"body":"{\"message\":814,\"input\":{\"inputNumber\":1,\"version\":\"member_discount\"}}"}'
  recorded_at: Mon, 30 Apr 2018 15:37:09 GMT
recorded_with: VCR 4.0.0
