---
http_interactions:
- request:
    method: post
    uri: https://lambda.us-east-1.amazonaws.com/2015-03-31/functions/aws-nodejs-ecma-script-dev-couponCode/invocations
    body:
      encoding: UTF-8
      string: '{"inputNumber":1,"version":"sticker_pack"}'
    headers:
      Content-Type:
      - ''
      X-Amz-Date:
      - 20180220T194923Z
      X-Amz-Content-Sha256:
      - e90a3c16abcd660d3078ddaa298ccea331a93956d6a1dfe2005d7ca9476e8eaa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 265c42da-1677-11e8-80ce-0d13b70af207
      X-Amzn-Remapped-Content-Length:
      - '0'
      X-Amz-Executed-Version:
      - "$LATEST"
    body:
      encoding: UTF-8
      string: '{"statusCode":200,"body":"{\"message\":818,\"input\":{\"inputNumber\":1,\"version\":\"sticker_pack\"}}"}'
  recorded_at: Tue, 20 Feb 2018 19:49:23 GMT
recorded_with: VCR 4.0.0
