---
http_interactions:
- request:
    method: get
    uri: https://us-east-api.getstream.io/api/v1.0/feed/notifications/1/?api_key=h59mvgpc5f4s&limit=60
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJyZXNvdXJjZSI6ImZlZWQiLCJhY3Rpb24iOiJyZWFkIiwiZmVlZF9pZCI6Im5vdGlmaWNhdGlvbnMxIn0.dh-WqKn6ZKl0n0rlFdBimZi8hxHUOsnAmXfYNSgBRBg
      Stream-Auth-Type:
      - jwt
      Content-Type:
      - application/json
      X-Stream-Client:
      - stream-ruby-client-2.4.5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1999'
      X-Ratelimit-Reset:
      - '1513716240'
    body:
      encoding: UTF-8
      string: '{"results":[{"activities":[{"actor":"User:83","foreign_id":"Reaction:1343","id":"e7ccb900-e4fa-11e7-8080-80005837d80c","object":"Reaction:1343","origin":null,"target":"Article_49","time":"2017-12-19T20:26:34.000000","verb":"Reaction"}],"activity_count":1,"actor_count":1,"created_at":"2017-12-19T20:26:34.874587","group":"Reaction_Reaction:1343_Article_49_2017-12-19-%h","id":"e8522c95-e4fa-11e7-8080-80015d84d5a4.Reaction_Reaction:1343_Article_49_2017-12-19-%h","is_read":false,"is_seen":false,"updated_at":"2017-12-19T20:26:34.874587","verb":"Reaction"},{"activities":[{"actor":"User:83","foreign_id":"Reaction:1342","id":"e7ccb900-e4fa-11e7-8080-800069d7e30c","object":"Reaction:1342","origin":null,"target":"Article_49","time":"2017-12-19T20:26:34.000000","verb":"Reaction"}],"activity_count":1,"actor_count":1,"created_at":"2017-12-19T20:26:34.730352","group":"Reaction_Reaction:1342_Article_49_2017-12-19-%h","id":"e83c2a63-e4fa-11e7-8080-80016ca58c39.Reaction_Reaction:1342_Article_49_2017-12-19-%h","[...]
- request:
    method: get
    uri: https://us-east-api.getstream.io/api/v1.0/feed/notifications/297/?api_key=h59mvgpc5f4s&limit=60
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJyZXNvdXJjZSI6ImZlZWQiLCJhY3Rpb24iOiJyZWFkIiwiZmVlZF9pZCI6Im5vdGlmaWNhdGlvbnMyOTcifQ.Zr2k56Gy3ByetRTaqFGIsr00cXdIOtWgPgOpE7r_p1w
      Stream-Auth-Type:
      - jwt
      Content-Type:
      - application/json
      X-Stream-Client:
      - stream-ruby-client-2.4.5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1999'
      X-Ratelimit-Reset:
      - '1513719720'
    body:
      encoding: UTF-8
      string: '{"results":[],"next":"","duration":"9.97ms","unseen":0,"unread":0}

'
  recorded_at: Tue, 19 Dec 2017 21:41:13 GMT
recorded_with: VCR 3.0.3
