---
http_interactions:
- request:
    method: get
    uri: https://us-east-api.stream-io-api.com/api/v1.0/feed/notifications/1/?api_key=h59mvgpc5f4s&limit=45
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Stream-Auth-Type:
      - jwt
      Content-Type:
      - application/json
      X-Stream-Client:
      - stream-ruby-client-2.5.10
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1999'
      X-Ratelimit-Reset:
      - '1530285420'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"activities":[{"actor":"User:34","foreign_id":"Comment:103","id":"60dd9800-73da-11e8-8080-80003b03c839","object":"Comment:103","origin":null,"target":"comment_2018-06-19
        12:04:00 -0400","time":"2018-06-19T16:04:00.000000","verb":"Comment"}],"activity_count":1,"actor_count":1,"created_at":"2018-06-19T16:04:00.817245","group":"Comment_comment_2018-06-19
        12:04:00 -0400_2018-06-19","id":"615a4ba7-73da-11e8-8080-80006ca62142.Comment_comment_2018-06-19
        12:04:00 -0400_2018-06-19","is_read":false,"is_seen":false,"updated_at":"2018-06-19T16:04:00.817245","verb":"Comment"},{"activities":[{"actor":"User:3","foreign_id":"Comment:44","id":"5c18e400-73da-11e8-8080-8000063df1d6","object":"Comment:44","origin":null,"target":"comment_2018-06-19
        12:03:52 -0400","time":"2018-06-19T16:03:52.000000","verb":"Comment"}],"activity_count":1,"actor_count":1,"created_at":"2018-06-19T16:03:52.934542","group":"Comment_comment_2018-06-19
        12:03:52 -0400_2018-06-19","id":"5ca77d8f-73da-11e8-8080-800140278641.Comment_comment[...]
