---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/thepracticaldev/dev.to/commits?per_page=100&since=2020-05-13T17:30:20%2B02:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=75a5f647-9ea6-4122-ab30-2d5be9d3f762,parent_id=6db9999a-169a-4105-83e5-3a6d9afe8e50,context=e30=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1589471074'
      Etag:
      - '"ad80555212e373f15c43b48178016ee7"'
      Last-Modified:
      - Thu, 14 May 2020 15:23:04 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"5b4ef244683bccd7c860408e43deadcfc05934f2","node_id":"MDY6Q29tbWl0NzM2NDg2Nzg6NWI0ZWYyNDQ2ODNiY2NkN2M4NjA0MDhlNDNkZWFkY2ZjMDU5MzRmMg==","commit":{"author":{"name":"Alex","email":"alexandersmith223@gmail.com","date":"2020-05-14T15:23:04Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2020-05-14T15:23:04Z"},"message":"[deploy]
        Validate both images and pattern_images when creating podcasts (#7828)\n\n*
        Validate both images and pattern_images\r\n\r\n* Move image_keys to IMAGE_KEYS
        constant\r\n\r\n* Use slice over select","tree":{"sha":"4d04c1fc89a1a899d6b9cc6c32caf8bf738f6fc8","url":"https://api.github.com/repos/thepracticaldev/dev.to/git/trees/4d04c1fc89a1a899d6b9cc6c32caf8bf738f6fc8"},"url":"https://api.github.com/repos/thepracticaldev/dev.to/git/commits/5b4ef244683bccd7c860408e43deadcfc05934f2","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJevWJYCRBK7hj4Ov3rIwAAdHIIAAkQtex6PGcKhhvBldOsFg9U\nWHcum/yFFPX1j5ELRqGmuihAXQdmjNFvfoLb0rur1OTnLuPxIp9DEctmXcpxyZ93\nAApqgsNYpfAqbc1Z9ZUOgj1flfsCoAmDwGgW+uF+Ro/ciOv2CZLS1ibT+K4bNBDF\ni7os6U6avpP6RActr0zVCYEcpS1YL7DddJP82eAy+AbOYAjUJ0Xbv7FigN497lvd\n5Z4yfKwDecufOLs+RLTLMv8pV/9L/KYNuBd0Y5JKABfkrnNZhsllc8mqtvXpNBjO\nrFsxOyZBDhZP35JOCFkNCExLNkS+joaxhfGPAiVwmCBlDiJGAvJBUtBZRaJwFb0=\n=b7P8\n-----END
        PGP SIGNATURE-----\n","payload":"tree 4d04c1fc89a1a899d6b9cc6c32caf8bf738f6fc8\nparent
        321b24d2a0daac52d40fb462431937397de1d58d\nauthor Alex <alexandersmith223@gmail.com>
        1589469784 -0400\ncommitter GitHub <noreply@github.com> 1589469784 -0400\n\n[deploy]
        Validate both images and pattern_images when creating podcasts (#7828)\n\n*
        Validate both images and pattern_images\r\n\r\n* Move image_keys to IMAGE_KEYS
        constant\r\n\r\n* Use slice over select"}},"url":"https://api.github.com/repos/thepracticaldev/dev.to/commits/5b4ef244683bccd7c860408e43deadcfc05934f2","html_url":"https://github.com/thepracticaldev/dev.to/commit/5b4ef244683bccd7c860408e43deadcfc05934f2","comments_url":"https://api.github.com/repos/thepracticaldev/dev.to/commits/5b4ef244683bccd7c860408e43deadcfc05934f2/comments","author":{"login":"atsmith813","id":15987080,"node_id":"MDQ6VXNlcjE1OTg3MDgw","avatar_url":"https://avatars3.githubusercontent.com/u/15987080?v=4","gravatar_id":"","url":"https://api.github.com/users/atsmith813","html_url":"https://github.com/atsmith813","followers_url":"https://api.github.com/users/atsmith813/followers","following_url":"https://api.github.com/users/atsmith813/following{/other_user}","gists_url":"https://api.github.com/users/atsmith813/gists{/gist_id}","starred_url":"https://api.github.com/users/atsmith813/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/atsmith813/subscriptions","organizations_url":"https://api.github.com/users/atsmith813/orgs","repos_url":"https://api.github.com/users/atsmith813/repos","events_url":"https://api.github.com/users/atsmith813/events{/privacy}","received_events_url":"https://api.github.com/users/atsmith813/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars3.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"321b24d2a0daac52d40fb462431937397de1d58d","url":"https://api.github.com/repos/thepracticaldev/dev.to/commits/321b24d2a0daac52d40fb462431937397de1d58d","html_url":"https://github.com/thepracticaldev/dev.to/commit/321b24d2a0daac52d40fb462431937397de1d58d"}]},{"sha":"321b24d2a0daac52d40fb462431937397de1d58d","node_id":"MDY6Q29tbWl0NzM2NDg2Nzg6MzIxYjI0ZDJhMGRhYWM1MmQ0MGZiNDYyNDMxOTM3Mzk3ZGUxZDU4ZA==","commit":{"author":{"name":"Mac
        Siri","email":"krairit.siri@gmail.com","date":"2020[...]
- request:
    method: get
    uri: https://api.github.com/repos/thepracticaldev/DEV-ios/commits?per_page=100&since=2020-05-13T17:30:20%2B02:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=8dacfe99-df39-4cf1-b2c5-6d21db7e47e5,parent_id=14757338-924b-43e6-bfd9-8b0fd3bc8e38,context=e30=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1589471074'
      Etag:
      - '"aacc6f617e4d9cd3fbca87b8d3748d98"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Thu, 14 May 2020 15:30:20 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thepracticaldev/DEV-Android/commits?per_page=100&since=2020-05-13T17:30:20%2B02:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=4ba9c1ab-f8e8-4e00-87f6-43826250d804,parent_id=336fd340-ec70-4750-b589-8a7bc612e817,context=e30=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1589471074'
      Etag:
      - '"aacc6f617e4d9cd3fbca87b8d3748d98"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Thu, 14 May 2020 15:30:20 GMT
recorded_with: VCR 5.1.0
