---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/facebook/react/issues/9218
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1512059540'
      Etag:
      - W/"4aab88b09690a2c1bfd81e59e0fc5d1a"
      Last-Modified:
      - Tue, 21 Nov 2017 13:28:29 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/facebook/react/issues/9218","repository_url":"https://api.github.com/repos/facebook/react","labels_url":"https://api.github.com/repos/facebook/react/issues/9218/labels{/name}","comments_url":"https://api.github.com/repos/facebook/react/issues/9218/comments","events_url":"https://api.github.com/repos/facebook/react/issues/9218/events","html_url":"https://github.com/facebook/react/issues/9218","id":215281877,"number":9218,"title":"[Feature]
        granular forceUpdate ","user":{"login":"thysultan","id":810601,"avatar_url":"https://avatars2.githubusercontent.com/u/810601?v=4","gravatar_id":"","url":"https://api.github.com/users/thysultan","html_url":"https://github.com/thysultan","followers_url":"https://api.github.com/users/thysultan/followers","following_url":"https://api.github.com/users/thysultan/following{/other_user}","gists_url":"https://api.github.com/users/thysultan/gists{/gist_id}","starred_url":"https://api.github.com/users/thysultan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thysultan/subscriptions","organizations_url":"https://api.github.com/users/thysultan/orgs","repos_url":"https://api.github.com/users/thysultan/repos","events_url":"https://api.github.com/users/thysultan/events{/privacy}","received_events_url":"https://api.github.com/users/thysultan/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":13,"created_at":"2017-03-19T18:00:55Z","updated_at":"2017-10-04T19:11:09Z","closed_at":"2017-10-04T18:53:07Z","author_association":"NONE","body":"When
        `forceUpdate` is called on a long list at the very least the whole list must
        be traversed. For example with the following list `arr = [1, 2, 3, 4, 5, 6]`
        and if we where to push 7 `arr.push(7)` the reconciler will go through elements
        1 - 6 and then add a 7 at the end of that list. The suggestion to add support
        for the following forceUpdate signature.\r\n\r\n```js\r\nforceUpdate(a: {function|number},
        b: number?)\r\n```\r\nWhere w[...]
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"text":"When `forceUpdate` is called on a long list at the very least
        the whole list must be traversed. For example with the following list `arr
        = [1, 2, 3, 4, 5, 6]` and if we where to push 7 `arr.push(7)` the reconciler
        will go through elements 1 - 6 and then add a 7 at the end of that list. The
        suggestion to add support for the following forceUpdate signature.\r\n\r\n```js\r\nforceUpdate(a:
        {function|number}, b: number?)\r\n```\r\nWhere when passed as an integ[...]
