---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/thepracticaldev/dev.to/issues/1784
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=b65e94e3-c8ac-401d-ba62-257e1d2e7e3c,parent_id=3fc87396-9ae3-4616-900b-e407ea25dfdc,context=e30=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1588444540'
      Etag:
      - '"f2cad16b94dc4e2661999ed31d38d0c0"'
      Last-Modified:
      - Wed, 29 Apr 2020 08:10:43 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/thepracticaldev/dev.to/issues/1784","repository_url":"https://api.github.com/repos/thepracticaldev/dev.to","labels_url":"https://api.github.com/repos/thepracticaldev/dev.to/issues/1784/labels{/name}","comments_url":"https://api.github.com/repos/thepracticaldev/dev.to/issues/1784/comments","events_url":"https://api.github.com/repos/thepracticaldev/dev.to/issues/1784/events","html_url":"https://github.com/thepracticaldev/dev.to/pull/1784","id":408920357,"node_id":"MDExOlB1bGxSZXF1ZXN0MjUyMDIwNzM5","number":1784,"title":"Added
        GitHub PR liquid tag support","user":{"login":"Glennmen","id":11406433,"node_id":"MDQ6VXNlcjExNDA2NDMz","avatar_url":"https://avatars3.githubusercontent.com/u/11406433?v=4","gravatar_id":"","url":"https://api.github.com/users/Glennmen","html_url":"https://github.com/Glennmen","followers_url":"https://api.github.com/users/Glennmen/followers","following_url":"https://api.github.com/users/Glennmen/following{/other_user}","gists_url":"https://api.github.com/users/Glennmen/gists{/gist_id}","starred_url":"https://api.github.com/users/Glennmen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Glennmen/subscriptions","organizations_url":"https://api.github.com/users/Glennmen/orgs","repos_url":"https://api.github.com/users/Glennmen/repos","events_url":"https://api.github.com/users/Glennmen/events{/privacy}","received_events_url":"https://api.github.com/users/Glennmen/received_events","type":"User","site_admin":false},"labels":[{"id":1123882148,"node_id":"MDU6TGFiZWwxMTIzODgyMTQ4","url":"https://api.github.com/repos/thepracticaldev/dev.to/labels/PR:%20merged","name":"PR:
        merged","color":"786DBE","default":false,"description":"bot applied label
        for PR''s that are merged"}],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2019-02-11T18:39:37Z","updated_at":"2019-02-15T18:40:22Z","closed_at":"2019-02-15T18:40:16Z","author_association":"CONTRIBUTOR","pull_request":{"url":"https://api.github.com/repos/thepracticaldev/dev.to/pulls/1784","html_url":"https://github.com/thepracticaldev/dev.to/pull/1784","diff_url":"https://github.com/thepracticaldev/dev.to/pull/1784.diff","patch_url":"https://github.com/thepracticaldev/dev.to/pull/1784.patch"},"body":"<!---
        Prepend PR title with [WIP] if work in progress. Remove when ready for review.
        -->\r\n\r\n## What type of PR is this? (check all applicable)\r\n\r\n- [ ]
        Refactor\r\n- [x] Feature\r\n- [ ] Bug Fix\r\n- [ ] Documentation Update\r\n\r\n##
        Description\r\n\r\nAdd support for Github pull request via liquid tags in
        markdown.\r\n`{% github https://github.com/thepracticaldev/dev.to/pull/163[...]
