---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/forem/forem/issues/comments/621043602?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=bbb754e247f18a9396c8c3b36e07aa36,parent_id=b638f84c9184c5b7,context=e30=
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c153e0989d42ab0f154ef567a85d0f4466896347cb8249657a7102975002f1ea"'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1644256079'
      X-Ratelimit-Used:
      - '14'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/forem/forem/issues/comments/621043602","html_url":"https://github.com/forem/forem/issues/7434#issuecomment-621043602","issue_url":"https://api.github.com/repos/forem/forem/issues/7434","id":621043602,"node_id":"MDEyOklzc3VlQ29tbWVudDYyMTA0MzYwMg==","user":{"login":"catalinpit","id":25515812,"node_id":"MDQ6VXNlcjI1NTE1ODEy","avatar_url":"https://avatars.githubusercontent.com/u/25515812?u=63150de0534e31d7a357f43fc78cc5a119a8b02a&v=4","gravatar_id":"","url":"https://api.github.com/users/catalinpit","html_url":"https://github.com/catalinpit","followers_url":"https://api.github.com/users/catalinpit/followers","following_url":"https://api.github.com/users/catalinpit/following{/other_user}","gists_url":"https://api.github.com/users/catalinpit/gists{/gist_id}","starred_url":"https://api.github.com/users/catalinpit/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/catalinpit/subscriptions","organizations_url":"https://api.github.com/users/catalinpit/orgs","repos_url":"https://api.github.com/users/catalinpit/repos","events_url":"https://api.github.com/users/catalinpit/events{/privacy}","received_events_url":"https://api.github.com/users/catalinpit/received_events","type":"User","site_admin":false},"created_at":"2020-04-29T07:46:28Z","updated_at":"2020-04-29T07:46:28Z","author_association":"CONTRIBUTOR","body":"What
        do you think, @ludwiczakpawel?","reactions":{"url":"https://api.github.com/repos/forem/forem/issues/comments/621043602/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null}'
  recorded_at: Mon, 07 Feb 2022 17:25:26 GMT
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"text":"What do you think, @ludwiczakpawel?"}'
    headers:
      Content-Type:
      - application/json
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=9c7e34747a1ae9427bcb0653b19de5c8,parent_id=1af853b1b2e75e6d,context=e30=
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.2
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1644256079'
      X-Ratelimit-Used:
      - '15'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: "<p>What do you think, @ludwiczakpawel?</p>\n"
  recorded_at: Mon, 07 Feb 2022 17:25:26 GMT
recorded_with: VCR 6.0.0
