---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/forem/forem/issues/7653
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=29114a0e1d9fac2b9c31c0fd9221c015,parent_id=fc35fee94a2cbb55,context=e30=
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"da1ce5f4ec8dd49faa549bbeaa8f3b647de39fc035310a4f30d2beab2be22167"'
      Last-Modified:
      - Mon, 31 Jan 2022 19:53:28 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1644256079'
      X-Ratelimit-Used:
      - '12'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/forem/forem/issues/7653","repository_url":"https://api.github.com/repos/forem/forem","labels_url":"https://api.github.com/repos/forem/forem/issues/7653/labels{/name}","comments_url":"https://api.github.com/repos/forem/forem/issues/7653/comments","events_url":"https://api.github.com/repos/forem/forem/issues/7653/events","html_url":"https://github.com/forem/forem/pull/7653","id":610931120,"node_id":"MDExOlB1bGxSZXF1ZXN0NDEyMjcxMzIy","number":7653,"title":"Log
        RateLimit hits to Datadog for Better Reporting","user":{"login":"mstruve","id":1813380,"node_id":"MDQ6VXNlcjE4MTMzODA=","avatar_url":"https://avatars.githubusercontent.com/u/1813380?v=4","gravatar_id":"","url":"https://api.github.com/users/mstruve","html_url":"https://github.com/mstruve","followers_url":"https://api.github.com/users/mstruve/followers","following_url":"https://api.github.com/users/mstruve/following{/other_user}","gists_url":"https://api.github.com/users/mstruve/gists{/gist_id}","starred_url":"https://api.github.com/users/mstruve/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mstruve/subscriptions","organizations_url":"https://api.github.com/users/mstruve/orgs","repos_url":"https://api.github.com/users/mstruve/repos","events_url":"https://api.github.com/users/mstruve/events{/privacy}","received_events_url":"https://api.github.com/users/mstruve/received_events","type":"User","site_admin":false},"labels":[{"id":1123882148,"node_id":"MDU6TGFiZWwxMTIzODgyMTQ4","url":"https://api.github.com/repos/forem/forem/labels/PR:%20merged","name":"PR:
        merged","color":"786DBE","default":false,"description":"bot applied label
        for PR''s that are merged"}],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":2,"created_at":"2020-05-01T19:40:23Z","updated_at":"2020-05-01T21:47:35Z","closed_at":"2020-05-01T21:47:32Z","author_association":"CONTRIBUTOR","active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/forem/forem/pulls/7653","html_url":"https://github.com/forem/forem/pull/7653","diff_url":"https://github.com/forem/forem/pull/7653.diff","patch_url":"https://github.com/forem/forem/pull/7653.patch","merged_at":"2020-05-01T21:47:32Z"},"body":"\r\n##
        What type of PR is this? (check all applicable)\r\n- [x] Feature\r\n- [x]
        Optimization\r\n\r\n## Description\r\nRather than sending (almost) every single
        rate limit hit to Slack, lets send a metric to Datadog that we can track and
        alert on. The goal here is to send this data to Datadog. Once the data is
        there @michael-tharrington can then decide what thresholds he wants to set
        for what actions to determine when he gets alerted. Datadog then will be responsible
        for sending that information to Slack rather than our app. \r\n\r\nThis will
        allow us to set thresholds and alert only when users are excessively hitting
        rate limits rather than every single time which sometimes is not concerning
        if they only hit it once, like a pentester trying to see if a rate limiter
        exists. \r\n\r\n## Related Tickets & Documents\r\nhttps://github.com/thepracticaldev/dev.to/projects/9#card-37397577\r\n\r\n##
        Added tests?\r\n- [x] yes\r\n\r\n![alt_text](https://media1.giphy.com/media/l2YWsOymHDRFYqyAM/giphy.gif)\r\n","closed_by":{"login":"mstruve","id":1813380,"node_id":"MDQ6VXNlcjE4MTMzODA=","avatar_url":"https://avatars.githubusercontent.com/u/1813380?v=4","gravatar_id":"","url":"https://api.github.com/users/mstruve","html_url":"https://github.com/mstruve","followers_url":"https://api.github.com/users/mstruve/followers","following_url":"https://api.github.com/users/mstruve/following{/other_user}","gists_url":"https://api.github.com/users/mstruve/gists{/gist_id}","starred_url":"https://api.github.com/users/mstruve/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mstruve/subscriptions","organizations_url":"https://api.github.com/users/mstruve/orgs","repos_url":"https://api.github.com/users/mstruve/repos","events_url":"https://api.github.com/users/mstruve/events{/privacy}","received_events_url":"https://api.github.com/users/mstruve/received_events","type":"User","site_admin":false},"reactions":{"url":"https://api.github.com/repos/forem/forem/issues/7653/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/forem/forem/issues/7653/timeline","performed_via_github_app":null}'
  recorded_at: Mon, 07 Feb 2022 17:25:25 GMT
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"text":"\r\n## What type of PR is this? (check all applicable)\r\n-
        [x] Feature\r\n- [x] Optimization\r\n\r\n## Description\r\nRather than sending
        (almost) every single rate limit hit to Slack, lets send a metric to Datadog
        that we can track and alert on. The goal here is to send this data to Datadog.
        Once the data is there @michael-tharrington can then decide what thresholds
        he wants to set for what actions to determine when he gets alerted. Datadog
        then will be responsible for sending that information to Slack rather than
        our app. \r\n\r\nThis will allow us to set thresholds and alert only when
        users are excessively hitting rate limits rather than every single time which
        sometimes is not concerning if they only hit it once, like a pentester trying
        to see if a rate limiter exists. \r\n\r\n## Related Tickets & Documents\r\nhttps://github.com/thepracticaldev/dev.to/projects/9#card-37397577\r\n\r\n##
        Added tests?\r\n- [x] yes\r\n\r\n![alt_text](https://media1.giphy.com/media/l2YWsOymHDRFYqyAM/giphy.gif)\r\n"}'
    headers:
      Content-Type:
      - application/json
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=c98be95af09d867f337239da9e08fb5d,parent_id=387598550588eaa9,context=e30=
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.2
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1644256079'
      X-Ratelimit-Used:
      - '13'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |
        <h2>
        <a id="user-content-what-type-of-pr-is-this-check-all-applicable" class="anchor" href="#what-type-of-pr-is-this-check-all-applicable" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>What type of PR is this? (check all applicable)</h2>
        <ul>
        <li>[x] Feature</li>
        <li>[x] Optimization</li>
        </ul>
        <h2>
        <a id="user-content-description" class="anchor" href="#description" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Description</h2>
        <p>Rather than sending (almost) every single rate limit hit to Slack, lets send a metric to Datadog that we can track and alert on. The goal here is to send this data to Datadog. Once the data is there @michael-tharrington can then decid[...]
