---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/thepracticaldev/dev.to/commits?per_page=100&since=2020-05-14T21:49:20%2B08:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=f2ee3bf1-a389-496d-835e-5ed334f186d6,parent_id=224095b5-0ccd-4dde-a6cd-09a79d5bf33e,context=e30=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1589547040'
      Etag:
      - '"260991b4be19a17700d755051089fa08"'
      Last-Modified:
      - Fri, 15 May 2020 09:35:44 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"f15797ac17eddfa13541d5992f86e8f4933ebe50","node_id":"MDY6Q29tbWl0NzM2NDg2Nzg6ZjE1Nzk3YWMxN2VkZGZhMTM1NDFkNTk5MmY4NmU4ZjQ5MzNlYmU1MA==","commit":{"author":{"name":"Mac
        Siri","email":"krairit.siri@gmail.com","date":"2020-05-15T09:35:44Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2020-05-15T09:35:44Z"},"message":"Expand
        webhook API request specs (#7872)\n\n* Expand webhook API specs\r\n\r\n* Use
        single expectation\r\n\r\n* Refactor include examples","tree":{"sha":"69f0c627ae309e09dc33be23841f70219dc4ffbc","url":"https://api.github.com/repos/thepracticaldev/dev.to/git/trees/69f0c627ae309e09dc33be23841f70219dc4ffbc"},"url":"https://api.github.com/repos/thepracticaldev/dev.to/git/commits/f15797ac17eddfa13541d5992f86e8f4933ebe50","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJevmJwCRBK7hj4Ov3rIwAAdHIIAGdBA8/KG889oH/ikrbuiszD\nv2c/Nscu+SMhpRfQmYXgAwZBLCgvgWdLQZ9leLEXEoezFoohXDCsDJqNQDQf3tog\nbCawosFQRIyJQCA6X/6eLMYypIbgPb8jEhfGusX0zx8cajQsDdsy3rK9iokKOn56\nGizU9ltk+Lh4ZFfJb1gwAiQID0H8R9dsBfobDmAgQSdm0KEWVaCraDjRkbns4a0S\n06o8Mtyn57Rhg0+AjgTin6VZChLHzjCpFu644CLTSfgJM3PHrdqlUTUFPAuednFQ\n98zJmD/StnIIiQwMm32fhHaO/AK2h9Bl7mEA/4Cxecbi0CmKffx+UAQ20zsWvy4=\n=fGqa\n-----END
        PGP SIGNATURE-----\n","payload":"tree 69f0c627ae309e09dc33be23841f70219dc4ffbc\nparent
        dd7f51f7fad3932bba36574a43159c061e816a11\nauthor Mac Siri <krairit.siri@gmail.com>
        1589535344 -0400\ncommitter GitHub <noreply@github.com> 1589535344 +0200\n\nExpand
        webhook API request specs (#7872)\n\n* Expand webhook API specs\r\n\r\n* Use
        single expectation\r\n\r\n* Refactor include examples"}},"url":"https://api.github.com/repos/thepracticaldev/dev.to/commits/f15797ac17eddfa13541d5992f86e8f4933ebe50","html_url":"https://github.com/thepracticaldev/dev.to/commit/f15797ac17eddfa13541d5992f86e8f4933ebe50","comments_url":"https://api.github.com/repos/thepracticaldev/dev.to/commits/f15797ac17eddfa13541d5992f86e8f4933ebe50/comments","author":{"login":"maestromac","id":15793250,"node_id":"MDQ6VXNlcjE1NzkzMjUw","avatar_url":"https://avatars2.githubusercontent.com/u/15793250?v=4","gravatar_id":"","url":"https://api.github.com/users/maestromac","html_url":"https://github.com/maestromac","followers_url":"https://api.github.com/users/maestromac/followers","following_url":"https://api.github.com/users/maestromac/following{/other_user}","gists_url":"https://api.github.com/users/maestromac/gists{/gist_id}","starred_url":"https://api.github.com/users/maestromac/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/maestromac/subscriptions","organizations_url":"https://api.github.com/users/maestromac/orgs","repos_url":"https://api.github.com/users/maestromac/repos","events_url":"https://api.github.com/users/maestromac/events{/privacy}","received_events_url":"https://api.github.com/users/maestromac/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars3.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"dd7f51f7fad3932bba36574a43159c061e816a11","url":"https://api.github.com/repos/thepracticaldev/dev.to/commits/dd7f51f7fad3932bba36574a43159c061e816a11","html_url":"https://github.com/thepracticaldev/dev.to/commit/dd7f51f7fad3932bba36574a43159c061e816a11"}]},{"sha":"dd7f51f7fad3932bba36574a43159c061e816a11","node_id":"MDY6Q29tbWl0NzM2NDg2Nzg6ZGQ3ZjUxZjdmYWQzOTMyYmJhMzY1NzRhNDMxNTljMDYxZTgxNmExMQ==","commit":{"author":{"name":"Molly
        Struve","email":"mollylbs@gmail.com","date":"2020[...]
- request:
    method: get
    uri: https://api.github.com/repos/thepracticaldev/DEV-ios/commits?per_page=100&since=2020-05-14T21:49:20%2B08:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=9d3da7e0-102e-49d7-bc90-d03b229884ba,parent_id=41b3335a-cddf-4261-9fea-52c9ff5e9011,context=e30=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1589547040'
      Etag:
      - '"aacc6f617e4d9cd3fbca87b8d3748d98"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Fri, 15 May 2020 13:49:20 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thepracticaldev/DEV-Android/commits?per_page=100&since=2020-05-14T21:49:20%2B08:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=6c83ab22-7b65-4350-a9d4-ff2c54d8a52b,parent_id=0b929321-b5b0-4cf5-9299-51369eaf6905,context=e30=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1589547040'
      Etag:
      - '"aacc6f617e4d9cd3fbca87b8d3748d98"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Fri, 15 May 2020 13:49:20 GMT
recorded_with: VCR 5.1.0
