---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/thepracticaldev/dev.to/issues/510
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1537907261'
      Etag:
      - W/"cf563de9cf5fd804d0232405d071b71a"
      Last-Modified:
      - Tue, 04 Sep 2018 21:09:29 GMT
      X-Oauth-Scopes:
      - public_repo, repo:status
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/thepracticaldev/dev.to/issues/510","repository_url":"https://api.github.com/repos/thepracticaldev/dev.to","labels_url":"https://api.github.com/repos/thepracticaldev/dev.to/issues/510/labels{/name}","comments_url":"https://api.github.com/repos/thepracticaldev/dev.to/issues/510/comments","events_url":"https://api.github.com/repos/thepracticaldev/dev.to/issues/510/events","html_url":"https://github.com/thepracticaldev/dev.to/issues/510","id":354483683,"node_id":"MDU6SXNzdWUzNTQ0ODM2ODM=","number":510,"title":"Add
        to no follow to moderate links","user":{"login":"Zhao-Andy","id":17884966,"node_id":"MDQ6VXNlcjE3ODg0OTY2","avatar_url":"https://avatars0.githubusercontent.com/u/17884966?v=4","gravatar_id":"","url":"https://api.github.com/users/Zhao-Andy","html_url":"https://github.com/Zhao-Andy","followers_url":"https://api.github.com/users/Zhao-Andy/followers","following_url":"https://api.github.com/users/Zhao-Andy/following{/other_user}","gists_url":"https://api.github.com/users/Zhao-Andy/gists{/gist_id}","starred_url":"https://api.github.com/users/Zhao-Andy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Zhao-Andy/subscriptions","organizations_url":"https://api.github.com/users/Zhao-Andy/orgs","repos_url":"https://api.github.com/users/Zhao-Andy/repos","events_url":"https://api.github.com/users/Zhao-Andy/events{/privacy}","received_events_url":"https://api.github.com/users/Zhao-Andy/received_events","type":"User","site_admin":false},"labels":[{"id":1018588332,"node_id":"MDU6TGFiZWwxMDE4NTg4MzMy","url":"https://api.github.com/repos/thepracticaldev/dev.to/labels/approved","name":"approved","color":"A3FFBD","default":false},{"id":480869965,"node_id":"MDU6TGFiZWw0ODA4Njk5NjU=","url":"https://api.github.com/repos/thepracticaldev/dev.to/labels/bug","name":"bug","color":"ff050d","default":true},{"id":669356684,"node_id":"MDU6TGFiZWw2NjkzNTY2ODQ=","url":"https://api.github.com/repos/thepracticaldev/dev.to/labels/good%20first%20issue","name":"good
        first issue","color":"724ac9","default":true}],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2018-08-27T21:23:19Z","updated_at":"2018-09-04T21:09:29Z","closed_at":"2018-09-04T21:09:29Z","author_association":"COLLABORATOR","body":"@jessleenyc
        commented on [Tue Jul 31 2018](https://github.com/thepracticaldev/dev.to_core/issues/638)\n\n#
        _TASK or Feature_\n### Request or User Story\nGetting lots of crawlers clicking
        on the hidden link that''s giving them 404 errors and jamming up honeybadger!\n###
        Definition of Done\n\n### Notes\n\n\n\n---\n\n@arun1595 commented on [Wed
        Aug 01 2018](https://github.com/thepracticaldev/dev.to_core/issues/638#issuecomment-409774531)\n\n@jessleenyc
        I would like to tackle this issue. Can you guide me with what \"moderate\"
        links are?\r\n\r\nThanks.\n\n---\n\n@Zhao-Andy commented on [Mon Aug 27 2018](https://github.com/thepracticaldev/dev.to_core/issues/638#issuecomment-416373282)\n\nHey
        @arun1595, we''re going to move this to the public repo and continue the conversation
        there.\n\n","closed_by":{"login":"benhalpern","id":3102842,"node_id":"MDQ6VXNlcjMxMDI4NDI=","avatar_url":"https://avatars0.githubusercontent.com/u/3102842?v=4","gravatar_id":"","url":"https://api.github.com/users/benhalpern","html_url":"https://github.com/benhalpern","followers_url":"https://api.github.com/users/benhalpern/followers","following_url":"https://api.github.com/users/benhalpern/following{/other_user}","gists_url":"https://api.github.com/users/benhalpern/gists{/gist_id}","starred_url":"https://api.github.com/users/benhalpern/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/benhalpern/subscriptions","organizations_url":"https://api.github.com/users/benhalpern/orgs","repos_url":"https://api.github.com/users/benhalpern/repos","events_url":"https://api.github.com/users/benhalpern/events{/privacy}","received_events_url":"https://api.github.com/users/benhalpern/received_events","type":"User","site_admin":false}}'
  recorded_at: Tue, 25 Sep 2018 19:42:19 GMT
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"text":"@jessleenyc commented on [Tue Jul 31 2018](https://github.com/thepracticaldev/dev.to_core/issues/638)\n\n#
        _TASK or Feature_\n### Request or User Story\nGetting lots of crawlers clicking
        on the hidden link that''s giving them 404 errors and jamming up honeybadger!\n###
        Definition of Done\n\n### Notes\n\n\n\n---\n\n@arun1595 commented on [Wed
        Aug 01 2018](https://github.com/thepracticaldev/dev.to_core/issues/638#issuecomment-409774531)\n\n@jessleenyc
        I would like to tackle this issue. Can you guide me with what \"moderate\"
        links are?\r\n\r\nThanks.\n\n---\n\n@Zhao-Andy commented on [Mon Aug 27 2018](https://github.com/thepracticaldev/dev.to_core/issues/638#issuecomment-416373282)\n\nHey
        @arun1595, we''re going to move this to the public repo and continue the conversation
        there.\n\n"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1537907261'
      X-Commonmarker-Version:
      - 0.17.11
    body:
      encoding: ASCII-8BIT
      string: |
        <p>@jessleenyc commented on <a href="https://github.com/thepracticaldev/dev.to_core/issues/638">Tue Jul 31 2018</a></p>
        <h1>
        <a id="user-content-task-or-feature" class="anchor" href="#task-or-feature" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a><em>TASK or Feature</em>
        </h1>
        <h3>
        <a id="user-content-request-or-user-story" class="anchor" href="#request-or-user-story" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Request or User Story</h3>
        <p>Getting lots of crawlers clicking on the hidden link that's giving them 404 errors and jamming up honeybadger!</p>
        <h3>
        <a id="user-content-definition-of-done" class="anchor" href="#definition-of-done" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Definition of Done</h3>
        <h3>
        <a id="user-content-notes" class="anchor" href="#notes" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Notes</h3>
        <hr>
        <p>@arun1595 commented on <a href="https://github.com/thepracticaldev/dev.to_core/issues/638#issuecomment-409774531">Wed Aug 01 2018</a></p>
        <p>@jessleenyc I would like to tackle this issue. Can you guide me with what "moderate" links are?</p>
        <p>Thanks.</p>
        <hr>
        <p>@Zhao-Andy commented on <a href="https://github.com/thepracticaldev/dev.to_core/issues/638#issuecomment-416373282">Mon Aug 27 2018</a></p>
        <p>Hey @arun1595, we're going to move this to the public repo and continue the conversation there.</p>
  recorded_at: Tue, 25 Sep 2018 19:42:19 GMT
recorded_with: VCR 4.0.0
