---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/forem/DEV-Android/commits?per_page=100&since=2021-08-15T13:49:20Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=005588cb7b6c3b58acd46a7e2f99ffbe,parent_id=af92fa0c22653178,context=e30=
  response:
    status:
      code: 200
      message: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d41c935eb5c029c094b396655d6701ed2035fea14feb9434d73918c953bbc336"'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1629181572'
      X-Ratelimit-Used:
      - '5'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Mon, 16 Aug 2021 13:49:20 GMT
- request:
    method: get
    uri: https://api.github.com/repos/forem/DEV-Android/contributors?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=2a42ed74ecdc2cf6790ceb258db5f2b8,parent_id=0b26fe8a099e0ef4,context=e30=
  response:
    status:
      code: 200
      message: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"81026513728cbffcc9e956b3a0a799c12826d15651f20b4498395634446c4abc"'
      Last-Modified:
      - Tue, 17 Aug 2021 04:52:50 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1629181572'
      X-Ratelimit-Used:
      - '6'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"maestromac","id":15793250,"node_id":"MDQ6VXNlcjE1NzkzMjUw","avatar_url":"https://avatars.githubusercontent.com/u/15793250?v=4","gravatar_id":"","url":"https://api.github.com/users/maestromac","html_url":"https://github.com/maestromac","followers_url":"https://api.github.com/users/maestromac/followers","following_url":"https://api.github.com/users/maestromac/following{/other_user}","gists_url":"https://api.github.com/users/maestromac/gists{/gist_id}","starred_url":"https://api.github.com/users/maestromac/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/maestromac/subscriptions","organizations_url":"https://api.github.com/users/maestromac/orgs","repos_url":"https://api.github.com/users/maestromac/repos","events_url":"https://api.github.com/users/maestromac/events{/privacy}","received_events_url":"https://api.github.com/users/maestromac/received_events","type":"User","site_admin":false,"contributions":37},{"login":"fdoxyz","id":6045239,"node_id":"MDQ6VXNlcjYwNDUyMzk=","avatar_url":"https://avatars.githubusercontent.com/u/6045239?v=4","gravatar_id":"","url":"https://api.github.com/users/fdoxyz","html_url":"https://github.com/fdoxyz","followers_url":"https://api.github.com/users/fdoxyz/followers","following_url":"https://api.github.com/users/fdoxyz/following{/other_user}","gists_url":"https://api.github.com/users/fdoxyz/gists{/gist_id}","starred_url":"https://api.github.com/users/fdoxyz/starred[...]
[...]
