---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/gitlab-org%2Fgitlab/issues/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9effabea58aa47c19cceaec6a5a55c30"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1585924018'
      Ratelimit-Resettime:
      - Fri, 03 Apr 2020 14:26:58 GMT
      Gitlab-Lb:
      - fe-18-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '{"id":382515,"iid":1,"project_id":278964,"title":"500 error on MR approvers
        edit page","description":"Observed on gitlab.com.\r\n\r\n```\r\nworker2 production.log:
        Completed 500 Internal Server Error in 287ms (ActiveRecord: 11.7ms)\r\nworker2
        production.log: \r\nworker2 production.log: ActionView::Template::Error (undefined
        method `name'' for nil:NilClass):\r\nworker2 production.log:     54:         %ul.well-list\r\nworker2
        production.log:     55:           - @project.approvers.each do |approver|\r\nworker2
        production.log:     56:             %li\r\nworker2 production.log:     57:               =
        link_to approver.user.name, approver.user\r\nworker2 production.log:     58:               .pull-right\r\nworker2
        production.log:     59:                 = link_to namespace_project_approver_path(@project.namespace,
        @project, approver), data: { confirm: \"Are you sure you want to remove approver
        #{approver.user.name}\"}, method: :delete, class: \"btn-xs btn btn-remove\",
        title: ''Remove approver'' do\r\nworker2 production.log:     60:                   =
        icon(\"sign-out\")\r\nworker2 production.log:   app/views/projects/_merge_request_settings.html.haml:57:in
        `block in _app_views_projects__merge_request_settings_html_haml___545752523034962009_57962180''\r\n```\r\n\r\nI
        checked the Rails console, this project has a number of approvers but the
        user ID of the last one is 0.\r\n\r\ncc @sytses @vsizov ","state":"closed","created_at":"2015-07-30T14:27:48.903Z","updated_at":"2020-04-03T12:23:57.809Z","closed_at":"2018-02-15T17:37:22.828Z","closed_by":null,"labels":["Enterprise
        Edition"],"milestone":null,"assignees":[],"author":{"id":5302,"name":"Jacob
        Vosmaer","username":"jacobvosmaer","state":"active","avatar_url":"https://secure.gravatar.com/avatar/e66d11c0eedf8c07b3b18fca46599807?s=80\u0026d=identicon","web_url":"https://gitlab.com/jacobvosmaer"},"assignee":null,"user_notes_count":28,"merge_requests_count":1,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"discussion_locked":null,"web_url":"https://gitlab.com/gitlab-org/gitlab/-/issues/1","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"task_completion_status":{"count":0,"completed_count":0},"weight":null,"has_tasks":false,"_links":{"self":"https://gitlab.com/api/v4/projects/278964/issues/1","notes":"https://gitlab.com/api/v4/projects/278964/issues/1/notes","award_emoji":"https://gitlab.com/api/v4/projects/278964/issues/1/award_emoji","project":"https://gitlab.com/api/v4/projects/278964"},"references":{"short":"#1","relative":"#1","full":"gitlab-org/gitlab#1"},"subscribed":false,"moved_to_id":null,"epic_iid":null,"epic":null}'
  recorded_at: Fri, 03 Apr 2020 14:25:59 GMT
- request:
    method: post
    uri: https://gitlab.com/api/v4/markdown
    body:
      encoding: UTF-8
      string: text=Observed%20on%20gitlab.com.%0D%0A%0D%0A%60%60%60%0D%0Aworker2%20production.log%3A%20Completed%20500%20Internal%20Server%20Error%20in%20287ms%20%28ActiveRecord%3A%2011.7ms%29%0D%0Aworker2%20production.log%3A%20%0D%0Aworker2%20production.log%3A%20ActionView%3A%3ATemplate%3A%3AError%20%28undefined%20method%20%60name%27%20for%20nil%3ANilClass%29%3A%0D%0Aworker2%20production.log%[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/gitlab-org%2Fgitlab/merge_requests/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ce1a751842d098287ba8fc743bc614bd"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '158592[...]
