---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/gitlab-org%2Fgitlab
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"771b392b4f58db24c5fe54e8b7dbc7d5"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1586963258'
      Ratelimit-Resettime:
      - Wed, 15 Apr 2020 15:07:38 GMT
      Gitlab-Lb:
      - fe-17-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: '{"id":278964,"description":"GitLab is an open source end-to-end software
        development platform with built-in version control, issue tracking, code review,
        CI/CD, and more. Self-host GitLab on your own servers, in a container, or
        on a cloud provider.","name":"GitLab","name_with_namespace":"GitLab.org /
        GitLab","path":"gitlab","path_with_namespace":"gitlab-org/gitlab","created_at":"2015-05-20T10:47:11.949Z","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:gitlab-org/gitlab.git","http_url_to_repo":"https://gitlab.com/gitlab-org/gitlab.git","web_url":"https://gitlab.com/gitlab-org/gitlab","readme_url":"https://gitlab.com/gitlab-org/gitlab/-/blob/master/README.md","avatar_url":"https://assets.gitlab-static.net/uploads/-/system/project/avatar/278964/logo-extra-whitespace.png","star_count":1656,"forks_count":1830,"last_activity_at":"2020-04-15T15:03:25.064Z","namespace":{"id":9970,"name":"GitLab.org","path":"gitlab-org","kind":"group","full_path":"gitlab-org","parent_id":null,"avatar_url":"/uploads/-/system/group/avatar/9970/logo-extra-whitespace.png","web_url":"https://gitlab.com/groups/gitlab-org"}}'
  recorded_at: Wed, 15 Apr 2020 15:06:38 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/278964/repository/files/README.md/raw?ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Content-Disposition:
      - inline; filename="README.md"; filename*=UTF-8''README.md
      X-Gitlab-Blob-Id:
      - 1372e47d52fe366c4987ed4b4f646d6ceb51150a
      X-Gitlab-Commit-Id:
      - 66f4082dfa121cec3ab973040d2930ffa5b151f5
      X-Gitlab-Content-Sha256:
      - f578250894f0c528f780c93faa6ea687350792159355fcd86a3c7d0160f7940f
      X-Gitlab-Encoding:
      - base64
      X-Gitlab-File-Name:
      - README.md
      X-Gitlab-File-Path:
      - README.md
      X-Gitlab-Last-Commit-Id:
      - 60b0255d6c0a6c181860c907156d1acb9c6f2d5c
      X-Gitlab-Ref:
      - master
      X-Gitlab-Size:
      - '5628'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '598'
      Ratelimit-Reset:
      - '1586963258'
      Ratelimit-Resettime:
      - Wed, 15 Apr 2020 15:07:38 GMT
      Gitlab-Lb:
      - fe-05-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: ASCII-8BIT
      string: |
        # GitLab

        ## Canonical source

        The canonical source of GitLab where all development takes place is [hosted o[...]
- request:
    method: post
    uri: https://gitlab.com/api/v4/markdown
    body:
      encoding: UTF-8
      string: text=%23%20GitLab%0A%0A%23%23%20Canonical%20source%0A%0AThe%20canonical%20source%20of%20GitLab%20where%20all%20development%20takes%20place%20is%20%5Bhosted%20on%20GitLab.com%5D%28https%3A%2F%2Fgitlab.com%2Fgitlab-org%2Fgitlab%29.%0A%0AIf%20you%20wish%20to%20clone%20a%20copy%20of%20GitLab%20without%20proprietary%20code%2C%20you%20can%20use%20the%20read-only%20mirror%20of%20GitLab%[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/dsdsdsdsdssd3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - ''
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1586963360'
      Ratelimit-Resettime:
      - Wed, 15 Apr 2020 15:09:20 GMT
      Gitlab-Lb:
      - fe-20-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: '{"message":"404 Project Not Found"}'
  recorded_at: Wed, 15 Apr 2020 15:08:20 GMT
recorded_with: VCR 5.1.0
