---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/gitlab-org%2Fgitlab
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6cd3e666ca00abfa578e1a1eb47c8015"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1584806629'
      Ratelimit-Resettime:
      - Sat, 21 Mar 2020 16:03:49 GMT
      Gitlab-Lb:
      - fe-11-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: '{"id":278964,"description":"GitLab is an open source end-to-end software
        development platform with built-in version control, issue tracking, code review,
        CI/CD, and more. Self-host GitLab on your own servers, in a container, or
        on a cloud provider.","name":"GitLab","name_with_namespace":"GitLab.org /
        GitLab","path":"gitlab","path_with_namespace":"gitlab-org/gitlab","created_at":"2015-05-20T10:47:11.949Z","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:gitlab-org/gitlab.git","http_url_to_repo":"https://gitlab.com/gitlab-org/gitlab.git","web_url":"https://gitlab.com/gitlab-org/gitlab","readme_url":"https://gitlab.com/gitlab-org/gitlab/-/blob/master/README.md","avatar_url":"https://assets.gitlab-static.net/uploads/-/system/project/avatar/278964/logo-extra-whitespace.png","star_count":1580,"forks_count":1716,"last_activity_at":"2020-03-21T15:27:23.342Z","namespace":{"id":9970,"name":"GitLab.org","path":"gitlab-org","kind":"group","full_path":"gitlab-org","parent_id":null,"avatar_url":"/uploads/-/system/group/avatar/9970/logo-extra-whitespace.png","web_url":"https://gitlab.com/groups/gitlab-org"}}'
  recorded_at: Sat, 21 Mar 2020 16:02:49 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/gitlab-org%2Fgitlab/repository/files/README.md?ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"91dabd0d3fc6462b586e269b30a1be1d"
      X-Gitlab-Blob-Id:
      - 1372e47d52fe366c4987ed4b4f646d6ceb51150a
      X-Gitlab-Commit-Id:
      - 86b82a8ca235a886788581b0ff5bb24f4e4bfaa2
      X-Gitlab-Content-Sha256:
      - f578250894f0c528f780c93faa6ea687350792159355fcd86a3c7d0160f7940f
      X-Gitlab-Encoding:
      - base64
      X-Gitlab-File-Name:
      - README.md
      X-Gitlab-File-Path:
      - README.md
      X-Gitlab-Last-Commit-Id:
      - 60b0255d6c0a6c181860c907156d1acb9c6f2d5c
      X-Gitlab-Ref:
      - master
      X-Gitlab-Size:
      - '5628'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '598'
      Ratelimit-Reset:
      - '1584806630'
      Ratelimit-Resettime:
      - Sat, 21 Mar 2020 16:03:50 GMT
      Gitlab-Lb:
      - fe-07-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: '{"file_name":"README.md","file_path":"README.md","size":5628,"encoding":"base64","content_sha256":"f578250894f0c528f780c93faa6ea687350792159355fcd86a3c7d0160f7940f","ref":"master","blob_id":"1372e47d52fe366c4987ed4b4f646d6ceb51150a","commit_id":"86b82a8ca235a886788581b0ff5bb24f4e4bfaa2","last_commit_id":"60b0255d6c0a6c181860c907156d1acb9c6f2d5c","content":"IyBHaXRMYWIKCiMjIENhbm9uaWNhbCBzb3VyY2UKClRoZSBjYW5vbmljYWwgc291cmNlIG9mIEdpdExhYiB3aGVyZSBhbGwgZGV2ZWxvcG1lbnQgdGFrZXMgcGxhY2UgaXMgW2hvc3RlZCBvbiBHaXRMYWIuY29tXShodHRwczovL2dpdGxhYi5jb20vZ2l0bGFiLW9yZy9naXRsYWIpLgoKSWYgeW91IHdpc2ggdG8gY2xvbmUgYSBjb3B5IG9mIEdpdExhYiB3aXRob3V0IHByb3ByaWV0YXJ5IGNvZGUsIHlvdSBjYW4gdXNlIHRoZSByZWFkLW9ubHkgbWlycm9yIG9mIEdpdExhYiBsb2NhdGVkIGF0IGh0dHBzOi8vZ2l0bGFiLmNvbS9naXRsYWItb3JnL2dpdGxhYi1mb3NzLy4gUGxlYXNlIGRvIG5vdCBzdWJtaXQgYW55IGlzc3VlcyBhbmQvb3IgbWVyZ2UgcmVxdWV[...]
- request:
    method: post
    uri: https://gitlab.com/api/v4/markdown
    body:
      encoding: UTF-8
      string: text=%23%20GitLab%0A%0A%23%23%20Canonical%20source%0A%0AThe%20canonical%20source%20of%20GitLab%20where%20all%20development%20takes%20place%20is%20%5Bhosted%20on%20GitLab.com%5D%28https%3A%2F%2Fgitlab.com%2Fgitlab-org%2Fgitlab%29.%0A%0AIf%20you%20wish%20to%20clone%20a%20copy%20of%20GitLab%20without%20proprietary%20code%2C%20you%20can%20use%20the%20read-only%20mirror%20of%20GitLab%[...]
