---
http_interactions:
- request:
    method: get
    uri: https://www.reddit.com/r/IAmA/comments/afvl2w/im_scott_from_scotts_cheap_flights_my_profession.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Reset:
      - '11'
      X-Moose:
      - majestic
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: ASCII-8BIT
      string: '[{"kind": "Listing", "data": {"modhash": "", "dist": 1, "children":
        [{"kind": "t3", "data": {"approved_at_utc": null, "subreddit": "IAmA", "selftext":
        "I may have the world\u2019s best job: I help people find cheap flights.\n\n(If
        you''re interested you can check out Scott''s Cheap Flights [here](https://scottscheapflights.com/),
        but no pressure at all.)\n\nBecause new year = travel resolutions, I wanted
        to pop in and answer any/all questions folks had about finding cheap flights
        or travel in general. Here for next 8ish hours!\n\nI owe so much of Scott\u2019s
        Cheap Flights\u2019 success to Reddi[...]
