---
http_interactions:
- request:
    method: get
    uri: https://www.reddit.com/r/aww/comments/ag3s4b/ive_waited_28_years_to_finally_havr_my_first_pet.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '[{"kind": "Listing", "data": {"modhash": "", "dist": 1, "children":
        [{"kind": "t3", "data": {"approved_at_utc": null, "subreddit": "aww", "selftext":
        "", "user_reports": [], "saved": false, "mod_reason_title": null, "gilded":
        1, "clicked": false, "title": "I''ve waited 28 years to finally havr my first
        pet. Everyone, meet Mycroft.", "link_flair_richtext": [], "subreddit_name_prefixed":
        "r/aww", "hidden": false, "pwls": 6, "link_flair_css_class": null, "downs":
        0, "thumbnail_height": 140, "parent_whitelist_status": "all_ads", "hide_score":
        false, "name": "t3_ag3s4b", "quarantine": false, "link_flair_text_color":
        "dark", "upvote_ratio": 0.88, "author_flair_background_color": null, "subreddit_type":
        "public", "ups": 97192, "total_awards_received": 3, "media_embed": {}, "thumbnail_width":
        140, "author_flair_template_id": null, "is_original_content": false, "author_fullname":
        "t2_2xdvhq4k", "secure_media": null, "is_reddit_media_domain": true, "is_meta":
        false, "category": null, "secure_media_embed": {}, "link_flair_text": null,
        "can_mod_post": false, "num_duplicates": 6, "approved_by": null, "thumbnail":
        "https://b.thumbs.redditmedia.com/iE2-RIbThs-9_TaeZb8eFsCge_mn1MHd6uirdou8H3o.jpg",
        "edited": false, "author_flair_css_class": null, "steward_reports": [], "author_flair_richtext":
        [], "gildings": {"gid_1": 2, "gid_2": 1}, "post_hint": "image", "content_categories":
        null, "is_self": false, "mod_note": null, "created": 1547549225.0, "link_flair_type":
        "text", "wls": 6, "banned_by": null, "author_flair_type": "text", "domain":
        "i.redd.it", "allow_live_comments": true, "selftext_html": null, "likes":
        null, "suggested_sort": null, "banned_at_utc": null, "view_count": null, "archived":
        true, "score": 97192, "no_follow": false, "is_crosspostable": false, "pinned":
        false, "over_18": false, "preview": {"images": [{"source": {"url": "https://preview.redd.it/jpqodmc83ia21.jpg?auto=webp&amp;s=be5aaa2231741075f4c9814cd97315403c49f20f",
        "width": 1216, "height": 1366}, "resolutions": [{"url": "https://preview.redd.it/jpqodmc83ia21.jpg?width=108&amp;crop=smart&amp;auto=webp&amp;s=2468032bc01444220b17b44f2c69864883e7fe19",
        "width": 108, "height": 121}, {"url": "https://preview.redd.it/jpqodmc83ia21.jpg?width=216&amp;crop=smart&amp;auto=webp&amp;s=ef888c4e14a746c512b654d23d108446b6aeadfb",
        "width": 216, "height": 242}, {"url": "https://preview.redd.it/jpqodmc83ia21.jpg?width=320&amp;crop=smart&amp;auto=webp&amp;s=e616b86c0139bae20237cf1b9459707807bbd924",
        "width": 320, "height": 359}, {"url": "https://preview.redd.it/jpqodmc83ia21.jpg?width=640&amp;crop=smart&amp;auto=webp&amp;s=c16fa378756d6aefbb5eb07b012d32568e7d7ca3",
        "width": 640, "height": 718}, {"url": "https://preview.redd.it/jpqodmc83ia21.jpg?width=960&amp;crop=smart&amp;auto=webp&amp;s=61f886dff4344974facbc59d88f3954e69dcbfc3",
        "width": 960, "height": 1078}, {"url": "https://preview.redd.it/jpqodmc83ia21.jpg?width=1080&amp;crop=smart&amp;auto=webp&amp;s=1993e63d94647fdf6ac356138b011a64d8330efe",
        "width": 1080, "height": 1213}], "variants": {}, "id": "-HJWcJLcCd44F2d2PHyXxEwdQk71pmOd_P3mRjy_QD4"}],
        "enabled": true}, "all_awardings": [{"count": 1, "is_enabled": true, "subreddit_id":
        null, "description": "Gives the author a week of Reddit Premium, %{coin_symbol}100
        Coins to do with as they please, and shows a Gold Award.", "end_date": null,
        "coin_reward": 100, "icon_url": "https://www.redditstatic.com/gold/awards/icon/gold_512.png",
        "days_of_premium": 7, "subreddit_coin_reward": 0, "id": "gid_2", "icon_height":
        512, "resized_icons": [{"url": "https://www.redditstatic.com/gold/awards/icon/gold_16.png",
        "width": 16, "height": 16}, {"url": "https://www.redditstatic.com/gold/awards/icon/gold_32.png",
        "width": 32, "height": 32}, {"url": "https://www.redditstatic.com/gold/awards/icon/gold_48.png",
        "width": 48, "height": 48}, {"url": "https://www.redditstatic.com/gold/awards/icon/gold_64.png",
        "width": 64, "height": 64}, {"url": "https://www.redditstatic.com/gold/awards/icon/gold_128.png",
        "width": 128, "height": 128}], "days_of_drip_extension": 0, "award_type":
        "global", "coin_price": 500, "icon_width": 512, "start_date": null, "name":
        "Gold"}, {"count": 2, "is_enabled": true, "subreddit_id": null, "description":
        "Shows the Silver Award... and that''s it.", "end_date": null, "coin_reward":
        0, "icon_url": "https://www.redditstatic.com/gold/awards/icon/silver_512.png",
        "days_of_premium": 0, "subreddit_coin_reward": 0, "id": "gid_1", "icon_height":
        512, "resized_icons": [{"url": "https://www.redditstatic.com/gold/awards/icon/silver_16.png",
        "width": 16, "height": 16}, {"url": "https://www.redditstatic.com/gold/awards/icon/silver_32.png",
        "width": 32, "height": 32}, {"url": "https://www.redditstatic.com/gold/awards/icon/silver_48.png",
        "width": 48, "height": 48}, {"url": "https://www.redditstatic.com/gold/awards/icon/silver_64.png",
        "width": 64, "height": 64}, {"url": "https://www.redditstatic.com/gold/awards/icon/silver_128.png",
        "width": 128, "height": 128}], "days_of_drip_extension": 0, "award_type":
        "global", "coin_price": 100, "icon_width": 512, "start_date": null, "name":
        "Silver"}], "awarders": [], "media_only": false, "can_gild": false, "spoiler":
        false, "locked": false, "author_flair_text": null, "visited": false, "num_reports":
        null, "distinguished": null, "subreddit_id": "t5_2qh1o", "mod_reason_by":
        null, "removal_reason": null, "link_flair_background_color": "", "id": "ag3s4b",
        "is_robot_indexable": true, "report_reasons": null, "author": "Miaogua007",
        "discussion_type": null, "num_comments": 1193, "send_replies": true, "media":
        null, "contest_mode": false, "author_patreon_flair": false, "author_flair_text_color":
        null, "permalink": "/r/aww/comments/ag3s4b/ive_waited_28_years_to_finally_havr_my_first_pet/",
        "whitelist_status": "all_ads", "stickied": false, "url": "https://i.redd.it/jpqodmc83ia21.jpg",
        "subreddit_subscribers": 22315960, "created_utc": 1547520425.0, "num_crossposts":
        6, "mod_reports": [], "is_video": false}}], "after": null, "before": null}},
        {"kind": "Listing", "data": {"modhash": "", "dist": null, "children": [{"kind":
        "t1", "data": {"total_awards_received": 0, "approved_at_utc": null, "ups":
        1188, "awarders": [], "mod_reason_by": null, "banned_by": null, "author_flair_type":
        "text", "removal_reason": null, "link_id": "t3_ag3s4b", "author_flair_template_id":
        null, "likes": null, "replies": {"kind": "Listing", "data": {"modhash": "",
        "dist": null, "children": [{"kind": "t1", "data": {"total_awards_received":
        0, "approved_at_utc": null, "ups": 585, "awarders": [], "mod_reason_by": null,
        "banned_by": null, "author_flair_type": "text", "removal_reason": null, "link_id":
        "t3_ag3s4b", "author_flair_template_id": null, "likes": null, "replies": {"kind":
        "Listing", "data": {"modhash": "", "dist": null, "children": [{"kind": "t1",
        "data": {"[...]
- request:
    method: get
    uri: https://www.reddit.com/r/IAmA/comments/afvl2w/im_scott_from_scotts_cheap_flights_my_profession.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '[{"kind": "Listing", "data": {"modhash": "", "dist": 1, "children":
        [{"kind": "t3[...]
