---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/posts/57496168?filter=!3tz1WbZW5JxrG-f99&key=&site=stackoverflow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"last_activity_date":1565796374,"post_type":"question","post_id":57496168}],"has_more":false,"quota_max":300,"quota_remaining":97}'
  recorded_at: Wed, 14 Aug 2019 16:26:28 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/questions/57496168?filter=!*1SgQGDOL9bPBHULz9sKS.y6qv7V9fYNszvdhDuv5&key=&site=stackoverflow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"tags":["laravel","foreach","view","relationship"],"comment_count":1,"view_count":34,"answer_count":3,"score":0,"last_activity_date":1565796374,"creation_date":1565790943,"question_id":57496168,"link":"https://stackoverflow.com/questions/57496168/use-where-and-limit-to-child-in-foreach","title":"Use
        &quot;where&quot; and &quot;limit&quot; to child in @foreach","body":"<p>I
        want to display all user''s profile into views and they posts. It''s pretty
        simple:</p>\n\n<pre><code>@foreach($profiles as $profile)\n{{ $profile-&gt;name
        }}\n @foreach($profile-&gt;posts as $post)\n   {{$post-&gt;title}}\n @endforeach\n@endforeach\n</code></pre>\n\n<p>But
        I want to display only the latests posts (->orderBy(''created_at'', ''desc'')->limit(4)
        ) and only accepted posts (->where(''accept'', 1)). How can I do that?</p>\n"}],"has_more":false,"quota_max":300,"quota_remaining":97}'
  recorded_at: Wed, 14 Aug 2019 16:26:28 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/posts/1163633?filter=!3tz1WbZW5JxrG-f99&key=&site=askubuntu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items": [{"last_activity_date": 1565109531,"post_type": "answer","post_id": 1163633}],"has_more": false,"quota_max": 300,"quota_remaining": 94}'
  recorded_at: Wed, 14 Aug 2019 16:26:28 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/answers/1163633?filter=!Fcb(61J.xH9ZW2D7KF1bbM_J7X&key=&site=askubuntu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items": [{"tags": [ ],"comment_count": 3,"is_accepted": false,"score": 1,"last_activity_date": 1565109531,"last_edit_date": 1565109531,"creation_date": 1565033637,"answer_id": 1163633,"question_id": 885432,"title": "Help setting up sshfs","body": "<p>As you are getting the following error message:</p> <blockquote> <p>gpasswd: groupfuse does not exist in /etc/group</p> </blockquote> <p>This indicates that there is no such group, yet!<br> Please test if there is and subsequently alleviate the problem as described below:</p> <ol> <li><p>check if there is a fuse group with: </p> <pre><code>cat /etc/group | grep fuse </code></pre></li> <li><p>If there is it would look like: </p> <pre><code>fuse:x:1001: </code></pre></li> <li><p>If there isnt, add one like this: </p> <pre><code>sudo groupadd fuse </code></pre></li> <li><p>At this point you can add yourself to the group with: </p> <pre><code>sudo usermod -a -G fuse your_username </code></pre></li> </ol> "}],"has_more": false,"quota_max": 300,"quota_remaining": 93}'
  recorded_at: Wed, 14 Aug 2019 16:26:28 GMT
recorded_with: VCR 5.0.0
