---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.3/posts/57496168?filter=!3tz1WbZW5JxrG-f99&key=&site=stackoverflow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Guid:
      - 11201cf1-0f43-4e4c-b839-6f9b4e8aa3c3
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"last_activity_date":1565806685,"post_type":"question","post_id":57496168}],"has_more":false,"quota_max":300,"quota_remaining":194}'
  recorded_at: Fri, 04 Feb 2022 14:00:21 GMT
- request:
    method: get
    uri: https://api.stackexchange.com/2.3/questions/57496168?filter=!*1SgQGDOL9bPBHULz9sKS.y6qv7V9fYNszvdhDuv5&key=&site=stackoverflow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Guid:
      - a9c1799b-3e84-4869-8316-7013814a36b7
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"tags":["laravel","foreach","view","relationship"],"comment_count":1,"view_count":79,"answer_count":4,"score":0,"last_activity_date":1565806685,"creation_date":1565790943,"question_id":57496168,"link":"https://stackoverflow.com/questions/57496168/use-where-and-limit-to-child-in-foreach","title":"Use
        &quot;where&quot; and &quot;limit&quot; to child in @foreach","body":"<p>I
        want to display all user''s profile into views and they posts. It''s pretty
        simple:</p>\n\n<pre><code>@foreach($profiles as $profile)\n{{ $profile-&gt;name
        }}\n @foreach($profile-&gt;posts as $post)\n   {{$post-&gt;title}}\n @endforeach\n@endforeach\n</code></pre>\n\n<p>But
        I want to display only the latests posts (->orderBy(''created_at'', ''desc'')->limit(4)
        ) and only accepted posts (->where(''accept'', 1)). How can I do that?</p>\n"}],"has_more":false,"quota_max":300,"quota_remaining":193}'
  recorded_at: Fri, 04 Feb 2022 14:00:21 GMT
recorded_with: VCR 6.0.0
