---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/posts/59679915?filter=!3tz1WbZW5JxrG-f99&key=&site=askubuntu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Guid:
      - 356f2fd4-3560-40c4-a494-6a4f0f361e62
    body:
      encoding: ASCII-8BIT
      string: '{"items":[],"has_more":false,"quota_max":300,"quota_remaining":287}'
  recorded_at: Mon, 13 Jan 2020 12:23:25 GMT
recorded_with: VCR 5.0.0
