---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.3/posts/59679915?filter=!3tz1WbZW5JxrG-f99&key=&site=askubuntu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Guid:
      - 39492868-d51e-49b4-9c87-d5d963306c83
    body:
      encoding: ASCII-8BIT
      string: '{"items":[],"has_more":false,"quota_max":300,"quota_remaining":192}'
  recorded_at: Fri, 04 Feb 2022 14:00:22 GMT
recorded_with: VCR 6.0.0
