---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 18 May 2020 16:09:44 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - c6b4eb440837c9010b219c99effa8141
      X-Response-Time:
      - '116'
      X-Transaction:
      - 00a3fa16001000f5
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"ACCESS_TOKEN"}'
  recorded_at: Mon, 18 May 2020 16:09:44 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/0.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 18 May 2020 16:09:44 GMT
      Status:
      - 404 Not Found
      X-Connection-Hash:
      - a16f087a18e4315ecbc158f3e8947aa7
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1589819084'
      X-Response-Time:
      - '114'
      X-Transaction:
      - 0035566e00d64ce7
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":8,"message":"No data available for specified ID."}]}'
  recorded_at: Mon, 18 May 2020 16:09:44 GMT
recorded_with: VCR 5.1.0
