---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 18 May 2020 14:59:16 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 0ed066348bd2a09f1a4ab67364222291
      X-Response-Time:
      - '124'
      X-Transaction:
      - 00bc6963002453ac
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"ACCESS_TOKEN"}'
  recorded_at: Mon, 18 May 2020 14:59:16 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/1262395854469677058.json?tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 18 May 2020 14:59:16 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - f049dc981bb59177959f2e672d20ab06
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '896'
      X-Rate-Limit-Reset:
      - '1589814001'
      X-Response-Time:
      - '142'
      X-Transaction:
      - '009e83bf00c3d0db'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"created_at":"Mon May 18 14:53:20 +0000 2020","id":1262395854469677058,"id_str":"1262395854469677058","full_text":"RT
        @ThePracticalDev: \"The goal of this guide is to provide enough knowledge
        to be conversational, as well as to give a strong jumping off p\u2026","truncated":false,"display_text_range":[0,140],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"ThePracticalDev","name":"DEV
        Community \ud83d\udc69\u200d\ud83d\udcbb\ud83d\udc68\u200d\ud83d\udcbb","id":2735246778,"id_str":"2735246778","indices":[3,19]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":815325836,"id_str":"815325836","name":"Great","screen_name":"01Blows","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":28,"friends_count":106,"listed_count":14,"created_at":"Mon
        Sep 10 14:20:14 +0000 2012","favourites_count":62,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":2686,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2970316093\/4b4015e8e6fe419e375d1e22d3349889_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2970316093\/4b4015e8e6fe419e375d1e22d3349889_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/815325836\/1355402666","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        May 18 14:32:00 +0000 2020","id":1262390485399805953,"id_str":"1262390485399805953","full_text":"\"The
        goal of this guide is to provide enough knowledge to be conversational, as
        well as to give a strong jumping off point if you were to start learning TypeScript
        on the job.\"\n\n\u007b author: @shane__lonergan \u007d #DEVCommunity https:\/\/t.co\/K5V4s91cJy","truncated":false,"display_text_range":[0,244],"entities":{"hashtags":[{"text":"DEVCommunity","indices":[207,220]}],"symbols":[],"user_mentions":[{"screen_name":"shane__lonergan","name":"Shane
        Lonergan \ud83c\udfa4\u2328\ufe0f","id":1164944561304690688,"id_str":"1164944561304690688","indices":[188,204]}],"urls":[{"url":"https:\/\/t.co\/K5V4s91cJy","expanded_url":"https:\/\/dev.to\/shane__lonergan\/typescript-in-a-weekend-a-crash-course-2171","display_url":"dev.to\/shane__lonerga\u2026","indices":[221,244]}]},"source":"\u003ca
        href=\"https:\/\/buffer.com\" rel=\"nofollow\"\u003eBuffer\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2735246778,"id_str":"2735246778","name":"DEV
        Community \ud83d\udc69\u200d\ud83d\udcbb\ud83d\udc68\u200d\ud83d\udcbb","screen_name":"ThePracticalDev","location":"","descripti[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/1262390485399805953.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 18 May 2020 14:59:17 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connecti[...]
