---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 18 May 2020 14:46:21 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - c745e01b2e126fa33f799e05ae0c848b
      X-Response-Time:
      - '116'
      X-Transaction:
      - 00d4dfbe006f4d83
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"ACCESS_TOKEN"}'
  recorded_at: Mon, 18 May 2020 14:46:21 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/0.json?tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 18 May 2020 14:46:21 GMT
      Status:
      - 404 Not Found
      X-Connection-Hash:
      - aa96b1523d91f21bc57cc858a291326c
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '898'
      X-Rate-Limit-Reset:
      - '1589814001'
      X-Response-Time:
      - '116'
      X-Transaction:
      - 00d8302700668f57
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":8,"message":"No data available for specified ID."}]}'
  recorded_at: Mon, 18 May 2020 14:46:21 GMT
recorded_with: VCR 5.1.0
