---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 18 May 2020 12:48:44 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 4a0eff9d35d94b917c6a394d78e0c178
      X-Response-Time:
      - '114'
      X-Transaction:
      - 004bebdc006e667c
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"ACCESS_TOKEN"}'
  recorded_at: Mon, 18 May 2020 12:48:44 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/1018911886862057472.json?tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 18 May 2020 12:48:44 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 50e8c947e1620a984e9ec9ab6d860012
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1589807024'
      X-Response-Time:
      - '127'
      X-Transaction:
      - '0071193c00ff8788'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"created_at":"Mon Jul 16 17:34:58 +0000 2018","id":1018911886862057472,"id_str":"1018911886862057472","full_text":"When
        GitHub goes down https:\/\/t.co\/5Laf1GtUSS","truncated":false,"display_text_range":[0,21],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1018911875919212546,"id_str":"1018911875919212546","indices":[22,45],"media_url":"http:\/\/pbs.twimg.com\/tweet_video_thumb\/DiPm8-WXcAI3_qS.jpg","media_url_https":"https:\/\/pbs.twimg.com\/tweet_video_thumb\/DiPm8-WXcAI3_qS.jpg","url":"https:\/\/t.co\/5Laf1GtUSS","display_url":"pic.twitter.com\/5Laf1GtUSS","expanded_url":"https:\/\/twitter.com\/ThePracticalDev\/status\/1018911886862057472\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":400,"h":312,"resize":"fit"},"large":{"w":400,"h":312,"resize":"fit"},"small":{"w":400,"h":312,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1018911875919212546,"id_str":"1018911875919212546","indices":[22,45],"media_url":"http:\/\/pbs.twimg.com\/tweet_video_thumb\/DiPm8-WXcAI3_qS.jpg","media_url_https":"https:\/\/pbs.twimg.com\/tweet_video_thumb\/DiPm8-WXcAI3_qS.jpg","url":"https:\/\/t.co\/5Laf1GtUSS","display_url":"pic.twitter.com\/5Laf1GtUSS","expanded_url":"https:\/\/twitter.com\/ThePracticalDev\/status\/1018911886862057472\/photo\/1","type":"animated_gif","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":400,"h":312,"resize":"fit"},"large":{"w":400,"h":312,"resize":"fit"},"small":{"w":400,"h":312,"resize":"fit"}},"video_info":{"aspect_ratio":[50,39],"variants":[{"bitrate":0,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/tweet_video\/DiPm8-WXcAI3_qS.mp4"}]}}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2735246778,"id_str":"2735246778","name":"DEV
        Community \ud83d\udc69\u200d\ud83d\udcbb\ud83d\udc68\u200d\ud83d\udcbb","screen_name":"ThePracticalDev","location":"","description":"Great
        posts from the amazing https:\/\/t.co\/xHvFQQ9jeO community, with some opinion
        and humor mixed in. Created by @bendhalpern. Join https:\/\/t.co\/xHvFQQ9jeO!","url":"https:\/\/t.co\/lhcCPP1ReQ","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/lhcCPP1ReQ","expanded_url":"http:\/\/dev.to","display_url":"dev.to","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/xHvFQQ9jeO","expanded_url":"https:\/\/dev.to","display_url":"dev.to","indices":[29,52]},{"url":"https:\/\/t.co\/xHvFQQ9jeO","expanded_url":"https:\/\/dev.to","display_url":"dev.to","indices":[132,155]}]}},"protected":false,"followers_count":191641,"friends_count":2311,"listed_count":3793,"created_at":"Fri
        Aug 15 19:11:17 +0000 2014","favourites_count":48516,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":38686,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"131516","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1253165670935773185\/SkSoEQL3_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1253165670935773185\/SkSoEQL3_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2735246778\/1557714134","profile_link_color":"14BD7B","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":82,"favorite_count":263,"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"}'
  recorded_at: Mon, 18 May 2020 12:48:44 GMT
recorded_with: VCR 5.1.0
