---
http_interactions:
- request:
    method: get
    uri: https://us-east-api.getstream.io/api/v1.0/feed/notifications/1/?api_key=h59mvgpc5f4s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Stream-Auth-Type:
      - jwt
      Content-Type:
      - application/json
      X-Stream-Client:
      - stream-ruby-client-2.4.5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1999'
      X-Ratelimit-Reset:
      - '1519165680'
    body:
      encoding: UTF-8
      string: '{"results":[{"activities":[{"actor":"User:34","foreign_id":"Comment:133","id":"1500a680-10fb-11e8-8080-800121f84ad9","object":"Comment:133","origin":null,"target":"comment_2018-02-13
        15:18:41 -0500","time":"2018-02-13T20:18:41.000000","verb":"Comment"}],"activity_count":1,"actor_count":1,"created_at":"2018-02-13T20:18:42.099622","group":"Comment_comment_2018-02-13
        15:18:41 -0500_2018-02-13","id":"15a8707f-10fb-11e8-8080-8001355ef3c6.Comment_comment_2018-02-13
        15:18:41 -0500_2018-02-13","is_read":false,"is_seen":false,"updated_at":"2018-02-13T20:18:42.099622","verb":"Comment"},{"activities":[{"actor":"User:13","foreign_id":"Comment:120","id":"1205b600-10fb-11e8-8080-8001015be16c","object":"Comment:120","origin":null,"target":"comment_2018-02-13
        15:18:36 -0500","time":"2018-02-13T20:18:36.000000","verb":"Comment"},{"actor":"User:79","foreign_id":"Comment:119","id":"116d1f80-10fb-11e8-8080-80016dade8c0","object":"Comment:119","origin":null,"target":"comment_2018-02-13
        15:18:36 -0500","time":"2018-02-13T20:18[...]
