@import '../vars/_variables.scss';

@mixin box($color-1: $smoke-90, $color-2: $smoke-100) {
  border-color: $color-1;
  @for $i from 1 through 3 {
    &#{'--level-' + $i} {
      box-shadow: #{pow(2, $i) + px} #{pow(2, $i) + px} 0 $color-1;
    }
  }

  &--filled {
    background-color: $color-1;
    border-color: $color-2;
    @for $i from 1 through 3 {
      &#{'--level-' + $i} {
        box-shadow: #{pow(2, $i) + px} #{pow(2, $i) + px} 0 $color-2;
      }
    }
  }
}

.crayons-box {
  border-radius: $br-default;
  background-color: $snowflake;
  border: 2px solid;
  @include box;

  &--danger {
    @include box($raspberry, $raspberry-darker);
  }

  &--warning {
    @include box($peanut, $peanut-darker);
  }

  &--success {
    @include box($avocado, $avocado-darker);
  }

  &--info {
    @include box($dolphin, $dolphin-darker);
  }
}

.modal {
  @extend .crayons-box--danger;
  color: $snowflake;
}
