@import '../vars/_variables.scss';

@mixin box($color-1: $smoke-90, $color-2: $smoke-100) {
  border-color: $color-1;
  @for $i from 1 through 3 {
    #{& + '__level-' + $i} {
      box-shadow: #{pow(2, $i) + px} #{pow(2, $i) + px} 0 $color-1;
    }
  }

  &__filled {
    background-color: $color-1;
    border-color: $color-2;
    @for $i from 1 through 3 {
      #{& + '__level-' + $i} {
        box-shadow: #{pow(2, $i) + px} #{pow(2, $i) + px} 0 $color-2;
      }
    }
  }
}

.crayons-box {
  border-radius: 3px;
  background-color: $snowflake;
  @include box;

  &__danger {
    @include box($raspberry, $raspberry-darker);
  }

  &__warning {
    @include box($peanut, $peanut-darker);
  }

  &__success {
    @include box($avocado, $avocado-darker);
  }

  &__info {
    @include box($dolphin, $dolphin-darker);
  }
}
