.crayons-icon {
  vertical-align: bottom;
  -moz-transform: rotate(360deg);

  // If we ever have an icon with its own colors that we don't want to overwrite,
  // lets use modifier class `.crayons-icon--default`. It will prevent applying
  // currentColor from parent element.
  &:not(.crayons-icon--default) {
    &,
    & * {
      fill: currentColor;
    }
  }
}
