<a class="admin-help-button cursor-pointer p-2 mb-2 z-elevate m:p-0 m:pr-3 crayons-btn crayons-btn--icon-rounded crayons-btn--s" href="<%= @help_url %>" target="_blank" rel="noopener noreferer">
  <%= inline_svg_tag("circle-question.svg", aria: true, title: "Forem Admin Guide") %>
</a>
