<a class="admin-help-button fixed bottom-7 right-3 z-elevate cursor-pointer radius-full l:right-7 crayons-btn crayons-btn--icon-rounded crayons-btn--s" href="<%= @help_url %>" target="_blank" rel="noopener noreferer">
  <%= inline_svg_tag("circle-question.svg", aria: true, class: "block", title: "Forem Admin Guide") %>
</a>
