<div class="grid gap-6 m:grid-cols-2">
  <div class="grid gap-6">
    <% account.bg_color_hex = user_colors(account)[:bg] if account.bg_color_hex.blank? %>
    <% account.text_color_hex = user_colors(account)[:text] if account.text_color_hex.blank? %>
    <div class="crayons-field">
      <%= f.label :bg_color_hex, "Brand color 1", class: "crayons-field__label" %>
      <p class="crayons-field__description">Used for backgrounds, borders etc.</p>
      <div class="flex items-center">
        <%= f.text_field :bg_color_hex, placeholder: "#000000", class: "crayons-textfield mr-2", id: "bg-color-textfield" %>
        <input id="bg-color-colorfield" type="color" class="crayons-color-selector">
      </div>
    </div>

    <div class="crayons-field">
      <% account.bg_color_hex = user_colors(account)[:text] if account.text_color_hex.blank? %>
      <%= f.label :text_color_hex, "Brand color 2", class: "crayons-field__label" %>
      <p class="crayons-field__description">Used for texts (usually put on <em>Brand color 1</em>).</p>
      <div class="flex items-center">
          <%= f.text_field :text_color_hex, placeholder: "#ffffff", class: "crayons-textfield mr-2", id: "text-color-textfield" %>
          <input id="text-color-colorfield" type="color" class="crayons-color-selector">
      </div>
    </div>
  </div>

  <div class="crayons-card crayons-card--secondary flex-1 p-6">
    <p class="text-uppercase color-base-50 mb-4 fs-s ff-monospace">Preview:</p>
    <svg id="color-select-preview-logo" class="p-4 radius-default" xmlns="http://www.w3.org/2000/svg" version="1" width="128" viewBox="0 0 124.000000 36.000000" role="img">
      <title id="aldzs1ucwkayuyoa6rxtxo2ikd8bpr0q">App logo</title>
      <g
      transform="translate(-43.225124,-48.598771)"
      id="layer1">
     <g
        id="text4520"
        aria-label="FOREM">
       <path
          d="M 50.666531,84.31752 H 43.225124 V 53.435685 q 0,-2.033985 1.389063,-3.423047 1.413867,-1.413867 3.571875,-1.413867 H 61.82864 V 55.79213 H 50.666531 v 7.069336 h 6.821288 v 7.193359 h -6.821288 z" />
       <path
          d="m 85.442701,73.899552 q 0,4.514453 -2.951758,7.46621 -2.951758,2.951758 -7.788671,2.951758 -4.440039,0 -7.391797,-2.951758 -2.951758,-2.951757 -2.951758,-7.46621 V 59.016739 q 0,-4.514453 2.951758,-7.466211 2.951758,-2.951757 7.590234,-2.951757 4.638476,0 7.590234,2.951757 2.951758,2.951758 2.951758,7.466211 z m -7.441406,0 V 59.016739 q 0,-1.661914 -1.066602,-2.430859 -1.041797,-0.79375 -2.033984,-0.79375 -0.992187,0 -2.058789,0.79375 -1.041797,0.768945 -1.041797,2.430859 v 14.882813 q 0,1.637109 1.041797,2.430859 1.066602,0.79375 2.058789,0.79375 0.992187,0 2.033984,-0.79375 1.066602,-0.79375 1.066602,-2.430859 z" />
       <path
          d="m 95.414184,65.589981 q 0,-1.909961 3.497461,-3.323828 3.943945,-0.992187 3.943945,-3.249414 0,-3.224609 -3.100585,-3.224609 h -4.340821 z m 0,0.248047 V 84.31752 H 87.972778 V 53.435685 q 0,-2.158008 1.413867,-3.497461 1.413868,-1.339453 3.547071,-1.339453 h 5.581054 q 11.16211,0 11.16211,9.797851 0,6.002734 -6.07715,8.979297 l 6.92051,16.941601 h -8.11113 L 96.679224,70.352481 q -1.26504,-2.554882 -1.26504,-4.514453 z" />
       <path
          d="m 130.78567,84.31752 h -13.64258 q -2.158,0 -3.57187,-1.389062 -1.38906,-1.413868 -1.38906,-3.447852 V 53.435685 q 0,-2.033985 1.38906,-3.423047 1.41387,-1.413867 3.57187,-1.413867 h 13.64258 v 7.193359 h -11.16211 v 7.069336 h 6.82129 v 7.193359 h -6.82129 v 7.069336 h 11.16211 z" />
       <path
          d="M 140.75715,72.510489 V 84.31752 h -7.4414 V 54.055802 q 0,-2.654102 1.38906,-4.043164 1.41387,-1.413867 3.57187,-1.413867 4.2168,0 5.58106,5.357812 l 4.34082,16.594336 4.34082,-16.594336 q 1.36426,-5.357812 5.58105,-5.357812 2.15801,0 3.54707,1.413867 1.41387,1.389062 1.41387,4.043164 V 84.31752 h -7.44141 V 72.510489 l -1.88515,7.094141 q -2.00918,4.71289 -5.55625,4.71289 -3.54707,0 -5.55625,-4.71289 z" />
     </g>
   </g>
    </svg>
  </div>
</div>
