<div class="widget-events-item">
    <a href="/events/<%= event.slug %>" style="color: #000000; font-weight:500"><span class="utc-date"><%= event.starts_at %></span> - <%= event.title %> (<%= event.category %>)</a>
  <br>
  <br>
</div>