<h1 class="crayons-title mb-6">Make a new Listing Category:</h1>
<div class="crayons-card p-6">
  <%= form_for([:admin, @listing_category], method: :post) do %>
    <%= render "form" %>
    <%= submit_tag "Create Listing Category", class: "crayons-btn crayons-btn--primary mt-4" %>
  <% end %>
</div>
