<h1>Bronze Sponsorship</h1>

<p>
  Thank you for supporting the DEV Community!  Here’s what to expect with a Bronze Sponsorship:
</p>

<h3>
  Logo placement on our dedicated sponsors page
</h3>
<h3>
  Logo rotation in our “sponsor awareness box” on the homepage
</h3>
<h3>
  Your company will be mentioned in our monthly sponsor-awareness thread
</h3>
<h3>
  Special flair on your organization profile page
</h3>