<h1>DevRel Consultation</h1>

The DEV team sees over 1000 new posts published every week to the platform.  We track popular articles as part of our job.  We will provide expert consultation with your editorial goals, and provide tactical advice on how to best leverage the DEV platform, helping your company to build a valuable and engaging rapport with the community.
</p>
<p>
You will also be invited to a shared Slack channel to aid communication and provide a line of communication for deep collaboration.  We will help you achieve your devrel goals.
</p>
