<h1>DevRel Consultation</h1>

The DEV team sees over 1000 new posts published every week to the platform.  We track popular articles as part of our job.  We will provide expert consultation with your editorial goals, and provide tactical advice on how to best leverage the DEV platform, helping your company to build a valuable and engaging rapport with the community.
</p>
<h3>🤓 Weekly Notes</h3>
<p>
  Every Friday our team will deliver editorial feedback on your on-site presence and suggest areas of improvement. We can optionally provide feedback on your off-site web presence.
</p>
<h3>👋 Dedicated Support/Feedback</h3>
<p>
You will be invited to a shared Slack channel to aid communication and provide a line of communication for deep collaboration.  It is an open line to our devrel experts available during extended US East business hours.
</p>
<% unless user_signed_in? %>
  <h2>Email <a href="mailto:partners@dev.to">partners@dev.to</a> for pricing information</h2>
<% end %>
