<% if flash[:notice] %>
  <div class="crayons-banner crayons-banner--success" style="margin-bottom: 25px;" aria-live="polite">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:error].present? %>
  <div class="crayons-banner crayons-banner--error" style="margin-bottom: 25px;" role="alert">
    <%= flash[:error] %>
  </div>
<% end %>
