<% if organizations.none? %>
  <div class="partner-credits-explainer">
    <h4>What next?</h4>
    <h3>Create an Organization</h3>
    <p>
      <em>Organizations act as a publication and a way for your team to interact with <%= community_name %> on behalf of the company</em>
    </p>
    <p>
      Come back to this page once you have created an organization. Only organization <em>admins</em> may purchase sponsorships.
    </p>
    <a href="/settings/organization">Create Organization</a>
  </div>
<% elsif %w[devrel media gold].include?(level) %>
  <h2>Contact <%= email_link(:business) %> to sign up</h1>
<% elsif level == "tag" %>
  <% organizations.find_each do |org| %>
    <%= render partial: "tag_form", locals: { org: org, level: level } %>
  <% end %>
<% elsif %w[silver bronze].include?(level) %>
  <% organizations.find_each do |org| %>
    <%= render partial: "metal_level_form", locals: { org: org, level: level } %>
  <% end %>
<% end %>
