<h1>Silver Sponsorship</h1>
<p>
  Woohoo!  Thank you for generously supporting the community with a Silver Sponsorship!  Here are more details about the package:
</p>

<h3>
  Logo placement along with a short blurb about your company on the dedicated sponsors page
</h3>
<h3>
  Logo rotation in our “sponsor awareness box” on the homepage
</h3>
<h3>
  Logo placement + a short blurb in our monthly sponsor-awareness thread
</h3>
<h3>
  Special flair on your organization profile page
</h3>