<h1>Silver Sponsorship</h1>
<p>
  Woohoo!  Thank you for generously supporting the community with a Silver Sponsorship!  Here are more details about the package:
</p>

<h3>
  👀  Logo placement along with a short blurb about your company on the dedicated sponsors page
</h3>
<p>
  As a Silver sponsor, you receive prominent placement on our dedicated sponsors page.  In addition to logo recognition, we will also write a blurb about your product or service.  This is a powerful combo of brand visibility and education about your company.  Be sure to leave notes in the sign-up form to help us know where to focus our messaging.
</p>
<h3>
  👋  Logo placement + a short blurb in our monthly sponsor-awareness thread
</h3>
<p>
  Each month, we publish an awareness and recognition thread where we highlight the organizations that support the community. As a Silver sponsor, your company’s name will be listed as one of our benefactors, along with a short blurb. This thread will serve to drive awareness, engagement, and positive association to your company.
</p>
<h3>
  🏆  Special flair on your organization profile page
</h3>
<p>
  As a Silver sponsor, you will receive special flair that lives on your organization page.  This visual cue will show <%= community_name %> and broader ecosystem that you are an important community supporter, providing a natural draw for increased engagement on the platform.  And, of course, you’ll have bragging rights and company pride knowing that you’re supporting a wonderful community.
</p>
<% if user_signed_in? %>
  <h3>Silver sponsorship costs 500 credits/mo ($1,250 when purchased in bulk)</h3>
<% else %>
  <h2>Silver sponsorship prices start at $1,250/month</h2>
<% end %>
