<h1>Tag Sponsorship</h1>
<p>
Target your messaging with a tag sponsorship.  This is a great way to increase your brand’s association with specific languages, frameworks, and topics.  Here are the benefits you’ll receive when you sponsor a tag:
</p>
<h3>
  Logo + dedicated information area on the tag sidebar
</h3>
<p>
  Each tag features a dedicated sidebar, listing the section’s submission guidelines, rules, key information, and tag moderators.  As a tag sponsor, you will receive prominent logo placement directly in that sidebar.
</p>
<p>
  You’ll also receive access to a dedicated content box directly in that sidebar, where you’ll be able to offer a short blurb about your company or service.  This combo provides contextual exposure, and long-lasting value as more fans of the tag engage with your company.
</p>
<h3>
  Placement on our tag overview page
</h3>
<p>
  Members of <%= community_name %> head to the dedicated tags page to explore new areas of the site, and to manage which tags they follow.  Your company will be listed as a sponsor directly alongside the tag you support.  This placement provides visibility to all members, even if they don’t directly engage within your tag.
</p>
<h3>
  Special flair on your organization profile page
</h3>
<p>
  On the organization profile page, you will receive special flair that highlights your support of each tag.  This acknowledgment shows off the languages and topics that your company cares about most.
</p>
<% if user_signed_in? %>
  <h3>Tag sponsorship costs 300 credits/mo ($750 when purchased in bulk)</h3>
<% else %>
  <h2>Tag sponsorship prices start at $750/mo</h2>
<% end %>
