<h1>Tag Sponsorship</h1>
<p>
Target your messaging with a tag sponsorship.  This is a great way to increase your brand’s association with specific languages, frameworks, and topics.  Here are the benefits you’ll receive when you sponsor a tag:
</p>
<h3>
  Logo + dedicated information area on the tag sidebar
</h3>
<h3>
  Placement on our tag overview page
</h3>
<h3>
  Special flair on your organization profile page
</h3>
