<h2 style="<%= styles %>" id="liquidtags" class="permalink-heading">
  <strong>🌊 Liquid Tags</strong>
  <a href="#liquidtags" aria-label="permalink for Liquid Tags"><%= crayons_icon_tag("small-link", aria_hidden: true) %></a>
</h2>
<p>
  We support native <a href="https://shopify.github.io/liquid" target="_blank" rel="noopener">Liquid tags</a> in our editor, but have created our own custom tags as well. A list of supported custom embeds appears below. To create a custom embed, use the complete URL:<br />
  <code>{% embed https://... %}</code>
</p>
