<% title "#{title} #{community_name}" %>

<div class="crayons-layout crayons-layout--limited-l">
  <div class="crayons-card text-styles text-padding">
    <h1 class="fs-3xl s:fs-4xl l:fs-5xl fw-bold s:fw-heavy lh-tight mb-4 mt-0"><%= title %></h1>

    <p>The production <%= title %> page is a page generated at <a href="<%= admin_pages_path %>"><%= admin_pages_path %></a>! This one is just a placeholder.</p>
  </div>
</div>
