<% title "#{title} #{community_qualified_name}" %>

<div class="blank-space"></div>
<div class="container article">
  <div class="title">
    <h1><%= title %></h1>
  </div>
  <div class="body">
    <p>
      The production <%= title %> page is a page generated at <a href="/internal/pages">/internal/pages</a>! This one is just a placeholder.
    </p>
  </div>
</div>
