<div class="container article" id="editor-help-guide">
  <div class="title help-guide-title">
    <h1>Publishing from RSS Guide</h1>
  </div>
  <div class="body">
    <h2>Front Matter</h2>
    <p>Our RSS reader converts some tags from the RSS items to tags for the Jekyll front matter:</p>
    <ul>
      <li><code>&lt;title&gt;</code>: <strong>title</strong></li>
      <li><code>&lt;category&gt;</code>:
        <strong>tags</strong>, comma separated. Since only 4 tags can be used in a post on dev.to, only the first four tags will be used from the RSS item.
      </li>
      <li><code>&lt;link&gt;</code>:
        <strong>canonical_url</strong><br />Only if the "Mark the RSS source as canonical URL by default" option is enabled in the Publishing from RSS settings.
      </li>
    </ul>

    <h2>Article Content</h2>
    <p>The article content is prioritized in this order: <code>&lt;content&gt;</code>,
      <code>&lt;summary&gt;</code>, or
      <code>&lt;description&gt;</code>. The HTML will be converted to Markdown as the body of the DEV post.</p>
    <p>If you're using a Medium RSS feed, Tweet links, YouTube, and Gist iframes are converted to Liquid tags.</p>
    <br />
    <br />
    <div class="blank-space"></div>
  </div>
</div>
