<h4>Universal URL Embeds</h4>
<p>For most supported platforms, you can simply use the <code>{% embed URL %}</code> syntax. The platforms natively supported are:</p>
<ul class="grid gap-2 grid-cols-1 s:grid-cols-2 p-4 list-disc bg-base-inverted border border-base-20 radius-auto">
  <li class="ml-4">Asciinema</li>
  <li class="ml-4">Bandcamp</li>
  <li class="ml-4">Blogcast</li>
  <li class="ml-4">Bluesky</li>
  <li class="ml-4">Cloud Run</li>
  <li class="ml-4">CodePen</li>
  <li class="ml-4">CodeSandbox</li>
  <li class="ml-4">DotNetFiddle</li>
  <li class="ml-4">GitHub (Gist, Issue, Repo)</li>
  <li class="ml-4">Glitch</li>
  <li class="ml-4">Instagram</li>
  <li class="ml-4">JSFiddle</li>
  <li class="ml-4">JSitor</li>
  <li class="ml-4">Kotlin</li>
  <li class="ml-4">Loom</li>
  <li class="ml-4">Medium</li>
  <li class="ml-4">Mux</li>
  <li class="ml-4">Next Tech</li>
  <li class="ml-4">Reddit</li>
  <li class="ml-4">Replit</li>
  <li class="ml-4">Slideshare</li>
  <li class="ml-4">SoundCloud</li>
  <li class="ml-4">Speaker Deck</li>
  <li class="ml-4">Spotify</li>
  <li class="ml-4">StackBlitz</li>
  <li class="ml-4">Stackery</li>
  <li class="ml-4">Stack Exchange / Stack Overflow</li>
  <li class="ml-4">Twitch</li>
  <li class="ml-4">Twitter (Tweet or Timeline)</li>
  <li class="ml-4">Vimeo</li>
  <li class="ml-4">Wikipedia</li>
  <li class="ml-4">YouTube</li>
</ul>
<p>Example: <code>{% embed https://www.youtube.com/watch?v=12345 %}</code></p>

<h4 class="mt-4"><%= community_name %> Specific Embeds</h4>
<p>You can also use explicit tags to embed internal content across the platform:</p>
<ul class="grid gap-2 grid-cols-1 p-4 list-disc bg-base-inverted border border-base-20 radius-auto">
  <li class="ml-4"><strong>Article Link:</strong> <code>{% link URL %}</code> (Renders a card for the article)</li>
  <li class="ml-4"><strong>User Profile:</strong> <code>{% user username %}</code></li>
  <li class="ml-4"><strong>Tag Profile:</strong> <code>{% tag tagname %}</code></li>
  <li class="ml-4"><strong>Comment:</strong> <code>{% comment post_slug %}</code></li>
  <li class="ml-4"><strong>Podcast Episode:</strong> <code>{% podcast URL %}</code></li>
  <li class="ml-4"><strong>Organization:</strong> <code>{% organization orgname %}</code></li>
  <li class="ml-4"><strong><%= community_name %> Dev Post:</strong> <code>{% forem URL %}</code></li>
</ul>
