<div class="content">
  <p class="title ff-accent fs-l fw-bold">About the Speaker</p>
  <p class="body">
    Vaidehi Joshi is a senior engineer at DEV, where she builds community and helps improve the software careers of millions. She enjoys building and breaking code, but loves creating empathetic engineering teams a whole lot more. She is the creator of basecs and baseds, two writing series exploring the fundamentals of computer science and distributed systems. She also co-hosts the Base.cs Podcast, and is a producer of the BaseCS and Byte Sized video series.
  </p>
  <button class="crayons-btn crayons-btn--secondary mb-5" type="button">See discussion</button>
  <p class="title ff-accent fs-l fw-bold mt-5">NOTE: This file is not meant to be used in production! It will only be useful for local development of custom HTML pages.</p>
</div>
