<% title "Reporting Vulnerabilities" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="<%= app_url("/bounty") %>" />
  <meta name="description" content="About The Practical Dev">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby,security">

  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= app_url("/bounty") %>" />
  <meta property="og:title" content="About The Practical Dev Bounty System" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@<%= SiteConfig.social_media_handles["twitter"] %>">
  <meta name="twitter:title" content="The Practical Dev Bounty System">
<% end %>

<div class="blank-space"></div>
<div class="container article">
  <div class="title">
    <h1>Reporting Vulnerabilities</h1>
  </div>
  <div class="body">
    <p>
      The production Reporting Vulnerabilities page is a page generated at <a href="/internal/pages">/internal/pages</a>! This one is just a placeholder.
    </p>
  </div>
</div>
