<% title "The Practical Dev Code of Conduct" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to/code-of-conduct" />
  <meta name="description" content="The Practical Dev Code of Conduct">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://dev.to/code-of-conduct" />
  <meta property="og:title" content="The Practical Dev Code of Conduct" />
  <%#  <meta property="og:image" content="http://i.imgur.com/B4JNl1w.png" /> %>
  <%#  <meta property="og:description" content="The Practical Dev is great!" /> %>
  <meta property="og:site_name" content="The Practical Dev" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@<%= SiteConfig.social_networks_handle %>">
  <meta name="twitter:title" content="The Practical Dev Code of Conduct">
  <%#  <meta name="twitter:description" content="The Practical Dev is great!"> %>
  <%#  <meta name="twitter:image:src" content="http://i.imgur.com/B4JNl1w.png"> %>
<% end %>

<div class="blank-space"></div>

<div class="container article">
  <div class="title">
    <h1>Code of Conduct</h1>
  </div>
  <div class="body">
    <%= render "coc_text" %>
  </div>
</div>
