<% title "The Practical Dev Code of Conduct" %>
<%= content_for :page_meta do %>
   <link rel="canonical" href="https://dev.to/code-of-conduct"/>
   <meta name="description" content="The Practical Dev Code of Conduct">
   <meta name="keywords" content="software development,engineering,rails,javascript,ruby">
   <meta property="og:type" content="article" />
   <meta property="og:url" content="https://dev.to/code-of-conduct" />
   <meta property="og:title" content="The Practical Dev Code of Conduct" />
   <!--  <meta property="og:image" content="http://i.imgur.com/B4JNl1w.png" /> -->
   <!--  <meta property="og:description" content="The Practical Dev is great!" /> -->
   <meta property="og:site_name" content="The Practical Dev" />
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:site" content="@ThePracticalDev">
   <meta name="twitter:title" content="The Practical Dev Code of Conduct">
   <!--  <meta name="twitter:description" content="The Practical Dev is great!"> -->
   <!--  <meta name="twitter:image:src" content="http://i.imgur.com/B4JNl1w.png"> -->
<% end %>

<div class="blank-space"></div>

<div class="container article">
  <div class="title">
  <h1>Code of Conduct</h1>
   </div>
   <div class="body">
  <h2>Our Pledge</h2>
  <p>In the interest of fostering an open and welcoming environment, we as moderators of  <a href="https://dev.to">dev.to</a> pledge to making participation in our project and our community a harassment-free experience for everyone, regardless of age, body size, disability, ethnicity, gender identity and expression, level of experience, nationality, personal appearance, race, religion, or sexual identity and orientation.</p>
  <h2>Our Standards</h2>
  <p>Examples of behavior that contributes to creating a positive environment include:</p>
  <ul>
    <li>Using welcoming and inclusive language</li>
    <li>Being respectful of differing viewpoints and experiences</li>
    <li>Gracefully accepting constructive criticism</li>
    <li>Focusing on what is best for the community</li>
    <li>Showing empathy towards other community members</li>
  </ul>
  <p>Examples of unacceptable behavior by participants include:</p>
  <ul>
    <li>The use of sexualized language or imagery and unwelcome sexual attention or advances</li>
    <li>Trolling, insulting/derogatory comments, and personal or political attacks</li>
    <li>Public or private harassment</li>
    <li>Publishing others' private information, such as a physical or electronic address, without explicit permission</li>
    <li>Other conduct which could reasonably be considered inappropriate in a professional setting</li>
  </ul>
  <h2>Our Responsibilities</h2>
  <p>Moderators are responsible for clarifying the standards of acceptable behavior and are expected to take appropriate and fair corrective action in response to any instances of unacceptable behavior.</p>
  <p>Moderators have the right and responsibility to remove comments or other contributions that are not aligned to this Code of Conduct, or to ban temporarily or permanently any members for other behaviors that they deem inappropriate, threatening, offensive, or harmful.</p>
  <h2>Member Responsibilities</h2>
  <p>All participants in the community are expected to abide by Our Standards (described above).</p>
  <p><b>Sustaining members</b> have an even higher responsibility in helping us uphold the community’s values.  Any violations of our Code of Conduct are grounds for removal from the membership program.</p>
  <h2>Scope</h2>
  <p>This Code of Conduct applies both online and in public spaces when an individual is representing the community. Examples of representing a community include using an official e-mail address, posting via an official social media account, or acting as an appointed representative at an online or offline event. Representation of the community may be further defined and clarified by moderators.</p>
  <h2>Enforcement</h2>
  <p>Instances of abusive, harassing, or otherwise unacceptable behavior may be reported by contacting the team via the <a href="/report-abuse">abuse report form</a> or by sending an email to <a href="mailto:yo@dev.to">yo@dev.to</a>. All complaints will be reviewed and investigated and will result in a response that is deemed necessary and appropriate to the circumstances. The moderation team is obligated to maintain confidentiality with regard to the reporter of an incident. Further details of specific enforcement policies may be posted separately.</p>
  <p>Moderators who do not follow or enforce the Code of Conduct in good faith may face temporary or permanent repercussions as determined by other members of the community's leadership.</p>
  <h2>Attribution</h2>
  <p>This Code of Conduct is adapted from the  <a href="http://contributor-covenant.org">Contributor Covenant</a>, version 1.4, available at  <a href="http://contributor-covenant.org/version/1/4/">http://contributor-covenant.org/version/1/4</a>.</p>
</div>
</div>
