<% title "Crayons" %>
<style>
  .container {
    padding: 48px;
    font-size: 16px;
    line-height: 150%;
    box-sizing: border-box;
  }
  .container * {
    box-sizing: border-box;
  }

  .container > * {
    margin-bottom: 32px;
  }
</style>
<div class="container">

  <div><input type="text" class="crayons-textfield" placeholder="This is placeholder..."></div>

  <div><textarea class="crayons-textfield" placeholder="This is palceholder..."></textarea></div>

  <div class="crayons-field">
    <label for="" class="crayons-field--label">Textfield Label</label>
    <p class="crayons-field--description">This is some description for a textfield lorem ipsum...</p>
    <input type="text" class="crayons-textfield" placeholder="This is placeholder...">
    <p class="crayons-field--description">Another description just in case...</p>
  </div>

  <div class="crayons-field">
    <label for="" class="crayons-field--label">
      Textfield Label
      <p class="crayons-field--description">This is some description for a textfield lorem ipsum...</p>
    </label>
    <input type="text" class="crayons-textfield" placeholder="This is placeholder...">
    <p class="crayons-field--description">Another description just in case...</p>
  </div>

  <div>
    <a href="#" class="crayons-btn">Button label</a><br><br>
    <a href="#" class="crayons-btn crayons-btn__full">Full Button label</a><br><br>
    <a href="#" class="crayons-btn crayons-btn__secondary">Secondary Button label</a><br><br>
    <a href="#" class="crayons-btn crayons-btn__outlined">Outlined Button label</a><br><br>
    <a href="#" class="crayons-btn crayons-btn__text">Text Button label</a><br><br>
    <a href="#" class="crayons-btn crayons-btn__danger">Danger Button label</a><br><br>
    <a href="#" class="crayons-btn crayons-btn__icon-left"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" class="crayons-icon"><path d="M9.99999 15.172L19.192 5.979L20.607 7.393L9.99999 18L3.63599 11.636L5.04999 10.222L9.99999 15.172Z" /></svg>Button</a>
  </div>

  <div>
    <div class="crayons-card" style="max-width: 316px;">
      <header class="crayons-card--header">
        <h3>Listings</h3>
      </header>
      <div class="crayons-card--body">
        <a href="#" class="crayons-card--link-block">
          Take part in the global microservices survey!
          <footer class="crayons-card--link-block--footer">
            <span class="crayons-indicator crayons-indicator__accent">New</span>
            For hire
          </footer>
        </a>

        <a href="#" class="crayons-card--link-block">
          React / Java Dev - Austin, TX
          <footer class="crayons-card--link-block--footer">For hire</footer>
        </a>

        <a href="#" class="crayons-card--link-block">
          Mecha, a flat-file content management system for minimalists.
          <footer class="crayons-card--link-block--footer">For hire</footer>
        </a>
      </div>
    </div>
  </div>

  <div>
    <div class="crayons-modal">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et libero quia aut, est, adipisci ut facere saepe dolorum laboriosam reiciendis? Recusandae eveniet dolorem delectus, ducimus, maiores veniam dolore omnis.</p>
    </div><br>

    <div class="crayons-modal crayons-modal__m">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et libero quia aut, est, adipisci ut facere saepe dolorum laboriosam reiciendis? Recusandae eveniet dolorem delectus, ducimus, maiores veniam dolore omnis.</p>
    </div><br>

    <div class="crayons-modal crayons-modal__l">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et libero quia aut, est, adipisci ut facere saepe dolorum laboriosam reiciendis? Recusandae eveniet dolorem delectus, ducimus, maiores veniam dolore omnis.</p>
    </div><br>

    <div class="crayons-modal crayons-modal__xl">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et libero quia aut, est, adipisci ut facere saepe dolorum laboriosam reiciendis? Recusandae eveniet dolorem delectus, ducimus, maiores veniam dolore omnis.</p>
    </div><br>

    <div class="crayons-modal crayons-modal__xxl">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et libero quia aut, est, adipisci ut facere saepe dolorum laboriosam reiciendis? Recusandae eveniet dolorem delectus, ducimus, maiores veniam dolore omnis.</p>
    </div><br>
  </div>

  <div>
    <span class="crayons-indicator">Label</span>
    <span class="crayons-indicator">1</span>
    <span class="crayons-indicator crayons-indicator__bullet"></span>
  </div>

  <div>
    <span class="crayons-indicator crayons-indicator__accent">Label</span>
    <span class="crayons-indicator crayons-indicator__accent">1</span>
    <span class="crayons-indicator crayons-indicator__accent crayons-indicator__bullet"></span>
  </div>

  <div>
    <span class="crayons-indicator crayons-indicator__critical">Label</span>
    <span class="crayons-indicator crayons-indicator__critical">1</span>
    <span class="crayons-indicator crayons-indicator__critical crayons-indicator__bullet"></span>
  </div>

  <div>
    <span class="crayons-indicator crayons-indicator__inverted">Label</span>
    <span class="crayons-indicator crayons-indicator__inverted">1</span>
    <span class="crayons-indicator crayons-indicator__inverted crayons-indicator__bullet"></span>
  </div>

</div>
