<% title "Editor Guide" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to/p/editor_guide"/>
  <meta name="description" content="dev.to | editor guideline">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

<% end %>

<header>
  <div class="blank-space"></div>
</header>
<%= render "editor_guide_text" %>