<% title "FAQ for dev.to()" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to/faq" />
  <meta name="description" content="FAQ for dev.to()">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://dev.to/faq" />
  <meta property="og:title" content="FAQ for dev.to()" />
  <meta property="og:image" content="http://i.imgur.com/B4JNl1w.png" />
  <meta property="og:description" content="Things to know!" />
  <meta property="og:site_name" content="The Practical Dev" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ThePracticalDev">
  <meta name="twitter:title" content="FAQ for dev.to()">
  <meta name="twitter:description" content="Things to know!">
  <meta name="twitter:image:src" content="http://i.imgur.com/B4JNl1w.png">
<% end %>

<div class="blank-space"></div>
<div class="container article">
  <div class="title">
    <h1>
      Frequently Asked Questions 🤔
    </h1>
  </div>
  <div class="body">
    <p>
      <b>Why is this page different than the production FAQ page?</b>
      <br>
      The production FAQ page is actually a page generated at <a href="/internal/pages">/internal/pages</a>! This one is just a placeholder.
    </p>
  </div>
</div>
