<% title "FAQ for dev.to()" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to/faq" />
  <meta name="description" content="FAQ for dev.to()">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://dev.to/faq" />
  <meta property="og:title" content="FAQ for dev.to()" />
  <meta property="og:image" content="http://i.imgur.com/B4JNl1w.png" />
  <meta property="og:description" content="Things to know!" />
  <meta property="og:site_name" content="The Practical Dev" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ThePracticalDev">
  <meta name="twitter:title" content="FAQ for dev.to()">
  <meta name="twitter:description" content="Things to know!">
  <meta name="twitter:image:src" content="http://i.imgur.com/B4JNl1w.png">
<% end %>

<!-- <p id="notice"><%#= notice %></p> -->

<div class="blank-space"></div>
<div class="container article">
  <div class="title">
    <h1>
      Frequently Asked Questions 🤔
    </h1>
  </div>
  <div class="body">
    <h3>Some of these are not actually asked frequently, but they're still good to know.
    </h3>
    <h3><strong><a href="#general"> General FAQs</a> | <a href="#members">Member FAQs</a> </strong></h3>
    <p>
      <b>Who can post to <a href="/">dev.to</a>?</b>
      <br>
      Anyone! Yes, you have permission to make a new post of any kind as long as it meets our community guidelines and gets through common-sense spam filters. Your post is subject to removal at the discretion of the moderators if they believe it does not meet the requirements of our
      <a href="/code-of-conduct">code of conduct</a>.
    </p>
    <p>
      <b>How do I get featured on the home page?</b>
      <br>
      The home page is selected by our editorial team. You can email us with any specific questions.
    </p>
    <p>
      <b>Can I cross-post something I've already written on my own blog or Medium?</b>
      <br>
      Absolutely, as long as you have the rights you need to do so! And if it's of high quality, we'll feature it.
    <p>
      <b>How do I change my Twitter/GitHub username?</b>
      <br>
      Email yo@dev.to and we'll take care of it.
    <p>
      <b>What about my post's Google ranking?</b>
      <br>
      You can set the
      <code>canonical_url</code> of your post before publishing so that Google knows where to send the link juice (that precious, precious link juice).
    </p>
    <p>
      <b>I found a bug (not a security vulnerability). How do I report it?</b>
      <br>
      Please create an issue on <a href="https://github.com/thepracticaldev/dev.to">our repo</a>.
    </p>
    <p>
      <b>I found a security vulnerability. How do I report it?</b>
      <br>
      Please email yo@dev.to.
    </p>
    <p>
      <b>How do I report spam?</b>
      <br>
      For a specific comment: navigate to the comment and click the dropdown arrow to report abuse.
      <br><br>
      For a specific article: navigate to the article, scroll to the bottom and click report abuse.
      <br><br>
      In general, you can fill out the <a href="/report-abuse">report abuse</a> form.
    <p>
      <b>How does <a href="/">dev.to</a> make money</b>?
      <br>
      Right now, we count on our
      <a href="/membership">sustaining members</a> and sponsors. We also sell some merchandise on
      <a href="https://shop.dev.to">The DEV Shop.</a>
    </p>
    <p>
      <b>What's up with your sponsors?</b>
      <br>
      If you have questions about sponsorships (i.e. how to turn off sponsor displays), visit our
      <a href="/sponsorship-info">sponsorship info</a> page.
    </p>
    <p>
      <b>How do I delete my account?</b>
      <br>
      Please e-mail yo@dev.to to delete your account.
    </p>
    <p>
      <b>Do I own the articles that I publish?</b>
      Yes, you own the rights to the content you create and post on dev.to and you have the full authority to post, edit, and remove your content as you see fit.
      <br><br>
      By posting content on dev.to, you give us a nonexclusive license to publish it, including anything reasonably related to publishing it (like storing, displaying, reformatting, and distributing it).
    </p>
    <p>
      <b>Will you put ads on my posts' pages?</b>
      <br>
      No ad will ever be placed next to a user's post without their full partnership on the matter.
    </p>
    <p>
      <b>How do I set a cover image on my post?</b>
      <br>
      Include `cover_image: [url]` in the front matter of your post. For more information on our editor, check out our
      <a href="/p/editor_guide">editor guide</a>.
    </p>
    <p>
      <b>How does comment threading work?</b>
      <br>
      Comments are threaded with a maximum depth, and then they become flat. You can respond to flattened-out threads by replying to the last comment in the overall thread.
    </p>
    <p>
      <b>I heard you were planning on open sourcing the code. Is that ever going to happen?</b>
      <br>
      Yes! In fact, we have already open sourced the dev.to platform. You can head over to
      <a href="https://github.com/thepracticaldev/dev.to" target="_blank" rel="noopener">our GitHub repository</a> to check it out!
    </p>
    <h3><strong><a name="members"> Member FAQs</a></strong></h3>
    <p>
      <b>When will I get access to beta features?</b>
      We'll be rolling out beta features on a regular basis. Check
      <a href="/settings/membership">your settings page</a> to enable/disable them.
    </p>
    <p>
      <b>How do I claim my gift (stickers, swagpack, etc.)?</b>
      <br>You should receive an e-mail with instructions within 24-hours of becoming a member.
    </p>
    <p>
      <b>As a Level 3 member, I received my shirt but no stickers in the mail.</b>
      <br>We mail out the sticker packs separately from the shirts. Please be patient! If you don't receive the stickers within three weeks (domestic) or six weeks (international), e-mail members@dev.to for help.
    </p>
    <p>
      <b>How do I cancel my sustaining membership?</b>
      <br>
      Go to your settings page and click 'cancel membership'.
    </p>
    <p>
      <b>I have a billing issue.</b>
      <br>
      Please e-mail members@dev.to immediately.
    </p>
    <p>
      <b>How are scholarships provided?</b>
      <br>
      Scholarship are provided through our scholarship fund which takes contributions from our sponsors and individual patrons.
    </p>
    <p>
      <b>How do I apply for a scholarship?</b>
      <br>
      You can fill out the scholarship application on our <a href="/p/scholarships">scholarships page</a>.
    </p>
    <p>
      <b>When will I hear back about my scholarship application?</b>
      <br>
      Within 1-2 weeks.
    </p>
    <p>
      <b>I have more questions.</b>
      <br>
      Great! We're happy to answer them. Please email members@dev.to!
    </p>
  </div>
</div>
