<h2>Forbidden</h2>

<p>
  Your account has been suspended and has limited access.
  Your ability to post and comment may be limited.
</p>

<p>For more information, you may send a message to <%= contact_link %>.</p>
