<% title "Organization Accounts" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to/organization-info" />
  <meta name="description" content="Information about organization accounts on DEV">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://dev.to/organization-info" />
  <meta property="og:title" content="Information about organization accounts on DEV" />
  <meta property="og:image" content="<%= ApplicationConfig["MAIN_SOCIAL_IMAGE"] %>" />
  <meta property="og:description" content="The DEV Community is great!" />
  <meta property="og:site_name" content="The DEV Community" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ThePracticalDev">
  <meta name="twitter:title" content="All information about The Practical Dev">
  <meta name="twitter:description" content="The DEV Community is great!">
  <meta name="twitter:image:src" content="<%= ApplicationConfig["MAIN_SOCIAL_IMAGE"] %>">
<% end %>

<div class="blank-space"></div>
<div class="container article">
  <div class="title">
    <h1>
      Organization Accounts
    </h1>
  </div>
  <div class="body">
    <p>
      Organization accounts are a
      <b>FREE</b> option for companies, open-source projects, and anyone else that wants to participate on DEV as part of a broader group.
    </p>
    <p>
      To <b>create</b> or <b>join</b> an organization, simply head to your
      <a href="/settings/organization">settings page</a>.
    </p>

    <p>Here are a few benefits:</p>
    <ul>
      <li>
        <b>Dedicated Landing Page</b>: Your organization will now have a page to display key information, a list of organization members, and more.
      </li>
      <li>
        <b>Organization Branding on Posts</b>: Your team will have the ability to enable org branding on new posts, which will show up in the header, sidebar, and footer.
      </li>
      <li>
        <b>Call-to-Action on Posts</b>: Drive readers towards your products and services with a call-to-action unit alongside your posts.
      </li>
      <li>
        <b>Enhanced Analytics</b>: Measure performance by keeping track of view counts, reactions, and CTA clicks on each post.
      </li>
      <li>
        <b>Build a Following</b>: As community members follow your organization, they’ll receive notifications of new posts, and your content will show up more prominently in their feed.
      </li>

    </ul>

    <p>Check out the <a href="/devteam">DEV Team</a> organization page to view a live example. Head to your
      <a href="/settings/organization">settings page</a> to create or join an organization.</p>

    <h1>FAQ</h1>
    <p>
      <b>I publish articles both as an individual, and as part of an organization. Will I need two separate accounts?</b>
      <br>
      Nope — you can continue to use your DEV account as normal. As part of an organization, you will see an option to enable organization branding at the top of every new post.
    </p>
    <p>
      <b>How can I invite more people to my organization?</b>
      <br>
      You’ll see an invite token at the top of your
      <a href="/settings/organization">settings page</a>. To add someone to your organization, simply provide them with that token. They’ll enter it at the top of the same page to join the group.
    </p>
    <p>
      <b>I want to cross-post content, do you support Canonical URLs?</b>
      <br>
      Absolutely. You can set the canonical_url in the Front Matter of each post. We also have an
      <a href="/settings/publishing-from-rss">RSS Import tool</a> to make importing articles a bit easier.
      <br>
    </p>
    <p>
      <b>Can I join multiple organizations?</b>
      <br>
      Not yet, but we’re working to support this use-case soon.
    </p>
    <p>
      <b>I have a questions and/or comments?</b>
      <br>
      Great! We’re happy to answer questions, and we welcome your feedback. Please shoot an email to
      <a href="mailto:yo@dev.to">yo@dev.to</a>.
    </p>
  </div>
</div>
