<% title "Privacy Policy for DEV" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to/privacy" />
  <meta name="description" content="Privacy Policy for DEV">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://dev.to/privacy" />
  <meta property="og:title" content="Privacy Policy for DEV" />
  <meta property="og:image" content="http://i.imgur.com/B4JNl1w.png" />
  <meta property="og:description" content="The Practical Dev is great!" />
  <meta property="og:site_name" content="The Practical Dev" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ThePracticalDev">
  <meta name="twitter:title" content="Privacy Policy for DEV">
  <meta name="twitter:description" content="The Practical Dev is great!">
  <meta name="twitter:image:src" content="http://i.imgur.com/B4JNl1w.png">
<% end %>

<!-- <p id="notice"><%#= notice %></p> -->

<div class="blank-space"></div>
<div class="container article">
  <div class="title">
    <h1>
      <%= t('privacy.heading') %>
    </h1>
  </div>
  <div class="body">
    <%= render "privacy_text" %>
  </div>
</div>
