<% title "Privacy Policy for The Practical Dev" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to/privacy"/>
  <meta name="description" content="Privacy Policy for The Practical Dev">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://dev.to/privacy" />
  <meta property="og:title" content="Privacy Policy for The Practical Dev" />
  <meta property="og:image" content="http://i.imgur.com/B4JNl1w.png" />
  <meta property="og:description" content="The Practical Dev is great!" />
  <meta property="og:site_name" content="The Practical Dev" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ThePracticalDev">
  <meta name="twitter:title" content="Privacy Policy for The Practical Dev">
  <meta name="twitter:description" content="The Practical Dev is great!">
  <meta name="twitter:image:src" content="http://i.imgur.com/B4JNl1w.png">
<% end %>



<!-- <p id="notice"><%#= notice %></p> -->

<header>
  <div class="blank-space"></div>
</header>
<div class="container article">
  <div class="title">
    <h1>
      Privacy Policy
    </h1>
  </div>
  <div class="body">
    <p>
    This Privacy Policy governs the manner in which Dev (The Practical Dev) collects, uses, maintains and discloses information collected from users (each, a "User") of the <a href="https://dev.to/">https://dev.to/</a> website ("Site").
    </p>
    <h4>Personal identification information</h4>
    <p>
    We may collect personal identification information from Users in a variety of ways in connection with activities, services, features or resources we make available on our Site. Users may visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.
    </p>
    <h4>Non-personal identification information</h4>
    <p>
    We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.
    </p>
    <h4>Web browser cookies</h4>
    <p>
    Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.
    </p>
    <h4>Google Analytics</h4>
    <p>
      Our site collects information about your browsing via Google Analytics and this data can be cross-referenced with other data from your profile. We do not share any data that allows Google to personally identify you.
    </p>
  </div>
</div>
