<% title "Editor Guide" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="<%= app_url("/p/publishing_from_rss_guide") %>" />
  <meta name="description" content="dev.to | publishing from rss guideline">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

<% end %>

<header>
  <div class="blank-space"></div>
</header>
<%= render "publishing_from_rss_guide_text" %>
