<% title "Sponsorship Info and FAQ" %>

<div class="blank-space"></div>
<div class="container article">
  <div class="title">
    <h1>
      Sponsorship Information, Policy and FAQ
    </h1>
  </div>
  <div class="body">
    <p>
      <b>Who do you work with?</b>
      <br>
      We work with great developer-focused companies that are interested in supporting the DEV community. These sponsors are financially supporting our operations and will receive acknowledgment with on-site display units, and recognition posts.
    </p>
    <p>
      <b>Do you have an "ethical advertising" policy?</b>
      <br>
      Yes! So nice of you to ask. In order to ensure your privacy (and the site’s performance), it is our policy to host all images ourselves and don’t allow any third-party tracking scripts. We don’t track you or sell your data. Sponsorships are for the benefit of the community.
    </p>
    <p>
      <b>What if I don’t want to see these sponsorship units?</b>
      <br>
      You may opt-out of seeing sponsorship displays
      <a href="/settings/misc">in your settings</a>. However, you may still see occasional sponsor recognition posts.
      <br>
    <p>
      <b>How can my company become a sponsor?</b>
      <br>
      Email <a href="mailto:peter@dev.to">peter@dev.to</a> for more information.
    <p>
      <b>Anything else I should know?</b>
      <br>
      You might be interested in setting up a free <a href="/organization-info">Organization Account</a>.
    <p>
      <b>What if I have other questions?</b>
      <br>
      Please send an email to <a href="mailto:yo@dev.to">yo@dev.to</a>.
    </p>
  </div>
</div>
