<% title "State of the Web Survey" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to/survey" />
  <meta name="description" content="State of the Web Survey for developers">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://dev.to/survey" />
  <meta property="og:title" content="State of the Web Survey - DEV Community" />
  <meta property="og:image" content="https://thepracticaldev.s3.amazonaws.com/i/wngaap4y0ol1907w38kc.png" />
  <meta property="og:description" content="A five minute survey about the web and web development. All devs are welcome to take part." />
  <meta property="og:site_name" content="The Practical Dev" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ThePracticalDev">
  <meta property="og:title" content="State of the Web Survey - DEV Community" />
  <meta property="og:description" content="A five minute survey about the web and web development. All devs are welcome to take part." />
  <meta name="twitter:image:src" content="https://thepracticaldev.s3.amazonaws.com/i/wngaap4y0ol1907w38kc.png">
<% end %>

<div class="blank-space"></div>
<div class="container article">
  <div class="title" style="text-align:center">
    <h1 style="margin-top: 2vw">
      State of the Web Survey
    </h1>
    <p>Thank you for taking five minutes to fill out this DEV Community survey.</p>
    <p>All responses are 100% private. ❤️
    <p>
  </div>
  <div class="body" style="margin-top:0;padding-top:0;">
    <div class="typeform-widget" data-url="https://thepracticaldev.typeform.com/to/r5V9jm?source=user-<%= user_signed_in? %>" style="width: 100%; height: 550px;"></div>
    <script> (function () {
      var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName,
        id = "typef_orm", b = "https://embed.typeform.com/";
      if (!gi.call(d, id)) {
        js = ce.call(d, "script");
        js.id = id;
        js.src = b + "embed.js";
        q = gt.call(d, "script")[0];
        q.parentNode.insertBefore(js, q)
      }
    })() </script>
    <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by
      <a href="https://admin.typeform.com/signup?utm_campaign=r5V9jm&utm_source=typeform.com-11461475-Pro&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a>
    </div>
  </div>
</div>
