<% title "Swagnets Information" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to/swagnets" />
  <meta name="description" content="dev.to | Swagnets Information page">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

  <%# Currently no OG / social cards, which I think is okay %>
<% end %>

<div class="blank-space"></div>

<div class="container article">
  <div class="title">
    <h1>
      DEV Swagnets 😎
    </h1>
  </div>
  <div class="body">
    <p>So, you've received a
      <a href="http://swagnets.com">Swagnet</a>.<br>Swagnets use the built-in magnets found in your laptop's display in order to stay put. That way, there's no residue and they easily pop on and off.<br>They're compatible with
      <b>Macbooks</b> and <i>some</i> PC laptops.</p>

    <img src="https://res.cloudinary.com/practicaldev/image/upload/v1495227296/dev-swagnets_kbwrr4.png" alt="Swagnet example on MacBook">

    <p>We understand that some of you won't have a device that supports your new Swagnet, but we hope that you have a friend who can enjoy it :)<br>By the way, you can also buy Swagnets that benefit open-source projects: you can check those out
      <b><a href="https://www.swagnets.com/pages/activism">here</a></b>.<br>Comments? Suggestions? Ping us on Twitter or at
      <a href="mailto:<%= SiteConfig.default_site_email %>"><%= SiteConfig.default_site_email %></a>.</p>

  </div>
</div>
