<% title "Terms of Use for The DEV Community" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to/terms" />
  <meta name="description" content="Terms of Use for The DEV Community">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://dev.to/terms" />
  <meta property="og:title" content="Terms of Use for The DEV Community" />
  <meta property="og:image" content="http://i.imgur.com/B4JNl1w.png" />
  <meta property="og:description" content="The DEV Community is great!" />
  <meta property="og:site_name" content="The DEV Community" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ThePracticalDev">
  <meta name="twitter:title" content="Terms of Use for The DEV Community">
  <meta name="twitter:description" content="The DEV Community is great!">
  <meta name="twitter:image:src" content="http://i.imgur.com/B4JNl1w.png">
<% end %>

<!-- <p id="notice"><%#= notice %></p> -->

<div class="blank-space"></div>
<div class="container article">
  <div class="title">
    <h1>
      Web Site Terms and Conditions of Use
    </h1>
  </div>
  <div class="body">
    <%= render "terms_text" %>
  </div>
</div>
