<% title "The DEV Sustaining Membership" %>

<div class="blank-space"></div>

<style>
  .events-container {
    width: 100%;
    margin: 0 auto;
  }
</style>

<div class="container article">
  <div style="height:30px">
  </div>
  <div class="body">
    <img src="<%= asset_path "sustaining-membership.svg" %>" style="height:200px;margin-top:30px;" alt="DEV membership logo">
    <h1 style="font-size:1.9em;font-weight:600;text-align:center;">
      DEV <br> WORKSHOPS
    </h1>
    <p> We are launching regular workshops that will cover beginner to advanced topics and everything in-between. These will be taught by topic experts from the community. Topics we plan on covering early include
      <b>web performance, Kubernetes, mechanical keyboards and much more</b>.</p>

    <p> Workshops are available to dev.to
      <a href="/membership">sustaining members</a> with workshop passes. For those unable to become a sustaining member, we encourage you to apply for a
      <a href="/p/scholarships">scholarship</a>.</p>

    <p> February workshops will be announced soon.</p>
  </div>
</div>
