<% name = @article.cached_user_name %>
<div id="unpublish-post-modal" class="hidden">
  <p>
    <%= t("views.moderations.actions.unpublish_post.modal_text1", username: name) %>
  </p>
  <p><%= t("views.moderations.actions.unpublish_post.modal_text2", username: name) %></p>
  <div class="mt-4">
    <button
      destructive
      variant="primary"
      class="c-btn c-btn--primary c-btn--destructive"
      id="confirm-unpublish-post-action">
      <%= t("views.moderations.actions.unpublish") %>
    </button>
  </div>
</div>
