@import 'variables';

.ltag__listing {
  font-family: $helvetica;
  border:1px solid $light-medium-gray;
  box-shadow: $shadow;
  border-radius:3px;
  display:block;
  margin:0.95em 0 1.20em;
  max-width: 100%;
  @media screen and (min-width: 760px) {
    margin: 0.95em auto;
    width:620px;
  }

  a {
    color: var(--theme-color, $black);
  }

  .ltag__listing-content {
    padding: calc(0.5vw + 6px);
    h3 {
      margin:0;
      padding:0;
      font-weight: 500;
      font-size: 1.5em;
    }

    .ltag__listing-body {
      max-width: 90%;
      padding: 10px 15px;
      font-size: 15px;
    }

    .ltag__listing-tags {
      margin: 0;
      padding: 0;
      line-height: 1;
      font-size: 0.88em;
      margin-bottom: 5px;
      
      .ltag__listing-tag{
        margin-right: calc(0.4vw + 4px);
        font-size: 0.8em;
        margin-left: 1px;
      }
    }

    .ltag__listing-author-info {
      color: #666666;
      color: var(--theme-secondary-color, #666666);
      a {
        margin: 0.1vw 0;
        padding: 0;
        font-size: 0.7em;
        margin-bottom: 0;
        font-weight: bold;
        color: #666666;
        color: var(--theme-secondary-color, #666666);
      }
    }
  }
}