@import 'variables';
@import 'mixins';
.ltag__collapsible__details {
  color:$black !important;
  color: var(--theme-color, $black) !important;
  &:active {
    opacity: 0.7;
  }
  display: block;
  margin: 0.2em 0;
  padding: 0.2em;
}
.ltag__collapsible__summary {
  display: list-item;
  padding: 0.2em;
  &:hover {
    cursor: pointer;
  }
}
