.ltag_gist-liquid-tag {
  table {
    margin: 0 !important;
  }

  td {
    border: 0 !important;
    width: 500 !important;
  }

  .gist .markdown-body pre {
    margin-left: 0;
    width: 100%;
    box-sizing: border-box;
    color: #29292e;
  }

  .gist .markdown-body pre code {
    color: #29292e;
  }

  .gist .blob-wrapper table {
    text-size-adjust: none;
    tab-size: 2;
  }
}
