@import '../variables';

.ltag__link__link {
  color: var(--body-color) !important;
  &:active {
    opacity: 0.7;
  }
}
.ltag__link {
  font-family: var(--ff-sans-serif);
  border: 1px solid var(--form-border);
  box-shadow: var(--shadow-smooth);
  border-radius: var(--radius-auto);
  display: block;
  margin: 0.95em 0 1.2em;
  max-width: 100%;
  .video-image {
    position: relative;
    padding-top: 56%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: $black no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
  }
  .video-timestamp {
    position: absolute;
    font-size: 12px;
    bottom: 6px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: $white;
    padding: 0px 5px 0px;
    font-weight: 500;
    border-radius: 3px;
    display: block;
    line-height: 20px;
    img {
      height: 14px;
      width: 14px;
      display: inline-block;
      vertical-align: -2px;
      padding-left: 5px;
    }
  }
  .ltag__link__pic {
    display: inline-block;
    padding: calc(0.6vw + 8px) calc(0.8vw + 8px);
    padding-right: 8px;
    box-sizing: border-box;
    border-radius: var(--radius);
    img {
      width: calc(1.2vw + 40px);
      height: calc(1.2vw + 40px);
      margin: auto auto !important;
      border-radius: 150px;
      box-sizing: border-box;
      max-width: 60px;
      max-height: 60px;
    }
  }
  .ltag__link__org__pic {
    border-radius: var(--radius);
    position: relative;
    display: inline-block;
    padding: calc(0.4vw + 8px) calc(0.8vw + 8px);
    padding-right: 10px;
    box-sizing: border-box;
    &::after {
      content: '';
      opacity: 0.15;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: var(--radius);
      pointer-events: none;
      box-sizing: border-box;
    }
  }
  .ltag__link__org__pic > img {
    display: inline-block;
    width: calc(2.2vw + 45px);
    height: calc(2.5vw + 40px);
    margin: auto auto !important;
    border-radius: var(--radius);
    box-sizing: border-box;
    max-width: 55px;
    max-height: 55px;
  }
  .ltag__link__user__pic {
    display: inline-block;
    position: absolute;
    right: 3px;
    bottom: calc(1vw);
    border: 2px solid var(--base-inverted);
    border-radius: 100%;
    background-color: var(--card-color-tertiary);
    box-sizing: border-box;
    width: calc(2vw + 28px);
    height: calc(2vw + 28px);
    max-width: 38px;
    max-height: 38px;
    img {
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      margin: 0;
    }
  }
  .ltag__link__content {
    display: inline-block;
    vertical-align: top;
    padding: calc(0.7vw + 6px);
    padding-left: 0;
    width: calc(100% - 2.5vw - 70px);
    h2 {
      margin: 0;
      padding: 0;
      font-weight: var(--fw-bold);
      font-size: calc(1.45em + 0.2vw);
      line-height: var(--lh-tight);
    }
    h3 {
      margin: calc(0.3vw + 1px) 0;
      padding: 0;
      font-size: var(--fs-s);
      font-weight: var(--fw-medium);
      color: var(--color);
      color: var(--card-color-tertiary);
      a {
        color: var(--card-color-tertiary);
      }
    }
    .missing {
      padding: 0 10px !important;
    }
    .ltag__link__taglist {
      margin: 0;
      padding: 0;
      line-height: 1;
      font-size: 0.88em;
      margin-bottom: 5px;
      color: var(--tag-color);
    }
    .ltag__link__tag {
      margin-right: calc(0.4vw + 4px);
      font-size: 0.8em;
      margin-left: 1px;
    }
    .ltag__link__servicename {
      color: var(--card-color-tertiary);
      font-size: 0.7em;
      img {
        vertical-align: -5px;
        height: 1.5em;
        width: 1.5em;
        display: inline-block;
        margin-left: 2px;
      }
    }
  }
}

.crayons-article-sticky {
  .ltag__link {
    .ltag__link__org__pic {
      width: 60px;
      height: 60px;
      img {
        width: 33px;
        height: 33px;
      }
    }
    .ltag__link__user__pic {
      width: 19px;
      height: 19px;
      padding: 0 !important;
      img {
        width: 15px;
        height: 15px;
        top: 0;
        position: absolute;
      }
    }
    .ltag__link__pic {
      width: 60px;
      height: 60px;
      img {
        width: 33px;
        height: 33px;
      }
    }
    .ltag__link__content {
      width: calc(100% - 65px);
      h2 {
        font-size: 1.25em;
        line-height: 1.28em;
      }
      h3 {
        margin-top: 4px !important;
      }
    }
  }
}
