.ltag_speakerdeck {
  border: 0px;
  background: padding-box padding-box rgba(0, 0, 0, 0.1);
  margin: 0px;
  padding: 0px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 40px;
  width: 560px;
  height: 420px;
}
