@import '../config/import';

.ltag__user-subscription-tag {
  &__container {
    background: var(--card-bg);
    color: var(--card-color);
    border-radius: var(--radius);
    border: 1px solid var(--card-color);

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: var(--su-4);

    @media screen and (min-width: $breakpoint-m) {
      padding: var(--su-6);
    }
  }

  &__signed-in {
    color: var(--base-70);
  }

  &__profile-images {
    &.signed-in {
      margin: 0 auto var(--su-4);
      position: relative;
      height: 80px;
      width: 80px;

      .ltag__user-subscription-tag__author-profile-image,
      .ltag__user-subscription-tag__subscriber-profile-image {
        display: block;
      }
    }

    &.signed-out {
      height: auto;
      width: auto;
      text-align: center;
      margin: 0 auto;

      .ltag__user-subscription-tag__author-profile-image {
        margin: 0 auto var(--su-4);
      }

      .ltag__user-subscription-tag__subscriber-profile-image {
        display: none;
      }
    }

    img {
      border-radius: 100%;
    }
  }

  &__subscriber-profile-image {
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 0 4px var(--body-color-inverted);
  }
}
