@import 'config/import';

.ltag__user-subscription-tag {
  &__container {
    border-radius: var(--radius);
    border: 2px solid var(--body-color);
    box-shadow: 4px 4px 0 var(--body-color);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: var(--su-4);

    @media screen and (min-width: $breakpoint-m) {
      padding: var(--su-6);
    }
  }

  &__signed-in {
    color: var(--base-70);
  }

  &__profile-images {

    &.signed-in {
      margin: 0 auto var(--su-4);
      position: relative;
      height: 80px;
      width: 80px;
    }

    &.signed-out {
      height: auto;
      width: auto;
      text-align: center;
      margin: 0 auto;

      .ltag__user-subscription-tag__author-profile-image {
        margin: 0 auto var(--su-4);
      }
    }

    img {
      border-radius: 100%;
    }
  }

  &__author-profile-image,
  &__subscriber-profile-image {
    display: block;
  }

  &__subscriber-profile-image {
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 0 4px var(--body-color-inverted);
  }
}

// modal styles overwrite crayons component WIP
#user-subscription-confirmation-modal {
  .crayons-modal__box__header {
    padding: var(--su-3) var(--su-4);
  }

  .crayons-modal__box__body {
    padding: var(--su-6);
  }

  .crayons-modal__overlay {
    position: fixed;
    z-index: 400;
  }
}
