<%= form_with url: verify_email_ownership_admin_user_path(@user), local: true, class: "mb-4 xs:items" do |f| %>
  <% unless @last_email_verification_date %>
    <%= f.button "Send verification email", class: "c-btn c-btn--secondary whitespace-nowrap" %>
  <% else %>
    <p>
      Last verified on
      <time datetime="<%= @last_email_verification_date.strftime("%Y-%m-%dT%H:%M:%S%z") %>" class="fw-medium whitespace-nowrap">
        <%= @last_email_verification_date.strftime("%b %e '%y, %H:%M") %>
      </time>
    </p>
  <% end %>
<% end %>
