<% title "FREE STICKERS - dev.to" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to/freestickers" />
  <meta name="description" content="Free dev stickers!">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

  <meta property="og:type" content="site" />
  <meta property="og:url" content="https://dev.to/freestickers" />
  <meta property="og:title" content="Free Sticker Giveaway by The Practical Dev" />
  <meta property="og:description" content="Every developer gets free stickers!" />
  <meta property="og:site_name" content="The Practical Dev" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@<%= ApplicationConfig["SITE_TWITTER_HANDLE"] %>">
  <meta name="twitter:title" content="FREE STICKERS - dev.to">
  <meta name="twitter:description" content="Every developer gets free stickers!">
  <meta property="og:image" content="https://res.cloudinary.com/practicaldev/image/upload/c_scale,f_auto,fl_progressive,q_80,w_1000/v1487774090/stickers_e0antp.png" />
  <meta name="twitter:image:src" content="https://res.cloudinary.com/practicaldev/image/upload/c_scale,f_auto,fl_progressive,q_80,w_1000/v1487774090/stickers_e0antp.png">

<% end %>

<style>
  <% cache("giveaways-page-cache", expires_in: 30.minutes) do %>
  <%= Rails.application.assets["giveaways.css"].to_s.html_safe %>
  <% end %>
</style>

<div class="giveaway-header" style="background-image:url(https://res.cloudinary.com/practicaldev/image/upload/c_scale,f_auto,fl_progressive,q_80,w_1000/v1487774090/stickers_e0antp.png)">
</div>
<div class="giveaway-container">
  <center>
    <p>* * *</p>
    <h2>
      Thank you for the support!
    </h2>
    <p>
      After six months and 100,000 stickers, dev.to's sticker give-away campaign is officially over. If you got here a little late, we promise that we'll be running more events like this in the future, so you will have a chance to get your hands on some DEV gear.
    </p>
    <p>If you're curious about how exactly all those stickers made it from our office to the far corners of the world, we did
      <a href="https://dev.to/thepracticaldev/sending-100-thousand-stickers">a write-up of the process</a>.</p>
    <p>And if you already requested stickers and didn't get any,
      <a href="/freestickers/edit">click here to revalidate your address</a> so we can send you some more.</p>
    <p>
      ❤️<br />
      Ben & Jess
    </p>
  </center>
</div>
