<p>
  Hi <%= @name %>,
</p>

<p>
  Your dev.to account has been successfully deleted.
</p>

<p>
  Contact us at <a href="mailto:<%= SiteConfig.default_site_email %>"><%= SiteConfig.default_site_email %></a> if there is anything more we can help with. 😊
</p>

<p>
  Thanks,
  <br>
  The DEV Team
</p>
