<p>
  Hi <%= @name %>,
</p>

<p>
  Your dev.to account has been successfully deleted.
</p>

<p>
  Contact us at <a href="mailto:<%= ApplicationConfig["DEFAULT_SITE_EMAIL"] %>"><%= ApplicationConfig["DEFAULT_SITE_EMAIL"] %></a> if there is anything more we can help with. 😊
</p>

<p>
  Thanks,
  <br>
  The DEV Team
</p>
