<p>
  Hi <%= @name %>,
</p>


<p>
  Your dev.to account has been successfully deleted.
  If you'd like to delete all personal information,
  <b>please reply to this email.</b>
</p>

<p>
  It'd be great to hear why you wanted to delete your account, 
  or what feedback you'd like to give us.
</p>

<p>
  Thanks,
  <br>
  The DEV Team
</p>
