<p>
  Hi <%= @name %>,
</p>


<p>
  Your dev.to account has been successfully deleted.
</p>

<p>
  Contact us at yo@dev.to if there is anything more we can help with. 😊
</p>

<p>
  Thanks,
  <br>
  The DEV Team
</p>
