<p>
  Hey <%= @user.name %>, thanks for subscribing to DEV++!
</p>

<p style="font-weight: bold">
  Visit the <a href="https://dev.to/++">DEV++ Hub</a> to get started.
</p>
<p>
  As an early-bird member of the program, some of the features and deals are not yet live, but congrats on getting in early! We will be turning everything on and adding new deals soon.
</p>
<p>
  Happy coding ❤️
</p>