<p>
  Hi there,
</p>

<p>
  Thank you for flagging content that may be in violation of the <%= community_name %> Code of Conduct and/or our Terms of Use. We are looking into your report and will reach out if we require additional information in order to take appropriate action.
</p>

<p>
  We appreciate your help as we work to foster a positive and inclusive environment for all!
</p>

<p>
  Thanks,
  <br>
  The <%= community_name %> Team
</p>
