<p>
  Hey <b>@<%= @mentee.username %></b>!
</p>
<p>
  Let me get straight to the point: your mentor is <b><a href="https://dev.to/<%= @mentor.username %>">@<%= @mentor.username %></a></b>. We have had you two automatically follow each other, so you can find them on DEV Connect, and introduce yourself!
</p>
<p>
  A few notes: 
</p>
<ul>
  <li>
    Every person is different so every mentor/mentee relationship is unique. We expect some mentorships to last longer than others and hope that at the very least, you’ll have made a solid new connection.
  </li>
  <li>
    We expect everyone to abide by our <a href="https://dev.to/code-of-conduct">Code of Conduct</a>, especially in this setting. Should your mentor demonstrate inappropriate behavior, please contact us immediately.
  </li>
  <li>
    If you feel like this was a mismatch, or if your mentor is unresponsive after several days, let us know. 
  </li>
  <li>  
    We highly recommend setting goals and expectations with your mentor from Day 1. 
To help you all get started, we’ve put together some <a href="https://dev.to/jess/mentorship-resources-19p0">resources</a>.
  </li>
</ul>

<p>
  Thanks again for participating in our program. 
</p>
<p>
  Good luck!
</p>
<p>
  Liana 
</p>



