<p>
  Hey <b>@<%= @mentee.username %></b>!
</p>
<p>
  You have been matched with a mentor: <b><a href="https://dev.to/<%= @mentor.username %>">@<%= @mentor.username %></a></b>
</p>
<p>
  As part of the mentorship program, you two have been mutually followed so you may message one another via <b><a href="https://dev.to/connect">DEV Connect</a></b>
</p>
<p>
  <b>@<%= @mentor.username %></b> has been notified as well, so feel free to reach out!
</p>
<p>
  Have a nice day!
</p>
