<p>
Hey!
</p>
<p>
Let me get straight to the point: your mentee is <b><a href="https://dev.to/<%= @mentee.username %>">@<%= @mentee.username %></a></b>. We had you two automatically follow each other, so you can find them <b><a href="https://dev.to/connect">DEV Connect</a></b>, and introduce yourself!
</p>
<p>
A few notes:
</p>
<ul>
  <li>
    Every person is different so every mentor/mentee relationship is unique. We expect some mentorships to last longer than others and hope that at the very least, you’ll have made a solid new connection.
  </li>
  <li>
    We expect everyone to abide by our <b><a href="https://dev.to/code-of-conduct">Code of Conduct</a></b>, especially in this setting. Should your mentee demonstrate inappropriate behavior, please contact us immediately.
  </li>
  <li>
    If you feel like this was a mismatch, or if your mentee is unresponsive after several days, let us know.
  </li>
  <li>
    We highly recommend setting goals and expectations with your mentee from Day 1.
  </li>
  <li>
    To help you all get started, we’ve put together some <b><a href="https://dev.to/jess/mentorship-resources-19p0">Mentorship Resources</a></b>
  </li>
  <li>
    All Mentors will be added to the DEV Connect mentor group this week. Heads up, your mentee may also be a mentor and could be in that group.
  </li>
</ul>
<p>
Thank you for volunteering your time to help someone along in their career.  As this is the very first iteration of DEV Mentorships, please let us know if there’s anything we can do to better support you and your mentee.
</p>
<p>
Thanks again. You are awesome.
</p>
Liana
