<p>
  Hey <b>@<%= @mentor.username %></b>!
</p>
<p>
You have been matched with a new mentee: <b><a href="https://dev.to/<%= @mentee.username %>">@<%= @mentee.username %></a></b>
</p>
<p>
As part of the mentorship program, you two have been mutually followed so you may message one another via <b><a href="https://dev.to/connect">DEV Connect</a></b>
</p>
<p>
Have a nice day!
</p>
<p>
If you need guidance on how to be a great mentor, check out these posts:
</p>
<h1><a href="https://dev.to/jess/mentorship-resources-19p0">Mentorship Resources</a></h1>