Thank you for your report. You can check the status of your report here:
<br>
<a href="https://dev.to<%= @feedback_message.path %>">https://dev.to<%= @feedback_message.path %></a>
<br>
<br>
  If you have any questions, feel free to reply to this email, or send an email to <a href="mailto:yo@dev.to">yo@dev.to</a>.