<h2 style="font-size:25px;"><%= link_to(@message.user.name, "https://dev.to/#{@message.user.username}") %> sent you a message on DEV Connect</h2>
<table>
  <tr>
    <td style='color:#c3c3c3;font-size:14px;padding-bottom:8px'>
    </td>
  </tr>
  <tr>
    <td style='padding:20px;padding-bottom:30px;border-radius:3px;font-size:19px;background:#f4f4f4'>
      <%= @message.message_html.html_safe %>
      <br /><br />
      <a style="background:#3c7dc1;color:white;padding:5px 14px;border-radius:3px;text-decoration:none;display:inline-block;margin-top:4px;" href='https://dev.to/connect/@<%= @message.user.username %>'>view on dev.to</a>
    </td>
  </tr>
</table>
<br />

<em>You only get emails like this if you have not been active on
  <a href="https://dev.to/connect">dev.to/connect</a> in the past day. You may disable this type of email in your settings.</em>
