<p>
  Hey <%= @user.name %>!
</p>
<p>
  Thanks for volunteering to be a DEV tag moderator. We’ve added you as a moderator for
  <a href="https://dev.to/t/<%= @tag_name %>"><%= @tag_name %></a>. You’re currently the only non-core DEV member that’s moderating this tag. Over time, we’ll add additional mods to join you because we view moderation as a collaborative endeavor that benefits from the support of multiple people.
</p>
<p>
  As a tag moderator, you are now able to:
</p>
<ul>
  <li>
    Remove the tag if it’s been added to an irrelevant post.
  </li>
  <li>
    Update the the tag sidebar.
  </li>
</ul>
<p><strong>For details on how to access these features, visit our
  <a href="https://dev.to/tag-moderation">tag moderation</a> page.</strong></p>
<p>
  To aid in communication, we’ve added you to a tag moderator
  <a href="https://dev.to/connect/tag-moderators">DEV Connect channel</a>. You can use this channel to meet other tag moderators across site, and to coordinate with the DEV team. When in doubt about how to exercise your new privileges, please ask!
</p>
<p>
  Tag moderation is still very much in beta, so we’ll be making adjustments and expanding features over time as we receive feedback.
</p>
<p>Thanks for volunteering your time to benefit the DEV Community.</p>
<p>
  Happy Coding!
  <br>
  - DEV Team
</p>
