<p>
  Гей <%= @user.name %>!
</p>
<p>
  Ми раді повідомити вам, що ви отримали нові можливості на Kutok.io!
</p>
<p>
  <b>Тепер на сторінках дописів ви побачите іконку щита. Натисніть на щит, щоб зробити окремі дії, які допоможуть вам прийняти участь у голосуванні за вміст спільноти.</b>
</p>
<p>
  Ось огляд ваших нових можливостей:
  <ul>
    <li>Використовуйте приватні реакції (👎, 👍) щоб голосувати за якість контенту</li>
    <li>Швидко позначайте поведінку, що порушує правила, за допомогою іконки 🧐</li>
  </ul>
</p>

<p>
  Давайте розвивати доброзичливу та конструктивну спільноту. Дякуємо за те, що ви є таким чудовим членом спільноти!
</p>
<p>
  <%= community_name %> Комнда
</p>
