<% if @default_home_feed && user_signed_in? %>
  <% cache("fetched-home-articles-object", expires_in: 3.minutes) do %>
      <div id="new-articles-object" data-articles="
      <%= @new_stories.to_json(only:
                            [:title, :path, :id, :user_id, :comments_count, :positive_reactions_count, :organization_id, :reading_time],
                          methods:
                            [:readable_publish_date, :cached_tag_list_array, :flare_tag, :class_name],
                          include: {user: {only: [:username, :name], methods: [:profile_image_90]},
                                    organization: {only: [:slug, :name], methods: [:profile_image_90]}}) %>">
    </div>
    <div id="home-articles-object" data-articles="
      <%= @stories.to_json(only:
                            [:title, :path, :id, :user_id, :comments_count, :positive_reactions_count, :organization_id, :reading_time],
                          methods:
                            [:readable_publish_date, :cached_tag_list_array, :flare_tag, :class_name],
                          include: { user: {only: [:username, :name], methods: [:profile_image_90]},
                                    organization: {only: [:slug, :name], methods: [:profile_image_90]}}) %>">
      <% 3.times do %>
        <div class="single-article single-article-small-pic">
          <div class="small-pic" >
            <div class="color single-article-loading"></div>
          </div>
          <div class="content">
            <h3 class="single-article-loading">&nbsp;</h3>
          </div>
          <h4 class="single-article-loading" style="width:46%">
            &nbsp;
          </h4>
          <div class="tags single-article-loading" style="width:56%">
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <% @stories.each_with_index do |story, i| %>
    <% next if story.id == @featured_story.id %>
    <% if !user_signed_in? && i == 4 %>
      <%= render 'stories/sign_in_invitation' %>
    <% end %>
    <%= render "articles/single_story", story: story %>
  <% end %>
<% end %>
<% if @stories.size > 1 %>
  <div class="placeholder-div"></div>
<% end %>
<div class="single-article-small-pic" id="article-index-hidden-div" style="display:none"></div>
