<div class="single-article single-article-small-pic feed-cta" id="in-feed-cta">
  <div class="cta-container" id="cta-content">
    <img class="rainbowdevimage" src="<%= SiteConfig.primary_sticker_image_url %>" alt="rainbow DEV logo" />

    <h2>
      <a href="/">DEV</a> is a community of <br /><%= number_with_delimiter User.estimated_count %> amazing humans who code.
    </h2>

    <h3>
      Create your profile to customize your experience and get involved.
    </h3>

    <div class="button-container">
      <a href="/enter" class="cta cta-button" aria-label="Sign up.">
        Join Now
      </a>
      <div class="feed-cta-sub">
        <em>We require social login to prevent abuse.</em>
      </div>
    </div>
  </div>
</div>
