import { h, render } from 'preact';
import { Article, Feed, LoadingArticle } from '../articles';
import { FeaturedArticle } from '../articles/FeaturedArticle';

<% helpers = ActionController::Base.helpers %>

const FEED_ICONS = {
  COMMENTS_ICON: '<%= helpers.image_path("comments-bubble.png") %>',
  REACTIONS_ICON: '<%= helpers.image_path("reactions-stack.png") %>',
  VIDEO_ICON: '<%= helpers.image_path("video-camera.svg") %>',
};

/**
 * Renders the main feed.
 */
export const renderFeed = () => {
  const feedContainer = document.getElementById('homepage-feed');

  render(
    <Feed
      renderFeedItems={(feedItems = []) => {
        if (feedItems.length === 0) {
          // Fancy loading ✨
          return (
            <div>
              <LoadingArticle />
              <LoadingArticle />
              <LoadingArticle />
            </div>
          );
        }

        const [featuredStory, ...subStories] = feedItems;

        // 1. Show the featured story first
        // 2. Podcast episodes out today
        // 3. Rest of the stories for the feed
        return (
          <div>
            <FeaturedArticle
              article={featuredStory}
              reactionsIcon={FEED_ICONS.REACTIONS_ICON}
              commentsIcon={FEED_ICONS.COMMENTS_ICON}
            />
            <div id="article-index-podcast-div">PODCAST EPISODES</div>
            {(subStories || []).map(story => (
              <Article
                article={story}
                reactionsIcon={FEED_ICONS.REACTIONS_ICON}
                commentsIcon={FEED_ICONS.COMMENTS_ICON}
              />
            ))}
          </div>
        );
      }}
    />,
    feedContainer,
    feedContainer.firstElementChild,
  );
};
