<div class="credit-price" data-num="1">
  <div class="credit-amount" data-num="1">1+</div>
  $5/per credit
</div>
<div class="credit-price" data-num="10">
  <div class="credit-amount" data-num="10">10+</div>
  $4/per credit</div>
<div class="credit-price" data-num="100">
  <div class="credit-amount" data-num="100">
    100+
  </div>
  $3/per credit</div>
<div class="credit-price" data-num="1000">
  <div class="credit-amount" data-num="1000">
    1000+
  </div>
  $2.50/per credit
</div>
  <br />
</div>
<p class="bulk-description"><em>Contact <%= contact_link(additional_info: { subject: "Custom Bulk Pricing/Partnerships" }) %> for custom bulk pricing and partnerships.</em></p>
