<details>
  <summary>
    How many credits does one listing cost?
  </summary>
  <div>
    <p>
      All listings cost <strong>1 credit</strong>, except:
    </p>
    <ul>
      <li>
        <strong>products/tools: 5 credits</strong>
      </li>
      <li>
        <strong>job listings: 25 credits</strong>
      </li>
    </ul>
    <p>
      Buying more credits upfront makes listings more cost-effective.
    </p>
    <p>
      25 credits purchased today costs $100. 25 credits purchased individually will cost $125, etc.
    </p>
  </div>
</details>
