<%= stylesheet_link_tag "minimal", media: "all"%>
<h2 class="crayons-title mb-6">Edit Display Ad:</h2>
<div class="crayons-card p-6">
  <%= form_for([:admin, @display_ad], method: :patch) do %>
    <%= render "form" %>
    <%= submit_tag "Update Display Ad", class: "btn btn-primary" %>
  <% end %>
</div>
