<h2 class="crayons-title mb-6">Edit broadcast:</h2>
<div class="crayons-card p-6">
  <%= form_for([:admin, @broadcast], method: :patch) do %>
    <%= render "form" %>
    <%= submit_tag "Update broadcast", class: "crayons-btn mt-4" %>
  <% end %>
</div>
