<h1 class="crayons-title mb-6">Make a new broadcast:</h1>
<div class="crayons-card p-6">
  <%= form_for([:admin, @broadcast], method: :post) do %>
    <%= render "form" %>
    <%= submit_tag "Create broadcast", class: "crayons-btn mt-4" %>
  <% end %>
</div>
