<div class="align-center flex flex-col my-auto py-7">
  <p class="fs-xl fw-normal mb-2">No members invited yet.</p>
  <p class="color-secondary">Invite members and grow your community.</p>
</div>
<div class="flex grow-1 justify-content-center">
  <%= link_to "Invite member", new_admin_invitation_path, class: "c-cta c-cta--branded ml-3" %>
</div>
