<header class="mb-4">
  <h2 class="crayons-subtitle-2 mb-1 flex items-center">
    <%= crayons_icon_tag(:wallet, title: "Wallet", class: "mr-2") %>
    Credits
  </h2>
  <p class="color-secondary">Credits enable users to purchase classified listings from your site. <a href="#" class="c-link c-link--branded">Learn more</a></p>
</header>
<div class="flex justify-between items-center">
  <p class="fs-2xl fw-heavy"><%= @user.unspent_credits_count %></p>
  <button class="c-btn c-btn--secondary whitespace-nowrap" type="button" data-modal-trigger data-modal-title="Adjust balance" data-modal-size="m" data-modal-content-selector="#adjust-balance">Adjust balance</button>
</div>

<div id="adjust-balance" class="hidden">
  hi
</div>
