<header class="mb-4">
  <h2 class="crayons-subtitle-2 mb-1 flex items-center">
    <%= crayons_icon_tag(:team, title: "Organizations", class: "mr-2") %>
    Organizations
  </h2>
  <p class="color-base-60">Assign a roles to this member based on permissions. <a href="#" class="c-link c-link--branded">Learn more</a></p>
</header>
<div class="flex justify-between items-center">
  <p>Not moderating any tags yet.</p>
  <button class="c-btn c-btn--secondary whitespace-nowrap" type="button">Add tag</button>
</div>
