<div class="devise-container">
  <a href="/users/auth/twitter" class="sign-up-link" data-no-instant><%= icon("twitter") %> Twitter</a>
  <a href="/users/auth/github" class="sign-up-link" data-no-instant><%= icon("github") %> Github</a>
</div>
