// Icons
$icon-prefix:     'https://dxstmhyqfqr1o.cloudfront.net/liveChat/';

$icon-send-btn:   'btn-send.svg';

@mixin icon($name) {
  background-image: url($icon-prefix + $name);
  background-position: center;
  background-size: 19px 19px;
  background-repeat: no-repeat;
}
