@import "variables";
@import "mixins";
@import "animation";
@import "icons";

#sb_chat {
  font-family: $font-family-default !important;
  font-weight: $font-weight-default !important;
  -webkit-font-smoothing: antialiased !important;
  text-align: left;

  // Spinner
  .sb-spinner {
    @include reset();
    width: 100%;
    text-align: center;

    div {
      @include reset();
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: $color-spinner-default;
      @include border-radius(50%);
      @include sb-ani-spinner();

    }
    :nth-child(1) {
      @include reset();
      @include animation-delay(-0.32s);
    }
    :nth-child(2) {
      @include reset();
      margin: 0 6px;
      @include animation-delay(-0.16s);
    }
  }

  // Btn
  .sb-common-btn {
    padding: 0 16px;
    border: 1px solid $color-button-border;
    background-color: $color-button-background;
    color: $color-white;
    cursor: pointer;
    @include border-radius(3px);
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.75));
    @include hover {
      @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.75));
    }
  }
  .sb-common-btn.disabled {
    cursor: default;
    background-color: $color-button-background-disabled;
    border: 1px solid $color-button-border-disabled;
    @include hover {
      @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.75));
    }
  }

  // Board
  .chat-board {
    @include reset();
    width: calc(100% - 2px);
    height: calc(100% - 16px);
    padding-bottom: 16px;
    background-color: $color-white;
    border: 1px solid $color-border-top;

    & > .top {
      @include reset();
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-bottom: 1px solid $color-border-top;
      background-color: $color-background-gray;
    }
  }

  // Login
  .login-board {
    @include reset();
    width: calc(100% - 32px);
    padding: 0 16px;

    > .content {
      @include reset();

      > .input-text {
        @include reset();
        font-size: 11px;
        color: $color-login-title;
        padding-bottom: 6px;
      }

      > .input {
        @include reset();
        height: 32px;
        width: calc(100% - 16px);
        color: $color-input-text;
        border: 1px solid $color-border-input;
        background-color: $color-input-background;
        font-size: 13px;
        padding: 0 8px;
        @include border-radius(3px);
        @include focus {
          outline: none;
          border: 1px solid $color-border-input-focus;
          @include box-shadow(0 0 4px $color-input-shadow);
        }
      }
    }
    > .user-id {
      margin-top: 160px;
    }
    > .nickname {
      margin-top: 12px;
    }

    > .btn {
      @include reset();
      @extend .sb-common-btn;
      width: 75px;
      text-align: center;
      padding: 8px 16px;
      margin: 20px auto 0 auto;
      > .sb-spinner {
        height: 16px;
        > div {
          width: 8px;
          height: 8px;
          background-color: $color-button-spinner;
        }
        :nth-child(2) {
          margin: 0 4px;
        }
      }
    }
    > .btn.disabled {
      @include reset();
      width: 75px;
      text-align: center;
      padding: 8px 16px;
      margin: 20px auto 0 auto;
    }
  }

  // Message
  .message-board {
    @include reset();
    width: 100%;
    height: calc(100% - 51px);
    overflow: hidden;

    > .content {
      @include reset();
      width: calc(100% - 32px);
      height: calc(100% - 63px);
      padding: 0 16px 10px 16px;
      overflow-x: hidden;
      overflow-y: scroll;

      > .message-item {
        @include reset();
        margin-top: 8px;

        > .message-text {
          @include reset();
          width: calc(100% - 68px);
          display: inline-block;
          font-size: 13px;
          color: $color-text-message;
          word-wrap: break-word;

          > .nickname {
            @include reset();
            font-size: 13px;
            font-weight: 700 !important;
          }
        }

        > .time {
          @include reset();
          width: 66px;
          float: right;
          font-size: 11px;
          color: $color-gray;
          text-align: right;
        }
      }

      > .sb-spinner {
        height: 100%;
        > div {
          width: 12px;
          height: 12px;
          background-color: $color-spinner-default;
          position: relative;
          top: 50%;
          @include transform-translate(0, -50%);
        }
        :nth-child(2) {
          margin: 0 6px;
        }
      }

    }

    > .btn {
      @include reset();
      width: calc(100% - 32px);
      height: 30px;
      line-height: 30px;
      margin: 0 16px;
      position: relative;
      bottom: 82px;
      color: $color-white;
      background-color: $color-more-message-background;
      text-align: center;
      font-size: 13px;
      cursor: pointer;
    }

    > .content-input {
      @include reset();
      width: calc(100% - 32px - 2px);
      height: 50px;
      margin: 0 16px;
      padding: 0;
      background-color: $color-white;
      border: 1px solid $color-border-bottom;
      position: relative;
      overflow: hidden;
      @include border-radius(2px);

      > .input {
        @include reset();
        width: calc(100% - 55px);
        min-height: 14px;
        max-height: 39px;
        overflow-y: scroll;
        padding-right: 45px !important;
        padding: 18px 10px;
        display: inline-block;
        outline: none !important;
        word-wrap: break-word;
        background-color: $color-white;
        color: $color-text-message;
        font-size: 13px;
      }
      > .input:empty::before {
        width: calc(100% - 35px);
        font-size: 13px;
        content: $content-message-input-default;
        color: $color-text-input;
      }
      > .input:focus:empty::before {
        content: $content-message-input-empty;
      }

      > .icon {
        @include reset();
        position: absolute;
        bottom: 15px;
        right: 20px;
        width: 19px;
        height: 19px;
        padding-left: 5px;
        @include icon($icon-send-btn);
        opacity: 0.3;
        cursor: default;
      }
      > .icon.active {
        opacity: 1;
        cursor: pointer;
      }
    }
    > .content-input.active {
      @include reset();
      width: calc(100% - 32px);
      height: 50px;
      margin: 0 16px;
      padding: 0;
      background-color: $color-white;
      border: 1px solid $color-border-input-focus;
      @include border-radius(2px);
      @include box-shadow(0 0 4px $color-input-shadow);
    }
  }

  .nickname-color-01 { color: $color-message-nickname-01; }
  .nickname-color-02 { color: $color-message-nickname-02; }
  .nickname-color-03 { color: $color-message-nickname-03; }
  .nickname-color-04 { color: $color-message-nickname-04; }
  .nickname-color-05 { color: $color-message-nickname-05; }
  .nickname-color-06 { color: $color-message-nickname-06; }
  .nickname-color-07 { color: $color-message-nickname-07; }
  .nickname-color-08 { color: $color-message-nickname-08; }
  .nickname-color-09 { color: $color-message-nickname-09; }
  .nickname-color-10 { color: $color-message-nickname-10; }
  .nickname-color-11 { color: $color-message-nickname-11; }
  .nickname-color-12 { color: $color-message-nickname-12; }

}
