<div class="crayons-card p-6">
  <h3 class="crayons-subtitle-2 mb-4">Activity</h2>
  <ul>
    <li><%= @organization.articles.size %> articles</li>
    <li><%= @organization.followers.size %> followers</li>
  </ul>
</div>
