<h2 class="crayons-title mb-6">Make a new HTML Variant:</h2>
<div class="crayons-card p-6">
  <%= form_for([:admin, @html_variant], method: :post) do %>
    <%= render "form" %>
    <%= submit_tag "Create HTML Variant", class: "crayons-btn" %>
  <% end %>
</div>
