<h1 class="crayons-title mb-4">Make a new HTML Variant</h1>
<div class="crayons-card p-6">
  <%= form_for([:admin, @html_variant], method: :post) do %>
    <%= render "form" %>
    <%= submit_tag "Create HTML Variant", class: "c-btn c-btn--primary" %>
  <% end %>
</div>
