<div class="content-center crayons-notice crayons-notice--info my-4 ml-1">
  <span class="fs-2xl">HTML Variant Preview</span>
  <br>
  <%= link_to "Back to admin page", "javascript:history.back()" %>
</div>

<%= @html_variant.html.html_safe %>
