@import 'variables';

.sidebar-additional {
  .widget {
    .widget-suggested-follows-container {
      h4 {
        margin: 0;
      }
      .widget-body {
        .widget-list-item__suggestions {
          display: flex;
          align-items: center;

          .widget-list-item__avatar {
            width: 48px;
            height: 48px;

            img {
              width: 100%;
              height: 100%;
              border-radius: 100%;
            }
          }

          .widget-list-item__content {
            flex: 1 auto;
            padding-left: 8px;
            h5 {
              all: unset;
              display: block;
              margin-bottom: 4px;
            }
          }

          .widget-list-item__follow-button {
            border: 2px solid transparent;
            border-radius: 3px;
            padding: 2px 8px;
            text-align: center;
            background-color: $green;
            color: $black;
            font-family: $helvetica-condensed;
            font-weight: 900;
            font-size: 0.8em;
          }
        }
      }
    }
  }
}
