<div class="crayons-layout crayons-layout--limited mx-auto my-8">
  <%= render partial: 'liquids/survey', locals: { survey: @survey } %>
</div>

<script>
  <%= SurveyTag.script.html_safe %>
</script>

