<% if @display_ad %>
  <div class="pb-4 crayons-layout__comments-display-ad">
    <%= render partial: "shared/display_ad", locals: { display_ad: @display_ad, data_context_type: DisplayAdEvent::CONTEXT_TYPE_ARTICLE } %>
  </div>
<% end %>
