#siteConfigBodyContainer {
  padding: 20px;
}

.pagination {
  justify-content: right;

  .page,
  .next,
  .last,
  .first,
  .prev {
    padding: 8px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 25% 15% 15% 15% 15% 15%;
  padding: 2px;
}

.grid-item {
  word-wrap: break-word;
}

.single-internal-listing {
  border-bottom: 1px solid grey;
  padding: 10px;
}

.buffering-area-for-single-listing {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2px;
}

.featured-bg {
  background: #bbffd2;
}

.approved-bg {
  background: #92e8ae;
  border: 12px solid #ff9900;
}

.highlighted-bg {
  background: #2effa8 !important;
  border: 20px solid black;
}

.submitting-no-border {
  background: #96f2cc !important;
}

.highlighted-no-border {
  background: #2effa8 !important;
}

.highlighted-no-border input[type='submit'] {
  display: none;
}

.highlighted-border {
  border: 20px solid black;
}
