@import '../crayons';
@import '../scaffolds';
@import '../variables';

#siteConfigBodyContainer {
  padding: 20px;
}

#siteConfig .card-header {
  cursor: pointer;
}

#siteConfig .card-header__toggle {
  font-size: 12px;
  color: var(--secondary);
}

#siteConfig .notice {
  margin: 20px 0;
  font-weight: bold;
  color: $dark-purple;
  font-size: 14px;
}

.pagination {
  justify-content: right;

  .page,
  .next,
  .last,
  .first,
  .prev {
    padding: 8px;
  }
}

.buffer-cell {
  /* Max-width derived from width of a Bootstrap container */
  max-width: 1140px;
  word-wrap: break-word;
}

.bg-featured {
  background: #bbffd2;
}

.bg-approved {
  background: #92e8ae;
  border: 12px solid #ff9900;
}

.bg-highlighted {
  background: #2effa8 !important;
  border: 20px solid black;
}

.border-highlighted {
  border: 20px solid black;
}

.broadcast-wrapper {
  display: flex;
  position: relative;
  z-index: auto;
}

.sidebar-nav {
  min-height: 100vh;
  background: $light-gray;
  position: sticky;
  top: 0;
  align-self: flex-start;
  max-width: 135px;

  .sidebar-nav-item {
    display: block;
    padding: 0.2em;

    &:hover {
      text-decoration: none;
      background: $light-medium-gray;
    }
  }

  .sidebar-nav-item.active {
    background: $light-medium-gray;
  }
}

body {
  padding-top: 0;
}

.site-config__required {
  background: #dc3545;
  border-radius: 19px;
  padding: 5px 15px;
  color: white;
  text-align: right;
  margin-left: 10px;
}

.site-config__label {
  display: flex;
  justify-content: space-between;
}

#profileFields .card-header {
  cursor: pointer;
}

.profile__group-toggle {
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
  color: grey;
  margin: 1em 0;
  text-align: end;
}
