<div class="classifieds-container">
<%= render 'form', classified_listing: @classified_listing %>
<h2>You have <%= @credits.size %> credits to spend — <a href="/credits/new" data-no-instant>Buy More</a></h2>
</div>

