<% unless @vault_enabled %>
  <div class="crayons-notice crayons-notice--info mb-6" role="alert">
    <p>
      Vault is not currently setup for your application. This means your secrets are being stored as ENV variables and cannot be updated here. To update them you will need to update the appropriate files in your environment.
    </p>
  </div>
<% end %>

<table class="crayons-table" width="100%">
  <thead>
    <tr>
      <th scope="col">Secret Name</th>
      <th scope="col">Secret Value</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="crayons-card">
    <% @secrets.each do |key, partial_value| %>
      <tr>
        <%= form_with(url: "/admin/secrets", method: "PUT", local: true) do %>
          <td><%= label_tag key, key %></td>
          <td><%= text_field_tag key, partial_value %></td>
          <td><%= submit_tag("Update", data: { confirm: "My username is @#{current_user.username} and I want to update this Vault Secret." }, disabled: !@vault_enabled) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
