<% menu_items = %w[
     articles
     badges
     broadcasts
     chat_channels
     comments
     config
     events
     growth
     moderator_actions
     mods
     negative_reactions
     organizations
     page_redirects
     pages
     permissions
     podcasts
     reports
     response_templates
     sponsorships
     tags
     tools
     users
     welcome
   ].sort.each_with_object({}) { |v, h| h[v] = v } %>

<% menu_items[:listings] = "listings" %>
<% menu_items[:webhooks] = "webhook_endpoints" %>

<div class="mt-4">
  <% menu_items.each do |name, controller| %>
    <a class="sidebar-nav-item px-2 <%= "active" if request.path.include?(controller) %>" href="/internal/<%= controller %>"><%= name.to_s.titleize %></a>
  <% end %>
</div>
