<ul class="crayons-navigation">
  <li><a class="query-filter-button crayons-navigation__item" data-filter="class_name:Article" href="javascript:;">
    Posts
  </a></li>
  <li><a class="query-filter-button crayons-navigation__item" data-filter="class_name:PodcastEpisode" href="javascript:;">
    Podcasts
  </a></li>
  <li><a class="query-filter-button crayons-navigation__item" data-filter="class_name:User" href="javascript:;">
    People
  </a></li>
  <li><a class="query-filter-button crayons-navigation__item" data-filter="class_name:Comment" href="javascript:;">
    Comments
  </a></li>
  <li><a class="query-filter-button my-posts-query-button crayons-navigation__item" data-filter="MY_POSTS" href="javascript:;">
    My posts only
  </a></li>
</ul>
