<% if current_user.has_role?(:super_admin) %>
  <div class="crayons-notice p-4 mt-4">
    <div class="crayons-field">
      <%= label_tag :confirmation_update, "Confirmation update", class: "crayons-field__label" %>
      <p class="crayons-field__description">Type the sentence: <strong><%= @confirmation_text %></strong></p>
      <div class="flex">
        <%= text_field_tag :confirmation, nil, class: "crayons-textfield flex-1 mr-2", placeholder: "Confirmation text", autocomplete: "off", required: true, pattern: @confirmation_text %>
        <%= f.submit "Update Site Configuration", class: "crayons-btn align-self-start" %>
      </div>
    </div>
  </div>
<% end %>
