<div class="crayons-layout">
  <div class="crayons-layout__content">
    <div class="crayons-card p-6">
      <h1 class="crayons-title mb-6">Add RSS Feed</h1>
      <%= render "form", rss_feed: @rss_feed %>
    </div>
  </div>
</div>
