<% cache "broadcast-onboarding-notification" do %>
  <a href="<%= activity['actor'].path %>" class="small-pic-link-wrapper">
      <div class="small-pic">
        <img src="<%= ProfileImage.new(activity['actor']).get %>" alt="<%= activity['actor'].username %> profile image">
      </div>
  </a>
  <div class="content notification-content broadcast-content">
    <%= activity['object'].processed_html.html_safe %>
  </div>
<% end %>