<div class="crayons-field">
  <%= form.label :name, class: "crayons-field__label" %>
  <p class="crayons-field__description">
    The name will automatically include the term <strong>Badges</strong>
  </p>
  <%= form.text_field :name, class: "crayons-textfield", required: true %>
</div>

<div class="crayons-field mt-3">
  <%= form.label :description, class: "crayons-field__label" %>
  <%= form.text_area :description, required: true, size: "40x3", class: "crayons-textfield" %>
</div>
