<header class="flex justify-between mb-4 items-center">
  <h1 class="crayons-title">Edit Badge Category</h1>

  <%= link_to "Back to All Badge Categories", admin_badge_categories_path, class: "c-link c-link--block" %>
</header>

<div class="crayons-card p-6">
  <%= form_with url: admin_badge_category_path(@badge_category), model: @badge_category, local: true do |form| %>
    <%= render partial: "form", locals: { form: } %>

    <%= form.submit "Update Badge Category", class: "crayons-btn crayons-btn--primary mt-4" %>
  <% end %>
</div>
