@import '../vars/_variables.scss';

// Basic styling
.crayons-avatar {
  display: inline-block;
  border-radius: 100%;
  position: relative;
  background-color: $smoke-60;
  width: $su-6;
  height: $su-6;

  &--image {
    border-radius: 100%;
    width: 100%;
    height: 100%;
  }

  &__l {
    width: $su-7;
    height: $su-7;
  }

  &__xl {
    width: $su-8;
    height: $su-8;
  }

  &__xxl {
    width: $su-9;
    height: $su-9;
  }

  &__xxxl {
    width: $su-10;
    height: $su-10;
  }
}
