@import '../config/import';

.crayons-comment {
  font-size: var(--fs-s);
  padding-bottom: var(--su-3);
  display: flex;
  align-items: flex-start;
  padding-left: var(--su-3);
  margin-right: var(--su-3);

  &__meta {
    display: flex;
    align-items: flex-start;

    a {
      display: flex;
      align-items: flex-start;
    }
  }

  &__metainner {
    color: var(--base-80);
    margin-bottom: var(--su-1);
  }

  &__body {
    padding-left: var(--su-7);
    width: calc(100% - var(--su-7));
    background: var(--card-tertiary-bg);
    &:hover {
      background: var(--card-tertiary-bg-hover);
    }

    @media (min-width: $breakpoint-m) {
      width: calc(100% - var(--su-7));
    }

    border-radius: var(--radius);
    padding: var(--su-4);
    padding-bottom: var(--su-1);
    .crayons-comment__inner {
      .c-embed {
        padding-top: var(--su-3);
        padding-bottom: var(--su-1);
      }
      .c-embed__cover {
        display: none;
      }
      .c-embed__body {
        font-size: var(--fs-s);
      }
      div
        :not(.crayons-comment__readmore)
        :not(.highlight__panel-action)
        :not(.highlight__panel)
        :not(.highlight) {
        background: var(--card-secondary-bg);
      }
      div:not(.crayons-comment__readmore) {
        margin-bottom: var(--su-3);
      }
      .liquid-comment .body {
        :not(:first-child) {
          display: none;
        }
      }
      li > img {
        display: block;
        max-height: 90px;
      }
      blockquote {
        border-left: 4px solid var(--base-20);
        padding-left: var(--su-2);
      }
      pre:not(.highlight),
      div.highlight,
      li pre.highlight,
      blockquote pre.highlight {
        padding: var(--su-2);
      }
    }
    .crayons-comment__readmore {
      color: var(--base-80);
      font-weight: var(--fw-medium);
      margin-bottom: var(--su-1);
      margin-top: -3px;
      padding-bottom: var(--su-1);
    }
    img {
      max-height: 130px;
      border-radius: var(--radius);
      max-width: 220px;
    }
    iframe {
      max-height: 240px;
      border-radius: var(--radius);
      border: 0;
    }

    a:hover {
      text-decoration: underline; //todo: default for all in-content links
    }

    p {
      margin-bottom: var(--su-3);
    }

    * {
      max-width: 100%;
    }

    div {
      width: auto;
      object-fit: contain;
    }

    pre:not(.highlight),
    div.highlight {
      margin: var(--su-1) auto;
      font-size: 90%; // little adjustment for feed comments since default monospace font looks really tiny there.
    }
  }

  & + & {
    margin-top: var(--su-1);
  }
}
