@import '../config/import';

.drawer-navigation {
  &__item {
    display: flex;

    a {
      width: 100%;
      color: var(--body-color);
      display: flex;
      justify-content: space-between;

      .check-icon {
        display: none;
      }
    }

    a[aria-current='page'] {
      color: var(--link-brand-color);

      .check-icon {
        display: block;
        fill: currentColor;
        color: var(--link-brand-color);
      }
    }
  }
}
