@import '../config/import';

.crayons-dropdown {
  @include generate-box(
    $level: 2,
    $bg: var(--card-bg),
    $border: var(--card-color),
    $color: var(--card-color)
  );
  position: absolute;
  display: none; // initially hidden
  padding: var(--su-4);
  min-width: 250px;

  @media (min-width: $breakpoint-s) {
    max-width: 360px;
    width: max-content;
  }
}
