@import '../config/import';
@import '../base/boxes';

%dropdown-style {
  @extend .crayons-box;
  @extend .crayons-box--level-2;
  position: absolute;
  display: none; // initially hidden
  padding: $su-4;
}

.crayons-dropdown {
  @extend %dropdown-style;

  @media (min-width: $breakpoint-s) {
    min-width: 200px;
    max-width: 250px;
  }

  &--l {
    @media (min-width: $breakpoint-s) {
      min-width: 251px;
      max-width: 320px;
      padding: $su-6;
    }
  }
}
