@import '../vars/variables';

@mixin indicator($this, $name, $color1) {
  &#{'--' + $name} {
    background-color: $color1;
    color: $snowflake;
    &#{$this + '--outlined'} {
      background-color: transparent;
      color: $color1;
      border-color: $color1;
    }
  }
}

// Basic styling
.crayons-indicator {
  font-family: $ff-accent;
  font-size: $fs-xs;
  padding: $su-1;
  background-color: $smoke-20;
  text-align: center;
  line-height: $lh-tight;
  border-radius: $br-default;
  display: inline-block;

  &--outlined {
    background-color: transparent;
    border: 1px solid $smoke-20;
    color: $smoke-80;
  }

  @include indicator(&, accent, $dolphin);
  @include indicator(&, critical, $raspberry);
  @include indicator(&, inverted, $smoke-90);

  // Circle, no text
  &--bullet {
    width: $su-3;
    height: $su-3;
    padding: 0;
    border-radius: 100%;
  }
}
