////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
// .c-link /////////////////////////////////////////////////
////////////////////////////////////////////////////////////

.c-link {
  position: relative;
  display: inline-block;
  border-radius: var(--radius);
  font: inherit;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  color: var(--color);

  &--block {
    display: flex;
    padding: var(--su-2) var(--su-4);
    overflow-wrap: normal;
    background-color: var(--bg);

    &:hover {
      background-color: var(--bg-hover);
    }
  }

  &:hover {
    color: var(--color-hover);
    z-index: var(--z-elevate);
    text-decoration: underline;
  }

  // Both focus declarations below are the same but we unfortunately can't
  // combine them because Safari doesn't recognize it properly.
  //  • First declaration is for all browsers that support :focus-visible
  //    which is basically almost all of them
  //  • Second declaration is for browsers that do not support :focus-visible
  //    which basically is only Safari right now.
  &:focus-visible {
    color: var(--color-hover);
    z-index: var(--z-elevate);
    box-shadow: var(--focus-ring);
    text-decoration: underline;
  }

  .js-focus-visible &.focus-visible:focus {
    color: var(--color-hover);
    z-index: var(--z-elevate);
    box-shadow: var(--focus-ring);
    text-decoration: underline;
  }

  &--block {
    &:focus-visible {
      background-color: var(--bg-hover);
    }

    .js-focus-visible &.focus-visible:focus {
      background-color: var(--bg-hover);
    }
  }

  &[aria-current='page'] {
    --bg: var(--link-current-bg);
    --color: var(--link-current-color);
    font-weight: var(--fw-bold);
  }
}

.c-link {
  --bg: var(--link-bg);
  --bg-hover: var(--link-bg-hover);
  --color: var(--link-color);
  --color-hover: var(--link-branded-color-hover);
}

.c-link--branded {
  --bg: var(--link-branded-bg);
  --bg-hover: var(--link-branded-bg-hover);
  --color: var(--link-branded-color);
  --color-hover: var(--link-branded-color-hover);
}

.c-link--icon-alone {
  padding: var(--su-2);
  // If we ever want to display <Link /> only with icon it should probably
  // no longer be `block` (or `flex`) element, i.e. "Notifications" icon in
  // the header. Hence reverting to `inline-block`.
  display: inline-block;
}

.c-link--icon-left {
  .c-link__icon {
    margin-right: var(--su-1);
  }

  &.c-link--block {
    .c-link__icon {
      margin-right: var(--su-2);
      margin-left: calc(var(--su-2) * -1);
    }
  }
}
