@import '../config/import';

.crayons-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  @include generate-box(
    $level: 3,
    $bg: var(--card-bg),
    $border: var(--card-color),
    $color: var(--card-color)
  );

  &__overlay {
    background: var(--base-100);
    opacity: 0.5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 600;
  }

  &__box {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background: var(--card-bg); // TODO: ?
    z-index: 700;
    max-height: 100%;
    @media (max-width: $breakpoint-s) {
      border: 0 !important; // TODO: this is dirty...
    }

    @media (min-width: $breakpoint-s) {
      max-height: calc(100% - #{$su-6});
    }

    &__header {
      position: static;
      top: 0;
      width: 100%;
      border-bottom: 2px solid black;
      display: flex;
      align-items: center;
      padding: $su-4;
      justify-content: space-between;
    }

    &__body {
      flex: 1 auto;
      padding: $su-6 $su-8;
      max-height: 100%;
      overflow-y: auto;
    }
  }

  &--s {
    .crayons-modal__box {
      max-width: 480px;
    }
  }

  &--m {
    .crayons-modal__box {
      max-width: 640px;
    }
  }
}
