.c-input--multi {
  &__wrapper-border:focus-within {
    @extend %form-styling-focus;

    .c-input--multi__input {
      background-color: var(--form-bg-focus);
    }
  }

  &__input {
    background-color: var(--bg-color);
    color: var(--body-color);
    border: none;
  }

  &__wrapper-border {
    .c-input--multi__input {
      background-color: var(--form-bg);
    }
  }

  .c-btn.c-input--multi__selected {
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:last-child:hover,
    &:last-child:focus-visible {
      color: var(--accent-danger);
    }
  }

  .c-input--multi__popover {
    position: absolute;
    max-height: 500px;
    overflow: auto;
    width: 100%;
    padding: var(--su-1);
    z-index: var(--z-elevate);
    background: var(--card-bg);
    color: var(--card-color);
    border-radius: var(--radius);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.1);
    border: none;

    [role='option'] {
      cursor: pointer;

      &:hover,
      &[aria-selected='true'] {
        background: var(--link-bg-hover);
        color: var(--link-color-hover);
      }
    }
  }
}
