@import '../config/import';

.crayons-notice {
  padding: var(--su-4);
  background: var(--card-bg);
  color: var(--card-color);
  border-radius: var(--radius);

  &--danger {
    background: var(--accent-danger-a10);
  }

  &--warning {
    background: var(--accent-warning-a10);
  }

  &--success {
    background: var(--accent-success-a10);
  }

  &--info {
    background: var(--accent-brand-a10);
  }
}
