@import '../config/import';

.crayons-snackbar {
  position: fixed;
  z-index: var(--z-popover);
  left: var(--su-2);
  right: var(--su-2);
  bottom: var(--su-2);
  display: grid;
  grid-gap: var(--su-2);

  @media (min-width: $breakpoint-s) {
    max-width: 480px;
    width: auto;
    left: var(--su-6);
    right: auto;
    bottom: var(--su-6);
    justify-items: flex-start;
  }

  &__item {
    border-radius: var(--radius);
    background: var(--snackbar-bg);
    color: var(--snackbar-color);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: var(--su-2);
  }

  &__body {
    padding: 0 var(--su-2);
  }

  &__actions {
    flex-shrink: 0;
    padding-left: var(--su-2);
  }
}
