@import '../config/import';

.crayons-tag {
  font-size: var(--fs-xs);
  color: var(--tag-color);
  line-height: 1.3;
  border-radius: var(--radius);
  padding: var(--su-1);
  display: inline-block;

  @media (min-width: $breakpoint-s) {
    font-size: var(--fs-s);
  }

  &__prefix {
    opacity: 0.4;
    font-weight: normal;
  }

  &[href]:hover {
    color: var(--tag-color-hover);
  }

  &--l {
    font-size: var(--fs-l);
  }

  &--xl {
    font-size: var(--fs-xl);
  }

  &--2xl {
    font-size: var(--fs-2xl);
    padding: var(--su-1) var(--su-2);
  }
}
