.c-toggle {
  --knob-position: 2px;
  --knob-size: calc(1.5em - var(--su-1));
  display: inline-flex;
  border-radius: 1000px;

  $this: '.c-toggle';

  &__control {
    width: 2.75em;
    height: 1.5em;
    padding: 2px;
    cursor: pointer;
    display: inline-flex;
    position: relative;
    background: var(--toggle-rail-bg);
    border-radius: 1000px;
    transition: var(--transition-props);

    @media (prefers-reduced-motion: reduce) {
      transition-duration: 0ms;
    }

    &::after {
      content: '';
      background: var(--toggle-knob-bg);
      position: absolute;
      left: var(--knob-position);
      right: 100%;
      width: var(--knob-size);
      height: var(--knob-size);
      border-radius: 1000px;
      transition: var(--transition-props);
      box-shadow: 0 0 0 1px rgba(var(--black), 0.05),
        0 2px 3px rgba(var(--black), 0.2);

      @media (prefers-reduced-motion: reduce) {
        transition-duration: 0ms;
      }
    }
  }

  [type='checkbox'] {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &:checked + #{$this}__control {
      background: var(--toggle-rail-checked-bg);

      &::after {
        left: calc(100% - var(--size) - 2px);
        right: var(--knob-position);
      }
    }

    &:focus-visible + #{$this}__control {
      box-shadow: var(--focus-ring);
      outline: 0;
    }

    &[disabled] + #{$this}__control {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}
