<h1 class="crayons-title mb-4">Make a new Email</h1>
<% if @email.type_of != "onboarding_drip" %>
  <div class="crayons-notice--danger4">
    This email is not an onboarding drip email. It has already been sent, and updating it will not have any affect on sent emails.
  </div>
<% end %>
<div class="crayons-card p-6">
  <%= form_for([:admin, @email], url: admin_email_path(@email), method: :patch) do %>
    <%= render "form" %>
    <%= submit_tag "Update Email", class: "c-btn c-btn--primary" %>
  <% end %>
</div>
