<h1 class="crayons-title mb-4">Make a new Email</h1>
<div class="crayons-card p-6">
  <%= form_with(model: [:admin, @email], url: admin_emails_path, method: :post, local: true) do |form| %>
    <%= render "form", form: form %>
    <%= submit_tag "Save Email", class: "c-btn c-btn--primary" %>
  <% end %>
</div>
