<p>
Гей <%= @user.username %>!
</p>

<p>
Ми надсилаємо цей лист, щоб перевірити, чи маєте ви доступ до цієї адреси електронної пошти.
</p>

<p>
Якщо ви не знаєте, чому ви отримали цей лист, будь ласка, проігноруйте його!
</p>

<p>
  В іншому випадку, <strong><%= link_to "натисніть сюди", app_url(verify_email_authorizations_path(confirmation_token: @confirmation_token, username: @user.username)) %></strong> щоб підтвердити вашу електронну адресу.
</p>
