<h1>Log in to <%= Settings::Community.community_name %></h1>
<p>
  Hey <%= @user.name %>!Click the link below to log in to your account:
</p>
<p>
  <%= link_to "Log in now", magic_link_url(@user.sign_in_token) %>
</p>
<p>
  This link will expire in 20 minutes.
</p>
