@font-face {
  font-family: OpenDyslexic;
  src: font-url('OpenDyslexic-Regular.otf');
}

@font-face {
  font-family: OpenDyslexic-Bold;
  src: font-url('OpenDyslexic-Bold.otf');
}

@font-face {
  font-family: OpenDyslexic-Bolditalic;
  src: font-url('OpenDyslexic-BoldItalic.otf');
}

@font-face {
  font-family: OpenDyslexic-Italic;
  src: font-url('OpenDyslexic-Italic.otf');
}
