.sticker-book {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  a {
    height: auto;
    width: 45%;
    margin-bottom: 45px;
  }

  .badge-image {
    max-width: 100%;
    left: 0;

    &.unearned {
      filter: opacity(20%) contrast(0);
    }
  }

  @media screen and (min-width: 650px) {
    a {
      min-height: 200px;
      width: 200px;
    }
  }
}
