.badge_details {
  img {
    width: 192px;
    height: 192px;
    object-fit: contain;
    aspect-ratio: 1 / 1;
    background-color: #fafafa;
    border-radius: 8px;
    border: 1px solid #f5f5f5;
  }
}
