.badges-page {
  .description {
    font-weight: var(--fw-normal);
    color: var(--color-secondary);
    margin-top: 0;
    padding-top: 0;
  }

  .sticker-book {
    .badge-container {
      width: auto;
      background-color: var(--white);
      cursor: pointer;

      .badge-image-container {
        object-fit: contain;
        width: auto;
        display: flex;
        justify-content: center;
        aspect-ratio: 1 / 1;
        background-color: var(--body-bg);

        .badge-image {
          object-fit: contain;
          width: 70%;
          aspect-ratio: 1 / 1;
        }
      }

      .title {
        color: var(--cta-color);
      }
    }
  }
}
