@import './config/import';

.badge_details {
  .badge-image-container {
    display: flex;
    justify-content: center;
    float: left;
    overflow: hidden;
    width: 192px;
    height: 192px;
    object-fit: contain;
    aspect-ratio: 1 / 1;
    background-color: var(--card-secondary-bg);
    border-radius: 8px;
    border: 1px solid var(--body-bg);

    .badge-image {
      margin: 0 auto;
      object-fit: contain;
      width: 70%;
      aspect-ratio: 1 / 1;
    }

    @media (max-width: $breakpoint-s) {
      float: none;
      margin: 40px auto 0 auto;
    }
  }

  .badge_text_content {
    display: flex;
    flex-direction: column;
    min-height: 192px;
    overflow: hidden;
    padding-left: 40px;

    @media (max-width: $breakpoint-s) {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      padding-left: 0px;
    }

    .title {
      color: var(--cta-color);
      font-size: var(--fs-l);

      @media (max-width: $breakpoint-s) {
        text-align: center;
        margin: 0 auto;
      }
    }

    .description {
      color: var(--card-color-tertiary);
      margin-bottom: 16px;
      font-size: var(--fs-base);

      @media (max-width: $breakpoint-s) {
        text-align: center;
      }
    }

    .got-it-btn {
      align-self: flex-start;
      margin-top: auto;

      @media (max-width: $breakpoint-s) {
        align-self: auto;
        margin-bottom: 16px;
      }
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
    cursor: pointer;

    .close_icon {
      fill: var(--close-icon);
    }
  }
}
