.sticker-book {
  .badge-container {
    width: auto;
    background-color: white;

    .badge-image-conatiner {
      width: auto;
      display: flex;
      aspect-ratio: 1 / 1;
      background-color: #f5f5f5;

      .badge-image {
        object-fit: contain;
        width: 100%;
        aspect-ratio: 1 / 1;
      }
    }
  }
}
