@import 'config/import';
@import 'variables';
@import '_mixins';

.crayons-layout__comments-display-ad {
  .crayons-sponsorship {
    .c-indicator.crayons-sponsorship__indicator {
      line-height: 15px;
    }

    padding-left: var(--content-padding-x);
    padding-bottom: var(--su-6);
    .text-styles {
      padding-right: var(--su-8);
    }
  }
}

.sponsorship-dropdown {
  hr {
    border: 0.5px solid var(--divider);
    margin: 8px;
  }
}

// TODO: to move some of the css from widgets.scss that belong in billlboards

.billboard {
  @media (max-width: $breakpoint-s) {
    .ltag_cta {
      display: block;
    }
  }

  .ltag_cta.inline {
    padding-right: var(--su-7);
    padding-left: var(--su-7);
  }
}
