@import 'variables';
@import '_mixins';

.cta {
  color: $black;
  background: $green;
  font-family: $helvetica-condensed;
  -webkit-appearance: none;
  font-stretch: condensed;
  font-weight: bold;
}

.cta-button {
  background: transparent;
  padding: 8px 0;
  @include themeable(color, theme-color, darken($sky-blue, 17%));
  display: inline-block;
  &:hover {
    text-decoration: underline;
    opacity: 1;
  }
}
