@import 'variables';
@import '_mixins';

.cta {
  color: $black;
  background: $green;
  font-family: $helvetica-condensed;
  -webkit-appearance: none;
  font-stretch: condensed;
  font-weight: bold;
  &.cta-danger {
    background: $red;
  }
}
