@import 'variables';
@import 'mixins';

// High level classes
.chat-page-wrapper {
  margin: 10px auto 0px;
  width: 96%;
  max-width: calc(1540px + 10vw);
}

.live-chat {
  height: calc(100vh - 80px);

  &.live-chat--iossafari {
    height: calc(100vh - 190px);
  }

  overflow-y: hidden;

  @media screen and (min-width: 400px) {
    height: calc(100vh - 80px);
  }
}

//chat
.chat {
  display: flex;
  height: calc(100vh - 91px);

  &.chat--iossafari {
    height: calc(100vh - 201px);
  }

  padding-right: 3px;

  @media screen and (min-width: 400px) {
    height: calc(100vh - 91px);
  }
}

.chat--expanded {
  min-width: 500px;
  width: calc(100%-3px);

  @media screen and (min-width: 500px) {
    min-width: 300px;
  }
}

.chat__notificationsbutton {
  border: 0px;
  font-size: 12px;
  padding: 15px 0px;
  width: 100%;
  color: darken($green, 30%);
  font-weight: bold;
  width: 95%;
  border-radius: 3px;
  border: 1px solid darken($green, 30%);
  box-shadow: 3px 3px 0px darken($green, 30%);
  background: lighten($green, 30%);
  margin-bottom: 5px;

  &:hover {
    @include themeable(
      background,
      theme-container-background-hover,
      lighten($green, 20%)
    );
  }
}

.chat__channels {
  width: 45px;
  min-width: 45px;
  height: inherit;
  position: relative;
  overflow: hidden;
}

.chat__channels--expanded {
  width: 160px;
  min-width: 160px;

  @media screen and (min-width: 1000px) {
    width: 200px;
    min-width: 200px;

    .chat__channelstogglebutt {
      display: none;
    }
  }

  @media screen and (min-width: 1300px) {
    width: calc(220px + 3vw);
    min-width: 220px;
  }

  &.chat__channels--placeholder {
    .chat__channelstogglebutt--placeholderunexpanded {
      display: none;
    }

    @media screen and (max-width: 599px) {
      width: 45px;
      min-width: 45px;

      input {
        display: none;
      }

      .chat__channelstogglebutt {
        display: none;
      }

      .chat__channelstogglebutt--placeholderunexpanded {
        display: block;
        width: 100%;
      }
    }
  }
}

.chat__channelstogglebutt {
  width: 26px;
  height: 38px;
  background: transparent;
  border: 0px;
  -webkit-appearance: none;
  font-size: 18px;
  font-weight: bold;
}

.chat__channels input {
  width: calc(100% - 43px);
  border-radius: 3px;
  border: 1px solid $light-medium-gray;
  box-sizing: border-box;
  padding: 8px;
  font-size: 14px;
  -webkit-appearance: none;
  background: var(--card-bg);
  color: var(--body-color);

  @media screen and (min-width: 1000px) {
    width: calc(100% - 13px);
  }
}

.chat__channeltypefilter {
  padding: 4px 0px 0px;
  width: calc(100% - 13px);
}

.chat__channeltypefilterbutton {
  background: transparent;
  border: 0px;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 15px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid darken($light-medium-gray, 5%);

  @media screen and (min-width: 1300px) {
    width: 33%;
    display: inline-block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}

.chat__channeltypefilterbutton--active {
  color: var(--link-branded-color);

  @media screen and (min-width: 1300px) {
    border: 1px solid darken($light-medium-gray, 5%);
  }
}

.chat__channeltypefilterbutton--inactive {
  @include themeable(color, theme-secondary-color, lighten($medium-gray, 5%));
}

.chat_chatconfig {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 6px;
  font-size: 12px;
  padding: 3px 12px;
  display: inline-block;
  border-radius: 3px;
  background: var(--body-bg);
  border: 1px solid $light-medium-gray;
  font-weight: bold;
  cursor: default;
}

.chat_chatconfig--on {
  color: $green;
}

.chat_chatconfig--off {
  color: $red;
}

.chat__channels--hidden {
  display: none;
}

.chat__activechat {
  height: inherit;
  width: calc(100% - 45px);
  max-width: calc(100% - 45px);

  @media screen and (min-width: 1300px) {
    min-width: calc(100% - calc(280px + 3vw));
  }
}

.chat__videocall {
  height: calc(75vw - 60px);
  width: calc(100% - 60px);
  position: fixed;
  background: $black;
  left: 0px;
  top: 0px;
  text-align: center;
  cursor: grab;
  border-radius: 12px;
  z-index: 10000;

  @media screen and (min-width: 640px) {
    width: 640px;
    height: 480px;
    left: 250px;
    top: 150px;
  }

  &:active {
    cursor: grabbing;
  }

  video {
    border-radius: 12px;
    width: 100%;
    height: 100%;
  }

  .chat__remotevideoscreen-2 {
    video {
      margin-top: 20%;
      width: 45%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }

  .chat__remotevideoscreen-3,
  .chat__remotevideoscreen-4 {
    video {
      width: 45%;
      margin-top: 1%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }

  .chat__remotevideoscreen-5,
  .chat__remotevideoscreen-6 {
    video {
      width: 30%;
      margin-top: 3%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }

  .chat__remotevideoscreen-7,
  .chat__remotevideoscreen-8 {
    video {
      width: 24%;
    }
  }

  .chat__localvideoscren {
    height: 120px;
    width: 160px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);

    video {
      border-radius: 5px;
    }
  }
}

.chatNonChatView {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 80px 7%;
  z-index: 10;
  background: var(--body-bg);
}

.chatNonChatView_exitbutton {
  position: absolute;
  left: 4%;
  top: 60px;
  font-size: 25px;
  background: transparent;
  border: 0px;
  font-size: 1.8em;
  color: var(--body-color);
}

.chatNonChatView_contentblock {
  border: 1px solid $medium-gray;
  padding: 20px;
  margin-bottom: 10px;
  max-width: 900px;
  @include themeable(box-shadow, theme-container-box-shadow, $bold-shadow);

  h2 {
    margin: 5px auto 5px;
  }

  button {
    font-size: 1.6em;
    background: white;
    border: 4px solid $black;
    padding: 4px 12px;
    border-radius: 3px;
    margin: 20px 12px;
  }
}

.chat__videocallexitbutton {
  border: 0px;
  font-size: 20px;
  color: $medium-gray;
  padding: 1px 6px 2px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 3px;
  top: 3px;
}

.chat__videocallcontrolbutton {
  border: 0px;
  font-size: 14px;
  color: $light-medium-gray;
  padding: 3px 0px 4px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 125px;

  &.chat__videocallcontrolbutton--videoonoff {
    left: 140px;
  }
}

.chat__videocalltrackdiv--audio {
  display: none;
}

.chat__videocalltrackdiv--video {
  display: inline;
}

.activechatchannel {
  height: inherit;
  max-height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include themeable(border, theme-container-border, 1px solid $outline-color);
  @include themeable(box-shadow, theme-container-box-shadow, $bold-shadow);
  background: var(--card-bg);
  flex-flow: row nowrap;
}

.activechatchannel__conversation {
  position: relative;
  @include themeable(
    border-top,
    theme-container-border,
    1px solid $outline-color
  );
  order: 1;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  width: 100%;
  min-width: 50%;
  @media screen and (min-width: 1440px) {
    min-width: 55%;
  }
  @media screen and (max-width: 426px) {
    overflow-x: hidden;
  }
}

.activechatchannel__header {
  @include themeable(
    border-bottom,
    theme-container-border,
    1px solid $light-medium-gray
  );
  padding: 10px 12px;
  font-weight: bold;
  font-size: 14px;
  @include themeable(
    background,
    theme-container-accent-background,
    $light-gray
  );
  position: relative;

  a {
    color: var(--body-color);
  }

  .activechatchannel__channelconfig {
    height: 17px;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    @include themeable(filter, theme-social-icon-invert, invert(0));

    img {
      height: 100%;
    }
  }
}

.activechatchannel__messages {
  font-size: calc(15px + 0.05vw);
  padding: 10px 0px;
  flex-grow: 1;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: left;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
}

.activechatchannel__alerts {
  position: relative;
}

.chatalert__default {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  height: 25px;
  justify-content: center;
  position: absolute;
  top: -25px;
  width: 100%;
  font-size: 13px;
}

.chatalert__default--hidden {
  display: none;
}

.activechatchannel__form {
  @include themeable(
    border-top,
    theme-container-border,
    1px solid $outline-color
  );
  @include themeable(background, theme-container-accent-background, #ededed);
  width: 100%;
  height: 60px;
  position: relative;
}

.activechatchannel__incomingcall {
  border: 2px solid $green;
  box-shadow: 6px 6px 0px $green;
  padding: 20px;
  margin: 10px;
  background: lighten($green, 28%);
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  animation: pulser 0.5s linear infinite;
}

.activechatchannel__activecontent {
  order: 2;
  flex: 0 1 auto;
  @include themeable(border, theme-border, 1px solid $outline-color);
  padding: 13px;
  min-width: 50%;
  @media screen and (min-width: 1440px) {
    min-width: 45%;
  }
  -webkit-overflow-scrolling: touch;
  background: var(--body-bg);
  z-index: 200;
  position: relative;
  box-sizing: border-box;
  overflow-y: auto;
  max-width: 100%;

  @media screen and (max-width: 426px) {
    padding: 10px;
    min-width: 50%;
    width: calc(100% - 16px);
    position: fixed;
    height: calc(100% - 86px);
    margin-left: -48px;
    margin-top: -1px;
  }

  @media screen and (min-width: 1000px) {
    margin-left: initial;
    padding: 18px;
    max-width: 480px;
  }

  @media screen and (min-width: 1300px) {
    margin-left: initial;
    padding: 18px;
    max-width: 620px;
  }
}

.live-chat-wrapper .activechatchannel__activecontent {
  min-width: 310px;
  margin-left: -180px;
  max-width: 96%;
  padding: 13px;
}

.activechatchannel__activecontentexitbutton {
  border: 0px;
  font-size: 30px;
  color: var(--card-color-tertiary);
  padding: 0px;
  background: transparent;
  position: absolute;
  left: 4px;
  top: 4px;
  @include themeable(background, theme-container-accent-background, white);
  z-index: 10;
  height: 29px;
  width: 29px;
  line-height: 10px;
  padding-bottom: 5px;
  border-radius: 100px;
  @include themeable(border, theme-border, 1px solid $medium-gray);
}

.activechatchannel__activeArticle {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
}

.activechatchannel__activeArticle iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0px;
}

.activechatchannel__activecontentuserdetails {
  margin-top: 20px;
  font-family: $monospace;
  font-size: 0.9em;

  .key {
    color: $medium-gray;
    margin-bottom: 3px;
    font-size: 0.9em;
  }
}

.userdetails__blockreport {
  margin: 10px 0;

  button {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 254);
    font-size: 1em;
    cursor: pointer;
    padding: 5px;
    margin: 2px 5px;
    border-radius: 3px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;

    &:first-child {
      margin-left: 0;
    }
  }
}

.userdetails__reportabuse,
.userdetails__blockmsg {
  a {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 254);
    font-size: 1em;
    cursor: pointer;
    padding: 5px;
    margin: 2px 5px;
    border-radius: 3px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
  }

  .no {
    background-color: rgb(78, 87, 239);
  }
}

.chat__channelinvitationsindicator a {
  background: linear-gradient(10deg, darken($green, 25%), darken($green, 15%));
  text-align: center;
  padding: 30px 0px;
  display: block;
  border-radius: 3px;
  margin: 3px 0px;
  border: 0px;
  width: 94%;
  color: white;
  font-size: 1.1em;
  font-weight: 700;
  -webkit-appearance: unset;
}

.chatchannels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  width: 99%;
}

.chatchanneltabbutton {
  width: calc(95% - 2px);
  border: none;
  background: transparent;
  padding: 3px 0px;
  margin-bottom: -5px 0;
  box-sizing: border-box;
  color: var(--body-color);

  &:hover {
    .chatchanneltab--inactive {
      border: 1px solid $outline-color;
      box-shadow: $bold-shadow;
    }
  }
}

.chatchanneltab {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  background: inherit;
  text-align: start;
  font-size: 11px;
  font-weight: 500;
  padding: 6px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;

  @media screen and (min-width: 550px) {
    font-size: 13px;
    padding: 8px;
  }
}

.chatchanneltab--active {
  background: var(--card-bg);
  border: 1px solid $dark-purple;
  box-shadow: 3px 3px 0px $dark-purple;
}

.chatchanneltab--new {
  background: lighten($yellow, 10%);
  color: $black;
}

.chatchanneltab--video {
  background: lighten($green, 10%);
  animation: small-pulser 0.5s linear infinite;
}

.chatchanneltabindicator {
  display: inline-block;
  min-height: 0.3em;
  min-width: 0.3em;
  border-radius: 100px;
  margin-right: 3px;

  img {
    height: calc(20px + 0.3vw);
    width: calc(20px + 0.3vw);
    vertical-align: calc(-7px - 0.14vw);
    border: 2px solid transparent;

    &.chatchanneltabindicatordirectimage {
      border: 2px solid $light-medium-gray;
      border-radius: 100px;
      background: white;
    }
  }

  .chatchanneltabgroupicon {
    display: inline-block;
    margin-left: calc(20px + 0.3vw);
  }
}

.chatchanneltabindicator--new {
  background: $yellow;

  img.chatchanneltabindicatordirectimage {
    border: 2px solid $black;
  }
}

.chatchanneltabindicator--phone {
  background: $green;
  padding: 0px 8px;
}

.chatchannels__channelslist {
  padding: 3px 0 10px;
  flex-grow: 1;
  overflow: scroll;
  padding-bottom: 9vw;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.chatchannels__channelslistheader {
  background: lighten($purple, 5%);
  border: 1px solid darken($purple, 20%);
  font-size: 12px;
  color: $dark-purple;
  box-sizing: border-box;
  padding: 5px;
  width: 98%;
  border-radius: 3px;
}

.chatchannels__channelslistfooter {
  font-size: 12px;
  color: $medium-gray;
  padding: 10px;
  opacity: 0.8;
  padding-bottom: 70px;
}

.chatchannels__config {
  position: absolute;
  bottom: -14px;
  left: 0;
  right: 0;
  background: var(--body-bg);
  border-top: 1px solid $light-medium-gray;
  padding: 8px 10px 20px;
  font-weight: bold;
  padding-left: 16px;
  cursor: pointer;

  img {
    opacity: 0.6;
  }

  &:hover {
    .chatchannels__configmenu {
      display: block;
    }
  }
}

.chatchannels__configmenu {
  display: none;
  position: absolute;
  bottom: 42px;
  padding: 12px 10px;
  min-width: 150px;
  left: 0;
  right: 0;
  background: $lightest-gray;
  border-top: 1px solid $light-medium-gray;
  font-size: 13px;

  a {
    color: $dark-gray;
    display: block;
    padding: 5px 0px;
  }
}

.chatchannels__misc {
  height: 70px;
  border-top: 1px solid #c9c9c9;
}

// Chatmessage
.chatmessage {
  padding: 3px 10px;
  display: flex;
  max-width: 100%;

  &:hover {
    @include themeable(
      background,
      theme-container-background-hover,
      $light-gray
    );

    .chatmessagebody__username--link {
      @include themeable(
        background,
        theme-container-background-hover,
        transparent
      );
    }
  }
}
.chatmessage__profileimage {
}

.chatmessage__body {
  flex-grow: 1;
  max-width: calc(100% - 37px);
}

.chatmessagebody__username {
  font-weight: 600;
}

.chatmessage__timestamp {
  font-size: 11px;
  color: darken($light-medium-gray, 6%);
  min-width: 85px;
  text-align: right;
  padding-left: 4px;
  vertical-align: 1px;
}

.chatmessage__bodytext {
  margin: 3px 1px 4px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  pre {
    background: #29292e;
  }

  code {
    background: #29292e;
    padding: 0.1em 0.3em;
    border-radius: 2px;
    color: #eff0f9;
    font-size: 0.95em;
    vertical-align: 0.05em;
    max-width: 100%;
    line-height: 1.4em;
    font-family: $monospace;
  }
}

.chatmessagebody__profileimage {
  height: 25px;
  width: 25px;
  margin-right: 6px;
  border-radius: 20px;
  vertical-align: -3px;

  @media screen and (min-width: 400px) {
    height: 31px;
    width: 31px;
  }
}

.chatmessagebody__username--link {
  color: inherit;
  border-radius: 3px;
  padding: 0px 2px;
  display: inline-block;

  &:hover {
    @include themeable(
      background,
      theme-container-background-hover,
      transparent
    );
  }
}

.chatmessagebody__divider {
}

.chatmessagebody__message {
  p {
    margin-top: 0;
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  blockquote {
    border-left: 4px solid $black;
    margin-left: 0px;
    padding-left: 8px;
  }

  a h1 {
    color: var(--card-color);
    border-color: var(--card-color);
  }

  img {
    max-width: 100%;
  }
}

.chatmessagebody__currentuser {
  background: black;
  color: white;
  padding: 1px 5px;
  border-radius: 2px;
}

// Messagecomposer
.messagecomposer {
  display: flex;
  height: inherit;
  align-items: stretch;
  position: relative;
}

.messagecomposer__input {
  border-radius: 3px;
  font-size: 16px;
  margin: 4px 2px 4px 6px;
  padding: 4px;
  resize: none;
  flex-grow: 1;
  height: 42px;
  background: var(--card-bg);
  @include themeable(border, theme-border, 1px solid $outline-color);
  color: var(--body-color);
}

.messagecomposer__submit {
  margin: 4px 6px 4px 0;
  border-radius: 3px;
  background: $dark-purple;
  font-weight: 600px;
  font-family: $helvetica-condensed;
  color: white;
  font-size: 18px;
  border: 0px;

  @media screen and (min-width: 500px) {
    width: 80px;
  }

  @media screen and (min-width: 1500px) {
    width: 100px;
  }
}

.messagelist__sentinel {
  height: 5px;
}

.chatcodeeditor {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 24px;
  bottom: 0px;
}

.chatcodeeditor__header {
  position: absolute;
  top: -27px;
  left: 35px;
  font-family: $monospace;
  @include themeable(color, theme-color, $dark-gray);
}

.CodeMirror {
  padding: 12px;
  font-size: 0.9em;
}

.cursorelement {
  border-left: 3px solid $red;
  animation: blinker 1s linear infinite;
  padding: 0px;
  z-index: 0;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes pulser {
  50% {
    opacity: 0.8;
    box-shadow: 2px 2px 0px $green;
    padding: 18px;
  }
}

@keyframes small-pulser {
  50% {
    opacity: 0.6;
    box-shadow: 2px 2px 0px $green;
  }
}

.chatchanneljumpback {
  position: relative;
}

.chatchanneljumpback__messages {
  position: absolute;
  bottom: 12px;
  right: 8px;
  background: var(--body-bg);
  color: var(--body-color);
  border: 2px solid $black;
  padding: 7px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}

.chatchanneljumpback__hide {
  display: none;
}

.message__info__actions {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.message__actions {
  display: none;
  justify-content: end;
  -webkit-justify-content: flex-end;
}

.message__actions span {
  margin-left: 7px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.chatmessage:hover .message__actions {
  display: -webkit-flex;
  display: flex;
}

.chatchannels__richlink {
  border: 1px solid darken($light-medium-gray, 15%);
  border-radius: 3px;
  box-shadow: 3px 3px 0px darken($light-medium-gray, 15%);
  color: $black;
  display: block;
  max-width: 670px;
  padding: 0px;
  margin-bottom: 6px;
  background: var(--card-bg);
  .chatchannels__richlinkmainimage {
    position: relative;
    width: 100%;
    margin: auto;
    background: transparent no-repeat center center;
    background-size: cover;
    z-index: 2;
    padding-top: 42%;
  }
  h1 {
    margin-top: 8px;
    padding: 0px calc(10px + 0.2vw);
    line-height: 1.1em;
    img {
      height: 1.2em;
      width: 1.2em;
      margin-right: 5px;
      vertical-align: -0.25em;
      &.chatchannels__richlinkprofilepic {
        border-radius: 100px;
        border: 1px solid var(--card-color-tertiary);
      }
    }
  }
  h4 {
    margin-top: 12px;
    margin-bottom: 15px;
    color: var(--card-color-tertiary);
    font-weight: 500;
    padding: 0px calc(10px + 0.2vw);
    img {
      height: 22px;
      width: 22px;
      border-radius: 100px;
      margin-right: 3px;
      border: 1px solid var(--card-color-tertiary);
      vertical-align: -6px;
    }
  }
}

.message__delete__modal {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: block;
  transition: all 0.3s;
}

.modal__content {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 1em;
  border: 2px solid;
  background: var(--body-bg);
  color: var(--body-color);
}

.modal__content h3 {
  margin: 20px 0;
  text-align: center;
}

.delete__action__buttons {
  display: flex !important;
  justify-content: space-around;
  margin: 40px 0px 20px 0;
}

.delete__action__buttons div {
  border: 2px solid var(--body-color);
  padding: 5px 20px;
  cursor: pointer;
  user-select: none;
}

.message__delete__modal__hide {
  display: none;
}

.message__delete__button {
  background: #ff0000;
  color: white;
}

.messageToBeEdited {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 40px;
  width: calc(100% - 14px);
  top: -53px;
  background: white;
  padding: 0px 5px;
  border: 1px solid var(--header-bg);
  border-left: 3px solid #4e57ef;
  height: 50px;
  overflow: hidden;
  p {
    margin: 18px 0;
  }
}

.closeEdit {
  text-align: right;
  user-select: none;
  cursor: pointer;
  padding: 2px 5px;
  color: #4e57ef;
  font-weight: bold;
}

.editHead {
  position: absolute;
  color: #4e57ef;
  font-size: 14px;
  font-weight: bold;
}

.mention__list {
  position: absolute;
  background: var(--card-bg);
  display: none;
  z-index: 1;
  border-top: 1px solid #dbdbdb;
  bottom: 60px;
  width: 100%;
  max-height: 280px;
  overflow-x: scroll;
}
.mention__list .mention__user {
  padding: 5px 10px;
  border-bottom: 1px solid #dbdbdb;
  cursor: pointer;
}
.compose__outer__container {
  position: relative;
}
.mention__user__image {
  height: 25px;
  width: 25px;
  margin-right: 6px;
  border-radius: 20px;
  align-self: center;
}
.mention__visible {
  display: block;
}
.mention__user {
  display: grid;
  grid-template-columns: 30px 1fr;
}
.mention__user p {
  margin: 0px;
  font-size: 9px;
  color: gray;
  width: max-content;
}
.comment-mentioned-all {
  color: rgb(213, 138, 0);
}

.active__message__list {
  background: var(--theme-container-accent-background, #f5f6f7);
}
