@import 'variables';
@import 'connect/_channel-details';

// High level classes
.chat-page-wrapper{
  margin: 85px auto 0px;
  width: 96%;
  max-width: calc(1440px + 10vw);
}
.live-chat{
  height: calc(100vh - 80px);
  &.live-chat--iossafari{
    height: calc(100vh - 190px);
  }
  overflow-y: hidden;
  @media screen and ( min-width: 400px ){
    height: calc(100vh - 80px);
  }
}

//chat
.chat {
  display: flex;
  height: calc(100vh - 91px);
  &.chat--iossafari{
    height: calc(100vh - 201px);
  }
  padding-right: 3px;
  @media screen and ( min-width: 400px ){
    height: calc(100vh - 91px);
  }
}

.chat--expanded{
  min-width: 500px;
  @media screen and ( min-width: 500px ){
    min-width: 300px;
  }
}

.chat__notificationsbutton{
  border: 0px;
  font-size: 12px;
  padding: 15px 0px;
  width: 100%;
  color: darken($green, 30%);
  font-weight: bold;
  width: 95%;
  border-radius: 3px;
  border: 1px solid darken($green, 30%);
  box-shadow: 3px 3px 0px darken($green, 30%);
  background: lighten($green,30%);
  margin-bottom: 5px;
  &:hover{
    background: lighten($green, 20%);
  }
}

.chat__channels {
  width: 45px;
  height: inherit;
  position: relative;
  overflow: hidden;
}

.chat__channels--expanded{
  width: 200px;
  @media screen and ( min-width: 400px ){
    width: 160px;
  }
  @media screen and ( min-width: 1000px ){
    width: 200px;
    .chat__channelstogglebutt{
      display: none;
    }
  }
  @media screen and ( min-width: 1300px ){
    width: calc(280px + 3vw);
  }
  &.chat__channels--placeholder{
    @media screen and ( max-width: 599px ){
      width: 45px;
      input{
        display: none;
      }
      .chat__channelstogglebutt{
        visibility: hidden;
      }
    }
  }
}

.chat__channelstogglebutt{
  width: 26px;
  height: 38px;
  background: transparent;
  border: 0px;
  -webkit-appearance: none;
  font-size: 18px;
  font-weight: bold;
}

.chat__channels input {
  width: calc(100% - 43px);
  border-radius: 3px;
  border: 1px solid $light-medium-gray;
  box-sizing: border-box;
  padding: 8px;
  margin-left: 2px;
  font-size: 14px;
  -webkit-appearance: none;
  @media screen and ( min-width: 1000px ){
    width: calc(100% - 13px);
  }
}

.chat__channeltypefilter{
  padding: 4px 0px 4px;
}

.chat__channeltypefilterbutton{
  background: transparent;
  border: 0px;
  font-size: 15px;
  padding: 9px 15px 4px;
  font-family: $monospace;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: inline-block;
  border-bottom: 1px solid $light-medium-gray;
}

.chat__channeltypefilterbutton--active {
  background: lighten($green, 18%);
}

.chat_chatconfig{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 6px;
  font-size:12px;
  padding: 3px 12px;
  display: inline-block;
  border-radius: 3px;
  background: $lightest-gray;
  border: 1px solid $light-medium-gray;
  font-weight: bold;
  cursor: default;
}

.chat_chatconfig--on{
  color: $green;
}

.chat_chatconfig--off{
  color: $red;
}

.chat__channels--hidden {
  display: none;
}

.chat__activechat {
  height: inherit;
  width: calc(100% - 45px);
}

.chat__videocall{
  height: 480px;
  width: 640px;
  position:fixed;
  background: $black;
  border-radius: 12px;
  left: 250px;
  top: 200px;
  text-align: center;
  cursor: grab;
  &:active{
    cursor: grabbing;
  }
  video{
    border-radius: 12px;
    width: 100%;
    height: 100%;
  }
  .chat__remotevideoscreen-2{
    video{
      margin-top: 20%;
      width:45%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }
  .chat__remotevideoscreen-3,.chat__remotevideoscreen-4{
    video{
      width:45%;
      margin-top: 1%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }
  .chat__remotevideoscreen-5,.chat__remotevideoscreen-6{
    video{
      width:30%;
      margin-top: 3%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }
  .chat__remotevideoscreen-7,.chat__remotevideoscreen-8{
    video{
      width:24%;
    }
  }
  .chat__localvideoscren{
    height: 120px;
    width: 160px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    video{
      border-radius: 5px
    }
  }
}

.chatNonChatView{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 80px 7%;
  background: white;
}

.chatNonChatView_exitbutton{
  position: absolute;
  left: 4%;
  top: 60px;
  font-size:25px;
  background: white;
  border:0px;
  font-size:1.8em;
}

.chatNonChatView_contentblock{
  border: 1px solid $medium-gray;
  padding: 20px;
  margin-bottom: 10px;
  max-width: 900px;
  box-shadow: $bold-shadow;
  h2{
    margin:5px auto 5px;
  }
  button{
    font-size: 1.6em;
    background: white;
    border: 4px solid $black;
    padding: 4px 12px;
    border-radius: 3px;
    margin: 20px 12px;
  }
}

.chat__videocallexitbutton{
  border:  0px;
  font-size: 20px;
  color: $medium-gray;
  padding:1px 6px 2px;
  border-radius:6px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 3px;
  top: 3px;
}

.activechatchannel {
  height: inherit;
  max-height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid $outline-color;
  box-shadow: $bold-shadow;
  background: white;
}

.activechatchannel__conversation{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 3;
}

.activechatchannel__header{
  border-bottom: 1px solid $light-medium-gray;
  padding: 10px 12px;
  font-weight: bold;
  font-size:14px;
  background: $light-gray;
  a{color: $black}
}

.activechatchannel__messages {
  font-size: 15px;
  padding: 10px 0px;
  flex-grow: 1;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: left;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
}

.activechatchannel__alerts {
  position: relative;
}

.chatalert__default {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  height: 25px;
  justify-content: center;
  position: absolute;
  top: -25px;
  width: 100%;
  font-size: 13px;
}

.chatalert__default--hidden {
  display: none;
}

.activechatchannel__form {
  border-top: 1px solid $outline-color;
  background: #ededed;
  width: 100%;
  height: 70px;
}

// Chatmessage
.chatmessage {
  padding: 3px 10px;
  display: flex;
  // justify-content: space-between;

  &:hover {
    background: $light-gray;
  }

}

.activechatchannel__incomingcall{
  border: 2px solid $green;
  box-shadow: 6px 6px 0px $green;
  padding: 20px;
  margin: 10px;
  background: lighten($green, 28%);
  font-size: 28px;
  font-weight: bold;
  cursor:pointer;
  animation: pulser 0.5s linear infinite;
}

.activechatchannel__activecontent{
  border: 1px solid $outline-color;
  border-left: 2px solid $outline-color;
  padding: 13px;
  min-width: 310px;
  margin-left: -180px;
  background: white;
  flex-basis: 80%;
  z-index: 200;
  position: relative;
  box-sizing: border-box;
  overflow-y: scroll;
  max-width:96%;
  @media screen and ( min-width: 1000px ){
    margin-left: initial;
    min-width: 0px;
    padding: 18px;
    max-width:480px;
  }
  @media screen and ( min-width: 1300px ){
    margin-left: initial;
    min-width: 0px;
    padding: 18px;
    max-width:620px;
  }
}

.live-chat-wrapper .activechatchannel__activecontent{
  min-width: 310px;
  margin-left: -180px;
  max-width:96%;
  padding: 13px;
}

.activechatchannel__activecontentexitbutton{
  border:  0px;
  font-size: 36px;
  color: $medium-gray;
  padding:0px;
  background: transparent;
  position: absolute;
  left: 6px;
  top:-5px;
}

.activechatchannel__activeArticle{
  position: absolute;
  top: 36px; left: 0; right: 0; bottom: 0;
  border-top: 1px solid $light-medium-gray !important;
}

.activechatchannel__activeArticleDetails{
  position: absolute;
  top: -25px;
  right: 2px;
  left: 42px;
  font-family: $monospace;
  font-size:0.85em;
  a{
    color: $dark-gray;
  }
  .activechatchannel__activeArticleDetailsPath{
    display: inline-block;
    max-width: calc(100% - 20px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  img{
    height: 1.1em;
    width: 1.1em;
    margin-left: 10px;
    vertical-align:2px;
    opacity:0.86;
    &:hover{
      opacity:1;
    }
  }
}


.activechatchannel__activecontentuserdetails{
  margin-top:20px;
  font-family: $monospace;
  font-size:0.9em;
  .key{
    color: $medium-gray;
    margin-bottom: 3px;
    font-size:0.9em
  }
}

.chat .activechatchannel__activeArticle .container {
  position: absolute;
  top: 0px; left: 0; right: 0; bottom: 30px;
  overflow-y: scroll;
  border-radius: 0px;
  margin-top: 0px !important;
  pre{
    width:97%;
    margin-left:-3%;
    padding-left:4%;
    padding-right:7%;
  }
}

.activechatchannel__activeArticleActions{
  position:absolute;
  bottom:0;
  left:0px;
  right:0px;
  padding: 19px;
  background: white;
  z-index: 20;
  border-top: 1px solid $light-medium-gray;
  button {
    border: 1px solid $light-medium-gray;
    padding: 3px 20px;
    border-radius: 3px;
    margin-right: 15px;
    &.active {
      border: 2px solid $black;
      padding: 2px 19px;
      background-color:$green;
      &.unicorn-reaction-button{
        background-color:$purple;
      }
      &.readinglist-reaction-button{
        background: lighten($bold-blue, 32%);
      }
      }
    img {
      width: 22px;
      height: 22px;
    }
  }
}


.activecontent__githubrepo{
}

.activecontent__githubrepoheader{
  padding-left: 30px;
  padding-bottom: 3px;
  min-height: 30px;
  margin-top:-2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activecontent__githubrepofiles{
  border-bottom: 1px solid $light-medium-gray;
  font-size:0.8em;
}

.activecontent__githubrepofilerow{
  padding: 4px 2px;
  border-top: 1px solid $light-medium-gray;
}

.chat__channelinvitationsindicator button {
  background: $green;
  text-align: center;
  padding: 10px 0px;
  display: block;
  border-radius: 3px;
  margin: 3px 0px;
  border: 0px;
  width: 93%;
  font-size: 0.9em;
}

.chatchannels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  width: 99%;
}
.chatchanneltabbutton{
  width: 93%;
  border: none;
  background: transparent;
  padding:3px 0px;
  margin-bottom: -5px 0;
  &:hover {
    .chatchanneltab--inactive {
      border: 1px solid $outline-color;
      box-shadow: $bold-shadow;
    }
  }
}
.chatchanneltab {
  display:inline-block;
  width: 90%;
  margin-bottom: 5px;
  background: inherit;
  text-align: start;
  font-size: 11px;
  font-weight: 500;
  padding: 6px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @media screen and ( min-width: 550px ){
    font-size: 13px;
    padding: 8px;
  }
}

.chatchanneltab--active {
  background: white;
  border: 1px solid $dark-purple;
  box-shadow: 3px 3px 0px $dark-purple;
}

.chatchanneltab--new {
  background: lighten($yellow, 10%);
}

.chatchanneltabindicator{
  display: inline-block;
  min-height: 0.3em;
  min-width: 0.3em;
  border-radius: 100px;
  // vertical-align: -0.05em;
  margin-right: 3px;
  img {
    height: calc(20px + 0.3vw);
    width: calc(20px + 0.3vw);
    vertical-align: calc(-7px - 0.14vw);
    border: 2px solid transparent;
    &.chatchanneltabindicatordirectimage{
      border: 2px solid $light-medium-gray;
      border-radius: 100px;
    }
  }
  .chatchanneltabgroupicon{
    display: inline-block;
    margin-left: calc(20px + 0.3vw);
  }
}

.chatchanneltabindicator--new{
  background: $yellow;
  img.chatchanneltabindicatordirectimage {
    border: 2px solid $black;
  }
}

.chatchanneltabindicator--phone{
  background: $green;
  padding: 0px 8px;
}

.chatchannels__channelslist {
  padding: 3px 0 10px;
  flex-grow: 1;
  overflow: scroll;
  padding-bottom: 9vw;
  overflow-x: hidden;
}

.chatchannels__channelslistheader{
  background: lighten($purple, 5%);
  border: 1px solid darken($purple, 20%);
  font-size: 12px;
  color: $dark-purple;
  box-sizing: border-box;
  padding: 5px;
  width: 98%;
  border-radius: 3px;
}

.chatchannels__channelslistfooter{
  font-size: 12px;
  color: $medium-gray;
  padding: 10px;
  opacity:0.8;
  padding-bottom: 70px;
}

.chatchannels__config{
  position: absolute;
  bottom: -14px;
  left: 0;
  right: 0;
  background: $lightest-gray;
  border-top: 1px solid $light-medium-gray;
  padding: 8px 10px 20px;
  font-weight: bold;
  padding-left: 16px;
  cursor: pointer;
  img{
    opacity:0.6;
  }
  &:hover{
    .chatchannels__configmenu{
      display: block;
    }
  }
}
.chatchannels__configmenu{
  display: none;
  position: absolute;
  bottom: 42px;
  padding: 12px 10px;
  min-width: 150px;
  left: 0;
  right: 0;
  background: $lightest-gray;
  border-top: 1px solid $light-medium-gray;
  font-size: 13px;
  a {
    color: $dark-gray;
    display: block;
    padding: 5px 0px;
  }
}

.chatchannels__misc {
  height: 70px;
  border-top: 1px solid #c9c9c9
}

.chatmessage__body {
  flex-grow: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  pre{
    background:$lightest-gray;
  }
  code {
    background:$lightest-gray;
    padding:0.1em 0.3em 0px;
    border-radius:2px;
    color:#333842;
    font-size:0.95em;
    vertical-align:0.05em;
    max-width:100%;
    line-height:1.4em;
    font-family: $monospace;
  }
}
.chatmessage__bodytext{
  margin: 3px 1px 4px;
}

.chatmessage__timestamp {
  font-size: 11px;
  color: darken($light-medium-gray, 6%);
  min-width: 85px;
  text-align:right;
  padding-left: 4px;
  vertical-align: 1px;
}

.chatmessagebody__profileimage {
  height: 25px;
  width: 25px;
  margin-right: 6px;
  border-radius: 20px;
  vertical-align: -3px;
  @media screen and ( min-width: 400px ){
    height: 31px;
    width: 31px;
  }
}

.chatmessagebody__username {
  font-weight: 600;
}

.chatmessagebody__username--link {
  color: inherit;
}

.chatmessagebody__divider {

}

.chatmessagebody__message {
}

.chatmessagebody__currentuser {
  background: black;
  color: white;
  padding: 1px 5px;
  border-radius: 2px;
}

// Messagecomposer
.messagecomposer {
  display: flex;
  height: inherit;
  align-items: stretch;
}

.messagecomposer__input {
  border-radius: 3px;
  border: 1px solid $outline-color;
  font-size: 14px;
  margin: 10px;
  padding: 5px;
  resize: none;
  flex-grow: 1;
}

.messagecomposer__submit {
  margin: 10px 10px 10px 0;
  border-radius: 3px;
  background: $dark-purple;
  font-weight: 600px;
  font-family: $helvetica-condensed;
  width: 80px;
  color: white;
  font-size: 18px;
}

.messagelist__sentinel {
  height: 5px;
}

.chatcodeeditor{
  position: absolute;
  top: 40px;
  left: 0px;
  right: 24px;
  bottom: 0px;
}
.chatcodeeditor__header{
  position: absolute;
  top: -27px;
  left: 35px;
  font-family: $monospace;
  color: $dark-gray;
}

.CodeMirror{
  padding: 12px;
  font-size:0.9em;
}

.cursorelement{
  border-left: 3px solid $red;
  animation: blinker 1s linear infinite;
  padding: 0px;
  z-index: 0;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes pulser {
  50% {
    opacity: 0.8;
    box-shadow: 2px 2px 0px $green;
    padding: 18px;
  }
}

.chat .container {
  box-shadow: 0px 0px 0px #ffffff !important;
  border: 0px !important;
  margin-top: 8px !important;
  .title{
    width:95%;
    font-size:18px;
    h1{
      font-size:28px !important;
    }
  }
  .body {
    font-size:20px;
    width:96%;
  }
}
