@import 'variables';

// High level classes
.chat-page-wrapper{
  height: calc(100vh - 121px);
  margin: 100px auto;
  width: 96%;
  max-width: 1240px;
  height: calc(100vh - 155px);
  @media screen and ( min-width: 375px ){
    height: calc(100vh - 121px);
  }
}
.live-chat{
  height: calc(100vh - 155px);
  overflow-y: hidden;
  @media screen and ( min-width: 375px ){
    height: calc(100vh - 121px);
  }
}
.chat-page-header{
  background: $green;
  text-align: center;
  padding: 5px;
  margin-top: -25px;
  border-radius: 3px;
  margin-bottom: 5px;
  font-size:0.8em;
  font-weight: bold;
}


//chat
.chat {
  display: flex;
  height: calc(100vh - 162px);
  padding-right: 3px;
  @media screen and ( min-width: 375px ){
    height: calc(100vh - 128px);
  }
}

.chat__notificationsbutton{
  border: 0px;
  font-size: 12px;
  padding: 15px 0px;
  width: 100%;
  color: darken($green, 30%);
  font-weight: bold;
  width: 95%;
  border-radius: 3px;
  border: 1px solid darken($green, 30%);
  box-shadow: 3px 3px 0px darken($green, 30%);
  background: lighten($green,30%);
  &:hover{
    background: lighten($green, 20%);
  }
}

.chat__channels {
  width: 45px;
  height: inherit;
  position: relative;
}

.chat__channels--expanded{
  width: 180px;
  @media screen and ( min-width: 1000px ){
    .chat__channelstogglebutt{
      display: none;
    }
  }
}

.chat__channelstogglebutt{
  width: 26px;
  height: 38px;
  background: transparent;
  border: 0px;
  -webkit-appearance: none;
  font-size: 18px;
  font-weight: bold;
}

.chat__channels input {
  width: calc(100% - 37px);
  border-radius: 3px;
  border: 1px solid $light-medium-gray;
  box-sizing: border-box;
  padding: 8px;
  margin-left: 2px;
  font-size: 14px;
  @media screen and ( min-width: 1000px ){
  width: calc(100% - 12px);
  }
}

.chat_chatconfig{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 6px;
  font-size:12px;
  padding: 3px 12px;
  display: inline-block;
  border-radius: 3px;
  background: $lightest-gray;
  border: 1px solid $light-medium-gray;
  font-weight: bold;
  cursor: default;
}

.chat_chatconfig--on{
  color: $green;
}

.chat_chatconfig--off{
  color: $red;
}

.chat__channels--hidden {
  display: none;
}

.chat__activechat {
  flex-grow: 1;
  height: inherit;
}

.activechatchannel {
  height: inherit;
  max-height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid $outline-color;
  box-shadow: $bold-shadow;
  background: white;
}

.activechatchannel__conversation{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 3;
}

.activechatchannel__header{
  border-bottom: 1px solid $light-medium-gray;
  padding: 10px 12px;
  font-weight: bold;
  font-size:14px;
  background: $light-gray;
  a{color: $black}
}

.activechatchannel__messages {
  font-size: 15px;
  padding: 10px 0px;
  flex-grow: 1;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: left;
  overscroll-behavior-y: contain;
}

.activechatchannel__alerts {
  position: relative;
}

.chatalert__default {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  height: 25px;
  justify-content: center;
  position: absolute;
  top: -25px;
  width: 100%;
  font-size: 13px;
}

.chatalert__default--hidden {
  display: none;
}

.activechatchannel__form {
  border-top: 1px solid $outline-color;
  background: #ededed;
  width: 100%;
  height: 70px;
}

// Chatmessage
.chatmessage {
  padding: 3px 10px;
  display: flex;
  // justify-content: space-between;

  &:hover {
    background: $light-gray;
  }

}

.activechatchannel__activecontent{
  border-left: 2px solid $outline-color;
  padding: 13px;
  min-width: 290px;
  margin-left: -180px;
  background: white;
  flex-basis: 80%;
  z-index: 200;
  position: relative;
  box-sizing: border-box;
  overflow-y: scroll;
  @media screen and ( min-width: 1000px ){
    margin-left: initial;
    min-width: 0px;
    padding: 18px;
    max-width:480px;
  }
}

.activechatchannel__activecontentexitbutton{
  border:  0px;
  font-size: 36px;
  color: $medium-gray;
  padding:0px;
  background: transparent;
  position: absolute;
  left: 6px;
  top:-4px;
}

.chatchannels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  width: inherit;
}
.chatchanneltabbutton{
  width: 93%;
  border: none;
  background: transparent;
  padding:0;
  &:hover {
    .chatchanneltab--inactive {
      border: 1px solid $outline-color;
      box-shadow: $bold-shadow;
    }
  }
}
.chatchanneltab {
  display:inline-block;
  width: 90%;
  margin-bottom: 5px;
  background: inherit;
  text-align: start;
  font-size: 11px;
  font-weight: 500;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @media screen and ( min-width: 550px ){
    font-size: 13px;
  }
}

.chatchanneltab--active {
  background: white;
  border: 1px solid $dark-purple;
  box-shadow: 3px 3px 0px $dark-purple;
}

.chatchanneltab--new {
  background: lighten($yellow, 10%);
}

.chatchanneltabindicator{
  display: inline-block;
  background: $light-medium-gray;
  border: 2px solid $light-medium-gray;
  min-height: 0.3em;
  min-width: 0.3em;
  border-radius: 100px;
  // vertical-align: -0.05em;
  margin-right: 3px;
  img {
    height: 20px;
    width: 20px;
    border-radius: 100px;
    vertical-align: -7px;
    border: 3px solid $light-medium-gray;
  }
}

.chatchanneltabindicator--new{
  background: $yellow;
  border: 2px solid $black;
  img {
    border: 3px solid $yellow;
  }
}

.chatchannels__channelslist {
  padding: 10px 0;
  flex-grow: 1;
  overflow: scroll;
  padding-bottom: 25px;
}

.chatchannels__channelslistfooter{
  font-size: 12px;
  color: $medium-gray;
  padding: 10px;
  opacity:0.8;
  padding-bottom: 70px;
}

.chatchannels__config{
  position: absolute;
  bottom: -14px;
  left: 0;
  right: 0;
  background: $lightest-gray;
  border-top: 1px solid $light-medium-gray;
  padding: 8px 10px 20px;
  font-weight: bold;
  padding-left: 16px;
  cursor: pointer;
  img{
    opacity:0.6;
  }
  &:hover{
    .chatchannels__configmenu{
      display: block;
    }
  }
}
.chatchannels__configmenu{
  display: none;
  position: absolute;
  bottom: 42px;
  padding: 12px 10px;
  min-width: 150px;
  left: 0;
  right: 0;
  background: $lightest-gray;
  border-top: 1px solid $light-medium-gray;
  font-size: 13px;
  a {
    color: $dark-gray;
    display: block;
    padding: 5px 0px;
  }
}

.chatchannels__misc {
  height: 70px;
  border-top: 1px solid #c9c9c9
}

.chatmessage__body {
  flex-grow: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  code {
    background:$lightest-gray;
    padding:0.1em 0.3em 0px;
    border-radius:2px;
    color:#333842;
    font-size:0.95em;
    vertical-align:0.05em;
    max-width:100%;
    line-height:1.4em;
    font-family: $monospace;
  }
}

.chatmessage__timestamp {
  font-size: 11px;
  color: lightgray;
  min-width: 95px;
  padding-top: 4px;
}

.chatmessagebody__profileimage {
  height: 23px;
  width: 23px;
  margin-right: 6px;
  border-radius: 20px;
  vertical-align: -5px;
}

.chatmessagebody__username {
  font-weight: 600;
}

.chatmessagebody__username--link {
  color: inherit;
}

.chatmessagebody__divider {

}

.chatmessagebody__message {
}

.chatmessagebody__currentuser {
  background: black;
  color: white;
  padding: 1px 5px;
  border-radius: 2px;
}

// Messagecomposer
.messagecomposer {
  display: flex;
  height: inherit;
  align-items: stretch;
}

.messagecomposer__input {
  border-radius: 3px;
  border: 1px solid $outline-color;
  font-size: 14px;
  margin: 10px;
  padding: 5px;
  resize: none;
  flex-grow: 1;
}

.messagecomposer__submit {
  margin: 10px 10px 10px 0;
  border-radius: 3px;
  background: $dark-purple;
  font-weight: 600px;
  font-family: $helvetica-condensed;
  width: 80px;
  color: white;
  font-size: 18px;
}

.messagelist__sentinel {
  height: 5px;
}

.chatcodeeditor{
  position: absolute;
  top: 40px;
  left: 0px;
  right: 24px;
  bottom: 0px;
}
.chatcodeeditor__header{
  position: absolute;
  top: -27px;
  left: 35px;
  font-family: $monospace;
  color: $dark-gray;
}

.CodeMirror{
  padding: 12px;
  font-size:0.9em;
}

.cursorelement{
  border-left: 3px solid $red;
  animation: blinker 1s linear infinite;
  padding: 0px;
  z-index: 0;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.chat .container {
  box-shadow: 0px 0px 0px #ffffff !important;
  border: 0px !important;
  margin-top: 8px !important;
  .title{
    width:95%;
    font-size:18px;
    h1{
      font-size:28px !important;
    }
  }
  .body {
    font-size:20px;
    width:96%;
  }
}