// High level class
.chatchannel {
  height: inherit;
  max-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #c9c9c9;
}

.chatchannel__messages {
  font-size: 15px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.chatchannel__alerts {
  position: relative;
}

.chatalert__default {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  height: 25px;
  justify-content: center;
  position: absolute;
  top: -25px;
  width: 100%;
  font-size: 13px;
}

.chatalert__default--hidden {
  display: none;
}

.chatchannel__form {
  border-top: 1px solid #c9c9c9;
  background: #ededed;
  width: 100%;
  height: 70px;
}

// Chatmessage
.chatmessage {
  display: inline-block;
  padding: 3px 10px;

  &:hover {
    background: #e3e3e3;
  }

}

.chatmessage__username {
  font-weight: 600;
}

.chatmessage__divider {

}

.chatmessage__message {

}

// Messagecomposer
.messagecomposer {
  display: flex;
  height: inherit;
  align-items: stretch;
}

.messagecomposer__input {
  border-radius: 3px;
  border: 1px solid #c9c9c9;
  font-size: 13px;
  margin: 10px;
  padding: 6px;
  resize: none;
  width: 80%;
}

.messagecomposer__submit {
  margin: 10px 10px 10px 0;
  border: 1px solid black;
  border-radius: 3px;
  background: #66e2d5;
  font-weight: 500px;
}
