@import 'variables';

.classifieds-container {
  margin: 80px auto;
  text-align: left;
  max-width: 96%;
  @media screen and (min-width: 950px) {
    margin: 50px auto;
  }
  .classified-filters {
    padding: 20px 0px 10px;
    a {
      padding: 2px 16px;
      border-radius: 3px;
      &.selected {
        background: $bold-blue;
        color: white;
      }
      &.cta {
        border: 2px solid $black;
        font-size: 0.85em;
      }
    }
    .classified-filters-tags {
      padding: 20px 0px;
      .classified-tag {
        font-size: 0.8em;
        color: $black;
        border-radius: 100px;
        display: inline-block;
        background: $dark-gray;
        &.clear-all {
          background: $light-medium-gray;
          a { color: $black }
        }
        a {
          color: white;
          padding: 3px 13px;
          display: inline-block;
          &.tag-name {
            padding-right: 0px;
          }
        }
      }
    }
  }
  .classifieds-columns {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-auto-rows: 0;
    .single-classified-listing {
      width: 100%;
      display: inline-block;
      border: 1px solid $light-medium-gray;
      margin: 0px auto;
      box-sizing: border-box;
      border-radius: 3px;
      overflow: hidden;
      text-overflow: ellipsis;   
      font-size: 0.9em; 
      column-break-inside: avoid;
      h3 {
        margin: 0px;
        padding: 10px 15px;
        background: lighten($light-medium-gray, 8%);
        border-bottom: 1px solid $light-medium-gray;
      }
      .single-classified-listing-body {
        padding: 10px 15px;
        .classified-listing-contact-cta {
          border: 2px solid $black;
          color: $black;
          padding: 8px 10px;
          text-align: center;
          display: block;
          border-radius: 200px;
          margin: 4px auto;
          width: 80%;
        }
      }
      .single-classified-listing-tags {
        padding: 10px 15px;
        a {
          color: $dark-medium-gray;
          background: $light-medium-gray;
          display: inline-block;
          margin: 2px;
          padding: 2px 7px;
          font-size: 0.77em;
          border-radius: 3px;
          font-weight: bold;
        }
      }
    }  
  }
  form {
    margin: 100px auto 20px;
    width: 90%;
    max-width: 600px;
    * {
      box-sizing: border-box;
    }
    input {
      width: 100%;
      font-size: 20px;
    }
    textarea {
      width: 100%;
      height: 300px;
    }
    select {
      width: 100%;
      font-size:20px;
    }
    input[type="submit"] {
      border: 0px;
      padding: 12px 0px;
      border-radius: 3px;
    }
  }
}