#page-content.comments-new {
  .container {
    margin: 100px auto;
    width: 800px;
    max-width: 96%;
    form {
      width: 100%;
      textarea {
        width: 100%;
        height: 180px;
      }
    }
  }
}
