@import 'variables';
.dashboard-container{
  padding-top:80px;
  padding-bottom:80px;
  width:800px;
  max-width:96%;
  margin:auto;
  h1{
    font-size: calc(16px + 0.3vw);
    font-family: $helvetica-condensed;
    font-stretch:condensed;
    padding-bottom: 20px;
    text-align: center;
    @media screen and ( min-width: 600px ){
      text-align: left;
    }
    a{
      padding: 4px 20px;
      border-radius: 100px;
      margin-right: 5px;
      display: inline-block;
      color: $black;
      background: lighten($light-medium-gray, 5%);
      &:hover{
        background: $light-medium-gray;
      }
      &.active{
        background: $dark-gray;
        color:white;
      }
    }
  }
  .actions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0; /* about .dashboard-container's left / right margin */
    @media screen and ( min-width: 600px ){
      flex-direction: row;
    }
    .action{
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 0;
      width: 100%;
      color:$black;
      padding:10px 0px;
      border-radius:3px;
      min-width:115px;
      transition: background-color 250ms ease, opacity 250ms ease;
      font-family: $helvetica-condensed;
      font-stretch:condensed;
      font-size: 1.1em;
      text-align: center;
      &.active{
        background: $purple;
      }
      &:not(.active):hover{
        background: $light-medium-purple;
      }
      &:not(:last-child) {
        /* gap between actions */
        margin-bottom: 8px;
        @media screen and ( min-width: 600px ){
          margin-bottom: 0;
          margin-right: 8px;
        }
      }
      span {
        display: inline-block;
        @media screen and ( min-width: 600px ) and  ( max-width: 800px ){
          display: block;
        }
      }
    }
  }
  .dashboard-analytics-header-wrapper{
    text-align: center;
    margin-bottom: 28px;
    background: $dark-gray;
    box-shadow: $bold-shadow;
    padding: 15px 0px;
  }
  .dashboard-analytics-header{
    color: white;
    margin:5px auto;
    font-size:calc(1.1em + 0.1vw);
    padding: 18px 0px 7px;
    padding-left: 10px;
    text-align: left;
    font-family: $monospace;
    // border-radius: 200px;
    border: 1px solid $light-gray;
    // box-shadow: $bold-shadow;
    display: inline-block;
    width: 90%;
    text-align: center;
    margin: 1.1%;
    @media screen and ( min-width: 800px ) {
      width: 43%;
      margin: 1.2%;  
    }
    span{
      font-size: 1.8em;
      font-weight: bold;
      margin-left: 8px;
      display: inline-block;
    }
    img{
      width: calc(1.2em + 0.2vw);
      height: calc(1.2em + 0.2vw);
      margin-left: 0.4em;
      vertical-align: calc(-0.2vw - 0.3em);
      background: $sky-blue;
      border-radius: 100px;
      border: 2px solid darken($light-gray, 7%);
    }
    .dashboard-analytics-sub-indicator{
      color: darken($light-gray, 7%);
      padding: 10px 0px;
      font-weight: bold;
      font-size:0.66em;
    }
  }

  .video-upload-cta{
    display: inline-block;
    margin: 10px 0px 20px;
  }

  .single-article{
    border: 1px solid $light-medium-gray;
    box-shadow: $bold-shadow;
    padding:5px 15px;
    margin-bottom:13px;
    border-radius:3px;
    position:relative;
    background: white;
    &.single-article-unpublished {
      background: lighten($yellow, 20%);
    }
    .dashboard-collection-org-details {
      .dashboard-top-pill {
        background: darken($light-gray, 6%);
        margin-right: 5px;
        padding: 3px 10px;
        border-radius: 100px;
        margin-top: 10px;
        display: inline-block;
        font-size: 0.9em;
      }
    }
    .dashboard-meta-details{
      font-size: 0.85em;
      padding: 3px 0px 6px;
      color: $medium-gray;
    }
    a{
      color: $black;
      &.block-link{
        display:block;
      }
    }
    h2{
      font-weight:500;
      margin-bottom:10px;
      margin-top:8px;
      font-size:22px;
      @media screen and ( min-width: 800px ) {
        font-size:34px;
      }
      width: 100%;
      img{
        height: 40px;
        width: 40px;
        border-radius: 80px;
        vertical-align: -8px;
      }
      .dashboard-username{
        color: $medium-gray;
        font-size: 0.6em;
        vertical-align:0.16em;
      }
      form {
        background: $light-gray;
        padding: 8px 15px;
        margin-bottom: 10px;
        border-radius: 3px;
        @media screen and ( min-width: 750px ) {
          display: inline-block;
          float: right;
        }
        input {
          font-size: 16px;
          border-radius: 3px;
          padding: 3px 8px;
          width: 50px;
          border: 1px solid $black;
          font-weight: bold;
          &[type="submit"] {
            width: auto;
            background: $green;
            font-family: $helvetica-condensed;
            margin-left: 5px;
          }
        }
      }
    }
    h4{
      margin-top:0px;
      margin-bottom:9px;
      margin-left:2px;
      font-weight:300;
      font-size:16px;
      color:rgb(67, 78, 87);
    }
    .dashboard-actions{
      padding: 7px 0px 10px;
    }
    .pill{
      background:$bold-blue;
      padding:4px 20px;
      border-radius:100px;
      color:white;
      margin-right:5px;
      font-size:14px;
      border: 2px solid transparent;
      margin-top: 6px;
      display: inline-block;
      &.yellow{
        background:$yellow;
        color:$black;
        border: 2px solid $black;
      }
      &.green{
        background: $green;
        color: $black;
      }
      &.red{
        background:$red;
      }
      &.black{
        background: $dark-gray;
      }
    }
    .dashboard-pageviews-indicator{
      display:inline-block;
      font-family: $monospace;
      color: $dark-gray;
      background: white;
      text-align:center;
      padding: 2px 8px;
    }
    form{
      padding: 10px 0px;
      font-size: 15px;
      font-family: $helvetica-condensed;
      font-stretch:condensed;
      select{
        margin: 0px 4px;
        vertical-align:2px;
      }
      input[type="submit"]{
        border:0px;
        font-size: 15px;
      }
    }
    .single-article__details{
      margin: 10px 0px;
      .user{
        color: $medium-gray;
      }
      .tag{
        margin-left: 10px;
      }
    }
  }
  .no-articles{
    text-align:center;
    background:white;
    padding: 2vw 3vw 6vw;
    box-shadow: $shadow;
    border-radius: 3px;
    min-height: 620px;
    h3{
      font-size:28px;
      font-weight:400;
    }
    a.big{
      display:block;
      border: 3px solid $black;
      font-size:2.2em;
      padding: 0.4em 0.2em;
      border-radius:3px;
      width: 90%;
      max-width: 500px;
      margin:auto;
    }
    img{
      width: 90%;
      max-width: 270px;
      min-height: 350px;
    }
  }
}