.unsubscribed {
  background: #66e2d5;
  color: white;
  margin: 100px auto;
  padding: 40px 10px;

  @media screen and (min-width: 550px) {
    margin: 100px auto;
    width: 450px;
    padding: 40px;
  }
}

.unsubscribed__title {
  font-weight: 600;
}

.unsubscribed__message {
  font-weight: 300;
}
