@import 'config/import';

.crayons-footer {
  --footer-padding: var(--su-4);
  background: var(--footer-bg);
  color: var(--footer-color);
  padding: var(--footer-padding) 0;

  @media (min-width: $breakpoint-m) {
    --footer-padding: var(--su-6);
  }

  @media (min-width: $breakpoint-l) {
    --footer-padding: var(--su-8);
  }

  &__container {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0 var(--su-2);
    margin-bottom: calc(var(--su-9) + env(safe-area-inset-bottom));

    @media (min-width: $breakpoint-m) {
      flex-direction: row;
      padding: 0 var(--layout-padding);
      margin-bottom: env(safe-area-inset-bottom);
    }
  }

  &__nav {
    display: grid;
    gap: var(--su-4);
    flex: 1 auto;
    grid-template-columns: repeat(2, 1fr);

    @media (min-width: $breakpoint-s) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $breakpoint-l) {
      grid-template-columns: repeat(3, 200px);
    }
  }

  &__info {
    display: grid;
    gap: var(--su-4);
    width: 100%;
    align-self: flex-start;
    font-size: var(--fs-s);
    order: 1;
    padding: var(--su-6) 0 0 var(--su-3);

    @media (min-width: $breakpoint-m) {
      width: 25%;
      padding: 0;
      margin-right: var(--su-8);
      order: initial;
    }
  }

  // Logo
  &__logo {
    display: flex;

    .logo {
      width: 50px;
      height: 40px;
      padding: 0 7px 0 9px; // TODO: we have to fix SVG for logo a little...
      background: var(--logo-bg);
      fill: var(--logo-color);
      border-radius: 3px;
    }
  }

  &__mascot {
    position: absolute;
    right: var(--su-4);
    top: calc(var(--footer-padding) * -1 - 2px);
    display: none;
    transform-origin: center top;
    transition: all var(--transition-props);

    @media (min-width: $breakpoint-l) {
      display: block;
    }

    &:hover {
      transform: rotate(-3deg);
    }
  }
}
