@import 'variables';

footer{
  // background: darken($tan,1%);
  z-index: 10;
  position: relative;
  .container{
    width:100%;
    margin:auto;
    max-width:1200px;
    box-shadow: none;
    border: none;
    font-weight: 500;
    background: transparent;
    &.centered-footer{
      max-width: 820px;
    }
    a{
      color: $black;
      display:inline-block;
      margin-right: 12px;
      &:hover{
        text-decoration: underline;
      }
    }
    .inner-footer-container{
      max-width: 820px;
      background: $tan;
      border: 1px solid darken($light-medium-gray, 2%);
      box-shadow: 3px 4px 0px darken($light-medium-gray, 2%);
      padding:50px 30px;
      line-height: 3em;
      margin:auto;
      @media screen and ( min-width: 1250px ){
        margin-left: 0px;
      }
    }
  }
}

