@import 'variables';
@import 'mixins';

footer {
  // background: darken($tan,1%);
  z-index: 10;
  position: relative;
  .container {
    width: 100%;
    margin: auto;
    max-width: 1200px;
    box-shadow: none;
    border: none;
    font-weight: 500;
    background: transparent;
    &.centered-footer {
      width: 97%;
      max-width: 722px;
      @media screen and (min-width: 950px) and (max-width: 1119px) {
        margin-left: 310px;
        max-width: calc(100% - 377px);
      }
      @media screen and (min-width: 1120px) {
        max-width: calc(100% - 642px);
      }
      @media screen and (min-width: 1240px) {
        max-width: 606px;
      }
    }
    a {
      @include themeable(color, theme-color, $black);
      display: inline-block;
      margin-right: 12px;
      &:hover {
        text-decoration: underline;
      }
    }
    .inner-footer-container {
      max-width: 820px;
      @include themeable(background, theme-container-background, $tan);
      @include themeable(
        border,
        theme-container-border,
        1px solid darken($light-medium-gray, 2%)
      );
      @include themeable(box-shadow, theme-container-box-shadow, $bold-shadow);
      padding: 50px 30px;
      line-height: 3em;
      margin: auto;
      @media screen and (min-width: 1250px) {
        margin-left: 0px;
      }
    }
  }
}
