// Form Elements
// -------------
// Inputs
// Textarea
// Checkboxes
// Buttons

fieldset {
  padding: 0;
  border: none;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }
}

legend {
  color: #202428; // smoke-90
  font-weight: 500;
}

label,
input,
textarea {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

// Input Fields
label {
  color: #202428; // smoke-90
  display: flex;
  flex-direction: column;
  font-weight: 500; // medium
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

input[type='text'],
textarea {
  background-color: #f9fafa;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #b5bdc4;
  border-radius: 3px;
}

textarea {
  min-height: 80px;
}

// Checkboxes
.checkbox-item {
  label {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-radius: 3px;
    padding: 0 4px;

    &:hover {
      background: #eef0f1;
      cursor: pointer;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
input[type='checkbox'] {
  -webkit-appearance: none;
  background: transparent;
  border-radius: 3px;
  border: 1px solid #b5bdc4;
  cursor: pointer;
  flex: none;
  height: 18px;
  margin: 2px 8px 2px 2px;
  vertical-align: middle;
  width: 18px;
  position: relative;

  &:checked {
    background: #3b49df; // dolphin
    border-color: #3b49df;

    &:after {
      display: block;
    }
  }

  &:after {
    display: none;
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    border: solid white;
    border-width: 0 2px 2px 0;
    width: 4px;
    height: 8px;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
