@import 'variables';

#error_explanation {
  width: 100%;
  border: 2px solid #d94949;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 16px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #d94949;
    color: #fff;
  }

  ul li {
    font-size: 16px;
    list-style: square;
    border-radius: 5px;
  }
}

// Remove post confirmation
.delete-confirm.container {
  padding: 150px 10px;
  min-height: 300px;
  text-align: center;
  h4 {
    background: $black;
    padding: 5px 8px;
    color: $white;
    display: inline-block;
    margin-bottom: 0px;
    border-radius: 3px;
  }
  h2 {
    font-size: 22px;
    margin-bottom: 40px;
  }
  a.delete-link {
    background: $red;
    color: white;
    padding: 10px 15px;
    &:hover {
      color: white;
      opacity: 0.9;
    }
  }
  form button {
    background: $red;
    color: white;
    font-size: 1.5em;
    border: 0px;
    border-radius: 3px;
    padding: 6px 12px;
  }
}
