@import 'variables';
#page-content.giveaways{
  #error_explanation{
    margin-bottom:50px;
  }
}
.giveaway-header{
  font-family: $helvetica;
  height: calc(22vw + 250px);
  z-index:1;
  position:relative;
  margin-top:-50px;
  text-align:center;
  background: #000000 no-repeat center 0 fixed;
  background-size:110%;
  .logo{
    color:white;
    font-weight:900;
    padding-top: calc(7.5vw + 90px);
    margin:0;
    width: calc(18vw + 50px);
  }
  @media screen and ( min-width: 500px ){
    background-size:90%;
  }
  @media screen and ( min-width: 800px ){
    background-size:70%;
  }
  @media screen and ( min-width: 1100px ){
    background-size:60%;
  }
  @media screen and ( min-width: 1400px ){
    background-size:52%;
  }
}

.giveaway-container{
  font-family: $helvetica;
  background:white;
  padding:1vw 4vw;
  width:760px;
  max-width:calc(100% - 8vw);
  margin:0 auto 100px;
  z-index:2;
  position:relative;
  font-size:calc(0.4vw + 15px);
  line-height:calc(0.7vw + 26px);
  h1{
    text-align:center;
    font-size:calc(3vw + 20px);
  }
  p{
    font-size:1.1em;
  }
  img{
    max-width:100%;
  }
  h2{
    margin:2vw 0px;
    padding:0;
  }

  .sign-up-link{
    font-size:calc(1.2vw + 18px);
    margin:5px 0px;
    display:inline-block;
    .sign-up-text{
      background: $blue;
      padding:14px 20px;
      border-radius:5px;
      color:white;
      &.github-text{
        background: $black;
      }
    }
    img{
      width:calc(1.88vw + 22px);
      vertical-align:calc(-0.5vw - 4px);
    }
    &:hover{
      opacity:0.9;
    }
  }
  .partner-logo{
    width:200px;
    vertical-align:middle;
    margin:20px;
  }
  form{

    .field{
      label{
        padding:10px 0px;
        display:inline-block;
        font-size:0.95em;
      }
      input{
        width:calc(100% - 1vw - 6px);
        padding:calc(0.3vw + 4px);
        border:1px solid darken($light-medium-gray,5%);
        font-size:1em;
        border-radius:3px;
      }
      select{
        font-size:1em;
      }
    }
    .actions{
      padding:1vw 0px;
      input{
        background:$green;
        color:white;
        border:0px;
        font-size:2em;
        padding:10px 40px;
        border-radius:5px;
        cursor:pointer;
        &:hover{
          opacity:0.9;
        }
      }
    }
  }
}

.smarty-suggestion{
  font-size:0.88em;
  padding:0.15em 0.2em;
  font-family: $helvetica;
}
