@import 'variables';
@import 'mixins';
.index-comments {
  text-align: left;
  padding-bottom: calc(0.6vw + 5px);
  background: var(--container-bg);
  border-radius: 3px;
  @include themeable(border, theme-container-border, none);
  @include themeable(box-shadow, theme-container-box-shadow, $bold-shadow);
  margin: auto;
  width: 100%;
  @media screen and (min-width: 950px) {
    margin-bottom: 12px;
  }
  .breadcrumb {
    margin-top: 10px;
    margin-left: 5px;
    text-decoration: underline;
    a {
      padding: 5px 10px;
      @include themeable(color, theme-color, $dark-gray);
      font-weight: 500;
      font-size: 0.85em;
    }
  }
  header {
    padding: calc(1vw + 3px) 13px 0.5vw;
    margin: 0;
    font-size: 17px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
      monospace;
    @media screen and (min-width: 430px) {
      font-size: 19px;
    }
    h4 {
      margin: 0;
      font-weight: 500;
    }
  }
  a {
    color: var(--body-color);
    display: block;
    padding-left: 13px;
    padding-right: 13px;
  }
  .single-comment {
    padding: 3px 0px;
    font-size: 16px;
    &.strong-comment {
      .comment-title {
        font-weight: 600;
      }
    }
    .comment-date {
      font-size: 0.7em;
      color: var(--container-color-tertiary);
      margin-left: 5px;
      vertical-align: 2px;
      display: inline-block;
    }
    .comment-preview {
      font-size: 0.9em;
      color: var(--container-color-tertiary);
    }
    @media screen and (min-width: 430px) {
      padding: 5px 0px;
      font-size: 18.5px;
    }
  }
}
