// modal overflow scrolling
.modal-scroll-container {
<<<<<<< HEAD
  height: auto;

  @media screen and (min-width: 600px) {
    max-height: 500px;
    overflow-y: scroll;
  }
=======
  overflow-y: scroll;
  max-height: 500px;
>>>>>>> [WIP] Add new styles to onboarding flow
}
