.notice {
  background-color: #D2D6DB; // smoke-20
  border-radius: 3px;
  border: 0.5px solid #99A3AD; // smoke-40
  box-sizing: border-box;
  color: #363D44; // smoke-80
  display: block;
  margin-bottom: 16px;
  padding: 8px 16px;
  width: 100%;
}

.notice-warning {
  background-color: #DC1818; // raspberry
  border-color: #C20A0A; // raspberry-darker
  color: white;
}
