// TODO: [@thepracticaldev/delightful]: Refactor nesting in this file
// in addition to notifications.scss so that the nesting is
// not as deep as it currently is
.notifications-index {
  .home {
    .articles-list {
      .single-article {
        .content {
          &.broadcast-content {
            .opt-out {
              padding-top: 24px;
              font-size: 12px;
              font-style: italic;
            }
          }
        }
      }
    }
  }
}
