// TODO: [@thepracticaldev/delightful]: Refactor nesting in this file
// in addition to notifications.scss so that the nesting is
// not as deep as it currently is
.notifications-index {
  .home {
    .articles-list {
      .single-article {
        // Targets entire card (whole notification div)
        .broadcast-notification {
          .content {
            // Targets content container (text)
            padding: var(--su-3) var(--su-4);
            &.notification-content {
              // Targets "Visit settings" link
              &.broadcast-content {
                color: #08090a;
                letter-spacing: -0.02em;
                display: block;
                font-weight: normal;
                a {
                  color: var(--link-brand-color);
                }
                .opt-out {
                  padding-top: var(--su-4);
                  .settings__opt-out {
                    letter-spacing: -0.02em;
                    font-weight: normal;
                  }
                }
              }
            }
          }
          // Targets Sloan container (img and surrounding)
          .small-pic-link-wrapper {
            img {
              position: absolute;
              right: var(--su-2);
              width: 80px;
              height: 80px;
              overflow: hidden;
              top: var(--su-2);
              display: block;
            }
          }
        }
      }
    }
  }
}
