@import 'variables';
.onboarding-container{
  padding-top:calc(5% + 50px);
  text-align:center;
  min-height:550px;
  font-family: $helvetica;
  h2{
    font-weight:300;
  }
  form{
    width:98%;
    max-width:500px;
    margin:auto;
    input, textarea{
      width:80%;
      padding:10px;
      border:1px solid $light-medium-gray;
      display:block;
      margin:5px auto;
      border-radius:2px;
      font-size:20px;

      &[type=submit]{
        background:$blue;
        border:1px solid darken($blue,4%);
        color:white;
        width:calc(80% + 22px);
        cursor:pointer;
        &:hover{
          opacity:0.92;
        }

      }
    }
    textarea{
      resize:none;
      font-size:17px;
      height:80px;
    }
  }
}
