@import 'variables';
@import 'mixins';
@import 'config/import';

.onboarding-task-card {
  background: var(--accent-brand);
  border-radius: $br-default;
  padding: $su-7 $su-8 $su-8 $su-8;
  display: none;

  .task-card-title {
    font-weight: $fw-heavy;
    font-size: $fs-4xl;
    line-height: $lh-tight;
    color: var(--base-inverted);
  }

  .task-card-subtitle {
    color: var(--base-inverted);
    opacity: 0.7;
    font-weight: $fw-medium;
    font-size: $fs-s;
    line-height: $lh-tight;
    letter-spacing: -0.02em;
  }

  .task-card-action {
    border-radius: $br-default;
    // Can't use hex + opacity because it will affect text.
    background-color: rgba(255, 255, 255, 0.2);

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  a.task-card-link {
    display: block;
    border-radius: $br-default;
    padding: $su-5 $su-5;
    margin-top: $su-4;
    font-weight: $fw-bold;
    font-size: $fs-base;
    line-height: $lh-base;
    letter-spacing: -0.02em;
    color: var(--base-inverted);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      cursor: pointer;
    }

    .emoji {
      margin-right: $su-2;
    }
  }

  .task-card-image {
    width: 100px;
    height: 100px;
  }

  .close {
    // Overide standard button layout
    background: none;
    border: none;

    position: absolute;
    top: $su-6;
    right: $su-6;
  }
}
