@import 'variables';

#onboarding-container {
  min-height: calc(100vh - 350px);
}

.onboarding-container {
  max-width: 800px;
  margin: 0 auto;

  .next-button {
    float: right;
  }

  .next-button,
  .back-button {
    padding: 4px 20px;
    border-radius: 100px;
    margin-right: 5px;
    font-size: 14px;
    margin-top: 6px;
    display: inline-block;
    color: #0a0a0a;
  }

  .next-button {
    background: #66e2d5;
    border: 2px solid transparent;
  }

  .back-button {
    background: white;
    border: 2px solid black;
  }

  label,
  textarea,
  input {
    display: block;
  }

  input[type='checkbox'] {
    display: inline;
  }
}
