@import 'variables';
@import 'mixins';

.partnerships-container {
  width: 800px;
  max-width: 96%;
  margin: 100px auto;
  &.partnerships-container-show {
    h1 {
      text-align: left;
    }
  }
  h1 {
    text-align: center;
    font-size: 2.5em;
    padding: 1em 0;
    img {
      height: 2.2em;
      width: 2.2em;
      transform: rotate(6deg);
      border-radius: 0.2em;
      vertical-align: -0.7em;
      margin-left: 0.3em;
    }
  }
  .partner-credits-explainer {
    @include themeable(background, theme-container-background, $white);
    box-sizing: border-box;
    padding: 25px 20px 30px;
    border-radius: 12px;
    margin: 50px auto 40px;
    width: calc(100% - 20px);
    border: 1px solid var(--container-color-tertiary);
    @include themeable(
      box-shadow,
      theme-container-box-shadow,
      2px 2px 8px darken($light-medium-gray, 5%)
    );
    .partner-explainer-notice {
      padding: 15px;
      margin: 25px 0px 12px;
      border-radius: 3px;
      font-weight: bold;
      @include themeable(
        background,
        theme-container-accent-background,
        $light-gray
      );
    }
    h4 {
      font-size: 0.8em;
      margin: 3px 0px;
      color: var(--container-color-tertiary);
    }
    h3 {
      margin: 5px 0px;
      font-size: 1.8em;
      @include themeable(color, theme-color, #131a38);
      img {
        height: 1.2em;
        width: 1.2em;
        vertical-align: -0.25em;
        border-radius: 100px;
        margin-right: 0.3em;
      }
    }
    select {
      display: block;
      font-size: 1.3em;
    }
    textarea {
      width: 80%;
      font-size: 1em;
      padding: 0.5em;
      border-radius: 3px;
      display: block;
      height: 300px;
      @include themeable(
        border,
        theme-container-border,
        1px solid $light-medium-gray
      );
    }
    input {
      width: 50%;
      font-size: 1.3em;
      padding: 0.5em;
      border-radius: 3px;
      display: block;
      @include themeable(
        border,
        theme-container-border,
        1px solid $light-medium-gray
      );
    }
    a,
    button {
      padding: 5px 20px;
      font-size: 1.5em;
      border-radius: 8px;
      font-weight: bold;
      margin: 8px 0px;
      display: inline-block;
      border: 0px;
      background: var(--link-brand-color);
      @include themeable(color, theme-container-background, white);
    }
  }
  .partnership-options {
    margin: 40px 0px;
  }
  .partnership-option-card {
    @include themeable(background, theme-container-background, $white);
    text-align: left;
    width: 100%;
    @media screen and (min-width: 820px) {
      width: calc(50% - 15px);
      margin-right: 8px;
      ul {
        height: 220px;
      }
    }
    box-sizing: border-box;
    padding: 15px;
    border-radius: 12px;
    margin: 10px 0px;
    display: inline-block;
    border: 1px solid var(--container-color-tertiary);
    @include themeable(
      box-shadow,
      theme-container-box-shadow,
      2px 2px 8px darken($light-medium-gray, 5%)
    );
    li {
      padding: 8px 0px;
    }
    h2 {
      margin: 0px;
      padding: 10px 0px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }
    .partnership-option-cta {
      display: block;
      font-size: 1.6em;
      padding: 20px 0px;
      text-align: center;
      border-radius: 5px;
      font-weight: bold;
      background: var(--link-brand-color);
      @include themeable(color, theme-container-background, white);
    }
  }
}
