@import 'variables';

#page-content.podcasts-new {

  form {
    input {
      width: 650px;
      max-width: calc(100% - 30px);
      padding: 12px;
      font-size: 19px;
      border: 1px solid rgb(222, 230, 233);
      border-radius: 3px;
      &[type='file'] {
        border: 0px;
      }
      &[type='submit'] {
        width: 255px;
        max-width: 100%;
        padding: 14px 0px;
        margin-top: 20px;
        font-size: 1.5em;
        cursor: pointer;
        &.danger-button {
          background: $red;
        }
        &:hover {
          opacity: 0.88;
        }
      }
    }
    label {
      display: inline-block;
      vertical-align: top;
      padding: 14px 0px 8px;
    }
  }
}
