@import 'variables';

#page-content.podcasts-new,
#page-content.podcasts-create {
  .podcasts-form {
    text-align: left;
    margin: auto;
    width: 100%;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); //Invisible black
    max-width: 750px;
    padding-bottom: 30px;
    @media screen and (min-width: 750px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 950px) {
      width: 100%;
      margin-left: 2.3%;
      margin-right: 15px;
      max-width: calc(100% - 380px);
      float: left;
    }
    @media screen and (min-width: 1120px) {
      max-width: calc(100% - 640px);
    }
    @media screen and (min-width: 1240px) {
      width: 100%;
      margin-left: 2.3%;
      margin-right: 15px;
      max-width: 604px;
      float: left;
    }
  }
  h2 {
    font-size: 1.45em;
  }
  .podcast-errors {
    background: $red;
    color: $black;
    padding: 20px;
    border-radius: 3px;
    h2 {
      color: $black;
      margin: 0;
      font-size: 1.3em;
    }
    ul {
      margin-bottom: 0;
    }
  }
}
