@import 'variables';
@import 'mixins';

.pro_memberships {
  #notice {
    background: $green;
    color: black;
    padding: 40px 0px 40px;
    text-align: center;
    position: relative;
    top: 60px;
    left: 0px;
    right: 0px;

    &.error-notice {
      background: rgba(255, 80, 80, 0.7);
      color: white;
    }
  }

  #purchase-credits {
    padding: 1rem;
  }

  .membership-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;

    dt, label {
      flex-basis: 20%;
      font-size: 1.1rem;
      font-weight: bold;

      margin-top: 0.3rem;
      padding: 0.2rem;
    }

    dd {
      flex-basis: 70%;
      flex-grow: 1;

      margin-top: 0.3rem;
      padding: 0.2rem;

      .no {
        color: darken($red, 10%);
      }
    }
  }

  .field {
    font-weight: bold;
    padding-left: 3px;
    margin-bottom: 1rem;

    input[type='checkbox'] {
      display: inline-block;
      margin-left: 1.3rem;
      width: 100px;
    }
  }

  .new_pro_membership {
    input[type='submit'] {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
