@import 'variables';
@import 'mixins';

.pro_memberships {
  .membership-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;

    dt {
      flex-basis: 20%;
      font-size: 1.1rem;
      font-weight: bold;

      margin-top: 0.3rem;
      padding: 0.2rem;
    }

    dd {
      flex-basis: 70%;
      flex-grow: 1;

      margin-top: 0.3rem;
      padding: 0.2rem;

      .no {
        color: darken($red, 10%);
      }
    }
  }
}
