.profile-preview-card {
  &__content.crayons-dropdown {
    color: var(--base-100);
    padding-top: 0;
    top: 100%;
    left: 0;
  }

  // Dropdown hidden state is controlled by an inline style,
  // !important is valid in this context to override any 'normal' dropdown behaviors
  &__content.crayons-dropdown:hover {
    display: block !important;
  }

  &__trigger:hover + .profile-preview-card__content.crayons-dropdown {
    display: block !important;
  }
}
