@import 'variables';
@import '_mixins';

.runtime-banner {
  color: #fff;
  position: fixed;
  bottom: calc(60px + env(safe-area-inset-bottom));
  left: 20px;
  right: 20px;
  @include themeable(
    background,
    theme-container-accent-background,
    $dark-medium-gray
  );
  padding: 8px 12px;
  z-index: var(--z-popover);
  border-radius: var(--radius);
  font-weight: var(--fw-bold);

  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 40px;
    height: 40px;
    display: inline-block;
  }

  &__text {
    text-align: center;
    display: inline-block;
    margin: 0 10px;
    flex-grow: 1;
  }

  &__dismiss {
    width: 40px;
    height: 40px;
    display: inline-block;
  }
}

.mobile-deep-link-banner {
  margin: 30px;
  text-align: center;

  .crayons-card {
    max-width: 500px;
    margin: 30px auto;
  }
}

#mobile-deep-link-spinner {
  svg {
    margin: 30px auto;
  }
}
