@import 'config/import';

@import 'variables';
@import 'mixins';
@import 'fonts';

body {
  background: var(--body-bg);
  color: var(--body-color);
  font-family: $ff-default;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  padding-top: $header-height;
}

#audiocontent {
  display: none;
}

*:focus {
  &:active {
    outline: 0;
  }
}

*:focus:not(.focus-visible) {
  outline: none;
}

.modal-open {
  margin: 0;
  overflow: hidden;
  overflow-y: hidden;
  height: 90vh;
}

.zen-mode {
  .top-bar,
  .primary-sticky-nav,
  .article-actions {
    display: none !important;
  }
}

@media print {
  .top-bar,
  .article-actions {
    display: none;
  }
}

.config_minimize_newest_listings {
  #sidebar-listings-widget {
    .widget-body {
      display: none !important;
    }
  }
}

.universal-page-content-wrapper {
  overflow: hidden;
  min-height: 88vh;
  visibility: visible;
  font-size: 18px;
}

a {
  color: var(--link-brand-color);
  text-decoration: none;
  &:hover {
    opacity: 0.9;
  }
}

div {
  &.field,
  &.actions {
    margin-bottom: 5px;
  }
}

#instantclick {
  display: none;
}

pre {
  background: #29292e;
  border-radius: 2px;
  overflow-x: scroll;
  font-size: 11px;
  padding: 10px;
  color: #eff0f9;
  line-height: 1.42em;
  font-size: 13px;
  width: calc(100% - 25px);
  @media screen and (min-width: 380px) {
    font-size: 15px;
  }
  code {
    background: #29292e;
    color: #eff0f9;
    white-space: pre;
  }
}

button {
  cursor: pointer;
}

input[type='submit'] {
  cursor: pointer;
}

input[type='text'],
textarea,
input[type='url'],
input[type='email'] {
  outline: 0;
}

.partner-image-dark-mode {
  display: none !important;
}

body.night-theme,
body.ten-x-hacker-theme {
  .on-page-nav-butt img,
  .icon-img,
  .dropdown-icon,
  .reaction-button:not(.reacted) img,
  .image-upload-button button,
  .icon-image,
  .dev-badge,
  .chatchannels__config img,
  .external-link-img,
  .group-img,
  .user-profile-header .social a {
    -webkit-filter: invert(95%);
    filter: invert(95%);
  }
  .ltag__tag {
    border-color: white !important;
    box-shadow: 3px 3px 0px #fff !important;
  }
  .partner-image-dark-mode {
    display: block !important;
  }
  .partner-image-light-mode {
    display: none !important;
  }

  .not-dark-theme-text-compatible {
    @include themeable-important(color, theme-secondary-color, white);
  }
}

body.static-navbar-config {
  padding-top: 0;
  .top-bar {
    position: relative !important;
  }
}

.trusted-visible-block {
  display: none !important;
}

body.trusted-status-true .trusted-visible-block {
  display: flex !important;
}

body.hidden-shell {
  .top-bar,
  footer {
    display: none;
  }
  .container {
    margin-top: 0px;
  }
  .universal-page-content-wrapper {
    margin-top: -$header-height !important;
    margin-bottom: 30px;
  }
}

// Remove post confirmaiton
.delete-confirm.container {
  padding: 150px 10px;
  min-height: 300px;
  text-align: center;
  h4 {
    background: $black;
    padding: 5px 8px;
    color: $white;
    display: inline-block;
    margin-bottom: 0px;
    border-radius: 3px;
  }
  h2 {
    font-size: 22px;
    margin-bottom: 40px;
  }
  a.delete-link {
    background: $red;
    color: white;
    padding: 10px 15px;
    &:hover {
      color: white;
      opacity: 0.9;
    }
  }
  form button {
    background: $red;
    color: white;
    font-size: 1.5em;
    border: 0px;
    border-radius: 3px;
    padding: 6px 12px;
  }
}

.app-shell-loader {
  position: absolute;
  top: 200px;
  text-align: center;
  left: 0;
  right: 0;
  opacity: 0;
  animation: loading-fadein 1.5s;
  animation-delay: 0.6s;
  font-size: 1.2em;
  z-index: -1;
}

@keyframes loading-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}
