@import 'variables';
@import 'mixins';
@import 'fonts';

body {
  @include themeable(background, theme-background, $lightest-gray);
  @include themeable(color, theme-color, $black);
  font-family: $helvetica;
  font-size: 18px;
  padding: 0 !important;
  margin: 0 !important;
  margin-top: -20px !important;
  overflow-y: scroll;
}

#audiocontent {
  display: none;
}

*:focus {
  &:active {
    outline: 0;
  }
}

*:focus:not(.focus-visible) {
  outline: none;
}

.ptr--ptr {
  margin-top: 70px;
  margin-bottom: -70px;
}

.modal-open {
  margin: 0;
  overflow: hidden;
  overflow-y: hidden;
  height: 90vh;
}

.zen-mode {
  .top-bar,
  .primary-sticky-nav,
  .article-actions {
    display: none !important;
  }
}

@media print {
   .top-bar, .article-actions {
      display: none;
   }
}

.config_minimize_newest_listings {
  #sidebar-listings-widget {
    .widget-body {
      display: none !important;
    }
  }
}

.universal-page-content-wrapper {
  overflow: hidden;
  min-height: 88vh;
  visibility: visible;
  &.stories-index,
  &.notifications-index,
  &.stories-search,
  &.podcast_episodes-index,
  &.podcasts-new,
  &.podcasts-create,
  &.reading_list_items-index,
  &.history-index,
  .tags-index,
  &.twitch_live_streams-show {
    margin-top: 68px;
  }
}

pre {
  background-color: #2b2b32;
  padding: 10px;
  font-size: 15px;
}

a {
  @include themeable(color, theme-anchor-color, $sky-blue);
  text-decoration: none;
  &:hover {
    opacity: 0.9;
  }
}

div {
  &.field,
  &.actions {
    margin-bottom: 5px;
  }
}

#instantclick {
  display: none;
}

pre {
  background: #29292e;
  border-radius: 2px;
  overflow-x: scroll;
  font-size: 11px;
  color: #eff0f9;
  line-height: 1.42em;
  font-size: 13px;
  width: calc(100% - 25px);
  @media screen and (min-width: 380px) {
    font-size: 15px;
  }
  code {
    background: #29292e;
    color: #eff0f9;
    white-space: pre;
  }
}

.cta {
  color: $black;
  background: $green;
  font-family: $helvetica-condensed;
  -webkit-appearance: none;
  font-stretch: condensed;
  font-weight: bold;
}

button {
  cursor: pointer;
}

input[type='submit'] {
  cursor: pointer;
}

input[type='text'],
textarea,
input[type='url'],
input[type='email'] {
  outline: 0;
}

.snackbar {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  @include themeable(
    background,
    theme-container-accent-background,
    $light-purple
  );
  @include themeable(border, container-border, 2px solid $purple);
  padding: 12px 30px;
  z-index: 20;
  border-radius: 3px;
  font-weight: bold;
  @media screen and (min-width: 430px) {
    right: auto;
    display: inline-block;
    -webkit-animation: ease-out;
    -webkit-animation-name: slide-in-from-left;
    -webkit-animation-duration: 0.25s;
  }
}

@-webkit-keyframes slide-in-from-left {
  0% {
    left: -300px;
  }
  50% {
    left: 0px;
  }
  90% {
    left: 24px;
  }
  100% {
    left: 20px;
  }
}

.partner-image-dark-mode {
  display: none !important;
}

body.night-theme, body.ten-x-hacker-theme {
  .on-page-nav-butt img,
  .icon-img,
  .dropdown-icon,
  .reaction-button:not(.reacted) img,
  .image-upload-button button,
  .icon-image,
  .dev-badge,
  .chatchannels__config img,
  .external-link-img,
  .group-img {
    -webkit-filter: invert(95%);
    filter: invert(95%);
  }
  .ltag__tag {
    border-color: white !important;
    box-shadow: 3px 3px 0px #fff !important;
  }
  .partner-image-dark-mode {
    display: block !important;
  }
  .partner-image-light-mode {
    display: none !important;
  }

  .not-dark-theme-text-compatible {
    @include themeable-important(color, theme-secondary-color, white);
  }
}

// Alternate base fonts

body.sans-serif-article-body {
  .body {
    font-family: $helvetica;
  }
  .body p {
    font-family: $helvetica;
    font-size: 0.98em;
  }
}

body.comic-sans-article-body {
  .body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  .body p {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 0.98em;
  }
}

body.open-dyslexic-article-body {
  .body {
    font-display: swap;
    font-family: OpenDyslexic, sans-serif;
  }
  .body p {
    font-display: swap;
    font-family: OpenDyslexic, sans-serif;
    font-size: 0.9em;
  }
  .body b, .body strong {
    font-family: OpenDyslexic-Bold, sans-serif;
  }
  
  .body i, .body em {
    font-family: OpenDyslexic-Italic, sans-serif;
  }
  
  .body b>i, .body b>em, .body strong>i, .body strong>em,
  .body i>b, .body em>b, .body i>strong, .body em>strong {
    font-family: OpenDyslexic-Bolditalic
  }
}

body.monospace-article-body {
  .body {
    font-family: $monospace;
  }
  .body p {
    font-family: $monospace;
    font-size: 0.9em;
  }
}

body.static-navbar-config {
  .top-bar {
    position: relative !important;
    margin-top: 20px !important;
    margin-bottom: -66px !important;
  }
}

.pro-visible-block,
.trusted-visible-block {
  display: none !important;
}

body.pro-status-true .pro-visible-block,
body.trusted-status-true .trusted-visible-block {
  display: block !important;
}

body.hidden-shell {
  .top-bar, footer {
    display: none;
  }
  .container {
    margin-top: 20px;
  }
  .universal-page-content-wrapper {
    margin-top: 0px !important;
    margin-bottom: 30px;
  }
}

.delete-confirm.container {
  padding: 150px 10px;
  min-height: 300px;
  text-align: center;
  h4 {
    background: $black;
    padding: 5px 8px;
    color: white;
    display: inline-block;
    margin-bottom: 0px;
    border-radius: 3px;
  }
  h2 {
    font-size: 22px;
    margin-bottom: 40px;
  }
  a.delete-link {
    background: $red;
    color: white;
    padding: 10px 15px;
    &:hover {
      color: white;
      opacity: 0.9;
    }
  }
  form button {
    background: $red;
    color: white;
    font-size: 1.5em;
    border: 0px;
    border-radius: 3px;
    padding: 6px 12px;
  }
}

.app-shell-loader {
  position: absolute;
  top: 200px;
  text-align: center;
  left: 0;
  right: 0;
  opacity: 0;
  animation: loading-fadein 1.5s;
  animation-delay: 0.6s;
  font-size: 1.2em;
  z-index: -1;
}

.base-background-color {
  @include themeable(background, theme-background, $lightest-gray);
}

@keyframes loading-fadein {
  from { opacity: 0; }
  to   { opacity: 0.6; }
}
