@import 'variables';
@import 'mixins';
@import 'functions';

.github-repos {
  max-height: 400px;
  overflow-y: auto;
  background: var(--card-bg);
  &.loading-repos {
    height: 400px;
    background: white url(image-src('loading-ellipsis.svg')) no-repeat center
      center;
    background-size: 50px;
  }
  &.github-repos-errored {
    height: 400px;
    color: $red;
    padding: 2rem;
  }
  .github-repo-row {
    background: var(--card-bg);
    padding: 12px;
    margin: 5px 0px;
    transition: all 0.6s ease;

    &:hover {
      background: var(--base-10);
    }

    &.github-repo-row-featured {
      background: $light-green;
      color: #0f0f0f;
    }
    .github-repo-row-name {
      align-items: center;
      display: flex;
      justify-content: space-between;
      font-weight: var(--fw-medium);

      .crayons-indicator {
        margin-left: 5px;
      }
      button {
        &:disabled {
          cursor: wait;
          background: white url(image-src('loading-ellipsis.svg')) no-repeat
            center center;
        }
      }
      button,
      &.response-template-row-name {
        button,
        a[role='button'] {
          width: 80px;
          margin-left: 2.5px;
          margin-right: 2.5px;
          text-align: center;
        }
      }
    }
  }
}

.signout_confirm-wrapper {
  padding: calc(15% + 50px) 2% 30%;
  text-align: center;
}

.membership-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  background: var(--card-bg);
  border-radius: 5px;
  border: 1px solid $light-medium-gray;
  padding: 0.5rem 0 0.8rem 0.5rem;

  dt,
  label {
    flex-basis: 40%;
    font-size: 1.1rem;
    font-weight: bold;

    margin-top: 0.3rem;
    padding: 0.2rem;
  }

  dd {
    flex-basis: 40%;
    flex-grow: 1;

    margin-top: 0.3rem;
    padding: 0.2rem;

    .no {
      color: darken($red, 10%);
    }
  }
}

.crayons-notice--danger h3 {
  color: var(--accent-danger-darker);
}
