@import 'variables';
#audiocontent {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 15;
  font-family: $helvetica;
  #progressBar {
    color: #fff;
    width: 100%;
    height: 48px;
    margin-top: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: left;
    background: rgb(236, 236, 236);
    z-index: 19;
    display: none;
    &.playing {
      display: block;
    }
    #episode-profile-image {
      height: 48px;
      width: 48px;
    }
    #animated-bars {
      position: absolute;
      bottom: -12px;
      left: -15px;
      width: 80px;
      opacity: 0.3;
      display: none;
      &.playing {
        display: block;
      }
    }
    #barPlayPause {
      height: 48px;
      width: 48px;
      background: rgb(32, 32, 32);
      position: absolute;
      left: 48px;
      bottom: 0px;
      cursor: pointer;
      .butt {
        width: 30px;
        margin: 10px 9px;
      }
      .pause-butt {
        display: none;
      }
      &.playing {
        .play-butt {
          display: none;
        }
        .pause-butt {
          display: block;
        }
      }
    }
    .showing {
      display: block;
    }
    .hidden {
      display: none;
    }
    #volume {
      height: 48px;
      width: 32px;
      background: rgb(32, 32, 32);
      position: absolute;
      left: 96px;
      bottom: 0px;
      cursor: pointer;
      img {
        padding: 3px;
        margin-top: 4px;
        margin-left: 4px;
        margin-bottom: -11px;
      }
      #speed {
        font-weight: 300;
        font-size: 12px;
        padding: 3px 0px;
        width: 28px;
        margin-left: -0.5px;
        text-align: center;
        margin-top: 2px;
        display: block;
        user-select: none;
        background: transparent;
        color: rgb(201, 201, 201);
      }
      .volume-icon-wrapper {
        padding: 1px 0px;
      }
      #volumeindicator {
        .range-wrapper {
          position: absolute;
          top: 0px;
          left: 22px;
          background: rgb(32, 32, 32);
          z-index: 30;
          width: 0;
          overflow: hidden;
          transition: width 200ms ease-out 95ms;
          padding: 8px 0px 5px;
          text-align: center;
          input {
            width: 80%;
            cursor: pointer;
          }
        }
        @media screen and (min-width: 430px) {
          &:hover {
            .range-wrapper {
              width: 170px;
            }
          }
        }
      }
    }
    .buffer-wrapper {
      height: 48px;
      position: absolute;
      left: 128px;
      right: 0;
      bottom: 0;
      cursor: pointer;
      #progress {
        background-color: #00ffa3; // red
        height: 48px;
        display: inline-block;
        position: relative;
        z-index: 23;
        transition: width 0.25s ease-in-out;
      }
      #buffer {
        background-color: #96ffd9; // red
        height: 48px;
        display: inline-block;
        position: absolute;
        bottom: 0;
        z-index: 22;
        transition: width 0.15s ease-in-out;
      }
      #time {
        position: absolute;
        right: 30px;
        top: 16px;
        z-index: 23;
        color: rgb(161, 161, 161);
        font-size: 13px;
        background: rgba(236, 236, 236, 0.74);
        padding: 2px;
      }
      #closebutt {
        position: absolute;
        user-select: none;
        right: 3px;
        margin: 0px;
        padding: 0px;
        color: #535353;
        font-size: 13.5px;
        z-index: 25;
        height: 22px;
        width: 22px;
        transition: all 0.3s ease 0s;
        white-space: nowrap;
        &:hover {
          color: #ff4343;
        }
      }
    }
  }
}

.navigation-progress {
  position: fixed;
  top: 0;
  left: -20%;
  background: $green;
  z-index: 100;
  height: 43px;
  // display:none;
  width: 0%;
  &.showing {
    display: block;
    width: 140%;
    animation: grow-width 3200ms ease-out, pulsate 1.4s infinite ease-in-out;
  }
}

@keyframes grow-width {
  0% {
    width: 0%;
  }
  100% {
    width: 140%;
  }
}