@import 'variables';
@import 'mixins';

.sidebar-data{
  border-radius:3px;
  font-size:14px;
  font-weight:bold;
  padding:1px 12px 1px;
  margin:3px 1px;
  @include themeable(
    color, 
    theme-secondary-color, 
    $dark-medium-gray
  );
  font-family: $monospace;
}