@import 'variables';
@import 'config/import';

.authentication-modal {
  position: relative;
  &__close-btn {
    position: absolute;
    top: var(--su-3);
    right: var(--su-3);
  }
  &__title {
    color: var(--card-color);
    font-size: var(--fs-2xl);
    line-height: var(--lh-tight);

    @media (min-width: $breakpoint-s) {
      font-size: var(--fs-3xl);
    }
  }

  &__description {
    color: var(--card-color-secondary);
  }

  &__actions {
    display: grid;
    grid-gap: var(--su-1);

    @media (min-width: $breakpoint-s) {
      display: flex;
      flex-direction: column;
      width: max-content;
      justify-self: center;
    }
  }
}
