@import 'variables';
.global-signup-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 899900;
  &.showing {
    display: block;
  }
  .global-signup-modal--bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.88);
    z-index: 899901;
    .close-modal-button {
      position: fixed;
      top: 3%;
      left: 5%;
      border: 0;
      background: transparent;
      cursor: pointer;
      img {
        width: calc(0.8vw + 20px);
      }
    }
  }
  .global-signup-modal--inner-a {
    font-family: $helvetica;
    position: fixed;
    top: calc(15% - 33px);
    left: calc(15% - 33px);
    right: calc(15% - 33px);
    bottom: calc(10% - 33px);
    background: white;
    z-index: 899902;
    text-align: center;
    font-size: calc(0.8vw + 15px);
    box-shadow: 0px 0px 100px 20px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: calc(1vw + 24px) calc(1vw + 10px);
    h1 {
      font-weight: 600;
      margin-top: 0px;
      margin-bottom: 18px;
    }
    p {
      font-size: 0.73em;
      max-width: 75%;
      text-align: center;
      margin: auto;
    }
    a {
      display: inline-block;
      margin: calc(2vw + 5px) 10px;
      border-radius: 100px;
      padding: calc(0.5vw + 4px) calc(1.5vw + 10px);
      background: $purple;
      color: $bold-blue;
      img {
        width: calc(1vw + 18px);
        height: calc(1vw + 18px);
        vertical-align: calc(-0.1em - 2px);
      }
    }
    .sloan {
      height: calc(7vw + 80px);
      margin-top: calc(6vh - 10px);
    }
  }
}
