@import 'variables';

.primary-sticky-nav {
  display: none;
  @media screen and ( min-width: 1250px ){
    display: block;
    position: fixed;
    left: calc(50% + 298px);
    top: 80px;
    bottom: 20px;
    width: 310px;
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    z-index: 100;
  }
  .primary-sticky-nav-author{
    a{
      color: $black;
    }
    .primary-sticky-nav-author-top-profile-image{
      width: 35px;
      height: 35px;
      border-radius: 360px;
      margin-right: 5px;
      vertical-align: -9px;
    }
    .primary-sticky-nav-author-name{
      font-size:1.3em;
      font-weight: bold;
    }
    .primary-sticky-nav-author-summary{
      font-weight: 400;
      color: $medium-gray;
      padding: 10px 0px 5px;
      font-style: italic;
      font-size:0.88em;
    }
    .primary-sticky-nav-author-follow{
      padding-top:8px;
      button{
        width:100%;
        font-size:1.25em;
        border:0px;
        border-radius:3px;
        padding: 3px;
        height: 44px;
      }
    }
  }
  .primary-sticky-nav-profile-image{
    height: 23px;
    width: 23px;
    border-radius: 100px;
    vertical-align: -5px;
  }
  .primary-sticky-nav-title{
    padding: 8px 0px 9px;
    margin-left: 15px;
    font-weight: bold;
    img{
      width: 19px;
      height: 19px;
      vertical-align: -1px;
    }
    a{
      color: $black;
      display: inline-block;
    }
  }
  .primary-sticky-nav-element{
    display: block;
    padding: 10px 13px;
    font-size:0.9em;
    font-weight: bold;
    background: white;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid $outline-color;
    box-shadow: $bold-shadow;
    color: $black;
    width: 262px;
    border-radius: 3px;
    &.sticky-join-cta{
      margin-top: 12px;
      padding: 16px 13px;
      background: lighten($yellow, 16%);
      border: 1px solid darken($yellow, 15%);
      box-shadow: 5px 6px 0px darken($yellow, 15%);
      img{
        width: 22px;
        height: 22px;
        margin-left: 3px;
        margin-right: 2px;
        vertical-align: -3px;
      }
      &:hover{
        background: lighten($yellow, 12%);
        border: 1px solid darken($yellow, 12%);
        box-shadow: 5px 6px 0px darken($yellow, 12%);
      }
    }
    .primary-sticky-nav-element-details{
      margin-top:9px;
      font-size: 0.8em;
      color: $medium-gray;
    }
    &:hover{
      color: $black;
      border: 1px solid darken($light-medium-gray, 17%);
      box-shadow: 3px 4px 0px darken($light-medium-gray, 17%);
    }
  }
  .user-metadata-details {
    margin-top: 10px;
    margin-left: 2px;
    font-family: $monospace;
    .row{
      padding: calc(3px + 0.1vw) 0px;
      display: inline-block;
      width: 96%;
    }
    .key{
      font-size: 0.8em;
      font-weight: 800;
      margin-bottom: 2px;
      color: $medium-gray;
    }
    .value{
      display: inline-block;
      font-size: 0.92em;
      margin-bottom: 4px;
    }
  }
  .html-variant-wrapper{
    margin: 10px;
  }
}


  .primary-sticky-nav-org-summary{
    font-weight: 400;
    color: $black;
    padding: 4px 0px;
    font-size:0.95em;
    margin-top: 20px;
    border-top: 1px solid $light-medium-gray;
    p{
      margin:12px 0px;
    }
    a.primary-sticky-nav-org-cta-link{
      width:100%;
      display: block;
      font-size:1.25em;
      border:0px;
      border-radius:3px;
      padding: 8px 0px 3px;
      margin-top: 20px;
      background: white;
      color: $black;
      font-family: $helvetica-condensed;
      border: 1px solid darken($light-medium-gray, 7%);
      text-align: center;
      .primary-sticky-nav-org-cta-link-domain-small{
        display: block;
        padding-top: 2px;
        font-size:0.8em;
        color: darken($light-medium-gray, 4%);
        font-family: $monospace;
      }
      &:hover {
        border: 1px solid darken($light-medium-gray, 12%);
        box-shadow: $shadow;
        transition: all 0.1s;
      }
    }
  }
