div.highlight pre.highlight code {
  font-size: inherit;
  padding: 0px;
}

div.inner-comment div.body div.highlight pre.highlight {
  background: #29292e;
  code {
    font-size: inherit;
    white-space: inherit;
    background: inherit;
    color: inherit;
  }
}

$code-highlight-background-color: #29292e;
$code-highlight-text-color: #f8f8f2;
$code-highlight-comment-color: #808080;
$code-highlight-declaration-color: #f39c12;
$code-highlight-literal-color: #dda0dd;
$code-highlight-error-color: #f9690e;
$code-highlight-name-color: #7ed07e;
$code-highlight-string-color: #f2ca27;

.highlight .hll {
  background-color: #49483e;
}
.highlight {
  background: $code-highlight-background-color;
  color: $code-highlight-text-color;
}
.highlight .c {
  color: $code-highlight-comment-color;
} /* Comment */
.highlight .err {
  text-shadow: 0 0 7px $code-highlight-error-color;
} /* Error */
.highlight .k {
  color: $code-highlight-declaration-color;
} /* Keyword */
.highlight .l {
  color: $code-highlight-literal-color;
} /* Literal */
.highlight .n {
  color: $code-highlight-text-color;
} /* Name */
.highlight .o {
  color: $code-highlight-error-color;
} /* Operator */
.highlight .p {
  color: $code-highlight-text-color;
} /* Punctuation */
.highlight .ch {
  color: $code-highlight-comment-color;
} /* Comment.Hashbang */
.highlight .cm {
  color: $code-highlight-comment-color;
} /* Comment.Multiline */
.highlight .cp {
  color: $code-highlight-comment-color;
} /* Comment.Preproc */
.highlight .cpf {
  color: $code-highlight-comment-color;
} /* Comment.PreprocFile */
.highlight .c1 {
  color: $code-highlight-comment-color;
} /* Comment.Single */
.highlight .cs {
  color: $code-highlight-comment-color;
} /* Comment.Special */
.highlight .gd {
  color: $code-highlight-error-color;
} /* Generic.Deleted */
.highlight .ge {
  font-style: italic;
} /* Generic.Emph */
.highlight .gi {
  color: $code-highlight-name-color;
} /* Generic.Inserted */
.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  color: $code-highlight-comment-color;
} /* Generic.Subheading */
.highlight .kc {
  color: $code-highlight-declaration-color;
} /* Keyword.Constant */
.highlight .kd {
  color: $code-highlight-declaration-color;
} /* Keyword.Declaration */
.highlight .kn {
  color: $code-highlight-error-color;
} /* Keyword.Namespace */
.highlight .kp {
  color: $code-highlight-declaration-color;
} /* Keyword.Pseudo */
.highlight .kr {
  color: $code-highlight-declaration-color;
} /* Keyword.Reserved */
.highlight .kt {
  color: $code-highlight-declaration-color;
} /* Keyword.Type */
.highlight .ld {
  color: $code-highlight-string-color;
} /* Literal.Date */
.highlight .m {
  color: $code-highlight-literal-color;
} /* Literal.Number */
.highlight .s {
  color: $code-highlight-string-color;
} /* Literal.String */
.highlight .na {
  color: $code-highlight-name-color;
} /* Name.Attribute */
.highlight .nb {
  color: $code-highlight-text-color;
} /* Name.Builtin */
.highlight .nc {
  color: $code-highlight-name-color;
} /* Name.Class */
.highlight .no {
  color: $code-highlight-declaration-color;
} /* Name.Constant */
.highlight .nd {
  color: $code-highlight-name-color;
} /* Name.Decorator */
.highlight .ni {
  color: $code-highlight-text-color;
} /* Name.Entity */
.highlight .ne {
  color: $code-highlight-name-color;
} /* Name.Exception */
.highlight .nf {
  color: $code-highlight-name-color;
} /* Name.Function */
.highlight .nl {
  color: $code-highlight-text-color;
} /* Name.Label */
.highlight .nn {
  color: $code-highlight-text-color;
} /* Name.Namespace */
.highlight .nx {
  color: $code-highlight-name-color;
} /* Name.Other */
.highlight .py {
  color: $code-highlight-text-color;
} /* Name.Property */
.highlight .nt {
  color: $code-highlight-error-color;
} /* Name.Tag */
.highlight .nv {
  color: $code-highlight-text-color;
} /* Name.Variable */
.highlight .ow {
  color: $code-highlight-error-color;
} /* Operator.Word */
.highlight .w {
  color: $code-highlight-text-color;
} /* Text.Whitespace */
.highlight .mb {
  color: $code-highlight-literal-color;
} /* Literal.Number.Bin */
.highlight .mf {
  color: $code-highlight-literal-color;
} /* Literal.Number.Float */
.highlight .mh {
  color: $code-highlight-literal-color;
} /* Literal.Number.Hex */
.highlight .mi {
  color: $code-highlight-literal-color;
} /* Literal.Number.Integer */
.highlight .mo {
  color: $code-highlight-literal-color;
} /* Literal.Number.Oct */
.highlight .sa {
  color: $code-highlight-string-color;
} /* Literal.String.Affix */
.highlight .sb {
  color: $code-highlight-string-color;
} /* Literal.String.Backtick */
.highlight .sc {
  color: $code-highlight-string-color;
} /* Literal.String.Char */
.highlight .dl {
  color: $code-highlight-string-color;
} /* Literal.String.Delimiter */
.highlight .sd {
  color: $code-highlight-string-color;
} /* Literal.String.Doc */
.highlight .s2 {
  color: $code-highlight-string-color;
} /* Literal.String.Double */
.highlight .se {
  color: $code-highlight-literal-color;
} /* Literal.String.Escape */
.highlight .sh {
  color: $code-highlight-string-color;
} /* Literal.String.Heredoc */
.highlight .si {
  color: $code-highlight-string-color;
} /* Literal.String.Interpol */
.highlight .sx {
  color: $code-highlight-string-color;
} /* Literal.String.Other */
.highlight .sr {
  color: $code-highlight-string-color;
} /* Literal.String.Regex */
.highlight .s1 {
  color: $code-highlight-string-color;
} /* Literal.String.Single */
.highlight .ss {
  color: $code-highlight-string-color;
} /* Literal.String.Symbol */
.highlight .bp {
  color: $code-highlight-text-color;
} /* Name.Builtin.Pseudo */
.highlight .fm {
  color: $code-highlight-name-color;
} /* Name.Function.Magic */
.highlight .vc {
  color: $code-highlight-text-color;
} /* Name.Variable.Class */
.highlight .vg {
  color: $code-highlight-text-color;
} /* Name.Variable.Global */
.highlight .vi {
  color: $code-highlight-text-color;
} /* Name.Variable.Instance */
.highlight .vm {
  color: $code-highlight-text-color;
} /* Name.Variable.Magic */
.highlight .il {
  color: $code-highlight-literal-color;
} /* Literal.Number.Integer.Long */
