@import 'variables';
@import 'mixins';

.tag-edit-form {
  margin-bottom: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag-edit-container {
  margin-top: 1em;
  max-width: 50%;
}
.tag-form-field {
  margin-top: 10px;

  br {
    margin-bottom: 3px;
  }
}
.tag-form-label {
  margin-bottom: 2px;
}
.tag-form-text-field {
  height: 2em;
  width: 23em;
  text-align: left;
  overflow-wrap: break-word;
  font-size: 1em;
  resize: vertical;
}
.tag-area-text {
  height: 5em;
}
.tag-edit-submit {
  height: 2em;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  border-radius: 3px;
  border: 2px solid var(--button-primary-bg-hover);
  background: var(--button-primary-bg);
  color: var(--button-primary-color);
}
.tag-edit-flash-success {
  color: white;
  background: #388019;
  padding: 15px;
}
.tag-edit-flash-error {
  color: white;
  background: $red;
  padding: 15px 15px 15px 40px;
}
