@import 'config/import';
@import 'variables';
@import 'mixins';

.top-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 101;
  height: $header-height;
  background: var(--header-bg);
  box-shadow: 0 1px 1px var(--header-shadow);

  &,
  &::after,
  &::before,
  & *,
  & *::after,
  & *::before {
    box-sizing: border-box; // todo: make it global when ready
  }

  &__container {
    max-width: $max-width;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
  }

  .crayons-indicator {
    position: absolute;
    top: $su-1;
    right: $su-1;
    box-shadow: 0 0 0 2px var(--header-bg);
  }
}

// Logo
.top-bar--logo {
  display: flex;
  margin-left: $su-2;
  @media (min-width: $breakpoint-m) {
    margin-left: $su-4;
  }

  .logo {
    width: 50px;
    height: 40px;
    padding: 0 7px 0 9px; // TODO: we have to fix SVG for logo a little...
    background: var(--logo-bg);
    fill: var(--logo-color);
    border-radius: $br-default;
  }
}

// Search bar
.top-bar--search {
  max-width: 420px;
  flex: 1 auto;
  margin: 0 $su-2;

  @media (min-width: $breakpoint-s) {
    margin: 0 $su-4;
  }
}

// Actions on right side...
.top-bar__links {
  height: $header-height;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.top-bar__link {
  position: relative;
  display: flex;
  padding: 0 $su-3;
  height: 100%;
  align-items: center;
  color: var(--header-icons-color);

  &:hover {
    color: var(--header-icons-color-hover);
  }
}

// Dropdown under profile picture / hamburger icon
.top-bar__menu {
  height: 100%;

  &__trigger {
    all: unset;
    display: flex;
    height: 100%;
    padding: 0 $su-2;
    align-items: center;
    cursor: pointer;
    color: var(--header-icons-color);

    &:hover {
      color: var(--header-icons-color-hover);
    }
  }

  &__dropdown {
    top: $header-height;
  }

  &.showing {
    .top-bar__menu__dropdown {
      display: block;
    }
  }

  &.desktop {
    &:hover,
    &:active,
    &:focus {
      .top-bar__menu__dropdown {
        display: block;
      }
    }
  }
}

.skip-content-link {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100px);
  background: var(--body-color);
  color: var(--body-color-inverted);
  z-index: 9999;
  padding: $su-4;
  pointer-events: none;
  opacity: 0;
  border-radius: $br-default;

  &:focus {
    pointer-events: auto;
    opacity: 1;
    transform: translate(-50%, $header-height/2);
  }
}

.pwa-nav-buttons {
  height: 100%;
  display: none;
  padding-left: $su-2;
  button {
    all: unset;
    padding: 0 $su-2;
    color: var(--header-icons-color);

    &:hover {
      color: var(--header-icons-color-hover);
    }
  }
  @media (min-width: $breakpoint-m) {
    &.pwa-nav-buttons--showing {
      display: flex;
    }
  }
}
