@import 'config/import';
@import 'variables';
@import 'mixins';

.top-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 101;
  height: $header-height;
  background: var(--header-bg);
  box-shadow: 0 1px 1px var(--header-shadow);

  &,
  &::after,
  &::before,
  & *,
  & *::after,
  & *::before {
    box-sizing: border-box; // todo: make it global when ready
  }

  &__container {
    max-width: $max-width;
    margin: auto;
    display: flex;
    align-items: center;
  }

  .crayons-indicator {
    position: absolute;
    top: $su-1;
    right: $su-1;
    box-shadow: 0 0 0 2px var(--header-bg);
  }
}

// Logo
.top-bar--logo {
  display: flex;
  margin-left: $su-2;
  @media screen and (min-width: 950px) {
    margin-left: $su-4;
  }

  .logo {
    width: 50px;
    height: 40px;
    padding: 0 7px 0 9px; // TODO: we have to fix SVG for logo a little...
    background: var(--logo-bg);
    fill: var(--logo-color);
    border-radius: $br-default;
  }
}

// Search bar
.top-bar--search {
  display: flex;
  max-width: 420px;
  margin: 0 $su-2;
  flex: 1 auto;

  @media screen and (min-width: $breakpoint-s) {
    // tood: replace with utility responsive class when ready
    margin: 0 $su-4;
  }

  form {
    width: 100%;
  }
}

// Actions on right side...
.top-bar--links {
  height: $header-height;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.top-bar--link {
  position: relative;
  display: flex;
  padding: 0 $su-3;
  height: 100%;
  align-items: center;
  color: var(--header-icons-color);

  &:hover {
    color: var(--header-icons-color-hover);
  }
}

// Dropdown under profile picture / hamburger icon
.top-bar__menu {
  position: relative;
  height: 100%;

  &__trigger {
    all: unset;
    display: flex;
    height: 100%;
    padding: 0 $su-2;
    align-items: center;
    cursor: pointer;
    color: var(--header-icons-color);

    &:hover {
      color: var(--header-icons-color-hover);
    }
  }

  &__dropdown {
    position: absolute;
    right: 0;
    top: $header-height;
    min-width: 200px; // todo: replace with min-width utility class when ready
    display: none;
  }

  &.showing {
    .top-bar__menu__dropdown {
      display: block;
    }
  }

  &.desktop {
    &:hover,
    &:active,
    &:focus {
      .top-bar__menu__dropdown {
        display: block;
      }
    }
  }
}

.skip-content-link {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100px);
  background: var(--body-color);
  color: var(--body-color-inverted);
  z-index: 9999;
  padding: $su-4;
  pointer-events: none;
  opacity: 0;
  border-radius: $br-default;

  &:focus {
    pointer-events: auto;
    opacity: 1;
    transform: translate(-50%, $header-height/2);
  }
}

.pwa-nav-buttons {
  position: absolute;
  top: 17px;
  left: -200px;
  display: none;
  button {
    background: transparent;
    border: 0px;
    width: 28px;
    text-align: center;
    opacity: 0.75;
    @include themeable(filter, theme-social-icon-invert, invert(0));
    img {
      width: 15px;
      height: 15px;
    }
    &:hover {
      opacity: 1;
    }
  }
  @media screen and (min-width: 950px) {
    left: 88px;
    &.pwa-nav-buttons--showing {
      display: block;
    }
  }
  @media screen and (min-width: 1439px) {
    left: -88px;
  }
}
