@import 'variables';
@import 'mixins';

.user-profile-header {
  padding: calc(1.4vw + 8px) 0px;
  font-family: var(--ff-sans-serif);
  position: relative;
  overflow: hidden;
  width: 1216px;
  max-width: 92%;
  margin: 24px auto;
  background: var(--card-bg);
  border-radius: 3px;
  @media screen and (min-width: 950px) {
    max-width: 98%;
  }
  @media screen and (min-width: 1100px) {
    padding: 25px 0px 11px;
  }
  &.podcast-header {
    background: rgb(5, 22, 32);
    text-align: center;
    padding: 70px 0px;
    color: white;
    h1 {
      font-size: calc(2vw + 28px);
      .follow-action-button {
        font-size: 25px;
        display: block;
        margin: 10px auto;
        width: 100%;
        padding: 15px 0px;
        @media screen and (min-width: 950px) {
          vertical-align: 5px;
          display: inline-block;
          font-size: calc(1.5vw + 8px);
          width: 280px;
          padding: 3px 0px;
        }
      }
      @media screen and (min-width: 1600px) {
        font-size: 55px;
        .follow-action-button {
          font-size: 32px;
        }
      }
    }
    img.record {
      height: 150px;
      width: 150px;
      border-radius: 100px;
      border: 0px;
      display: block;
      margin: 0px auto 10px;
    }
    @media screen and (min-width: 950px) {
      img.record {
        height: calc(2.4vw + 50px);
        width: calc(2.4vw + 50px);
        display: inline-block;
        vertical-align: calc(-1vw - 15px);
      }
    }
  }
  .user-profile-header-container,
  .tag-or-query-header-container {
    max-width: 96%;
    margin: auto;
    overflow-y: auto;
    h1 {
      position: relative;
      img {
        height: 1.5em;
        width: 1.5em;
        vertical-align: -0.22em;
        margin-right: 0.15em;
      }
    }
    a {
      color: rgb(97, 97, 97);
    }
    .profile-pic-wrapper {
      float: left;
      width: calc(14.5vw + 60px);
      max-width: 270px;
      position: relative;
      z-index: 5;
      .profile-pic {
        width: calc(12.2vw + 50px);
        height: calc(12.2vw + 50px);
        border-radius: 200px;
        max-width: 220px;
        max-height: 220px;
        border: 4px solid white;
        margin-top: 2vw;
        background: no-repeat center center;
        background-size: cover;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    .profile-details {
      float: left;
      width: calc(100% - (13vw + 95px));
      padding-top: calc(2px + 2.7vw);
      @media screen and (min-width: 1100px) {
        min-height: 270px;
      }
      h1 {
        margin: 5px auto 1vw;
        font-weight: bold;
        font-size: 25px;
        padding: 0;
        padding-right: 15px;
        line-height: 1.1em;
        @media screen and (min-width: 430px) {
          font-size: calc(4.5vw + 10px);
        }
        @media screen and (min-width: 950px) {
          font-size: 60px;
          margin-top: 0px;
        }
        > span:nth-child(1) {
          word-break: break-word;
          display: block;
        }
      }
      p.profile-description {
        padding: 0px 0px;
        margin: 0;
        font-style: italic;
        color: var(--card-color-tertiary);
        width: 94%;
        font-size: 0.9em;
        margin-top: 12px;
        max-width: 550px;
        @media screen and (min-width: 430px) {
          font-size: 0.97em;
          margin-top: 0px;
        }
      }
    }
    .social {
      font-size: 15px;
      max-width: 100%;
      margin: 10px 0px 10px;
      z-index: 3;
      position: relative;
      a {
        margin-right: 5px;
        display: inline-block;
        margin-bottom: 0px;
        margin-top: 0px;
        padding: 3px;
        .icon-img {
          vertical-align: -6px;
          opacity: 1;
          padding: 3px;
          width: 23px;
          height: 23px;
          margin: 0px 0px;
          filter: none;
          @media screen and (min-width: 580px) {
            margin: 3px;
            width: 28px;
            height: 28px;
            margin-right: 8px;
          }
          @media screen and (min-width: 1100px) {
            margin: 1px;
            margin-right: 5px;
            width: 30px;
            height: 30px;
            margin-bottom: 40px;
          }
        }
      }
    }
  }
  .user-profile-header-container {
    @media screen and (min-width: 1100px) {
      width: calc(100% - 420px);
      margin-left: 6%;
    }
  }
  .user-metadata-details {
    width: 97%;
    overflow-y: auto;
    @media screen and (min-width: 1100px) {
      position: absolute;
      right: 0px;
      top: 0px;
      bottom: 0px;
      width: 370px;
    }
    .user-metadata-details-inner {
      padding: 8px 0px;
      margin-left: 5%;
      @media screen and (min-width: 430px) {
        font-size: 1.15em;
        padding: 15px 15px 15px 0;
      }
      @media screen and (min-width: 1100px) {
        position: absolute;
        top: 45%;
        transform: translateY(-45%);
        padding: 15px 15px 15px 0;
      }
      .row {
        padding: calc(5px + 0.2vw) 0px;
        display: inline-block;
        padding-left: 16px;
        width: 322px;
        max-width: 92%;
      }
      .key {
        font-size: 0.7em;
        font-weight: 800;
        margin-bottom: 2px;
        color: var(--card-color-tertiary);
      }
      .value {
        display: inline-block;
        font-size: 0.85em;
        margin-bottom: 4px;
      }
    }
  }
  .tag-action-buttons {
    height: 30px;
    margin-top: calc(0.5vw + 6px);
    margin-bottom: 8px;
    margin-left: 1%;
    text-align: center;
    @media screen and (min-width: 430px) {
      margin-bottom: 20px;
    }
    @media screen and (min-width: 800px) {
      margin-bottom: 25px;
    }
    @media screen and (min-width: 850px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 950px) {
      margin-left: calc(0.2vw + 320px);
      text-align: left;
    }
  }
  .user-profile-follow-button-wrapper {
    position: relative;
    z-index: 5;
    display: inline-block;
    margin-left: 5px;
  }
  .user-profile-follow-button {
    background: $green;
    border: 0;
    font-size: 17px;
    border-radius: 3px;
    vertical-align: 3px;
    padding: 2px 6px;
    cursor: pointer;
    min-width: 120px;
    opacity: 0.7;
    &.showing {
      opacity: 1;
    }
    @media screen and (min-width: 430px) {
      font-size: 18px;
      padding: 3px 8px;
      vertical-align: 7px;
      border-radius: 5px;
      min-width: 140px;
    }
    @media screen and (min-width: 950px) {
      font-size: 22px;
      padding: 4px 8px;
      vertical-align: 12px;
      border-radius: 5px;
      min-width: 140px;
    }
  }

  // same as above, just add class to above style
  .user-profile-chat-button-wrapper {
    position: relative;
    z-index: 5;
    display: inline-block;
    margin-left: 5px;
  }

  .user-profile-chat-button {
    background: $green;
    color: white;
    border: 0;
    font-size: 17px;
    border-radius: 3px;
    vertical-align: 3px;
    padding: 2px 6px;
    cursor: pointer;
    min-width: 60px;
    font-family: 'HelveticaNeue-CondensedBold', 'HelveticaNeueBoldCondensed',
      'HelveticaNeue-Bold-Condensed', 'Helvetica Neue Bold Condensed',
      'HelveticaNeueBold', 'HelveticaNeue-Bold', 'Helvetica Neue Bold',
      'HelveticaNeue', 'Helvetica Neue', 'TeXGyreHerosCnBold', 'Helvetica',
      'Tahoma', 'Geneva', 'Arial Narrow', 'Arial', sans-serif;
    -webkit-appearance: none;
    font-stretch: condensed;
    &.showing {
      opacity: 1;
    }
    @media screen and (min-width: 430px) {
      font-size: 18px;
      padding: 3px 8px;
      vertical-align: 7px;
      border-radius: 5px;
      min-width: 80px;
    }
    @media screen and (min-width: 950px) {
      font-size: 22px;
      padding: 4px 8px;
      vertical-align: 12px;
      border-radius: 5px;
      min-width: 80px;
    }
  }
}
