@import 'variables';
@import 'mixins';

.user-profile-header {
  padding: calc(1.4vw + 8px) 0px;
  font-family: var(--ff-sans-serif);
  position: relative;
  overflow: hidden;
  background: var(--card-bg);
  border-radius: 3px;
  @media screen and (min-width: 1100px) {
    padding: 25px 0px 11px;
  }
  &.podcast-header {
    background: rgb(5, 22, 32);
    text-align: center;
    padding: 70px 0px;
    color: white;
    h1 {
      .follow-action-button {
        font-size: 25px;
        display: block;
        margin: 10px auto;
        width: 100%;
        padding: 15px 0px;
        @media screen and (min-width: 950px) {
          vertical-align: 5px;
          display: inline-block;
          font-size: calc(1.5vw + 8px);
          width: 280px;
          padding: 3px 0px;
        }
      }
    }
  }
  .user-profile-header-container,
  .tag-or-query-header-container {
    max-width: 96%;
    margin: auto;
    overflow-y: auto;
    h1 {
      position: relative;
      img {
        height: 1.5em;
        width: 1.5em;
        vertical-align: -0.22em;
        margin-right: 0.15em;
      }
    }
    a {
      color: rgb(97, 97, 97);
    }
    .crayons-btn--outlined {
      background: white;
    }
    .profile-pic-wrapper {
      float: left;
      width: calc(14.5vw + 60px);
      max-width: 270px;
      position: relative;
      z-index: 5;
      .profile-pic {
        width: calc(12.2vw + 50px);
        height: calc(12.2vw + 50px);
        border-radius: 200px;
        max-width: 220px;
        max-height: 220px;
        border: 4px solid white;
        margin-top: 2vw;
        background: no-repeat center center;
        background-size: cover;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  .user-metadata-details {
    width: 97%;
    overflow-y: auto;
    @media screen and (min-width: 1100px) {
      position: absolute;
      right: 0px;
      top: 0px;
      bottom: 0px;
      width: 370px;
    }
    .user-metadata-details-inner {
      padding: 8px 0px;
      margin-left: 5%;
      @media screen and (min-width: 430px) {
        font-size: 1.15em;
        padding: 15px 15px 15px 0;
      }
      @media screen and (min-width: 1100px) {
        position: absolute;
        top: 45%;
        transform: translateY(-45%);
        padding: 15px 15px 15px 0;
      }
      .row {
        padding: calc(5px + 0.2vw) 0px;
        display: inline-block;
        padding-left: 16px;
        width: 322px;
        max-width: 92%;
      }
      .key {
        font-size: 0.7em;
        font-weight: 800;
        margin-bottom: 2px;
        color: var(--card-color-tertiary);
      }
      .value {
        display: inline-block;
        font-size: 0.85em;
        margin-bottom: 4px;
      }
    }
  }
}
