@import 'variables';

.home.video-page-title {
  margin: 68px auto 10px;
  text-align: center;
  background: $white;
  background: var(--theme-container-background, #fff);
  header {
    font-size:calc(0.9vw + 10px);
  }
}
.video-collection {
  background: $white;
  background: var(--theme-container-background, #fff);
  display: flex;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: left;
  @media screen and (min-width: 950px) {
    border-radius: 3px;
  }

  .single-video-article {
    border: solid 1px $medium-gray;
    margin: 5px;
    max-width: 350px;
    padding-bottom: 8px;
    @media screen and (max-width: 739px) {
      min-width: 100%;
    }
    .video-image {
      position: relative;
    }
    .video-timestamp {
      position: absolute;
      font-size: .7em;
      bottom: 11px;
      right: 4px;
      background-color: rgba(0,0,0,0.8);
      color: $white;
      padding: 2px 5px 3px;
      font-weight: 500;
      border-radius: 3px;
    }
    img {
      margin-bottom: 5px;
    }
    p {
      margin: 0px;
      padding: 2px 8px;
      max-height: 100%;
      max-width: 90%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: $black;
      color: var(--theme-color, $black);
      font-size: 0.95em;
      &.video-username {
        color: $medium-gray;
        color: var(--theme-secondary-color, $medium-gray);
        font-size: 0.88em;
      }
    }
    img {
      max-width: 350px;
      @media screen and (max-width: 739px) {
        min-width: 100%;
      }
    }
  }
}
