<a class="crayons-card bg-base-10 p-3"
   style="text-decoration: none;"
   href=""
   data-action="click->user#openEmail">
  <h4 class="crayons-subtitle-3 mb-3">Emails</h4>

  <span class="color-base-70">
    <%= num_emails %> past emails
    <% if verified %> - Verified<% end -%>
  </span>
</a>
