<h1 class="crayons-title mb-6">New Consumer App</h1>
<div class="crayons-card p-6">
  <%= form_for([:admin, @app], method: :post, data: { controller: "consumer-app" }) do %>
    <%= render "form" %>
    <%= submit_tag "Create Consumer App", class: "crayons-btn mt-4" %>
  <% end %>
</div>
