<div id="organization-article-index"></div>
<% @stories.each_with_index do |story, i| %>
  <%= render "articles/single_story", story: story %>
<% end %>
<% if @stories.size > 1 %>
  <div class="placeholder-div"></div>
<% end %>
<div class="single-article-small-pic" id="article-index-hidden-div" style="display:none"></div>
