<% if @organization.company_size.present? || @organization.email.present? %>
  <div class="profile-header__bottom fs-base">
    <% if @organization.email.present? %>
      <div class="crayons-definition">
        <strong class="crayons-definition__title">Support email</strong>
        <p class="crayons-definition__value">
          <a href="mailto:<%= sanitize @organization.email %>">
            <%= sanitize @organization.email %>
          </a>
        </p>
      </div>
    <% end %>

    <% if @organization.company_size.present? %>
      <div class="crayons-definition">
        <strong class="crayons-definition__title">Employees</strong>
        <p class="crayons-definition__value"><%= @organization.company_size %></p>
      </div>
    <% end %>
  </div>
<% end %>
