<% if @user.creator? %>
  <%= render partial: "creator_confirmation_instructions", locals: { url: confirmation_url(@resource, confirmation_token: @token) } %>
<% else %>
  <p>Welcome<%= " #{@name}" unless @name.include?("http") %>!</p>

  <p>You can confirm your account email through the link below:</p>

  <p><%= link_to "Confirm my account", confirmation_url(@resource, confirmation_token: @token) %></p>
<% end %>
