<p>Привіт <%= @resource.email %>!</p>

<p>Хтось захотів змінити ваш пароль на сайті kutok.io. Якщо це ви, то можете зробити це за посиланням нижче. </p>

<p><%= link_to "Змінити мій пароль", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Якщо ви не запитували зміну паролю - просто ігноруйте це повідомлення.</p>
<p>Ваш пароль не зміниться, поки ви не перейдет за посиланням вище.</p>
