<p>Привіт <%= @resource.email %>!</p>

<p>Ваш акаунт було тимчасово заблоковано через велику кількість невдалих спроб авторизації у ваш акаунт на сайті kutok.io.</p>

<p>Натисність на посилання нижче, щоб розблокувати акаунт:</p>

<p><%= link_to "Розблокуйте мій акаунт", unlock_url(@resource, unlock_token: @token) %></p>
