<nav class="mb-2">
  <ul class="crayons-navigation crayons-navigation--horizontal">
    <li><a href="#" class="crayons-navigation__item crayons-navigation__item--current" aria-current="page">Overview</a></li>
    <li><a href="#" class="crayons-navigation__item">Notes</a></li>
    <li><a href="#" class="crayons-navigation__item">Emails</a></li>
    <li><a href="#" class="crayons-navigation__item">Reports</a></li>
    <li><a href="#" class="crayons-navigation__item">Flags</a></li>
  </ul>
</nav>
