<%# TODO: update once #16190 is merged %>
<span class="ml-3 fs-s fw-medium" aria-label="Current status" title="Current status">
  <% if @user.suspended? %>
    <span class="crayons-indicator crayons-indicator--danger">Suspended</span>
  <% elsif @user.warned? %>
    <span class="crayons-indicator crayons-indicator--warning">Warned</span>
  <% elsif @user.comment_suspended? %>
    <span class="crayons-indicator crayons-indicator--warning">Comment suspended</span>
  <% elsif @user.trusted? %>
    <span class="crayons-indicator crayons-indicator--success">Trusted</span>
  <% else %>
    <span class="crayons-indicator crayons-indicator--info">Good standing</span>
  <% end %>
</span>
