{{! This template is used by ReDoc to render the final API doc }}
{{! It is written in HandlerbarsJS syntax }}
{{! Please refer to https://github.com/Redocly/redoc/blob/master/cli/README.md }}
{{! and https://github.com/Redocly/redoc/blob/master/cli/template.hbs }}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8" />
  <title>DEV API (beta)</title>
  <meta name="description" content="DEV REST API documentation">

  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://docs.forem.com/api" />
  <meta property="og:title" content="DEV API (beta)" />

  {{! needed for adaptive design }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      padding: 0;
      margin: 0;
    }
  </style>
  {{{redocHead}}}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
</head>

<body>
  {{{redocHTML}}}
</body>

</html>
