<img src="https://thepracticaldev.s3.amazonaws.com/i/nn3vxwwm23p1hu67wbzt.png" style="height:220px; display: block; margin-left: auto; margin-right: auto;" alt="DEV membership logo">
<p>Congratulations!</p>
<p>
  We’ve received your DEV scholarship application and are excited to provide you with a workshop pass for
  the year. You’ll get full access to all DEV talks and workshops by visiting
  <a href="https://dev.to/live">dev.to/live</a> during an event. See <a href="https://dev.to/events">our events</a> page
  to check out the latest schedule. We appreciate your dedication to programming and hope you’ll benefit from these additional
  resources.
</p>

<p>
  Thanks again for applying and if within your means, please consider
  <a href="https://dev.to/membership">becoming a level 1 or 2 sustaining member.</a>
</p>
<p>
  Best,
  <br>
  PBJ
</p>
