<span data-controller="modal" data-modal-root-selector-value="#add-navigation-link-modal-root" data-modal-content-selector-value="#add-navigation-link-modal" data-modal-title-value="Add Navigation Link" data-modal-size-value="l">
  <button class="btn btn-primary ml-7" type="button" data-action="modal#toggleModal" id="nav-link-button">
    Add Navigation Link
  </button>

  <div id="add-navigation-link-modal" class="hidden">
    <div class="form-group grid p-6 mb-6 gap-1">
      <div class="form-group grid p-6 mb-6 gap-1">
        <%= form_for(NavigationLink.new, url: admin_navigation_links_path) do |form| %>
          <%= render "form", form: form %>
          <%= form.submit "Add link", class: "crayons-btn" %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="add-navigation-link-modal-root"></div>
</span>
