<%= content_for :page_meta do %>
  <%= render "podcast_episodes/meta" %>
<% end %>
<main id="main-content" class="crayons-layout crayons-layout--limited-m mb-8">
  <div class="podcasts-form" id="podcasts-form">
    <%= render "form", podcast: @podcast %>
  </div>
</main>
