<h1>Mentors & Mentees</h1>

<% @users.each do |user| %>
  <div class="row">
    <h2><%= user.name%></h2>
    <h3><a href="/internal/users/<%= user.id %>" target="_blank">@<%= user.username%></a></h3>
  </div>
<% end %>