<div class="form-group">
  <%= label_tag "page_redirect_old_slug", "Old slug" %>
  <%= text_field_tag "page_redirect[old_slug]", page_redirect.old_slug, id: "page_redirect_old_slug", class: "form-control" %>
</div>
<div class="form-group">
  <%= label_tag "page_redirect_new_slug", "New slug" %>
  <%= text_field_tag "page_redirect[new_slug]", page_redirect.new_slug, id: "page_redirect_new_slug", class: "form-control" %>
</div>
