<% title t("views.feedback.meta.title") %>
<%= stylesheet_link_tag "feedback_messages" %>

<div class="dialog">
  <div>
    <h2><%= t("views.feedback.heading") %></h2>
    <h3><a href="/"><%= t("views.feedback.home") %></a></h3>
    <p>
      <%= t("contact_prompts.if_any_questions_html") %>
    </p>
  </div>
</div>
