<div class="dialog">
  <div>
    <h2>Thank you for your report. You can view the <br><a href="<%= @feedback_message.path %>">status of your report here.</a></h2>
    <h3><a href="/">Return to home page</a></h3>
  </div>
</div>
