<% title "Feedback" %>
<div class="dialog">
  <div>
    <h2>Thank you for your report.</h2>
    <h3><a href="/">Return to home page</a></h3>
    <p>
      Questions? Send an email to <a href="mailto:yo@dev.to">yo@dev.to</a>
    </p>
  </div>
</div>
