name: "CLA Assistant"
on:
  # This runs on your current branch and provides the PR number needed
  pull_request:
    types: [opened, closed, synchronize]
    
  # Keep these for when you merge to main later
  issue_comment:
    types: [created]
  merge_group:
    branches:
      - main
  workflow_call:

permissions:
  actions: write
  contents: write
  pull-requests: write
  statuses: write

jobs:
  CLAAssistant:
    runs-on: ubuntu-latest
    steps:
      - name: "CLA Assistant"
        if: (github.event.comment.body == 'recheck' || github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA') || github.event_name == 'pull_request'
        uses: contributor-assistant/github-action@v2.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERSONAL_ACCESS_TOKEN: ${{ secrets.CLA_PERSONAL_ACCESS_TOKEN }}
        with:
          path-to-signatures: 'signatures/version1/cla.json'
          path-to-document: 'https://github.com/forem/forem/blob/main/CLA.md'
          branch: 'main'
          allowlist: ${{ secrets.CLA_ALLOWLIST }}
          remote-repository-name: 'forem/CLA-signatures' # Hardcoded fix
          lock-pullrequest-aftermerge: false