name: "CLA Assistant"
on:
  # --- TEMPORARY FIX: Forces run on current branch ---
  push:
    branches:
      - "**" 
  # ---------------------------------------------------
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened,closed,synchronize]
  merge_group:
    branches:
      - main
  workflow_call:

permissions:
  actions: write
  contents: write
  pull-requests: write
  statuses: write

jobs:
  CLAAssistant:
    runs-on: ubuntu-latest
    steps:
      - name: "CLA Assistant"
        # Removed the 'if' check temporarily so it runs on push for testing
        # if: ((github.event.comment.body == 'recheck' || github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA') || github.event_name == 'pull_request_target') && github.repository_owner == 'forem'
        uses: contributor-assistant/github-action@v2.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERSONAL_ACCESS_TOKEN: ${{ secrets.CLA_PERSONAL_ACCESS_TOKEN }}
        with:
          path-to-signatures: 'signatures/version1/cla.json'
          path-to-document: 'https://github.com/forem/forem/blob/main/CLA.md'
          branch: 'main' # branch should not be protected
          allowlist: ${{ secrets.CLA_ALLOWLIST }}
          remote-repository-name: 'forem/CLA-signatures'
          lock-pullrequest-aftermerge: false