<footer>
  <div id="footer-container" class="container <%= "centered-footer" unless current_page.include?("stories-show") %>">
    <div class="inner-footer-container">
      <a href="/">Home</a> <a href="/about">About</a> <a href="/privacy">Privacy Policy</a>
      <a href="/terms">Terms of Use</a> <a href="/contact">Contact</a> <a href="/code-of-conduct">Code of Conduct</a><br/>
      <%= ApplicationConfig["COMMUNITY_NAME"] %> Community copyright 2016 - <%= Time.current.year %>&nbsp; 🔥
    </div>
  </div>
</footer>
<%# javascript_include_tag "hello-dev.js", defer: true %>
