<a href="/" class="site-logo" aria-label="<%= community_name %> Home">
  <% if Settings::General.logo_svg.present? %>
    <%= logo_svg %>
  <% else %>
    <span class="truncate-at-2">
      <%= community_name %>
    </span>
  <% end %>
</a>
