<% if user_signed_in? %>
  <div class="menu logged-in" id="loggedinmenu">
    <div id="user-profile-link-placeholder">
      <div class="option">
        ...
      </div>
    </div>
    <a href="/dashboard">
      <div class="option">
        Dashboard
      </div>
    </a>
    <a href="/new">
      <div class="option">
        Write a Post
      </div>
    </a>
    <a href="/readinglist">
      <div class="option">
        Reading List
      </div>
    </a>
    <a href="/settings">
      <div class="option">
        Settings
      </div>
    </a>
    <a href="/p/information" id="second-last-nav-link">
      <div class="option">
        Key Links
      </div>
    </a>
    <a href="/signout_confirm" data-no-instant id="last-nav-link">
      <div class="option">
        Sign Out
      </div>
    </a>
  </div>
<% else %>
  <div class="menu logged-out" id="loggedoutmenu">
    <a href="/enter" data-no-instant id="first-nav-link">
      <div class="header">
        Sign In/Up
      </div>
    </a>
    <%= link_to(
          user_twitter_omniauth_authorize_path(
            callback_url: user_twitter_omniauth_callback_url(host: "#{ApplicationConfig['APP_PROTOCOL']}#{ApplicationConfig['APP_DOMAIN']}"),
          ),
          method: :post,
          data: { "no-instant": true },
        ) do %>
        <div class="option">
          Via Twitter
        </div>
    <% end %>

    <%= link_to(
          user_github_omniauth_authorize_path(state: :navbar_basic),
          method: :post,
          data: { "no-instant": true },
        ) do %>
        <div class="option">
          Via GitHub
        </div>
    <% end %>

    <a href="/p/information" id="last-nav-link">
      <div class="option">
        All about dev.to
      </div>
    </a>
  </div>
<% end %>
