<div class="top-bar--menu-dropdown">
  <% if user_signed_in? %>
    <div id="user-profile-link-placeholder">
      <div class="option">
        ...
      </div>
    </div>
    <a href="/dashboard">
      <div class="option">
        Dashboard
      </div>
    </a>
    <a href="/new">
      <div class="option">
        Write a Post
      </div>
    </a>
    <a href="/readinglist">
      <div class="option">
        Reading List
      </div>
    </a>
    <a href="/settings">
      <div class="option">
        Settings
      </div>
    </a>
    <a href="/p/information" id="second-last-nav-link">
      <div class="option">
        Key Links
      </div>
    </a>
    <a href="/signout_confirm" id="last-nav-link">
      <div class="option">
        Sign Out
      </div>
    </a>
  <% else %>
    <a href="/enter" data-no-instant id="first-nav-link">
      <div class="header">
        Sign In/Up
      </div>
    </a>
    <% if SiteConfig.auth_allowed?("twitter") %>
      <a href="/users/auth/twitter?callback_url=<%= ApplicationConfig["APP_PROTOCOL"] %><%= ApplicationConfig["APP_DOMAIN"] %>/users/auth/twitter/callback" data-no-instant>
        <div class="option">
          Via Twitter
        </div>
      </a>
    <% end %>
    <% if SiteConfig.auth_allowed?("github") %>
      <a href="/users/auth/github?state=navbar_basic" data-no-instant id="second-last-nav-link">
        <div class="option">
          Via GitHub
        </div>
      </a>
    <% end %>
    <a href="/p/information" id="last-nav-link">
      <div class="option">
        All about <%= ApplicationConfig["COMMUNITY_NAME"] %>
      </div>
    </a>
  <% end %>
</div>