<% if !link.display_only_when_signed_in || (link.display_only_when_signed_in && user_signed_in?) %>
  <li>
    <a href="<%= link.url %>" class="sidebar-navigation-link c-link c-link--block c-link--icon-left">
      <span class="c-link__icon">
        <%= link.icon.html_safe %>
      </span>
      <%= t("views.main.nav_name.#{link.name}", default: link.name) %>
      <% if link.url.include?("readinglist") %>
        <span id="reading-list-count" class="crayons-indicator ml-2 self-center"></span>
      <% end %>
    </a>
  </li>
<% end %>
