<% compact_margin = Settings::General.social_media_handles.values.compact_blank.count > 5 %>
<% Settings::General.social_media_handles.each do |social_media_type, handle| %>
  <% next if handle.blank? %>
  <a
    href="<%= social_media_constructed_url(social_media_type, handle) %>"
    target="_blank"
    class="c-link c-link--icon-alone c-link--block <%= compact_margin ? "" : "mx-1" %>"
    rel="noopener me">
    <%= crayons_icon_tag(social_media_type, class: "c-link__icon", title: social_media_type.capitalize) %>
  </a>
<% end %>
