<html>
<body style='font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;'>
<table style="width:100%;max-width:700px;margin:auto;font-size:18px">
  <tr>
    <td style="padding:4%;">
      <%= yield %>
    </td>
  </tr>
  <% if @user %>
    <tr>
      <td style="padding:3% 12% 2% 4%;font-size:18px;line-height:22px;color:#7d7d7d">
        <% if @user.twitter_username.blank? %>
          Reminder: You used <b>GitHub</b> to authenticate your account, so use that to sign in if prompted.
        <% else %>
          Reminder: You used <b>Twitter</b> to authenticate your account, so use that to sign in if prompted.
        <% end %>
        <br /><br />
        <div style="font-size:0.78em">
          <% if @unsubscribe %>
            <%= link_to "Unsubscribe", email_subscriptions_unsubscribe_url(ut: @unsubscribe), style: "color:#7d7d7d" %> |
            <a href="https://dev.to/settings/notifications" style="color:#7d7d7d">Adjust your email settings</a>
          <% else %>
            Don't want to get emails like this? Adjust your email settings at
            <a href="https://dev.to/settings/notifications">dev.to/settings/notifications</a>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
</body>
</html>
