<header class="flex items-center mb-6">
  <h1 class="crayons-title">Edit: <%= @response_template.title %></h1>
  <%= form_with(model: [:admin, @response_template], local: true, class: "ml-auto", method: :delete, html: { onsubmit: "return confirm('Are you sure you want to delete this response template?')" }) do |f| %>
    <%= f.submit "Delete", class: "crayons-btn crayons-btn--danger" %>
  <% end %>
</header>

<%= render "form", response_template: @response_template %>
