:root {
  --theme-secondary-color: #505159;
  --theme-container-background: #ffffff;
  --theme-container-accent-background: #f4f5f7;
  --theme-container-background-hover: #efefef;
  --theme-container-box-shadow: none;
  --theme-container-border: 1px solid #e3e3e5;

  // Base
  --base-100: #0a0a0a;
  --base-90: #202020;
  --base-80: #353535;
  --base-70: #4b4b4b;
  --base-60: #626262;
  --base-50: #7a7a7a;
  --base-40: #939393;
  --base-30: #adadad;
  --base-20: #c8c8c8;
  --base-10: #e3e3e3;
  --base-0: #ffffff;
  --base-inverted: #ffffff;

  // Accent colors
  --accent-brand: #3b49df;
  --accent-brand-darker: #1827ce;
  --accent-brand-lighter: #8d95f2;

  // Success
  --accent-success: #26d9ca;
  --accent-success-darker: #1ab3a6;
  --accent-success-lighter: #79ece2;

  // Warning
  --accent-warning: #ffcf4c;
  --accent-warning-darker: #f5b400;
  --accent-warning-lighter: #ffe499;

  // Danger
  --accent-danger: #dc1818;
  --accent-danger-darker: #c20a0a;
  --accent-danger-lighter: #ec5050;

  // Main colors
  --body-bg: #fcfcfc;
  --body-color: #0a0a0a;
  --body-color-inverted: var(--base-inverted);

  // Main content containers
  --container-bg: var(--base-inverted);
  --container-color: var(--base-100);
  --container-color-secondary: var(--base-70);
  --container-color-tertiary: var(--base-50);

  // Secondary content containers
  --widget-bg: var(--base-0);
  --widget-color: var(--base-90);
  --widget-color-secondary: var(--base-70);
  --widget-color-tertiary: var(--base-50);
  --widget-headline: var(--base-100);

  // Header
  --header-bg: var(--base-0);
  --header-shadow: rgba(0,0,0,0.1);
  --header-icons-color: #0a0a0a;
  --header-icons-color-hover: #000;

  // Logo
  --logo-bg: ##e3e5ed;
  --logo-color: #232426;

  // Footer
  --footer-bg: var(--base-inverted);
  --footer-copy-color: var(--base-80);
  --footer-copy-secondary-color: var(--base-60);
  --footer-link-color: var(--base-80);
  --footer-link-color-hover: var(--base-100);

  // Links in content
  --link-brand-color: #757ec6;
  --link-brand-color-hover: var(--accent-brand-darker);

  // Greyscale links, for places where we don't want to make them use accent color
  --link-dimmed-color: var(--base-90);
  --link-dimmed-color-secondary: var(--base-80);
  --link-dimmed-bg-hover: var(--base-0);
  --link-dimmed-color-hover: var(--base-100);
  --link-dimmed-bg-current: var(--base-inverted);
  --link-dimmed-color-current: var(--base-100);

  // Primary buttons
  --button-primary-bg: var(--accent-brand);
  --button-primary-color: var(--base-0);
  --button-primary-bg-hover: var(--accent-brand-darker);
  --button-primary-color-hover: var(--base-0);

  // Secondary buttons
  --button-secondary-bg: var(--base-20);
  --button-secondary-color: var(--base-80);
  --button-secondary-bg-hover: var(--base-30);
  --button-secondary-color-hover: var(--base-100);

  // Outlined buttons
  --button-outlined-bg: var(--base-20);
  --button-outlined-color: var(--base-80);
  --button-outlined-bg-hover: var(--base-30);
  --button-outlined-color-hover: var(--base-100);

  // Forms
  --form-bg: #f4f5f7;
  --form-bg-focus: var(--base-0);
  --form-border: #f4f5f7;
  --form-border-hover: var(--base-40);
  --form-border-focus: var(--accent-brand);
  --form-placeholder-color: var(--base-60);

  // Form lables
  --label-primary: var(--base-90);
  --label-secondary: var(--base-60);

  // Default box
  --box: var(--base-90);
  --box-darker: var(--base-100);
}
