:root {
  --theme-secondary-color: #cedae2;
  --theme-container-background: #141f2d;
  --theme-container-accent-background: #202c3d;
  --theme-container-background-hover: #1c2c3f;
  --theme-container-box-shadow: none;
  --theme-container-border: 1px solid #22303f;
  --theme-social-icon-invert: invert(100%);
  --theme-color: #ffffff;

  // Base
  --base: #f9f9f9;

  --base-a90: #{rgba(#f9f9f9, 0.9)};
  --base-a80: #{rgba(#f9f9f9, 0.8)};
  --base-a70: #{rgba(#f9f9f9, 0.7)};
  --base-a60: #{rgba(#f9f9f9, 0.6)};
  --base-a50: #{rgba(#f9f9f9, 0.5)};
  --base-a40: #{rgba(#f9f9f9, 0.4)};
  --base-a30: #{rgba(#f9f9f9, 0.3)};
  --base-a20: #{rgba(#f9f9f9, 0.2)};
  --base-a10: #{rgba(#f9f9f9, 0.1)};
  --base-a5: #{rgba(#f9f9f9, 0.05)};

  --base-100: var(--base);
  --base-90: #efefef;
  --base-80: #d6d6d7;
  --base-70: #bdbdbd;
  --base-60: #a3a3a3;
  --base-50: #8a8a8a;
  --base-40: #717171;
  --base-30: #575757;
  --base-20: #3d3d3d;
  --base-10: #242424;
  --base-0: #090909;
  --base-inverted: #000;

  // Accent colors
  --accent-brand: #7b78ff;
  --accent-brand-darker: #5855f3;
  --accent-brand-lighter: #9896ff;
  --accent-brand-a10: #{rgba(#7b78ff, 0.1)};

  // Success
  --accent-success: #26d9ca;
  --accent-success-darker: #1ab3a6;
  --accent-success-lighter: #79ece2;
  --accent-success-a10: #{rgba(#26d9ca, 0.1)};

  // Warning
  --accent-warning: #ffcf4c;
  --accent-warning-darker: #f5b400;
  --accent-warning-lighter: #ffe499;
  --accent-warning-a10: #{rgba(#ffcf4c, 0.1)};

  // Danger
  --accent-danger: #dc1818;
  --accent-danger-darker: #c20a0a;
  --accent-danger-lighter: #ec5050;
  --accent-danger-a10: #{rgba(#dc1818, 0.1)};

  // Main colors
  --body-bg: var(--base-0);
  --body-color: var(--base-100);
  --body-color-inverted: var(--base-inverted);

  // Main content containers
  --card-bg: var(--base-10);
  --card-color: var(--base-100);
  --card-color-secondary: var(--base-70);
  --card-color-tertiary: var(--base-50);
  --card-secondary-bg: var(--base-a5);
  --card-secondary-color: var(--base-90);
  --card-headline-color: var(--base-100);
  --card-border: rgba(255, 255, 255, 0.15);
  --card-secondary-border: rgba(255, 255, 255, 0.1);
  --card-hover-bg: var(--accent-brand-lighter);
  --card-selected-bg: var(--accent-brand-darker);

  // Header
  --header-bg: var(--base-10);
  --header-bg-hover: var(--base-0);
  --header-bg-current: var(--base-20);
  --header-button-focus-color: var(--accent-brand);
  --header-shadow: rgba(0, 0, 0, 0.3);
  --header-icons-color: rgba(255, 255, 255, 0.8);
  --header-icons-color-hover: #fff;

  // Logo
  --logo-bg: #0a0a0a;
  --logo-color: #fff;

  // Footer
  --footer-bg: var(--base-inverted);
  --footer-copy-color: var(--base-80);
  --footer-copy-secondary-color: var(--base-60);
  --footer-link-color: var(--base-80);
  --footer-link-color-hover: var(--base-100);

  // Links
  --link-color: var(--base-90);
  --link-color-hover: var(--accent-brand-lighter);
  --link-bg-hover: var(--base-a5);
  --link-bg-hover-alt: var(--base-inverted);
  --link-brand-color: #17a1f6;
  --link-color-current: var(--base-100);
  --link-color-secondary: var(--base-70);
  --link-color-secondary-hover: var(--base-80);
  --link-bg-current: var(--base-inverted);

  // Primary buttons
  --button-primary-bg: var(--accent-brand);
  --button-primary-bg-hover: var(--accent-brand-darker);
  --button-primary-color: var(--base-inverted);
  --button-primary-color-hover: var(--base-inverted);
  //-- Inverted
  --button-primary-inverted-bg: var(--accent-brand);
  --button-primary-inverted-bg-hover: var(--accent-brand-darker);
  --button-primary-inverted-color: var(--base-0);
  --button-primary-inverted-color-hover: var(--base-0);

  // Secondary buttons
  --button-secondary-bg: var(--base-20);
  --button-secondary-bg-hover: var(--base-30);
  --button-secondary-color: var(--base-80);
  --button-secondary-color-hover: var(--base-100);
  //-- Inverted
  --button-secondary-inverted-bg: var(--base-70);
  --button-secondary-inverted-bg-hover: var(--base-60);
  --button-secondary-inverted-color: var(--base-10);
  --button-secondary-inverted-color-hover: var(--base-0);

  // Outlined buttons
  --button-outlined-bg: transparent;
  --button-outlined-bg-hover: rgba(255, 255, 255, 0.035);
  --button-outlined-border: var(--base-20);
  --button-outlined-border-hover: var(--base-30);
  --button-outlined-color: var(--base-80);
  --button-outlined-color-hover: var(--base-100);
  //-- Inverted
  --button-outlined-inverted-bg: transparent;
  --button-outlined-inverted-bg-hover: rgba(0, 0, 0, 0.1);
  --button-outlined-inverted-border: var(--base-60);
  --button-outlined-inverted-border-hover: var(--base-40);
  --button-outlined-inverted-color: var(--base-30);
  --button-outlined-inverted-color-hover: var(--base-10);

  // Ghost buttons
  --button-ghost-bg: transparent;
  --button-ghost-bg-hover: rgba(255, 255, 255, 0.035);
  --button-ghost-color: var(--base-80);
  --button-ghost-color-hover: var(--base-100);
  --button-ghost-dimmed-color: var(--base-60);
  --button-ghost-dimmed-color-hover: var(--base-100);
  //-- Inverted
  --button-ghost-inverted-bg: transparent;
  --button-ghost-inverted-bg-hover: rgba(0, 0, 0, 0.1);
  --button-ghost-inverted-color: var(--base-30);
  --button-ghost-inverted-color-hover: var(--base-10);

  // Forms
  --form-bg: var(--base-20);
  --form-bg-focus: var(--base-0);
  --form-border: var(--base-30);
  --form-border-hover: var(--base-40);
  --form-border-focus: var(--accent-brand);
  --form-placeholder-color: var(--base-60);

  // Form labels
  --label-primary: var(--base-90);
  --label-secondary: var(--base-60);

  // Default box
  --box: var(--base-0);
  --box-darker: var(--base-inverted);

  // Snackbars
  --snackbar-bg: var(--base-10);
  --snackbar-border: var(--base-20);
  --snackbar-color: var(--card-color);

  // Indicators
  --indicator-accent-bg: var(--accent-brand);
  --indicator-accent-color: var(--body-color);
  --indicator-critical-bg: var(--accent-danger);
  --indicator-critical-color: var(--body-color);
  --indicator-default-bg: var(--button-secondary-bg);
  --indicator-default-color: var(--button-secondary-color);

  // Tabs
  --tab-color: var(--base-80);
  --tab-color-hover: var(--accent-brand-lighter);
  --tab-color-current: var(--base-100);
  --tab-bg-hover: var(--accent-brand-a10);
  --tab-bg-current: var(--accent-brand);
  --tab-muted-color: var(--base-80);
  --tab-muted-color-hover: var(--base-90);
  --tab-muted-color-current: var(--base-100);
  --tab-muted-bg-hover: var(--base-a10);
  --tab-muted-bg-current: var(--base-20);
  --tab-pill-color-current: var(--base-inverted);

  // Tags
  --tag-color: var(--base-70);
  --tag-color-hover: var(--base-100);

  // Story
  --story-comments-bg: #151e2a; //hotfix

  // Select icon
  --select-icon: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDE2TDYgMTBIMThMMTIgMTZaIiBmaWxsPSIjYzJjNmNhIi8+Cjwvc3ZnPg==);

  // Reactions
  --reaction-like-color: var(--accent-danger);
  --reaction-like-bg: var(--accent-danger-a10);
  --reaction-custom-color: var(--accent-success);
  --reaction-custom-bg: var(--accent-success-a10);
  --reaction-save-color: var(--accent-brand);
  --reaction-save-bg: var(--accent-brand-a10);
}
