:root {
  --theme-secondary-color: #4e57ef;
  --theme-container-background: #fff;
  --theme-container-accent-background: #ffccdb;
  --theme-container-background-hover: #ffe5eb;
  --theme-container-box-shadow: none;
  --theme-container-border: 1px solid #ff4983;

  // Base
  --base: #1c060d;

  --base-a90: #{rgba(#1c060d, 0.9)};
  --base-a80: #{rgba(#1c060d, 0.8)};
  --base-a70: #{rgba(#1c060d, 0.7)};
  --base-a60: #{rgba(#1c060d, 0.6)};
  --base-a50: #{rgba(#1c060d, 0.5)};
  --base-a40: #{rgba(#1c060d, 0.4)};
  --base-a30: #{rgba(#1c060d, 0.3)};
  --base-a20: #{rgba(#1c060d, 0.2)};
  --base-a10: #{rgba(#1c060d, 0.1)};
  --base-a5: #{rgba(#1c060d, 0.05)};

  --base-100: var(--base);
  --base-90: #330f1a;
  --base-80: #57192d;
  --base-70: #7d2440;
  --base-60: #a52f55;
  --base-50: #cf3b6b;
  --base-40: #fb4881;
  --base-30: #ff7da6;
  --base-20: #ffa9c4;
  --base-10: #ffd1df;
  --base-0: #fff7f9;
  --base-inverted: #fff;

  // Accent colors
  --accent-brand: #ff6c9b;
  --accent-brand-darker: #f03e76;
  --accent-brand-lighter: #ff99b9;
  --accent-brand-a10: #{rgba(#ff6c9b, 0.1)};

  // Success
  --accent-success: #71db92;
  --accent-success-darker: #5abf79;
  --accent-success-lighter: #93edaf;
  --accent-success-a10: #{rgba(#71db92, 0.1)};

  // Warning
  --accent-warning: #ffcf4c;
  --accent-warning-darker: #f5b400;
  --accent-warning-lighter: #ffe499;
  --accent-warning-a10: #{rgba(#ffcf4c, 0.1)};

  // Danger
  --accent-danger: #dc1818;
  --accent-danger-darker: #c20a0a;
  --accent-danger-lighter: #ec5050;
  --accent-danger-a10: #{rgba(#dc1818, 0.1)};

  // Main colors
  --body-bg: var(--base-0);
  --body-color: var(--base-100);
  --body-color-inverted: var(--base-inverted);

  // Main content containers
  --card-bg: var(--base-inverted);
  --card-color: var(--base-100);
  --card-color-secondary: var(--base-70);
  --card-color-tertiary: var(--base-50);
  --card-secondary-bg: rgba(255, 209, 223, 0.3);
  --card-secondary-color: var(--base-90);
  --card-headline-color: var(--base-100);
  --card-border: var(--accent-brand);
  --card-secondary-border: #{rgba(#ff6c9b, 0.2)};
  --card-hover-bg: var(--base-10);
  --card-selected-bg: var(--base-20);

  // Header
  --header-bg: var(--base-40);
  --header-bg-hover: var(--base-50);
  --header-bg-current: var(--base-50);
  --header-button-focus-color: var(--accent-brand);
  --header-shadow: rgba(0, 0, 0, 0.1);
  --header-icons-color: var(--base-10);
  --header-icons-color-hover: var(--base-0);

  // Logo
  --logo-bg: var(--base-inverted);
  --logo-color: var(--header-bg);

  // Footer
  --footer-bg: var(--base-inverted);
  --footer-copy-color: var(--base-80);
  --footer-copy-secondary-color: var(--base-60);
  --footer-link-color: var(--base-80);
  --footer-link-color-hover: var(--base-100);

  // Links
  --link-color: var(--base-90);
  --link-color-hover: var(--base-70);
  --link-color-current: var(--base-100);
  --link-color-secondary: var(--base-70);
  --link-color-secondary-hover: var(--base-80);
  --link-brand-color: #4e57ef;
  --link-bg-hover: var(--base-a5);
  --link-bg-hover-alt: var(--base-inverted);
  --link-bg-current: var(--base-inverted);

  // Primary buttons
  --button-primary-bg: var(--accent-brand);
  --button-primary-bg-hover: var(--accent-brand-darker);
  --button-primary-color: var(--base-0);
  --button-primary-color-hover: var(--base-0);
  //-- Inverted
  --button-primary-inverted-bg: var(--accent-brand);
  --button-primary-inverted-bg-hover: var(--accent-brand-darker);
  --button-primary-inverted-color: var(--base-0);
  --button-primary-inverted-color-hover: var(--base-0);

  // Secondary buttons
  --button-secondary-bg: var(--base-10);
  --button-secondary-bg-hover: var(--base-20);
  --button-secondary-color: var(--base-70);
  --button-secondary-color-hover: var(--base-90);
  //-- Inverted
  --button-secondary-inverted-bg: var(--base-60);
  --button-secondary-inverted-bg-hover: var(--base-60);
  --button-secondary-inverted-color: var(--base-10);
  --button-secondary-inverted-color-hover: var(--base-0);

  // Outlined buttons
  --button-outlined-bg: transparent;
  --button-outlined-bg-hover: rgba(0, 0, 0, 0.035);
  --button-outlined-border: var(--base-20);
  --button-outlined-border-hover: var(--base-40);
  --button-outlined-color: var(--base-70);
  --button-outlined-color-hover: var(--base-90);
  //-- Inverted
  --button-outlined-inverted-bg: transparent;
  --button-outlined-inverted-bg-hover: rgba(255, 255, 255, 0.15);
  --button-outlined-inverted-border: var(--base-60);
  --button-outlined-inverted-border-hover: var(--base-40);
  --button-outlined-inverted-color: var(--base-30);
  --button-outlined-inverted-color-hover: var(--base-10);

  // Ghost buttons
  --button-ghost-bg: transparent;
  --button-ghost-bg-hover: rgba(0, 0, 0, 0.035);
  --button-ghost-color: var(--base-90);
  --button-ghost-color-hover: var(--base-100);
  --button-ghost-dimmed-color: var(--base-60);
  --button-ghost-dimmed-color-hover: var(--base-100);
  //-- Inverted
  --button-ghost-inverted-bg: transparent;
  --button-ghost-inverted-bg-hover: rgba(255, 255, 255, 0.15);
  --button-ghost-inverted-color: var(--base-30);
  --button-ghost-inverted-color-hover: var(--base-10);
  --button-ghost-dimmed-inverted-color: var(--base-50);
  --button-ghost-dimmed-inverted-color-hover: var(--base-100);

  // Forms
  --form-bg: #fff7f9;
  --form-bg-focus: var(--base-0);
  --form-border: var(--base-50);
  --form-border-hover: var(--base-60);
  --form-border-focus: var(--base-60);
  --form-placeholder-color: var(--base-60);

  // Form labels
  --label-primary: var(--base-100);
  --label-secondary: var(--base-90);

  // Default box
  --box: var(--card-bg);
  --box-darker: var(--base-100);

  // Snackbars
  --snackbar-bg: var(--base-90);
  --snackbar-border: var(--base-100);
  --snackbar-color: var(--body-color-inverted);

  // Indicators
  --indicator-accent-bg: var(--link-brand-color);
  --indicator-accent-color: var(--body-color-inverted);
  --indicator-critical-bg: var(--base-80);
  --indicator-critical-color: var(--body-color-inverted);
  --indicator-dimmed-bg: var(--base-30);
  --indicator-dimmed-color: var(--base-70);

  // Tabs
  --tab-color: var(--base-80);
  --tab-color-hover: var(--accent-brand);
  --tab-color-current: var(--base-100);
  --tab-bg-hover: var(--accent-brand-a10);
  --tab-bg-current: var(--accent-brand);
  --tab-muted-color: var(--base-80);
  --tab-muted-color-hover: var(--base-90);
  --tab-muted-color-current: var(--base-100);
  --tab-muted-bg-hover: var(--base-a10);
  --tab-muted-bg-current: var(--base-20);
  --tab-pill-color-current: var(--base-inverted);

  // Tags
  --tag-color: var(--base-70);
  --tag-color-hover: var(--base-100);

  // Story
  --story-comments-bg: rgba(255, 255, 255, 0.05);

  // Select icon
  --select-icon: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDE2TDYgMTBIMThMMTIgMTZaIiBmaWxsPSIjNTcxOTJkIi8+Cjwvc3ZnPg==);

  // Reactions
  --reaction-like-color: var(--accent-danger);
  --reaction-like-bg: var(--accent-danger-a10);
  --reaction-custom-color: var(--accent-success);
  --reaction-custom-bg: var(--accent-success-a10);
  --reaction-save-color: var(--accent-brand);
  --reaction-save-bg: var(--accent-brand-a10);
}
